<template>
    <lightning-card title={labels.documentUpload} icon-name="standard:document">
        <div class="slds-m-horizontal_medium">
            <lightning-file-upload label={labels.chooseDocument} name="docUpload" record-id={dossierId} onuploadfinished={handleUploadFinished}></lightning-file-upload>
            <div class="slds-p-top_medium">
                <c-file-metadata-list file-metadata-list={fileMetadataList}></c-file-metadata-list>
            </div>
        </div>
    </lightning-card>
</template>