<template>
    <lightning-card>
        <div class="wr-tileView">
            <div class="slds-form-element">
            <lightning-input  class="wr-required" disabled={disabled} max-length="26" type="text" label={label.servicePoint} data-id="searchBox" value={servicePointCode} onchange={handleChange}></lightning-input>
            </div>
            <div class="slds-col slds-align_absolute-center slds-var-m-top_x-large">
                <lightning-button disabled={disabled} title={label.search} icon-name="utility:search" class="slds-m-left_x-small" name="findPointCode" type="submit" label={label.search} variant="brand" onclick={findServicePoint}>
                </lightning-button>
            </div>
        </div>
    </lightning-card>
</template>