<!--
 - Created by Boubacar Sow  on 28/07/2020.
 -->

<!-- [MRO] Zfofm Query -->
<template>

    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <div slot="actions">
            <lightning-button label="Retrieve Plan" title="Retrieve Plan"  variant="brand" disabled={showLoadingSpinner}
                              onclick={handleRetrievePlan}></lightning-button>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <h1 slot="title">ZFOFM_SAPQUERY_FILENET_DOC</h1>
        <!--<div slot="actions">
            <lightning-button label="Retrieve Payment Plan" title="Retrieve Payment Plan" variant="brand"
                              onclick={handleRetreiveZpftFilnet}></lightning-button>
        </div>-->
        <template if:true={zpftFilnetList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                   role="grid">
                <thead>
                <tr class="slds-line-height_reset">
                    <!--<th class="slds-text-align_right" scope="col" style="width:3.25rem">
                        <span class="slds-assistive-text">Choose a row</span>
                        <div class="slds-th__action slds-th__action_form">
                            <lightning-input type="checkbox" label={labels.selectAll} name="selectAllMeterDetails"
                                             variant="label-hidden"
                                             checked={selectAll} onchange={onSelectAll}></lightning-input>
                        </div>
                    </th>-->
                    <th aria-label="Document Id" scope="col">
                        <div class="slds-truncate" title="Document Id">Document Id</div>
                    </th>
                    <th aria-label="Account Number" scope="col">
                        <div class="slds-truncate" title="Account Number">Account Number</div>
                    </th>
                    <th aria-label="Filenet Id" scope="col">
                        <div class="slds-truncate" title="Filenet Id">Filenet Id</div>
                    </th>
                    <th aria-label="Document Type" scope="col">
                        <div class="slds-truncate" title="Document Type">Document Type</div>
                    </th>
                    <th aria-label="Process Code" scope="col">
                        <div class="slds-truncate" title="Process Code">Process Code</div>
                    </th>
                    <th aria-label="Case Number" scope="col">
                        <div class="slds-truncate" title="Case Number">Case Number</div>
                    </th>
                    <th aria-label="Issue Date" scope="col">
                        <div class="slds-truncate" title="Issue Date">Issue Date</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template for:each={zpftFilnetList} for:item="zpftFilnet">
                    <tr key={zpftFilnet.caseId} aria-selected="false" class="slds-hint-parent">
                        <!--<td class="slds-text-align_right" role="gridcell">
                            <lightning-input type="checkbox" label="Select" name="selectMeterDetails" variant="label-hidden"
                                             data-id={zpftFilnet.zpftFilnetId}
                                             checked={zpftFilnet.selected} onchange={onSelect}></lightning-input>
                        </td>-->
                        <th scope="row">
                            <div class="slds-truncate" title={zpftFilnet.contractAccountId}>{zpftFilnet.documentId}
                            </div>
                        </th>
                        <th scope="row">
                            <div class="slds-truncate" title={zpftFilnet.customerCode}>{zpftFilnet.customerCode}
                            </div>
                        </th>
                        <td role="gridcell">
                            <div class="slds-truncate" title={zpftFilnet.filenetId}>{zpftFilnet.filenetId}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={zpftFilnet.documentType}>{zpftFilnet.documentType}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={zpftFilnet.processCode}>{zpftFilnet.processCode}</div>
                        </td>
                        <th scope="row">
                            <div class="slds-truncate" title={zpftFilnet.requestId}>{zpftFilnet.requestId}
                            </div>
                        </th>
                        <td role="gridcell">
                            <div class="slds-truncate" title={zpftFilnet.documentIssuedFrom}>{zpftFilnet.documentIssuedFrom}</div>
                        </td>
                    </tr>
                </template>

                </tbody>



            </table>

        </template>

        <div slot="footer">
            <template if:false= {hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </template>

        </div>



    </lightning-card>
</template>