<!--
 - Created by tommasobolis on 25/11/2020.
 -->

<!-- Mro Service Point Placeholder -->
<template>

    <div class="slds-setup-assistant__step-detail slds-p-vertical_medium">
        <div class="slds-grid slds-gutters ">

            <!-- BEGIN: Create Placeholder button-->
            <div class="slds-col slds-size_3-of-12">
                <article class="slds-tile slds-tile_board slds-box wr-boxView">
                    <lightning-card>
                        <div class="wr-tileView">
                            <div class="slds-col slds-align_absolute-center slds-var-m-top_x-large">
                                <lightning-button disabled={isCreatePlaceholderDisabled}
                                                  title="Placehoder"
                                                  icon-name="utility:add"
                                                  class="slds-m-left_x-small slds-p-top_x-large"
                                                  name="createPlaceholder"
                                                  type="submit"
                                                  label="Placehoder"
                                                  variant="brand"
                                                  onclick={createPlaceholder}>
                                </lightning-button>
                            </div>
                        </div>
                    </lightning-card>
                </article>
            </div>
            <!-- END: Create Placeholder button-->

            <template if:true={showOpportunityServiceItems}>
                <div class="slds-grid slds-gutters slds-col slds-size_9-of-12 slds-scrollable_x slds-p-bottom_small">
                    <template for:each={opportunityServiceItems} for:item="osi" for:index="i">
                        <div class="slds-col slds-size_4-of-12" key={osi.Id}>
                            <c-mro-opportunity-service-item-tile disabled={disabled}
                                                                 is-placeholder="true"
                                                                 record-id={osi.Id}
                                                                 has-trader={hasTrader}
                                                                 is-not-selected-old-trader={isNotSelectedOldTrader}
                                                                 is-new-connection-flag-read-only={isNewConnectionFlagReadOnly}
                                                                 account-id={accountId}
                                                                 commodity={commodity}
                                                                 tile-title="title"
                                                                 request-type={requestType}
                                                                 ondelete={handleOsiDelete}>
                            </c-mro-opportunity-service-item-tile>
                        </div>
                    </template>
                </div>
            </template>
        </div>
    </div>

    <template if:true={showModal}>
        <section id="placeHolderModal" role="dialog" tabindex="0"
                 class="slds-modal slds-fade-in-open slds-modal_large slds-backdrop">
            <div class="slds-modal__container">
                <div class="slds-modal__header slds-p-around_none">
                    <lightning-button-icon title="label.close" size="large" icon-name="utility:close"
                                          variant="bare-inverse" class="slds-modal__close"
                                           onclick={closeModal}>
                    </lightning-button-icon>
                </div>
                <div class="slds-modal__content">
                    <c-mro-opportunity-service-item-edit opportunity-id={opportunityId}
                                                         service-point-code={servicePointCode}
                                                         commodity={commodity}
                                                         account-id={accountId}
                                                         has-trader={hasTrader}
                                                         is-not-selected-old-trader={isNotSelectedOldTrader}
                                                         is-new-connection-flag-read-only={isNewConnectionFlagReadOnly}
                                                         onsave={handleOsiAdd}
                                                         oncancel={closeModal}
                                                         title={title}
                                                         is-placeholder="true"
                                                         hide-pre-check-button=true
                                                         request-type={requestType}>
                    </c-mro-opportunity-service-item-edit>
                </div>
            </div>
        </section>
    </template>

</template>