/**
 * Created by Boubacar Sow on 07/08/2019.
 */
.wr-button-width {
       width:5em;
}


/*
/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 0.25rem; white-space: normal}


.tableFixHead thead tr th {
    background: gray;
    color: #fff;
}

.tableFixHead table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tableFixHead thead tr th {
    border: 1px solid #ddd;
}