<!-- Contract Account Selection -->
<template>
    <lightning-card class="slds-is-relative">
        <div class="popover"><c-mro-compact-layout-popover record-id={objectId} y-coord={yPos} x-coord={xPos} position={popoverPosition}></c-mro-compact-layout-popover></div>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom--none slds-p-bottom_small slds-grid"
                 role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.contractAccount}</div>
                <!--{labels.contractAccount}-->
            </div>
        </div>
        <div if:true={hasNotContent}>
            {labels.noContractAccountFound}
        </div>
        <div if:false={hasNotContent}>
            <div class="slds-grid slds-wrap slds-p-horizontal_none slds-col slds-size_12-of-12">
                <fieldset disabled={disabled} class={addClass}>
                    <div class="tableFixHead slds-scrollable_x">
                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                        <thead>
                            <tr>
                                <th class="slds-col slds-size_2-of-12">
                                    <div>{labels.name}</div>
                                </th>
                                <!--Add Market in CA table-->
                                <th class="slds-col slds-size_1-of-12">
                                    <div>{labels.market}</div>
                                </th>
                                <!--Add Market in CA table-->
                                <template if:true={showDifferentiateDetails}>
                                    <th class="slds-col slds-size_1-of-12">
                                        <div>{labels.commodity}</div>
                                    </th>
                                    <th class="slds-col slds-size_1-of-12">
                                        <div>{labels.activeSuppliesCount}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.companyDivision}</div>
                                    </th>
                                </template>
                                <template if:false= {showDifferentiateDetails}>

                                    <th class="slds-col slds-size_1-of-12">
                                        <div>{labels.paymentMethod}</div>
                                    </th>
                                    <th class="slds-col slds-size_1-of-12">
                                        <div>{labels.iban}</div>
                                    </th>

                                    <template if:true={showRefundFields}>
                                        <th class="slds-col slds-size_1-of-12">
                                            <div>{labels.refundMethod}</div>
                                        </th>
                                        <th class="slds-col slds-size_1-of-12">
                                            <div>{labels.refundIban}</div>
                                        </th>
                                    </template>

                                    <th class="slds-col slds-size_1-of-12">
                                        <div>{labels.deliveryChannel}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.numberEmail}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.billingFrequency}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.paymentTerms}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.commodity}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.companyDivision}</div>
                                    </th>
                                    <th  class="slds-col slds-size_1-of-12">
                                        <div>{labels.address}</div>
                                    </th>
                                </template>
                                <th  class="slds-col slds-size_1-of-12">
                                    <div>{labels.billingProfile}</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        <template for:each={recordList} for:item="contractAccount" for:index="i">
                            <tr data-type="container" data-row-index="" key={contractAccount.Id} class="slds-hint-parent">
                                <td class="slds-col slds-size_2-of-12 slds-p-top_none" key={contractAccount.Id}>
                                    <div class="slds-p-top_small" >
                                        <input type="radio" id={contractAccount.Id} name="radioGroup" value={contractAccount.Id}
                                               onchange={handleStatusRadio} checked={contractAccount.selected} />
                                        <a class="slds-m-left_small" data-value={contractAccount.Id} data-position="radio-right" onmouseover={showPop} onmouseout={closePop}>{contractAccount.name}</a>
                                    </div>
                                </td>
                                <!--Add Market in CA table-->
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                    <div class="slds-p-top_small">
                                        <label class="slds-radio__label" for={contractAccount.Id}>
                                            <span class="slds-form-element__label">{contractAccount.market}</span>
                                        </label>
                                    </div>
                                </td>
                                <!--Add Market in CA table-->
                                <template if:false= {showDifferentiateDetails}>

                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.paymentMethod}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.Iban}</span>
                                            </label>
                                        </div>
                                    </td>

                                    <template if:true={showRefundFields}>
                                        <th class="slds-col slds-size_1-of-12">
                                            <div>{contractAccount.refundMethod}</div>
                                        </th>
                                        <th class="slds-col slds-size_1-of-12">
                                            <div>{contractAccount.refundIban}</div>
                                        </th>
                                    </template>

                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.deliveryChannelType}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.deliveryChannel}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.billingFrequency}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.paymentTerms}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.commodity}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.companyDivision}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.billingAddress}</span>
                                            </label>
                                        </div>
                                    </td>
                                </template>
                                <template if:true= {showDifferentiateDetails}>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span aria-disabled class="slds-form-element__label">{contractAccount.commodity}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.activeSuppliesCount}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={contractAccount.Id}>
                                                <span class="slds-form-element__label">{contractAccount.companyDivision}</span>
                                            </label>
                                        </div>
                                    </td>
                                </template>
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={contractAccount.Id}>
                                    <div class="slds-p-top_small">
                                        <a class="slds-m-left_small" data-value={contractAccount.billingProfileId} data-position="left" onmouseover={showPop} onmouseout={closePop}>{contractAccount.billingProfileName}</a>
                                   </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    </div>
                </fieldset>
                <fieldset if:false={hideButtons} disabled={disabled}
                          class="slds-size_1-of-12 slds-grid slds-cell-wrap slds-grid_vertical slds-align_absolute-center">
                    <div class="slds-align_absolute-center slds-p-bottom_small">
                        <button class="slds-button slds-button_brand wr-button-width" name="New"
                                onclick={newContractAccount}>{labels.New}
                        </button>
                    </div>
                    <div class={addButtonClass}>
                        <button class="slds-button slds-button_brand wr-button-width" disabled={enableEditButtonCA}
                                name="Edit" onclick={editContractAccount}>{labels.edit}
                        </button>
                    </div>
                    <div class="slds-align_absolute-center">
                        <button class="slds-button slds-button_brand wr-button-width" disabled={enableButtons}
                                name="Clone"
                                onclick={cloneContractAccount}>{labels.clone}
                        </button>
                    </div>
                </fieldset>
            </div>
        </div>
        <div if:true={showModalContract}>
            <div class="slds-modal slds-fade-in-open slds-modal_large slds-backdrop">
                <div class="slds-modal__container slds-p-horizontal_xx-large">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close} size="large" icon-name="utility:close"
                                               variant="bare-inverse" class="slds-modal__close" onclick={closeModal}>
                        </lightning-button-icon>
                    </div>
                    <div class="slds-modal__content slds-modal_large slds-m-around_none">
                        <!--//FF  [ENLCRO-669] Contract Account Selection - Check Interface-->
                        <c-mro-contract-account-edit account-id={accountId}
                                                 contract-account-record-id={contractAccountRecordId}
                                                 button-type={buttonType}
                                                 commodity={commodity}
                                                 market={market}
                                                 in-enel-area={inEnelArea}
                                                 contract-type = {contractType}
                                                 late-payment-penalty={latePaymentPenalty}
                                                 payment-terms={paymentTerms}
                                                 has-sub-process-public-tender={hasSubProcessPublicTender}
                                                 street-name={streetName}
                                                 point-address-province={pointAddressProvince}
                                                 oncontractaccounteditclose={closeHandle}
                                                 oncontractaccounteditsave={saveContractAccountEdit}
                                                 show-header="true"
                                                 vat-number={vatNumber}
                                                 self-reading-enabled={selfReadingEnabled}
                                                 company-division-id={companyDivisionId}
                                                 hide-self-reading-period-end-field={hideSelfReadingPeriodEndField}
                                                 refund-filter={refundFilter}
                                                 reuse-billing-account-number={reuseBillingAccountNumber}
                                                 opportunity-service-items={opportunityServiceItems}
                                                 has-direct-debit-in-billing-profile={hasDirectDebitInBillingProfile}>
                        </c-mro-contract-account-edit>
                        <!--//FF  [ENLCRO-669] Contract Account Selection - Check Interface-->
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>