<!--
 - Created by vincenzo.scolavino on 08/04/2020.
 -->

<!-- Mro Contractual Data Edit -->
<template>

    <template if:true={showComponent}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large "
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1" >
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h1 class="slds-text-heading_medium slds-hyphenate">{subProcess}</h1>
                    <div class="slds-align_absolute-center"><b></b></div>
                </header>
                <div class={contentDivClass}>

                    <template if:true={showLoadingSpinner}>
                        <lightning-spinner alternative-text="Saving" size="medium" variant="brand"></lightning-spinner>
                    </template>

                    <lightning-record-view-form object-api-name="Contract" record-id={contractId} >
                        <lightning-layout multiple-rows="true">
                            <template if:true={showContractNumber}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="ContractNumber" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showContractStartDate}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="StartDate" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showContractEndDate}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="EndDate" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showConsumptionConvention}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="ConsumptionConventions__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>

                    <lightning-record-view-form object-api-name="ContractAccount__c" record-id={contractAccountId} >
                        <lightning-layout multiple-rows="true">
                            <template if:true={showContractAccountName}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="Name" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showBillingProfileNumber}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="BillingProfile__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showCurrentBillingFrequency}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field  field-name="BillingFrequency__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showCurrentBillingFrequency}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field  field-name="SelfReadingPeriodEnd__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>

                    <lightning-record-view-form object-api-name="BillingProfile__c" record-id={billingProfileId} >
                        <lightning-layout multiple-rows="true">
                            <template if:true={showBillingSendingChannel}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="DeliveryChannel__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showBillingPhone}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="MobilePhone__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showBillingEmail}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="Email__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showRefundMethod}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="RefundMethod__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="RefundIBAN__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="RefundBank__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>

                    <lightning-record-view-form object-api-name="Supply__c" record-id={supplyId} >
                        <lightning-layout multiple-rows="true">
                            <template if:true={showSupplyActivationDate}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="ActivationDate__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showSupplyExpirationDate}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="ExpirationDate__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-view-form>

                    <lightning-record-view-form object-api-name="ServicePoint__c" record-id={servicePointId} >
                        <lightning-layout multiple-rows="true">
                            <template if:true={showEstimatedQuantities}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-output-field field-name="EstimatedConsumption__c" >
                                    </lightning-output-field>
                                </lightning-layout-item>
                            </template>
							<template if:true={showServicePointName}>
								<lightning-layout-item padding="horizontal-small" size="4">
									<lightning-output-field field-name="Name" >
									</lightning-output-field>
								</lightning-layout-item>
							</template>
                        </lightning-layout>
                    </lightning-record-view-form>
                    <template if:true={showContractedQuantities}>
                        <lightning-layout multiple-rows="true">
                            <lightning-layout-item padding="horizontal-small" size="12">
                                <c-mro-title-section title={labels.consumptionDetails} >
                                </c-mro-title-section>
                            </lightning-layout-item>
                        </lightning-layout>
                        <c-mro-consumption-table  consumptions={consumptionList}
                                                  osi-list={osiList}
                                                  is-contractual-data-change={isContractualDataChange}
                                                  supply-list={supplyList}
                                                  type={rateType} case-id={caseId} disabled>
                        </c-mro-consumption-table>
                    </template>

                    <lightning-record-edit-form object-api-name="Contract" data-id={contractFormId} record-id={newContractId} onsuccess={handleSuccess}  onload={fillContract} onerror={handleError}>
                        <lightning-layout multiple-rows="true">
                            <template if:true={showConsumptionConvention}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="ConsumptionConventions__c" variant="label-stacked" onchange={handleConsumptionConvention}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-edit-form>

                    <template if:true={showCurrentBillingFrequency}>
                        <lightning-record-edit-form object-api-name="ContractAccount__c" data-id={contractAccountFormId} record-id={newContractAccountId} onsuccess={handleSuccess} onload={fillContractAccount} onerror={handleError}>
                            <lightning-layout multiple-rows="true">
                                <template if:true={showCurrentBillingFrequency}>
                                    <lightning-layout-item padding="horizontal-small" size="4">
                                        <lightning-input-field disabled={isFieldDisabledFrequency} field-name="BillingFrequency__c" data-id="billingFrequency"  variant="label-stacked" class={REQUIRED_CLASS} onchange={removeError}>
                                        </lightning-input-field>
                                    </lightning-layout-item>
                                </template>
                                <template if:true={showCurrentBillingFrequency}>
                                    <lightning-layout-item padding="horizontal-small" size="4">
                                        <div  class={showSelfReadingCbx}>
                                            <lightning-combobox required options={selfReadingPeriodEndList} value={selfReadingPeriodEndVal} onchange={handleSelfReading}
                                                                label="Self Reading Period End" dropdown-alignment="auto">
                                            </lightning-combobox>
                                        </div>
                                    </lightning-layout-item>
                                    <lightning-layout-item padding="horizontal-small" size="4">
                                        <div class={hideSelfReadingField}>
                                            <lightning-input-field disabled={isFieldDisabled} class={hideRequired} data-id="selfReadingPeriodEnd" variant="label-stacked" field-name="SelfReadingPeriodEnd__c" onchange={removeError}>
                                            </lightning-input-field>
                                        </div>
                                    </lightning-layout-item>
                                </template>
                            </lightning-layout>
                        </lightning-record-edit-form>
                    </template>

                    <lightning-record-edit-form object-api-name="BillingProfile__c" data-id={billingProfileFormId} record-id={newBillingProfileId} onsuccess={handleSuccess} onload={fillBillingBrofile} onerror={handleError}>
                        <lightning-layout multiple-rows="true">
                            <template if:true={showBillingSendingChannel}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field data-id={billingChannelDataId} field-name="DeliveryChannel__c" variant="label-stacked"  onchange={handleChangeDeliveryChannel}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showEditBillingPhone}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field data-id={billingMobilePhoneDataId} field-name="MobilePhone__c"  variant="label-stacked" class={billingPhoneClass}  onchange={removeError}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showEditBillingEmail}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field data-id={billingEmailDataId} field-name="Email__c"  variant="label-stacked" class={billingEmailClass} onchange={removeError}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showRefundMethod}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="RefundMethod__c" data-id={refundMethodDataId} variant="label-stacked" onchange={handleChangeRefundMethod}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="RefundIBAN__c" disabled={refundDisabled} data-id={refundIbanDataId} onchange={setRefundBank} class={refundIbanClass} variant="label-stacked">
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="RefundBank__c" disabled={refundDisabled}  data-id={refundBankDataId} class={refundIbanClass} variant="label-stacked" onchange={removeError}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </lightning-record-edit-form>

                    <lightning-record-edit-form data-id={caseFormId} object-api-name="Case" record-id={caseId}   onsuccess={handleSuccess} onload={fillCase} onerror={handleError}>
                        <lightning-layout multiple-rows="true">
                            <template if:true={showEditEstimatedQuantities}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="EstimatedConsumption__c" data-id={estimatedConsumptionDataId} variant="label-stacked" onchange={removeError}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={showCaseEndDate}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="EndDate__c" variant="label-stacked" class={REQUIRED_CLASS} onchange={removeError}>
                                    </lightning-input-field>
                                </lightning-layout-item>
                            </template>
							<template if:true={showServiceMeterReadingControl}>
								<lightning-layout-item padding="horizontal-small" size="4">
									<lightning-input-field field-name="MeterReadingControl__c" variant="label-stacked" class={REQUIRED_CLASS} onchange={removeError}>
									</lightning-input-field>
								</lightning-layout-item>
							</template>
                        </lightning-layout>
                    </lightning-record-edit-form>
                    <template if:true={showEditContractedQuantities}>
                        <lightning-layout multiple-rows="true">
                            <lightning-layout-item padding="horizontal-small" size="12">
                                <c-mro-title-section title={labels.consumptionDetails} >
                                </c-mro-title-section>
                            </lightning-layout-item>
                        </lightning-layout>
                        <!-- removed edit-mode property because is a @track property and caused error -->
                        <c-mro-consumption-table consumptions={modifiedConsumptionList}  osi-list={modifiedOsiList}
                                                 supply-list={modifiedSupplyList}
                                                 is-contractual-data-change={isContractualDataChange}
                                                 type={rateType}
                                                 case-id={caseId}
                                                 onconsumption_edit_save={handleEditConsumptions}
                                                 round-consumption="true">
                        </c-mro-consumption-table>
                    </template>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" name="cancel" label={labels.cancel}
                                      onclick={closeModal}></lightning-button>
                    <lightning-button class="slds-m-left_xx-small" label={labels.save} variant="brand"
                                      name="save"
                                      disabled={saveButtonDisabled} onclick={save}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>