/**
 * Created by Stefano Porcari on 08/04/2020.
 */
.contendHeight {
    height: 250px;
}
.wr-modal-small {
    overflow: initial;
    display: block;
}

.wr-modal-small2 {
    overflow: auto;
    display: block;
}

.wr-required {
    font-weight: 400;
}
.wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}
.wr-required > .slds-form-element .slds-dropdown-trigger {
    display : block;
}