<template>
    <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
        <lightning-record-view-form record-id={documentId} object-api-name="FileMetadata__c" style="width: 100%;">
            <div class="slds-media">
                <div class="slds-media__body slds-clearfix slds-p-left_small">
                    <div class="slds-grid slds-glutters slds-wrap">
                        <div class="slds-col slds-size_1-of-3">
                            <a onclick={navigateToDocument} target="_blank">
                                <lightning-output-field field-name="Title__c" field-class="slds-welcome-mat__tile-title slds-text-heading_small slds-text-link" variant="label-stacked"></lightning-output-field>
                            </a>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <lightning-output-field field-name="CreatedDate" variant="label-stacked"></lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_1-of-3 slds-align_absolute-center">
                            <lightning-button variant="brand" label="Check document" title="Check document" onclick={handleCheckDocument}></lightning-button>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-record-view-form>
    </div>
</template>