<!--
 - Created by tomasoni on 08/08/2019.
 -->
<template>
    <div if:true={show}>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.contractAccountEdit}</div> 
            </div>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <lightning-record-edit-form record-id={contractAccountRecordId} data-id="contractAccountEditForm"
                                    object-api-name="ContractAccount__c" onload={handleLoadCA} onsubmit={handleSubmitCA} onsuccess={handleSuccessCA} onerror={handleErrorCA}>
            <lightning-messages></lightning-messages>

            <div class="slds-grid slds-gutters slds-wrap slds-p-horizontal_small">

                <div class="slds-col slds-size_1-of-2 slds-hide">
                    <lightning-input-field disabled={disabled} field-name="Account__c" value={accountId} variant="label-stacked">
                    </lightning-input-field>
                </div>

                <lightning-input-field class="slds-hide" field-name="BillingProfile__c" data-id="myBillingProfileId" variant="label-stacked">
                </lightning-input-field>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="BillingFrequency__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="PaymentTerms__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
            </div>

            <div class="slds-m-top_small slds-m-left_medium">
                <h3 class="slds-text-heading_small">{labels.billingProfile}</h3>
                <template if:true={hasAccountId}>
                    <template if:true={hasBillingProfileIdLoaded}>
                        <c-billing-profile-selection account-id={accountId}
                                                     billing-profile-record-id={billingProfileId}
                                                     onselected={getBillingProfileRecordId} onedit={getEditButton}
                                                     show-edit-button="true">
                        </c-billing-profile-selection>
                    </template>
                </template>
            </div>

            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" data-name="cancel" label={labels.cancel}
                                  icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" data-name="save"
                                  icon-name="utility:save" label={labels.save}></lightning-button>
            </div>

        </lightning-record-edit-form>
    </div>
</template>