<template>
    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">FISA Inquiry</h1>
        <div slot="actions">
            <lightning-button label={retrieveName} title={retrieveName} variant="brand" disabled={disableButton}
                              onclick={handleRetrieveFisa}></lightning-button>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <template if:true={fisaList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                   role="grid">
                <thead>
                <tr class="slds-line-height_reset">
                    <template if:false={hideSelectionColumn}>
                        <th class="slds-text-align_right" scope="col" style="width:3.25rem">

                            <span class="slds-assistive-text">Choose a row</span>
                            <div class="slds-th__action slds-th__action_form">
                                <lightning-input type="checkbox" label="Select All" name="selectAllFisa"
                                                 variant="label-hidden"
                                                 checked={selectAll} onchange={onSelectAll}></lightning-input>
                            </div>
                        </th>
                    </template>
                    <th aria-label={labels.paymentCode} scope="col">
                        <div class="slds-truncate" title={labels.paymentCode}>{labels.paymentCode}</div>
                    </th>
                    <th aria-label={labels.invoiceId} scope="col">
                        <div class="slds-truncate" title={labels.invoiceId}>{labels.invoiceId}</div>
                    </th>
                    <th aria-label={labels.invoiceNumber} scope="col">
                        <div class="slds-truncate" title={labels.invoiceNumber}>{labels.invoiceNumber}</div>
                    </th>
                    <th aria-label={labels.invoiceDate} scope="col">
                        <div class="slds-truncate" title={labels.invoiceDate}>{labels.invoiceDate}</div>
                    </th>
                    <th aria-label={labels.dueDate} scope="col">
                        <div class="slds-truncate" title={labels.dueDate}>{labels.dueDate}</div>
                    </th>
                    <th aria-label={labels.invoiceValue} scope="col">
                        <div class="slds-truncate" title={labels.invoiceValue}>{labels.invoiceValue}</div>
                    </th>
                    <th aria-label={labels.debtorTurnover} scope="col">
                        <div class="slds-truncate" title={labels.debtorTurnover}>{labels.debtorTurnover}</div>
                    </th>
                    <th aria-label={labels.creditorTurnover} scope="col">
                        <div class="slds-truncate" title={labels.creditorTurnover}>{labels.creditorTurnover}</div>
                    </th>
                    <th aria-label={labels.hip} scope="col">
                        <div class="slds-truncate" title={labels.hip}>{labels.hip}</div>
                    </th>
                    <th aria-label={labels.nrCollectionDocument} scope="col">
                        <div class="slds-truncate" title={labels.nrCollectionDocument}>{labels.nrCollectionDocument}</div>
                    </th>
                    <th aria-label={labels.dateOfReceiptDocument} scope="col">
                        <div class="slds-truncate" title={labels.dateOfReceiptDocument}>{labels.dateOfReceiptDocument}</div>
                    </th>
                    <th aria-label={labels.receiptDocumentValue} scope="col">
                        <div class="slds-truncate" title={labels.receiptDocumentValue}>{labels.receiptDocumentValue}</div>
                    </th>
                    <th aria-label={labels.actions} scope="col">
                        <div class="slds-truncate" title={labels.actions}>{labels.actions}</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template for:each={fisaList} for:item="fisa">
                    <tr key={fisa.fisaId} aria-selected="false" class="slds-hint-parent">
                        <template if:false={hideSelectionColumn}>
                            <td class="slds-text-align_right" role="gridcell">
                                <lightning-input type="checkbox" label="Select" name="selectFisa" variant="label-hidden"
                                                 data-id={fisa.fisaId}
                                                 checked={fisa.selected} onchange={onSelect}></lightning-input>
                            </td>
                        </template>
                        <th scope="gridcell">
                            <div class="slds-truncate" title={fisa.paymentCode}>{fisa.paymentCode}</div>
                        </th>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.invoiceID}>{fisa.invoiceID}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.invoiceNumber}>{fisa.invoiceNumber}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.invoiceDate}>{fisa.invoiceDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.dueDate}>{fisa.dueDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.invoiceValue}>{fisa.invoiceValue}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.debtorTurnover}>{fisa.debtorTurnover}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.creditorTurnover}>{fisa.creditorTurnover}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.hip}>{fisa.hip}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.nrCollectionDocument}>{fisa.nrCollectionDocument}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.dateOfReceiptDocumentFormatted}>{fisa.dateOfReceiptDocumentFormatted}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={fisa.receiptDocumentValue}>{fisa.receiptDocumentValue}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate">
                                <lightning-button label="Details" title="Details" variant="neutral"
                                                  class="slds-p-right--small"
                                                  data-id={fisa.fisaId}
                                                  onclick={showFisaDetails}></lightning-button>
                            </div>
                        </td>
                    </tr>
                </template>

                <tr aria-selected="false" class="slds-hint-parent">
                    <template if:false={hideSelectionColumn}>
                    <th scope="gridcell">
                        <div class="slds-truncate" title=""></div>
                    </th>
                    </template>
                    <td role="gridcell">
                        <div class="slds-truncate" titsle=""></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" titsle=""></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" titsle=""></div>
                    </td>
                    <td role="gridcell" colspan="2">
                        <div class="slds-truncate" title=""><h3 class="slds-text-heading_small">Total General</h3></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title={totalInvoiceValue}><h3 class="slds-text-heading_small">{totalInvoiceValue}</h3></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title={totalDebtorTurnover}><h3 class="slds-text-heading_small">{totalDebtorTurnover}</h3></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title={totalCreditorTurnover}><h3 class="slds-text-heading_small">{totalCreditorTurnover}</h3></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title={totalHip}><h3 class="slds-text-heading_small">{totalHip}</h3></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" titsle=""></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title=""></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" titsle=""></div>
                    </td>
                    <td role="gridcell">
                        <div class="slds-truncate" title=""></div>
                    </td>
                </tr>


                </tbody>
            </table>
        </template>
        <template if:true= {showIllustrationEmptyStat}>
            <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
        </template>
        <template if:false={hideConfirmButton}>
            <div slot="footer">
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </div>
        </template>
    </lightning-card>
    <template if:true={detailListRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeDetailList}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={fisaDetailsList}>
                        <lightning-datatable hide-checkbox-column={hideCheckBox} key-field="fisaId" data={fisaDetailsList} columns={fisaColumns}></lightning-datatable>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeDetailList}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>