.THIS .wr-required {
    font-weight: 400;
}

.THIS .wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}

.THIS .wr-required > .slds-form-element .slds-dropdown-trigger {
    display : block;
}