<!--
- Created by A701948 on 25/08/2019.
-->

<!-- AddressDefinitionForm -->
<template>
    <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open slds-modal_medium">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <lightning-button-icon onclick={closeModal} icon-name="utility:close" class="slds-modal__close"
                                       variant="bare-inverse"></lightning-button-icon>
                <h2 id="addressSelectionHeader" class="slds-text-heading_medium slds-hyphenate">{formTitle}</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="addressDetail">
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item padding="horizontal-small" size="6">
                        <c-mro-input-autocomplete name="country" label="Country"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  required values={countries} value={address.country}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="6">
                        <c-mro-input-autocomplete name="Province" label="Province"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  required values={provinces} value={address.province}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="6">
                        <c-mro-input-autocomplete name="city" label="City"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  required values={cities} value={address.city}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="6">
                        <c-mro-input-autocomplete name="streetName" label="Street Name"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  required values={streetNames} value={address.streetName}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="2">
                        <c-mro-input-autocomplete name="streetType" label="Street Type"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  required values={streetTypes} value={address.streetType}>
                        </c-mro-input-autocomplete>

                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="2">
                        <c-mro-input-autocomplete required label="Postal Code"
                                                  name="postalCode"
                                                  onchange={handleFieldChange} read-only={readOnly}
                                                  values={postalCodes} value={address.postalCode}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="2">
                        <c-mro-input-autocomplete name="evenOdd" label="Even Odd"
                                                  onchange={handleFieldChange}
                                                  required values={evenOdds} value={address.evenOdd}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <c-mro-input-autocomplete name="fromStreetNumber" label="From Street Number"
                                                  onchange={handleFieldChange}
                                                  required value={address.fromStreetNumber}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <c-mro-input-autocomplete name="tostreetNumber" label="To Street Number"
                                                  onchange={handleFieldChange}
                                                  required value={address.toStreetNumber}>
                        </c-mro-input-autocomplete>
                    </lightning-layout-item>

                </lightning-layout>
            </div>

            <footer class="slds-modal__footer">
                <lightning-button variant="neutral" onclick={closeModal} label={labels.cancel} icon-name="utility:close"
                                  class="slds-m-horizontal_x-small"></lightning-button>
                <lightning-button variant="brand" icon-name="utility:save" onclick={saveAddress2} label={labels.save}
                                  class="slds-m-horizontal_x-small"></lightning-button>
            </footer>
        </div>
    </section>
</template>