<template>
    <lightning-messages></lightning-messages>
    <div class="slds-card slds-p-around_xx-small">
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <lightning-layout horizontal-align="spread" class="slds-page-header">
            <lightning-layout-item>
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:account" size="medium" variant="inverse"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-p-top_xx-small">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1><span class="slds-page-header__title slds-truncate" title={labels.searchForCustomer}>
                                    {labels.searchForCustomer}
                                </span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </lightning-layout-item>
        </lightning-layout>

        <div class="slds-p-horizontal_small content">
            <lightning-record-edit-form data-id="accountForm" object-api-name="Account" onerror={handleError} onload={onLoad}>
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Name" data-id="Name" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Email__c" data-id="Email__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Key__c" data-id="Key__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Phone" data-id="Phone" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="AccountNumber" data-id="AccountNumber" variant="label-stacked"></lightning-input-field>
                    </div>
                </div>
            </lightning-record-edit-form>
            <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-box w-100 slds-m-around--medium">
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-record-edit-form object-api-name="ServicePoint__c">
                            <div class="slds-grid slds-wrap slds-gutters">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-input-field field-name="ENELTEL__c" data-id="ENELTEL__c" variant="label-stacked"></lightning-input-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <label class="slds-form-element__label">{labels.servicePointCode}</label>
                                    <lightning-input-field field-name="Code__c" data-id="Code__c" variant="label-hidden"></lightning-input-field>
                                </div>
                            </div>
                        </lightning-record-edit-form>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-record-edit-form object-api-name="ContractAccount__c">
                            <lightning-input-field field-name="BillingAccountNumber__c" data-id="BillingAccountNumber__c"
                                                   variant="label-stacked"></lightning-input-field>
                        </lightning-record-edit-form>
                    </div>
                </div>
            </div>
            <template if:true={spinner}>
                <lightning-spinner variant="brand" size="medium"></lightning-spinner>
            </template>
        </div>

        <footer class="slds-card__footer">
            <lightning-button variant="brand" onclick={handleSubmit} icon-name="standard:search" label={labels.search} title={labels.search}>
            </lightning-button>
        </footer>
    </div>
</template>