<!--
 - Created by goudiaby on 03/03/2020.
 -->

<!-- [MRO] Activity Actions -->
<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon icon-name="standard:actions_and_buttons" size="small">
                    </lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-page-header__title">{labels.actions}</h2>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <template if:true={showSpinner} data-id="spinnerSectionModal" tabindex="-1"
                      class="slds-modal slds-fade-in-open slds-backdrop mro-modal-small">
                <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
            </template>
            <template if:true={renderForm}>
                <lightning-record-edit-form record-id={recordId} object-api-name="wrts_prcgvr__Activity__c"
                                            onload={handleLoad}
                                            onsuccess={handleSuccess}>
                    <lightning-input-field class="slds-hide" field-name="Parent__c"></lightning-input-field>
                    <lightning-input-field class="slds-hide" field-name="wrts_prcgvr__Status__c"></lightning-input-field>
                </lightning-record-edit-form>
            </template>
            <lightning-layout multiple-rows class="slds-p-horizontal_small slds-p-vertical_xx-small">
                <!-- BEGIN: Activity Retention-->
                <template if:true={isRetention}>
                    <lightning-layout-item class="slds-p-horizontal_small slds-p-vertical_xx-small" size="12">
                        <button type="submit" class="slds-button slds-button_brand slds-size_1-of-1" onclick={handleAcceptWithProductChange}>
                            {labels.acceptWithProductChange}
                        </button>
                    </lightning-layout-item>
                    <lightning-layout-item class="slds-p-horizontal_small slds-p-vertical_xx-small" size="12">
                        <button type="submit" class="slds-button slds-button_brand slds-size_1-of-1" onclick={handleAcceptWithoutProductChange}>
                            {labels.acceptWithoutProductChange}
                        </button>
                    </lightning-layout-item>
                    <lightning-layout-item class="slds-p-horizontal_small slds-p-vertical_xx-small" size="12">
                        <button type="submit" class="slds-button slds-button_neutral slds-size_1-of-1" onclick={handleRefuse}>
                            {labels.refuse}
                        </button>
                    </lightning-layout-item>
                </template>
                <!-- END: Activity Retention-->
                <!-- BEGIN: Activity Product Change-->
                <template if:true={isPowerVoltageChange}>
                    <lightning-layout-item class="slds-p-horizontal_small slds-align_absolute-center slds-p-vertical_xx-small" size="9">
                        <button type="submit" class="slds-button slds-button_brand slds-size_1-of-1" onclick={handleAcceptWithProductChange}>
                            {labels.productChangeActivityButton}
                        </button>
                    </lightning-layout-item>
                </template>
                <!-- END: Activity Product Change-->
                <lightning-layout-item class="slds-p-horizontal_small" size="6" if:true={isDataEntry}>
                    <lightning-button variant="brand" class="slds-size_1-of-1" onclick={handleDiscardManagement} label={labels.dataEntry}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item class="slds-p-horizontal_small" size="6" if:true={isClassifiedDiscard}>
                    <lightning-button variant="brand" class="slds-size_1-of-1" onclick={handleDiscardManagement} label={labels.manageDiscard}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item class="slds-p-horizontal_small" size="6" if:true={isGenericDiscard}>
                    <lightning-button variant="brand" class="slds-size_1-of-1" onclick={handleRequestCorrected} label={labels.requestCorrected}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item class="slds-p-horizontal_small" size="6" if:true={isAddressVerification}>
                    <lightning-button variant="brand" class="slds-size_1-of-1" onclick={handleNormalizeAddress} label={labels.normalizeAddressButton}></lightning-button>
                </lightning-layout-item>
                <lightning-layout-item class="slds-p-horizontal_small" size="6" if:true={isCancellable}>
                    <lightning-button variant="destructive" class="slds-size_1-of-1" onclick={showCancelConfirmation} label={labels.cancel}></lightning-button>
                </lightning-layout-item>
            </lightning-layout>
        </div>
    </article>
    <c-mro-refusal-activity record-id={recordId} onsuccess={handleRefusalSuccess}></c-mro-refusal-activity>

    <template if:true={renderDiscardManagementForm}>
        <c-mro-discard-management activity-id={recordId} onclosediscardmanagement={handleCloseDiscardManagement}></c-mro-discard-management>
    </template>

    <template if:true={renderAddressNormalizationForm}>
        <c-mro-address-normalization record-id={recordId} onclose={handleCloseAddressNormalization}></c-mro-address-normalization>
    </template>

    <c-mro-confirm-dialog name="cancellationConfirmDialog" visible={showCancellationConfirmDialog} title={labels.cancelReasonTitle}
                          message={labels.activityCancellationConfirmMessage} confirm-label={labels.yes} cancel-label={labels.no} original-message=""
                          onclick={handleCancelConfirmation}>
    </c-mro-confirm-dialog>

</template>