<template>
    <div if:true={showHeader}>
        <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small"
             role="banner">
            <div class="slds-text-heading_medium slds-p-top_xx-small">{defaultTitle}</div>
        </div>
    </div>
    <div data-id="spinnerSection" class={spinnerClass}>
        <lightning-spinner variant="brand" size="medium" alternative-text="Loading"></lightning-spinner>
    </div>

    <lightning-record-edit-form record-id={caseId} object-api-name="Case" onsubmit={handleSubmit}
                                onsuccess={handleSuccess} onload={handleLoad} onerror={handleError}>
        <lightning-messages></lightning-messages>
        <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
            <lightning-input-field data-name="AccountId" class="slds-hide" field-name="AccountId"
                                   variant="label-stacked"></lightning-input-field>
            <template for:each={caseFields} for:item="fields">
                <div class="slds-col slds-size_1-of-2" key={fields}>
                    <lightning-input-field class="wr-required" field-name={fields} onchange={removeError}
                                           variant="label-stacked"></lightning-input-field>
                </div>
            </template>
            <template if:false={address}>
                <c-mro-address-form reade-only-field-address={readeOnlyFieldAddress} address={address} address-prefix={prefixAddress} object-api-name="Case"
                                    onchangesavebutton={disabledSaveButton}
                                    onupdateaddressnormalized={disabledSaveButtonCaseAddress}
                                    read-only={readOnlyAddress} read-only-fields={readOnlyFields}></c-mro-address-form>
            </template>
            <template if:true={address}>
                <c-mro-address-form reade-only-field-address={readeOnlyFieldAddress} address={address} address-prefix={prefixAddress} object-api-name="Case"
                                    onchangesavebutton={disabledSaveButton}
                                    onupdateaddressnormalized={disabledSaveButtonCaseAddress}
                                    read-only={readOnlyAddress} read-only-fields={readOnlyFields}></c-mro-address-form>
            </template>
        </div>
        <div class={footerClass}>
            <lightning-button variant="destructive" name="cancel" label={labels.cancel}
                              icon-name="utility:cancel_file_request"
                              onclick={handleCancel}></lightning-button>
            <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" name="save"
                              icon-name="utility:save"
                              label={labels.save}></lightning-button>
        </div>
    </lightning-record-edit-form>
</template>