<!--
  @Component Name     : billingProfileEdit.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 18/06/2019 à 17:11:43
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    17/06/2019 à 16:06:11   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    <div if:true={show}>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.billingProfileEdit}</div>
            </div>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <lightning-record-edit-form record-id={billingProfileRecordId} id="billingProfileEditForm"
                                    object-api-name="BillingProfile__c" onsubmit={handleSubmitBP} onerror={handleErrorBP}
                                    onsuccess={handleSuccessBP} onload={handleLoadBP} >

            <lightning-messages></lightning-messages>

            <div class="slds-grid slds-gutters slds-wrap slds-p-horizontal_small">
                <template if:true={showPaymentBlock}>
                    <div class={showDirectDebit}>
                        <lightning-combobox
                                class="wr-required slds-p-horizontal_xx-small slds-p-vertical_x-small"
                                name="PaymentMethod__c"
                                data-id="paymentMethodValComboBox"
                                label="Payment Method"
                                value={paymentMethodValue}
                                options={paymentMethodOptions}
                                onchange={paymentMethodChange}></lightning-combobox>
                    </div>
                    <div class={hideDirectDebit}>
                        <lightning-input-field class="wr-required"  onchange={paymentMethodChange} data-id="paymentMethodVal" field-name="PaymentMethod__c" variant="label-stacked">
                        </lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2 slds-hide">
                        <lightning-input-field disabled={disabled} field-name="Account__c" value={accountId} variant="label-stacked">
                        </lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isIban} field-name="IBAN__c" data-id="iban" onchange={setBank}  variant="label-stacked">
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isIban} field-name="Bank__c" data-id="bank" onchange={removeError} variant="label-stacked">
                        </lightning-input-field>
                    </div>
                </template>

                <div class=" slds-col slds-size_1-of-2">
                    <template if:true={isRefund}>
                        <lightning-combobox
                                name="RefundMethod__c"
                                data-id="refundMethodVal"
                                required
                                label="Refund Method"
                                value={value}
                                options={refundMethodOptions}
                                onchange={refundMethodChange}></lightning-combobox>
                        <lightning-input-field class="slds-hide" field-name="RefundMethod__c" data-id="refundMethodValHidden">
                        </lightning-input-field>
                    </template>

                    <template if:false={isRefund}>
                        <lightning-input-field class="wr-required" field-name="RefundMethod__c" data-id="refundMethodVal" onchange={refundMethodChange}  variant="label-stacked">
                        </lightning-input-field>
                    </template>
                </div>
                <div class="slds-col slds-size_1-of-2">
                </div>

                <template if:true={showRefundIbanBlock}>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isRefundIban} field-name="RefundIBAN__c" data-id="refundIban" onchange={setRefundBank}  variant="label-stacked">
                        </lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isRefundIban} field-name="RefundBank__c" data-id="refundBank" onchange={removeError} variant="label-stacked">
                        </lightning-input-field>
                    </div>
                </template>

                <template if:true={showDeliveryBlock}>
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div class={hideDeliveryChannel}>
                        <lightning-input-field class="wr-required" data-id="myDeliveryChannel"
                                               onchange={deliveryChannelChange} field-name="DeliveryChannel__c" variant="label-stacked">
                        </lightning-input-field>
                    </div>
                    <div class={showDeliveryChannel}>
                        <lightning-combobox required options={deliveryChannelBusinessList} class="slds-p-horizontal_xx-small" value={deliveryChannelBusinessVal}
                                            label="Delivery Channel" onchange={deliveryChannelBusinessChange} dropdown-alignment="auto">
                        </lightning-combobox>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isEmail} field-name="Email__c" onchange={removeError} variant="label-stacked">
                        </lightning-input-field>
                    </div>
                    <!--[ENLCRO-658] Billing Profile - Interface Check - Pack2-->
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class={isMobile} data-id="mobilePhone" field-name="MobilePhone__c" onchange={removeError} variant="label-stacked">
                        </lightning-input-field>
                    </div>
                </template>

                <template if:true={showAddressBlock}>
                    <!--[ENLCRO-658] Billing Profile - Interface Check - Pack2-->
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div class="slds-grid slds-wrap  slds-m-top_small">
                        <div class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium">
                            {labels.billingAddress}
                        </div>
                        <template if:true={address}>
                            <c-mro-address-form address={address} read-only={readOnly} is-facultative={isRequiredAddressField} address-prefix="Billing"
                                                disable-normalize = {disableNormalize} is-normalize ={isNormalize} object-api-name="BillingProfile__c"
                                                available-addresses={availableAddresses} is-prosumers = {isProsumers}
                                                onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonBillingAddress}>
                            </c-mro-address-form>
                        </template>
                        <template if:false= {address}>
                            <c-mro-address-form address={address} read-only={readOnly} is-facultative={isRequiredAddressField} address-prefix="Billing"
                                                disable-normalize = {disableNormalize} is-normalize ={isNormalize} object-api-name="BillingProfile__c"
                                                available-addresses={availableAddresses} is-prosumers = {isProsumers}
                                                onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonBillingAddress}>
                            </c-mro-address-form>
                        </template>
                    </div>
                </template>

            </div>
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" data-name="cancel" label={labels.cancel}
                                  icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" data-name="save"
                                  icon-name="utility:save" label={labels.save}></lightning-button>
            </div>
        </lightning-record-edit-form>
    </div>
</template>