<template>
    <lightning-card variant="Narrow" title="Company Division Edit" icon-name="utility:company">
        <template if:false={isEdit}>
            <lightning-button-icon icon-name='utility:edit' title={labels.edit} alternative-text={labels.edit} onclick={editClick} slot="actions">                
            </lightning-button-icon>
            <div class="slds-card__body slds-card__body_inner">
                <a onclick={navigateToCompanyDivision} target="_blank">
                    <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small" value={companyDivisionName}>                        
                    </lightning-formatted-text>
                </a>
                <template if:true={companyDivisionEnforced}>
                    <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-title slds-text-heading_small slds-p-horizontal--xx-small" value={labels.enforced}>                        
                    </lightning-formatted-text>
                </template>
            </div>
        </template>
        <template if:true={isEdit}>                
            <lightning-button-group slot="actions">
                <lightning-button-icon icon-name='utility:close' alternative-text={labels.close} onclick={cancelClick}>                    
                </lightning-button-icon>
                <lightning-button-icon icon-name='utility:save' title={labels.save} alternative-text={labels.save} onclick={saveClick} variant="brand">                    
                </lightning-button-icon>
            </lightning-button-group>
            <div class="slds-form-element slds-p-top_none slds-p-around_x-small slds-p-left_small" onkeyup={handleKeyUp}>
                <lightning-combobox if:true={companyDivisionList} options={companyDivisionList} value={companyDivisionId} onchange={handleDivisionChange} 
                                    placeholder={labels.selectDivision} label="" dropdown-alignment="auto">
                </lightning-combobox>
                <lightning-input type="checkbox" checked={companyDivisionEnforced} label="Enforced on user" disabled={disableEnforced} onchange={handleChange}>                    
                </lightning-input>
            </div>
        </template>
    </lightning-card>
</template>