.w-100 {
    width: 100%;
}
.min-w-5rem {
    min-width: 5rem;
}
.h-5rem {
    height: 5rem;
}
.lh-5rem {
    line-height: 5rem;
}
.min-h-5rem {
    min-height: 5rem;
}
.wr-pointer-event_none {
    pointer-events: none;
}