<!-- Customer Interaction List LWC -->
<template>
    <template iterator:item={customerInteractionList}>
        <c-mro-customer-interaction-list-item key={item.value.id} customer-interaction={item.value}
                                          roles-list={rolesList} oncustomerinteractionevent={customerInteractionListItemEventHandler}
                                          is-interaction-closed={isInteractionClosed}>
        </c-mro-customer-interaction-list-item>
    </template>

    <template if:true={isInteractionClosed}>
        <template if:false={isNotEmpty}>
            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-left_large" value={labels.noCustomerSelected}></lightning-formatted-text>
        </template>
    </template>

    <template if:false={isInteractionClosed}>
        <template if:false={isMultipleSelectionDisabled}>
            <div class={addClass}>
                <div class="slds-media w-100">
                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                        <lightning-icon icon-name="utility:add"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-clearfix slds-border_left slds-p-left_small min-h-5rem">
                        <div class="slds-form__row slds-p-left_medium slds-p-top_x-small">
                            <div class="slds-form__item" role="listitem">
                                <a class={hrefClass} onclick={onNew}>
                                    <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small"
                                                              value={labels.searchForCustomer}></lightning-formatted-text>
                                </a>
                            </div>
                        </div>
                        <div class="slds-form__row slds-p-left_medium slds-p-vertical_x-small">
                            <div class="slds-form__item" role="listitem">
                                <template if:false={isNotEmpty}>
                                    {labels.noCustomerSelected}
                                </template>
                                <template if:true={isNotEmpty}>
                                    {labels.addAnotherCustomer}
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </template>
</template>