<!--
 - Created by goudiaby on 07/01/2020.
 -->

<!-- Mro Origin Channel Selection -->
<template>
    <template if:true={showSpinner} data-id="spinnerSectionModal" class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-layout multiple-rows>
        <lightning-layout-item size="6" class="slds-p-right_x-large">
            <lightning-combobox options={originList} label={labels.origin}
                                value={_selectedOrigin} onchange={handleChangeOrigin} variant="label-stacked"
                                dropdown-alignment="auto" disabled={disabledOrigin} required>
            </lightning-combobox>
        </lightning-layout-item>
        <lightning-layout-item size="6">
            <lightning-combobox options={channelList} label={labels.channel}
                                value={_selectedChannel} onchange={handleChangeChannel} variant="label-stacked"
                                dropdown-alignment="auto" disabled={disabledChannel} required>
            </lightning-combobox>
        </lightning-layout-item>
    </lightning-layout>
</template>