<template>
    <div class={addClassAutoSave}>
        <div class="spinner">
            <template if:true={spinner} role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-backdrop">
                <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
            </template>
        </div>
        <template if:true={show}>
            <article class="slds-card">
                <div class="slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                    <div class="slds-text-heading_medium slds-p-top_xx-small">{defaultTitle}</div>
                </div>
                <lightning-record-edit-form data-id="editForm" object-api-name="OpportunityServiceItem__c" record-id={recordId} record-type-id={recordTypeId} 
                onload={handleLoad} onsuccess={handleSuccess} onsubmit={handleSubmit} onerror={handleError}>
                    <lightning-messages></lightning-messages>
                    <lightning-layout multiple-rows="true">

                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="ServicePointCode__c" disabled class="wr-required" field-name="ServicePointCode__c" data-id="myServicePointCode" variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="Distributor__c" class="wr-required" field-name="Distributor__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="Trader__c" class="wr-required" field-name="Trader__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="AvailablePower__c" class="wr-required" field-name="AvailablePower__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="ContractualPower__c" class="wr-required" field-name="ContractualPower__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="EstimatedConsumption__c" class="wr-required" field-name="EstimatedConsumption__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <template if:true={isElectric}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="PowerPhase__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <template if:true={isGas}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="ConversionFactor__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="Pressure__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="PressureLevel__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <template if:true={isElectric}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="Voltage__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="VoltageLevel__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <lightning-input-field data-name="Market__c" class="wr-required" field-name="Market__c" onchange={removeError} variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        
                        <template if:true={isElectric}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field field-name="NonDisconnectable__c" class="wr-checkBox" variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>


                    <div class="slds-grid slds-col slds-size_1-of-1" >
                        <div class={addClassPA}>
                            <div class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium">{label.pointAddress}</div>
                            <div class="pointAddressData">
                                <c-address-form address={address} address-prefix="Point" object-api-name="OpportunityServiceItem__c"
                                                available-addresses={availableAddresses} onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonPointAddress}
                                ></c-address-form>
                            </div>
                        </div>
                        <div class={addClassSS}>
                            <div class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium wr-requiredServiceSite">{label.serviceSite}</div>
                            <div class="slds-m-top_x-small slds-scrollable_y listView slds-size_1-of-1">
                                <template for:each={siteAddressPickList} for:item="val">
                                    <lightning-layout-item  key={val.value}>
                                        <div class="slds-visual-picker slds-visual-picker_medium slds-size_1-of-1">
                                            <input  type="checkbox" id={val.value} value={val.value}
                                                    onclick={handleSelectOption} />
                                            <label for={val.value} class="slds-text-link_reset">
                                            <span class="slds-box slds-visual-picker__text slds-align_absolute-center">
                                                <div class="slds-grid slds-wrap slds-text-body_medium slds-truncate slds-text-align_left">{val.label}
                                                </div>
                                            </span>
                                                <span class="slds-icon_container slds-visual-picker__text-check">
                                                            <lightning-icon variant="inverse" aria-hidden="true"
                                                                            class="slds-icon-text-check" icon-name="utility:check"
                                                                            size="x-small"></lightning-icon>
                                            </span>
                                            </label>
                                        </div>
                                    </lightning-layout-item>
                                </template>
                            </div>
                        </div>
                    </div>

                    <div  class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                        <lightning-button variant="destructive" title={label.cancel} label={label.cancel} icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>
                        <lightning-button variant="brand" type="submit" icon-name="utility:save" label={label.save}></lightning-button>
                    </div>
                    <div if:true= {showNewServiceSite}>
                        <div class="slds-modal slds-modal_small slds-backdrop slds-fade-in-open">
                            <div class="slds-modal__container">
                                <div class="slds-modal__header slds-p-around_none">
                                    <lightning-button-icon title={label.close}
                                                           size="large" icon-name="utility:close" variant="bare-inverse"
                                                           class="slds-modal__close" onclick={closeModal} alternative-text=""></lightning-button-icon>
                                </div>
                                <article class="slds-card">
                                    <div class="slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                                        <div class="slds-text-heading_medium slds-p-top_xx-small">{label.serviceSite}</div>
                                    </div>
                                    <div class="slds-modal__content slds-m-bottom_none slds-m-around_none wr-modal-small">
                                        <div class="serviceSiteAddressData">
                                            <c-address-form address={serviceSiteAddressChange} address-prefix="Site"  object-api-name="OpportunityServiceItem__c"
                                                            available-addresses={availableAddresses} onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonSiteAddress}
                                            ></c-address-form>
                                        </div>
                                    </div>
                                    <div  class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                                        <lightning-button variant="destructive"  label={label.cancel}  icon-name="utility:cancel_file_request" onclick={handleCancelServiceSite}></lightning-button>
                                        <lightning-button variant="brand" icon-name="utility:save" onclick={getAddressFields} label={label.save}></lightning-button>
                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>
                </lightning-record-edit-form>

            </article>

        </template>
    </div>
</template>