<template>
    <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
        <lightning-record-view-form record-id={account.Id} object-api-name="Account" style="widows: 100%;">
            <div class="slds-media">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                    <div if:true={isBusiness}>
                        <lightning-icon icon-name="standard:account"></lightning-icon>
                    </div>
                    <div if:true={isPerson}>
                        <lightning-icon icon-name="standard:person_account"></lightning-icon>
                    </div>
                </div>
                <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small">
                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <lightning-output-field field-name="Name" variant="label-hidden" field-class="slds-welcome-mat__tile-title slds-text-heading_small">
                            </lightning-output-field>
                        </div>
                    </div>
                    <div class="slds-form__row">
                        <div class="slds-form__item" role="listitem">
                            <div if:true={isBusiness} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="VATNumber__c" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                            </div>
                            <div if:true={isPerson} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="NationalIdentityNumber__pc" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                            </div>

                            <div class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="AccountNumber" variant="label-stacked"></lightning-output-field>
                            </div>

                            <div if:true={isBusiness} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="BusinessType__c" variant="label-stacked"></lightning-output-field>
                            </div>

                            <div if:true={isBusiness} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="Email__c" variant="label-stacked"></lightning-output-field>
                            </div>
                            <div if:true={isPerson} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="PersonEmail" variant="label-stacked"></lightning-output-field>
                            </div>

                            <div if:true={isBusiness} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="Phone" variant="label-stacked"></lightning-output-field>
                            </div>
                            <div if:true={isPerson} class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="PersonMobilePhone" variant="label-stacked"></lightning-output-field>
                            </div>

                            <div class="slds-col slds-size_1-of-6">
                                <lightning-output-field field-name="ResidentialAddress__c" variant="label-stacked"></lightning-output-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-media__figure slds-media__figure_reverse slds-clearfix slds-m-top_x-small">
                    <div class="slds-align_absolute-center min-w-5rem" style="height: 4rem;">
                        <lightning-button label={labels.select} title={labels.select} variant="brand" onclick={handleSelection}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </lightning-record-view-form>
    </div>
</template>