<!--
 - Created by aspiga on 19/12/2019.
 -->
<!-- [MRO] Compact Layout Popover -->
<template>
    <div class={showBox}>
        <section aria-labelledby="panel-heading-id" class={boxClass} role="dialog" style={positionStyle} onmouseover={showPopover} onmouseout={closePopover}>
			<lightning-button-icon icon-name="utility:close" alternative-text="Close" variant="bare" class="slds-button_icon-small slds-float_right slds-popover__close" onclick={closePopover}></lightning-button-icon>
			<lightning-record-view-form record-id={recordId} object-api-name={objectApiName}>
				<div class="slds-p-around_small slds-theme_shade">
					<header class="slds-media slds-media_center slds-m-bottom_small">
						<lightning-avatar src={iconUrl} alternative-text={objectApiName} style={iconStyle} fallback-icon-name="standard:default" size="small"></lightning-avatar>
						<div class="slds-media__body slds-p-left_x-small">
							<h1 class="slds-text-heading_large slds-hyphenate" id="panel-heading-id">
								<a onclick={navigateToObject} target="_blank">
									<lightning-output-field field-name={nameField} variant="label-hidden"></lightning-output-field>
								</a>
							</h1>
						</div>
					</header>
					<div class="slds-grid slds-wrap mH">
						<div for:each={layoutFields} for:item="field" class="slds-col slds-size_1-of-2 slds-p-top_x-small" key={field}>
							<lightning-output-field field-name={field}></lightning-output-field>
						</div>
					</div>
					<!--<footer class="slds-grid slds-wrap slds-grid_pull-padded">
						Potential footer code
					</footer>-->
				</div>
				<!--<div class="slds-popover__body">
					Potential body code
				</div>-->
			</lightning-record-view-form>
		</section>
    </div>
</template>