/**
 * Created by aspiga on 20/12/2019.
*/
.showPopover{
    display: block;
}
.hidePopover{
     display: none;
 }
.mH{
     max-height: 128px;
     height: 128px;
     overflow-y: auto;
 }
 .radioright .mH{
     height: auto;
 }
 .slds-nubbin_bottom-left:before{
     background-color: rgb(243, 242, 242);
 }