<template>
    <template if:true={rendered}>
        <div>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-modal_large slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon title={labels.code} icon-name="utility:close" variant="bare-inverse" class="slds-modal__close" onclick={close}></lightning-button-icon>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{product.name}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-grid slds-wrap slds-gutters">
                            <div class="slds-col slds-size_1-of-3" role="list">
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked">
                                            <span class="slds-form-element__label">{labels.productImage}</span>
                                            <div class="slds-form-element__control">
                                                <template if:true={product.imageUrl}>
                                                    <img src={product.imageUrl} alt={labels.productImage} />
                                                </template>
                                                <template if:false={product.imageUrl}>
                                                    {labels.noImagePresent}
                                                </template>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-col slds-size_2-of-3 slds-form slds-p-around_small" role="list">
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked">
                                            <span class="slds-form-element__label">{labels.productName}</span>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text class="slds-form-element__static" value={product.name}></lightning-formatted-text>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked">
                                            <span class="slds-form-element__label">{labels.recordType}</span>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text class="slds-form-element__static" value={product.recordTypeName}></lightning-formatted-text>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <div class="slds-form-element slds-form-element_readonly slds-form-element_stacked">
                                            <span class="slds-form-element__label">{labels.productDescription}</span>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text class="slds-form-element__static" value={product.description}></lightning-formatted-text>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <footer class="slds-modal__footer slds-modal__footer_directional">
                        <lightning-button variant="neutral" label={labels.cancel} title={labels.cancel} onclick={close}></lightning-button>
                        <lightning-button variant="brand" label={labels.add} title={labels.add} onclick={onAddClick}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>