<!--
 - Created by pes on 11/05/2020.
 -->

<!-- [MRO] Discard Management -->
<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
             aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <template if:true={showSpinner}>
            <lightning-spinner data-id="spinner" variant="brand" size="large"></lightning-spinner>
        </template>
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <h1 class="slds-text-heading_medium slds-hyphenate">{labels.editRequest}</h1>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1" style="height: 100%">
                <c-mro-dynamic-form data-id="dynForm"></c-mro-dynamic-form>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button-group>
                    <lightning-button variant="neutral" label="Cancel" onclick={cancel}></lightning-button>
                    <lightning-button variant="brand" label="Save" onclick={saveData} disabled={saveDisabled}></lightning-button>
                </lightning-button-group>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>