<!--
 - Created by Stefano Porcari on Jan 21,2020.
 -->
<template>
    <div class="slds-summary-detail__title">
        <div class="slds-setup-assistant__step-summary">
            <div class="slds-media">
                <div class="slds-media__body slds-m-top_x-small">
                    <div class="slds-media">
                        <div class="slds-setup-assistant__step-summary-content slds-media__body">
                            <h3   class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                    {labels.commoditySelection}
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slds-setup-assistant__step-detail">
        <div class="slds-grid slds-gutters ">
            <div class="slds-col slds-size_12-of-12">
                <article class="slds-tile slds-tile_board">
                    <!--<<div class="hRadioCls">
                         <template for:each={options} for:item="item" for:index="index">
                             <fieldset key={item.value} style="display: block; float: left;">
                                 <div class="slds-form-element__control">
                                     <span class="slds-radio">
                                         <input name="radiogroup" id={item.value} disabled={disabled}  checked={item.checked} type="radio" value={item.value} onchange={handleChange}/>
                                         <label class="slds-radio__label" for={item.value}>
                                             <span class="slds-radio_faux"></span>
                                             <span class="slds-form-element__label">{item.label}</span>
                                         </label>
                                     </span>

                                 </div>
                             </fieldset>
                         </template>
                     </div>-->
                   <lightning-combobox
                            name="SelectCommodity"
                            label=""
                            placeholder={placeHolder}
                            value={selectedValue}
                            onchange={handleChange}
                            disabled={disabled}
                            options={options}>
                    </lightning-combobox>
                </article>
            </div>
        </div>
    </div>
</template>