<!--
 - Created by tommasobolis on 29/06/2020.
 -->

<!-- Related sObject -->
<template>
    <lightning-card  variant="Narrow" title={label.title} icon-name={icon}> <!-- standard:record -->
        <template if:true={enableNavigateToSObject}>
            <lightning-button label={label.view} slot="actions" onclick={handleViewClick}></lightning-button>
        </template>

        <div class="slds-p-horizontal_large slds-p-bottom_large">
            <lightning-record-form
                    record-id={relationshipSObjectId}
                    object-api-name={relationshipSObjectType}
                    fields={relationshipSObjectFieldsToGet}
                    columns="2"
                    mode="readonly">
            </lightning-record-form>
        </div>

    </lightning-card>
</template>