<!--
 - Created by l.centra on 21/01/2020.
 -->

<!-- [Mro] Insolvency Status Edit -->
<template>
    <lightning-record-edit-form record-id={accountId} object-api-name={objectName}
                                onsubmit={handleSubmit}
                                onsuccess={handleSuccess}>
        <div class="slds-form slds-gutters slds-p-bottom_small" role="list">
            <div class="slds-form__row slds-p-left_xxx-small slds-size_2-of-6">
                    <lightning-combobox class="wr-required"
                                        disabled={disableStatus}
                                        name="InsolvencyBankruptcyStatus__c"
                                        label={labels.insolvencyBankruptcyStatusNew}
                                        value={accountInsolvencyStatus}
                                        placeholder="Select Progress"
                                        options={options}
                                        onchange={handleChangeStatus}
                                        required>
                    </lightning-combobox>
            </div>
            <div if:true={isInsolvent}>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="InsolvencyStartDate__c" value={accountInsolvencyStartDate}
                                           onchange={handleChangeStartDate} variant="label-stacked"
                                           placeholder="type here..." required={isInsolvent} disabled={disableInput}>
                    </lightning-input-field>
                </div>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="JudicialAdministrator__c" value={accountJudicialAdministrator}
                                           onchange={handleChangeJudicialAdministrator} variant="label-stacked"
                                           placeholder="type here..." required={isInsolvent} disabled={disableInput}>
                    </lightning-input-field>
                </div>
            </div>
            <div if:true={isInsolventClosed}>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="InsolvencyStartDate__c" value={accountInsolvencyStartDate}
                                           onchange={handleChangeStartDate} variant="label-stacked"
                                           disabled>
                    </lightning-input-field>
                </div>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="InsolvencyEndDate__c" value={accountInsolvencyEndDate}
                                           onchange={handleChangeInsolvencyEndDate} variant="label-stacked" required={isInsolventClosed}
                                           placeholder="type here..." disabled={disableInput}>
                    </lightning-input-field>
                </div>
            </div>
            <div if:true={isBankrupt}>
                <div if:false={hideStartDate}>
                    <div class="slds-form__row slds-size_2-of-6">
                        <lightning-input-field data-id="insolvencyStartDateBankruptId" field-name="InsolvencyStartDate__c" value={accountInsolvencyStartDate}
                                               onchange={handleChangeStartDate} variant="label-stacked"
                                               disabled>
                        </lightning-input-field>
                    </div>
                </div>
                <div if:false={hideEndDate}>
                    <div class="slds-form__row slds-size_2-of-6">
                        <lightning-input-field field-name="InsolvencyEndDate__c" value={accountInsolvencyEndDate}
                                               onchange={handleChangeInsolvencyEndDate} variant="label-stacked"
                                               placeholder="type here..." required={isBankrupt} disabled={disableEndDate}>
                        </lightning-input-field>
                    </div>
                </div>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="BankruptcyDate__c" value={accountBankruptcyStartDate}
                                           onchange={handleChangeBankruptcyStartDate} variant="label-stacked"
                                           placeholder="type here..." required={isBankrupt} disabled={disableInput}>
                    </lightning-input-field>
                </div>
                <div if:false={hideJudicialAdministrator}>
                    <div class="slds-form__row slds-size_2-of-6">
                        <lightning-input-field field-name="JudicialAdministrator__c" value={accountJudicialAdministrator}
                                               onchange={handleChangeJudicialAdministrator} variant="label-stacked"
                                               disabled>
                        </lightning-input-field>
                    </div>
                </div>
                <div class="slds-form__row slds-size_2-of-6">
                    <lightning-input-field field-name="JudicialLiquidator__c" value={accountJudicialLiquidator}
                                           onchange={handleChangeJudicialLiquidator} variant="label-stacked"
                                           placeholder="type here..." required={isBankrupt} disabled={disableInput}>
                    </lightning-input-field>
                </div>
            </div>
            <div class="slds-m-around_medium">
                <div class="slds-float_right slds-m-right_medium">
                    <lightning-button variant="brand" label={labels.next} title="Next" onclick={handleNext}
                                      icon-name="utility:right" disabled={disableNext}>
                    </lightning-button>
                </div>
                <div class="slds-float_right">
                    <div if:false={disableEdit} class="slds-m-right_x-small">
                        <lightning-button variant="brand" label={labels.edit} title="Edit" onclick={handleEdit}
                                          icon-name="utility:edit" disabled={disableEdit}>
                        </lightning-button>
                    </div>
                </div>
            </div>
        </div>

    </lightning-record-edit-form>
</template>