<template>
    <c-mro-consumption-edit if:true={editMode} onconsumption_edit_cancel={handleEditCancel} onconsumption_edit_save={handleEditSave}
                            consumption={selectedConsumption} service-point-code={selectedOsiServicePointCode} round-consumption={roundConsumption}></c-mro-consumption-edit>

    <div class="slds-card slds-p-around_xx-small">
        <lightning-accordion allow-multiple-sections-open="true">
            <template for:each={outputOsiOrSupplyList} for:item="OSI">
                <div key={OSI.Id}>
                    <lightning-accordion-section name={OSI.ServicePointCode__c} label={OSI.OsiAndAddressLabel} class="slds-is-close">
                        <table class="slds-table_fixed-layout slds-table slds-table_bordered slds-table_col-bordered">
                            <thead>
                            <tr>
                                <th width="12%">{labels.type}</th>
                                <th>{labels.january}</th>
                                <th>{labels.february}</th>
                                <th>{labels.march}</th>
                                <th>{labels.april}</th>
                                <th>{labels.may}</th>
                                <th>{labels.june}</th>
                                <th>{labels.july}</th>
                                <th>{labels.august}</th>
                                <th>{labels.september}</th>
                                <th>{labels.october}</th>
                                <th>{labels.november}</th>
                                <th>{labels.december}</th>
                                <th>{labels.action}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <template for:each={OSI.Consumption} for:item="consumption">
                                <tr key={consumption.myId}>
                                    <td>{consumption.Type__c}{measurement}</td>
                                    <td class="slds-truncate">{consumption.QuantityJanuary__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityFebruary__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityMarch__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityApril__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityMay__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityJune__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityJuly__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityAugust__c}</td>
                                    <td class="slds-truncate">{consumption.QuantitySeptember__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityOctober__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityNovember__c}</td>
                                    <td class="slds-truncate">{consumption.QuantityDecember__c}</td>
                                    <td>
                                        <lightning-button class="slds-m-left_x-small" variant="brand" label={labels.edit}
                                                          data-osi-id={OSI.Id} data-id={consumption.myId} disabled={disabled}
                                                          title="Edit" onclick={handleEditClick}>
                                        </lightning-button>
                                    </td>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                    </lightning-accordion-section>
                </div>
            </template>
        </lightning-accordion>
    </div>
</template>