<template>
    <div class={flexipageRegionWidth}>
        <template if:true={supplies}>
            <lightning-card title={labels.accountServices} icon-name="standard:all">
                <div class="slds-grid slds-wrap slds-gutters_xx-small slds-align_absolute-center">
                    <div class={colStyle}>
                        <div class="slds-visual-picker slds-visual-picker_medium slds-size_1-of-1">
                            <input type="checkbox" id="Electric" name="options" value="Electric" onclick={toggleElectric} />
                            <label for="Electric" class="slds-text-link_reset">
                                <span class="slds-box slds-p-around_none slds-visual-picker__text slds-align_absolute-center">
                                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-horizontal_xx-small">
                                        <span class="slds-icon_container slds-icon-utility-knowledge_base">
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLEle}></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="slds-media__body slds-border_left slds-p-left_small slds-m-vertical_small">
                                        <div>
                                            <span>{labels.active}</span>
                                            <span class="slds-m-left_xx-small">
                                                <lightning-badge  label={electricActiveSize}></lightning-badge>
                                            </span>
                                        </div>
                                        <div class="slds-m-top_x-small">
                                            <span>{labels.total}</span>
                                            <span class="slds-m-left_small">
                                                <lightning-badge  label={electricTotalSize}></lightning-badge>
                                            </span>
                                        </div>
                                    </div>
                                </span>
                                <span class="slds-icon_container slds-visual-picker__text-check">
                                    <lightning-icon variant="inverse" class="slds-icon-text-check" icon-name="utility:check" size="x-small"></lightning-icon>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class={colStyle}>
                        <div class="slds-visual-picker slds-visual-picker_medium slds-size_1-of-1">
                            <input type="checkbox" id="Gas" name="options" value="Gas" onclick={toggleGas} />
                            <label for="Gas" class="slds-text-link_reset">
                                <span class="slds-box slds-p-around_none slds-visual-picker__text slds-align_absolute-center">
                                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-horizontal_xx-small">
                                        <span class="slds-icon_container slds-icon-utility-knowledge_base">
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLGas}></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="slds-media__body slds-border_left slds-p-left_small slds-m-vertical_small">
                                        <div>
                                            <span>{labels.active}</span>
                                            <span class="slds-m-left_xx-small">
                                                <lightning-badge  label={gasActiveSize}></lightning-badge>
                                            </span>
                                        </div>
                                        <div class="slds-m-top_x-small">
                                            <span>{labels.total}</span>
                                            <span class="slds-m-left_small">
                                                <lightning-badge  label={gasTotalSize}></lightning-badge>
                                            </span>
                                        </div>
                                    </div>
                                </span>
                                <span class="slds-icon_container slds-visual-picker__text-check">
                                    <lightning-icon variant="inverse" class="slds-icon-text-check" icon-name="utility:check" size="x-small"></lightning-icon>
                                </span>
                            </label>
                        </div>
                    </div>
                    <div class={colStyle}>
                        <div class="slds-visual-picker slds-visual-picker_medium slds-size_1-of-1">
                            <input type="checkbox" id="Vas" name="options" value="Vas" onclick={toggleVas} />
                            <label for="Vas" class="slds-text-link_reset">
                                <span class="slds-box slds-p-around_none slds-visual-picker__text slds-align_absolute-center">
                                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-horizontal_xx-small">
                                        <span class="slds-icon_container slds-icon-utility-knowledge_base">
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLVas}></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <div class="slds-media__body slds-border_left slds-p-left_small slds-m-vertical_small">
                                        <div>
                                            <span>{labels.active}</span>
                                            <span class="slds-m-left_xx-small">
                                                <lightning-badge  label={vasActiveSize}></lightning-badge>
                                            </span>
                                        </div>
                                        <div class="slds-m-top_x-small">
                                            <span>{labels.total}</span>
                                            <span class="slds-m-left_small">
                                                <lightning-badge  label={vasTotalSize}></lightning-badge>
                                            </span>
                                        </div>
                                    </div>
                                </span>
                                <span class="slds-icon_container slds-visual-picker__text-check">
                                    <lightning-icon variant="inverse" class="slds-icon-text-check" icon-name="utility:check"  size="x-small"></lightning-icon>
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div if:true={showList}>
                    <div class="slds-m-top_x-small slds-scrollable_y listView">
                        <template for:each={supplyList} for:item="supply">
                            <c-mro-supply-list-item key={supply.Id} supply={supply}>
                            </c-mro-supply-list-item>
                        </template>
                    </div>
                </div>
            </lightning-card>
        </template>
    </div>
</template>