.wr-button-width {
       width:5em;
}


.tableFixHead          { overflow-y: auto; max-height: 150px; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }


.tableFixHead thead tr th {
       background: gray;
       color: #fff;
       top: -1px;
       position: static;
       margin: 0 !important;
       z-index: 999;
}

.tableFixHead table {
       border-collapse: collapse;
       border-spacing: 0;
}

.tableFixHead thead tr th {
       border: 1px solid #ddd;
}
