<template>
    <lightning-card>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom--none slds-p-bottom_small slds-grid"
                 role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.billingProfile}</div>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-p-horizontal_none">
            <fieldset disabled={disabled} class={addClass} style="max-height:10rem">
                <div class="tableFixHead">
                    <table class="slds-table slds-table_bordered slds-table_cell-buffer">
                        <thead>
                        <tr>
                            <th class="slds-col slds-size_1-of-12">
                                <div>{labels.name}</div>
                            </th>
                            <th class="slds-col slds-size_1-of-12">
                                <div>{labels.paymentMethod}</div>
                            </th>
                            <th class="slds-col slds-size_1-of-12">
                                <div>{labels.iban}</div>
                            </th>

                            <template if:true={displayRefundColumns}>
                                <th class="slds-col slds-size_1-of-12">
                                    <div>{labels.refundMethod}</div>
                                </th>

                                <th class="slds-col slds-size_1-of-12">
                                    <div>{labels.refundIban}</div>
                                </th>
                            </template>
                            <th class="slds-col slds-size_1-of-12">
                                <div>{labels.deliveryChannel}</div>
                            </th>
                            <th  class="slds-col slds-size_1-of-12">
                                <div>{labels.numberEmail}</div>
                            </th>
                            <th  class="slds-col slds-size_1-of-12">
                                <div>{labels.address}</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <template for:each={recordList} for:item="billingProfile" for:index="i">
                                <tr data-type="container" data-row-index="" key={billingProfile.Id} class="slds-hint-parent">
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small slds-is-relative" >
                                            <input type="radio" id={billingProfile.Id} name="radioGroup" value={billingProfile.Id}
                                                   onchange={handleStatusRadio} checked={billingProfile.selected} />
                                            <label  class="slds-m-left_small slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.name}</span>
                                            </label>

                                           <!--- <a class="slds-m-left_small"  data-value ={billingProfile.Id} onmouseover={showPop} onmouseout={closePop}>{billingProfile.name}</a>
                                            <c-mro-compact-layout-popover record-id={billingProfile.Id} position="radio-right"></c-mro-compact-layout-popover>--->
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.paymentMethod}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.Iban}</span>
                                            </label>
                                        </div>
                                    </td>

                                    <template if:true={displayRefundColumns}>
                                        <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                            <div class="slds-p-top_small">
                                                <label class="slds-radio__label" for={billingProfile.Id}>
                                                    <span class="slds-form-element__label">{billingProfile.refundMethod}</span>
                                                </label>
                                            </div>
                                        </td>

                                        <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                            <div class="slds-p-top_small">
                                                <label class="slds-radio__label" for={billingProfile.Id}>
                                                    <span class="slds-form-element__label">{billingProfile.refundIban}</span>
                                                </label>
                                            </div>
                                        </td>
                                    </template>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.deliveryChannelType}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.deliveryChannel}</span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="slds-col slds-size_1-of-12 slds-p-top_none" key={billingProfile.Id}>
                                        <div class="slds-p-top_small">
                                            <label class="slds-radio__label" for={billingProfile.Id}>
                                                <span class="slds-form-element__label">{billingProfile.billingAddress}</span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </fieldset>
            <fieldset if:false={hideButtons} disabled={disabled}
                      class="slds-size_1-of-12 slds-grid slds-cell-wrap slds-grid_vertical slds-align_absolute-center">
                <template if:false={hideNewButton}>
                    <div class="slds-align_absolute-center slds-p-bottom_small">
                        <button class="slds-button slds-button_brand wr-button-width" name="New"
                                onclick={newBillingProfile}>{labels.New}
                        </button>
                    </div>
                </template>
                <div class={addButtonClass}>
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableEditButtonBP}
                            name="Edit" onclick={editBillingProfile}>{labels.edit}
                    </button>
                </div>
                <div class="slds-align_absolute-center">
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableButtons} name="Clone"
                            onclick={cloneBillingProfile}>{labels.clone}
                    </button>
                </div>
            </fieldset>
        </div>
        <div if:true={showModal}>
            <div class="slds-modal slds-backdrop slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container slds-p-horizontal_none">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close}
                                               size="large" icon-name="utility:close" variant="bare-inverse"
                                               class="slds-modal__close" onclick={closeModal}>
                        </lightning-button-icon>
                    </div>
                    <!--[ENLCRO-658] Billing Profile - Interface Check - Pack2-->
                    <div class="slds-modal__content slds-m-around_none">
                        <!--Refund Method default with "Invoice"; Payment Method = "Bank Transfer" for Business Accounts-->
                        <c-mro-billing-profile-edit account-id={accountId}
                                                billing-profile-record-id={billingProfileRecordId}
                                                force-giro-if-business={forceGiroIfBusiness}
                                                button-type={buttonType}
                                                onclose={closeHandle}
                                                onsave={saveBillingProfileEdit}
                                                contract-type={contractType}
                                                show-header="true"
                                                refund-filter={refundFilter}
                                                is-refund={isRefund}
                                                refund-on-clone={refundOnClone}
                                                address-on-clone={addressOnClone}
                                                has-direct-debit-in-billing-profile={hasDirectDebitInBillingProfile}
                                                is-customer-refund-request={isCustomerRefundRequest}
                                                is-prosumers = {isProsumers}>
                        </c-mro-billing-profile-edit>
                        <!--Refund Method default with "Invoice"; Payment Method = "Bank Transfer" for Business Accounts-->
                    </div>
                    <!--[ENLCRO-658] Billing Profile - Interface Check - Pack2-->
                </div>
            </div>
        </div>
    </lightning-card>
</template>