<!--
 - Created by goudiaby on 18/07/2019.
 -->

<!-- Company Division Selection -->
<template>
    <lightning-card variant="Narrow" title={title} icon-name={icon}>
        <div class="slds-form-element  slds-p-top_none slds-p-around_x-small slds-p-left_small" >
            <lightning-combobox if:true={listCompanyDivision} options={listCompanyDivision}
                disabled={isReadonly} value={companyDivisionId} onchange={handleChange}
                placeholder={labels.selectDivision} variant="label-hidden" dropdown-alignment="auto" label="">
            </lightning-combobox>
        </div>
    </lightning-card>
</template>