<template>
    <div class="slds-box slds-m-around_xxx-small slds-box_x-small slds-theme_default">
        <div class="slds-media w-100">
            <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                <template if:true={customerInteraction.isCustomerIsPerson}>
                    <lightning-icon icon-name="standard:person_account" alternative-text={labels.account}></lightning-icon>
                </template>
                <template if:false={customerInteraction.isCustomerIsPerson}>
                    <lightning-icon icon-name="standard:account" alternative-text={labels.account}></lightning-icon>
                </template>
            </div>
            <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small w-100 min-h-5rem">
                <div class="slds-grid slds-p-around_x-small">
                    <div class="slds-col slds-size_1-of-2">
                        <a onclick={navigateToAccount} title="Navigate to Customer" target="_blank" class="slds-text-link">
                            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small" value={customerInteraction.customerName}></lightning-formatted-text>
                        </a>
                        <lightning-record-view-form record-id={customerInteraction.customerId} object-api-name="Account" class="w-100">
                            <div class="slds-grid slds-gutters">
                                <template if:true={customerInteraction.isCustomerIsPerson}>
                                    <div class="slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="NationalIdentityNumber__pc" variant="label-stacked"></lightning-output-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="PersonMobilePhone" variant="label-stacked"></lightning-output-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="PersonEmail" variant="label-stacked"></lightning-output-field>
                                    </div>
                                </template>
                                <template if:false={customerInteraction.isCustomerIsPerson}>
                                    <div class=" slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="VATNumber__c" variant="label-stacked"></lightning-output-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="Phone" variant="label-stacked"></lightning-output-field>
                                    </div>
                                    <div class=" slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="Email__c" variant="label-stacked"></lightning-output-field>
                                    </div>
                                    <div class="slds-col slds-size_1-of-5">
                                        <lightning-output-field field-name="BusinessType__c" variant="label-stacked"></lightning-output-field>
                                    </div>
                                </template>
                                <div class="slds-col slds-size_1-of-5">
                                    <lightning-output-field field-name="ResidentialAddress__c" variant="label-stacked"></lightning-output-field>
                                </div>
                                <!-- <div class="slds-col slds-size_1-of-5">
                                     <label class="slds-form-element__label">{labels.addressInformations}</label>
                                        <div class="slds-form-element__control">
                                        <lightning-formatted-text value={address}></lightning-formatted-text>
                                        </div>
                                </div> -->
                            </div>

                        </lightning-record-view-form>

                    </div>

                    <div class="slds-col slds-size_1-of-2">
                        <a onclick={navigateToContact} target="_blank">
                            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small" value={labels.contactDetails}>
                            </lightning-formatted-text>
                        </a>
                        <lightning-record-view-form record-id={customerInteraction.contactId} object-api-name="Contact" class="w-100">
                            <div class="slds-grid">
                                <div class="slds-co slds-size_1-of-3">
                                    <template if:true={customerInteraction.contactId}>
                                        <c-mro-compact-phones-output phone={customerInteraction.contactPhone}
                                                                     mobile-phone={customerInteraction.contactMobilePhone}></c-mro-compact-phones-output>
                                    </template>
                                </div>
                                <div class="slds-col slds-size_1-of-3">
                                    <lightning-output-field field-name="Email" variant="label-stacked"></lightning-output-field>
                                </div>
                                <template if:true={hasRelatedContact}>
                                    <div class="slds-col slds-size_1-of-3">
                                        <template if:true={isRoleEdit}>
                                            <div class="slds-form-element">
                                                <lightning-combobox label={labels.roles} options={rolesList} value={roleValue}
                                                                    placeholder={labels.pleaseSelect} onchange={handleRoleChange} required>
                                                </lightning-combobox>
                                            </div>
                                        </template>
                                        <template if:false={isRoleEdit}>
                                            <label class="slds-form-element__label">{labels.roles}</label>
                                            <div class="slds-form-element__control">
                                                <lightning-formatted-text class="slds-m-left_none" value={roleValue}>
                                                </lightning-formatted-text>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </lightning-record-view-form>
                    </div>
                </div>
            </div>
            <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                <lightning-button-group class="slds-p-left_medium lh-5rem">
                    <template if:true={customerInteraction.contactId}>
                        <lightning-button-icon icon-name={editRoleButtonIcon} alternative-text={editRoleButtonAltText}
                                               onclick={onEditClick} disabled={isRoleEditDisabled}>
                        </lightning-button-icon>
                    </template>
                    <lightning-button-icon icon-name="utility:close" alternative-text={labels.remove} onclick={onDeleteClick} disabled={isInteractionClosed}>
                    </lightning-button-icon>
                </lightning-button-group>
            </div>
        </div>
    </div>
</template>