<template>
    <template if:true={product}>
        <div>
            <p><b>{labels.productId} : {product.Id}</b></p>
            <br/>
            <p>{labels.productName} :{product.Name}</p>
        </div>
    </template>
</template>
