<!--
 - Created by David Diop on 10.04.2020.
 -->

<!-- Mro Connection Representant -->
<template>
    <lightning-record-edit-form object-api-name="Contact" onsubmit={handleSubmit} onerror={handleError}
                                onsuccess={handleSuccess}>
        <!--<template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>-->
        <lightning-accordion allow-multiple-sections-open active-section-name="Connection">
            <lightning-accordion-section label={labels.connectionRepresentant} name="Connection">
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-2">
                        <!--<label>
                            <abbr class="slds-required" title="required">* </abbr>
                            {labels.imputernicit}
                            variant="label-hidden"
                        </label>-->
                        <lightning-input-field required disabled={disabledInput}
                                               field-name="FirstName">
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field required disabled={disabledInput} field-name="LastName">
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field required disabled={disabledInput} field-name="Email">
                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field required disabled={disabledInput} field-name="Phone">
                        </lightning-input-field>
                    </div>
                </div>
            </lightning-accordion-section>
            <lightning-accordion-section label={labels.privacyRecap}>
            <c-mro-privacy-change data-id="privacyChange"
                                  disabled={disabledInput}
                                  dossier-id={dossierId}
                                  contact-id={contactId}
                                  onsuccess={getPrivacyId}>
            </c-mro-privacy-change>
            </lightning-accordion-section>
        </lightning-accordion>
    </lightning-record-edit-form>
</template>