<template>
    <article class="slds-card">
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small"
                 role="banner">
                <template if:true={readOnlyFields}>
                    <div class="slds-text-heading_medium slds-p-top_xx-small">{caseEditTitle}</div>
                </template>
                <template if:false={readOnlyFields}>
                    <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.caseEdit}</div>
                </template>
            </div>
        </div>
        <!--<div data-id="spinnerSection" class={spinnerClass}>
            <lightning-spinner variant="brand" sihandleLoadze="medium" alternative-text="Loading"></lightning-spinner>
        </div>-->
        <lightning-record-edit-form record-id={caseId} object-api-name="Case" onsubmit={handleSubmit}
                                    onsuccess={handleSuccess} onload={handleLoad} record-type-id={recordTypeId}
                                    onerror={handleError}>
            <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                      class="slds-modal slds-fade-in-open slds-backdrop">
                <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
            </template>
            <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
                <template if:false={isAuthorityCompensation}>
                    <template if:true={caseFields} for:each={caseFields} for:item="fields">
                        <div if:true={isDefaultCaseEdit} class="slds-col slds-size_1-of-2" key={fields}>
                            <lightning-input-field class="wr-required" field-name={fields}
                                                   onchange={removeError}
                                                   variant="label-stacked"></lightning-input-field>
                        </div>
                    </template>
                </template>
                <template if:true={showRequestPurpose}>
                    <div class="slds-col slds-size_1-of-2">
                        <label>{labels.requestPurpose}</label>
                        <lightning-input-field class="wr-required" required field-name="Subject"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>
                </template>

                <template if:true={isTerminationWizard}>
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input type="date" label={labels.effectiveDate} data-id="effectiveDate"
                                         class="wr-required" value={effectiveDate} name="EffectiveDate__c"
                                         min={maxDate}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_1-of-1 slds-p-top_x-small">
                        <lightning-combobox label={labels.reason} options={reasonList}
                                            value={terminationCause} onchange={handleSelectReason}
                                            required>
                        </lightning-combobox>
                    </div>
                </template>
                <template if:true={isConnectionWizard}>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" data-name="ContractualPower__c"
                                               field-name="ContractualPower__c"
                                               onchange={setSinglePhase}
                                               variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="PowerPhase__c" data-id="powerPhase"
                                               onchange={removeError} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="VoltageLevel__c"
                                               onchange={setVoltageSetting}
                                               variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="VoltageSetting__c"
                                               data-id="voltageSetting"
                                               onchange={removeError} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <label class="slds-text-title slds-text-color_weak">{labels.connectionDescriptionLabel}</label>
                        <lightning-input-field class="wr-required" field-name="Subject"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>
                </template>
                <template if:true={isNonDisconnectableWizard}>
                    <div class="slds-col slds-size_1-of-3 ">
                        <lightning-input type="toggle" data-id="inputToggle" label={labels.nonDisconnectable}
                                         checked={nonDisconnectable} onchange={handleNonDisconnectable}
                                         message-toggle-active="" message-toggle-inactive="">
                        </lightning-input>
                    </div>

                    <div class="slds-col slds-size_1-of-1 slds-p-top_medium" if:true={nonDisconnectable}>
                        <lightning-input-field class="wr-required" required field-name="Reason__c"
                                               onchange={removeError}></lightning-input-field>
                    </div>
                </template>
                <template if:true={isAuthorityCompensation}>
                    <template if:false={isDefaultCaseEdit}>
                        <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                            <label>{labels.supplyType}</label>
                            <lightning-input-field
                                    field-name="SupplyType__c"
                                    variant="label-hidden"
                                    disabled read-only
                                    value={supplyType}>
                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-1 ">
                            <label>{labels.compensationType}</label>
                            <lightning-input-field class="wr-required" required field-name="CompensationType__c"
                                                   onchange={handleCompensationTypeChange}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>
                        <template if:false={disableAuthorityFields}>
                            <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                                <label>{labels.compensationCode}</label>
                                <lightning-input-field class="wr-required" required field-name="CompensationCode__c"
                                                       onchange={handleCompensationCodeChange}
                                                       variant="label-hidden"></lightning-input-field>
                            </div>

                            <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                                <label>{labels.reason}</label>
                                <lightning-input-field field-name="Reason__c" value={authorityReason}
                                                       onchange={removeError}
                                                       variant="label-hidden"></lightning-input-field>
                            </div>

                            <template if:true={showParentCaseId}>
                                <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                                    <label>{labels.parentCase}</label>
                                    <lightning-input-field class="wr-required"
                                                           field-name="ParentId"
                                                           required
                                                           onchange={handleParentCaseIdChange}
                                                           variant="label-hidden"></lightning-input-field>
                                </div>
                            </template>

                            <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                                <label>{labels.findingDate}</label>
                                <lightning-input-field field-name="StartDate__c"
                                                       onchange={removeError}
                                                       read-only
                                                       variant="label-hidden"></lightning-input-field>
                            </div>

                            <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                                <label>{labels.requestDate}</label>
                                <lightning-input-field field-name="ReferenceDate__c"
                                                       onchange={removeError}
                                                       variant="label-hidden"></lightning-input-field>
                            </div>

                            <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                                <label>{labels.amount}</label>
                                <lightning-input-field class="wr-required" required field-name="Amount__c"
                                                       onchange={removeError}
                                                       variant="label-hidden"></lightning-input-field>
                            </div>
                        </template>
                    </template>
                    <template if:true={isDefaultCaseEdit}>
                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.caseNumber}</label>
                            <lightning-input-field field-name="CaseNumber"
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.Status}</label>
                            <lightning-input-field field-name="Status" disabled
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.supplyType}</label>
                            <lightning-input-field
                                    field-name="SupplyType__c"
                                    variant="label-hidden"
                                    disabled read-only
                                    value={supplyType}>
                            </lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.compensationType}</label>
                            <lightning-input-field class="wr-required" required field-name="CompensationType__c"
                                                   onchange={handleCompensationTypeChange}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.compensationCode}</label>
                            <lightning-input-field class="wr-required" required field-name="CompensationCode__c"
                                                   onchange={handleCompensationCodeChange}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.reason}</label>
                            <lightning-input-field field-name="Reason__c" value={authorityReason}
                                                   onchange={removeError}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <template if:true={showParentCaseId}>
                            <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                                <label>{labels.parentCase}</label>
                                <lightning-input-field class="wr-required"
                                                       field-name="ParentId"
                                                       required
                                                       onchange={handleParentCaseIdChange}
                                                       variant="label-hidden"></lightning-input-field>
                            </div>
                        </template>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.findingDate}</label>
                            <lightning-input-field field-name="StartDate__c"
                                                   onchange={removeError}
                                                   read-only
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.requestDate}</label>
                            <lightning-input-field field-name="ReferenceDate__c"
                                                   onchange={removeError}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.amount}</label>
                            <lightning-input-field class="wr-required" required field-name="Amount__c"
                                                   onchange={removeError}
                                                   variant="label-hidden"></lightning-input-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-p-top_small">
                            <label>{labels.supply}</label>
                            <lightning-input-field field-name="Supply__c"
                                                   variant="label-hidden"></lightning-input-field>
                        </div>
                    </template>
                </template>
                <template if:true={isMeterChange}>
                    <div class="slds-col slds-size_1-of-1 ">
                        <label>{labels.requestPurpose}</label>
                        <lightning-input-field class="wr-required" required field-name="Subject"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-1 slds-p-top_medium">
                        <label>{labels.notes}</label>
                        <lightning-input-field class="wr-required" required field-name="Description"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>
                </template>

                <template if:true={isSwitchOut}>
                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input-field required field-name="Reason__c"
                                               onchange={removeError}></lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-1">
                        <label>{labels.NewTrader}</label>
                        <lightning-input-field class="wr-required" required field-name="Trader__c"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-1">
                        <label>{labels.SwitchOutDate}</label>
                        <lightning-input-field class="wr-required" required field-name="EffectiveDate__c"
                                               onchange={removeError} variant="label-hidden"></lightning-input-field>
                    </div>

                    <div class="slds-col slds-size_1-of-1">
                        <lightning-input-field class="wr-required" field-name="ReferenceDate__c"
                                               onchange={removeError} variant="label-stacked"></lightning-input-field>
                    </div>

                </template>

            </div>

        </lightning-record-edit-form>


        <div if:true={isCaseModalByAddressForm}>
            <div class="slds-grid slds-nowrap slds-p-horizontal_medium">
                <div class="slds-col slds-size_1-of-1 slds-p-left_none">
                    <div class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium">
                        {labels.pointAddress}
                    </div>
                    <template if:false={caseAddress}>
                        <c-mro-address-form address={caseAddress} read-only-fields={readOnlyFieldsAddress}
                                            address-prefix="Address"
                                            available-addresses={availableAddresses} object-api-name="Case"
                                            onchangesavebutton={disabledSaveButton}
                                            onupdateaddressnormalized={disabledSaveButtonCaseAddress}
                                            read-only={readOnlyAddress}></c-mro-address-form>
                    </template>
                    <template if:true={caseAddress}>
                        <c-mro-address-form address={caseAddress} read-only-fields={readOnlyFieldsAddress}
                                            available-addresses={availableAddresses}
                                            address-prefix="Address" object-api-name="Case"
                                            onchangesavebutton={disabledSaveButton}
                                            onupdateaddressnormalized={disabledSaveButtonCaseAddress}
                                            read-only={readOnlyAddress}></c-mro-address-form>
                    </template>
                </div>
            </div>
        </div>
        <!--</div>-->
        <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
            <template if:true={readOnlyFields}>
                <div class="slds-p-bottom_x-large"></div>
            </template>
            <template if:false={readOnlyFields}>
                <lightning-button variant="destructive" name="cancel" label={labels.cancel}
                                  icon-name="utility:cancel_file_request"
                                  onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" variant="brand" name="save"
                                  icon-name="utility:save" onclick={handleSubmit}
                                  label={labels.save}></lightning-button>
            </template>
        </div>
    </article>
</template>