<template>
    <div class="slds-card slds-p-around_xx-small slds-theme_shade">
        <div class="slds-m-bottom_small slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:search" size="medium" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-p-top_xx-small">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1><span class="slds-page-header__title slds-truncate" title={labels.customerSearchResults}>
                                        {labels.customerSearchResults}
                                    </span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <lightning-button-group class="slds-page-header__control">
                            <lightning-button class="slds-theme_neutral" variant="neutral" type="button"
                                              label={labels.back} onclick={onBack}>
                            </lightning-button>
                        </lightning-button-group>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <ul>
            <template for:each={accountList} for:item="account">
                <li key={account.Id} class="slds-item">
                    <c-account-list-item account={account} interaction-id={interactionId} onselection={handleSelection}>
                    </c-account-list-item>
                </li>
            </template>
            <li class="slds-item">
                <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
                    <div class="slds-media w-100">
                        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                            <lightning-icon icon-name="utility:add"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small h-5rem">
                            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small lh-5rem"
                                                     value={labels.customerNotInTheList}>
                            </lightning-formatted-text>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse slds-clearfix">
                            <div class="slds-align_absolute-center min-w-5rem h-5rem">
                                <lightning-button label={labels.New} title={labels.New} variant="brand" onclick={onNew}>
                                </lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>