<template>
    <lightning-card title={labels.privacyRecap} icon-name="utility:privately_shared">
        <template if:true={hasIndividualId}>
            <lightning-record-view-form  object-api-name="Individual" record-id={individualId}>
                <div class="slds-grid slds-wrap slds-p-left_small">
                    <template for:each={viewIndividualFields} for:item="individualFields">
                        <div class="slds-col slds-size_1-of-3" key={individualFields}>
                            <lightning-output-field field-name={individualFields} variant="label-stacked"></lightning-output-field>
                        </div>
                    </template>
                </div>
            </lightning-record-view-form>
        </template>
        <template if:false={hasIndividualId} >
            <div class="slds-media__body slds-p-left_large slds-p-top_xx-small">
                <div class="slds-page-header__name">
                    <div class="slds-page-header__name-title">
                        <h1><span class="slds-page-header__title slds-truncate slds-text-color_destructive" title={label}>{label}</span></h1>
                    </div>
                </div>
            </div>
        </template>
    </lightning-card>
</template>