<template>
    <template if:true={isRow}>
        <div class={cardClass}>
            <lightning-record-view-form record-id={recordId} object-api-name="OpportunityServiceItem__c">
                <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_striped">
                    <tbody>
                    <tr data-type="container" data-row-index="" class="slds-grid slds-hint-parent">
                        <td class="slds-col slds-size_3-of-12 slds-grid slds-p-around_none">
                            <div class="slds-media__figure slds-col slds-size_1-of-12">
                                <span class="slds-icon_container" >
                                    <template if:true={isGas}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLGas}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isElectric}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLEle}></use>
                                        </svg>
                                    </template>
                                </span>
                            </div>
                            <div class="slds-col slds-size_11-of-12 slds-p-top_small"><lightning-output-field field-name="ServicePointCode__c" variant="label-hidden"></lightning-output-field></div>
                        </td>
                        <template if:true ={showOsiTileFields}>
                            <template for:each={viewOsiTileFields} for:item="osiFields">
                                <td class="slds-col slds-size_2-of-12" key={osiFields}>
                                    <div class="slds-p-top_small">
                                        <lightning-output-field field-name={osiFields} variant="label-hidden"></lightning-output-field>
                                    </div>
                                </td>
                            </template>
                        </template>
                        <template if:false={showOsiTileFields}>
                            <template if:true={isGas}>
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                                    <div class="slds-p-top_small">
                                        <lightning-output-field field-name="Pressure__c" variant="label-hidden"></lightning-output-field>
                                    </div>
                                </td>
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                                    <div class="slds-p-top_small">
                                        <lightning-output-field field-name="PressureLevel__c" variant="label-hidden"></lightning-output-field>
                                    </div>
                                </td>
                            </template>
                            <template if:true={isElectric}>
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                                    <div class="slds-p-top_small">
                                        <lightning-output-field field-name="Voltage__c" variant="label-hidden"></lightning-output-field>
                                    </div>
                                </td>
                                <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                                    <div class="slds-p-top_small">
                                        <lightning-output-field field-name="VoltageLevel__c" variant="label-hidden"></lightning-output-field>
                                    </div>
                                </td>
                            </template>
                            <td class="slds-col slds-size_2-of-12 slds-p-top_none wr-billingProfileColor slds-truncate">
                                <div class="slds-p-top_small">
                                    <lightning-output-field  field-name="EstimatedConsumption__c" variant="label-hidden"></lightning-output-field>
                                </div>
                            </td>
                            <td class="slds-col slds-size_2-of-12 slds-p-top_none">
                                <div class="slds-p-top_small">
                                    <lightning-output-field class="slds-truncate" field-name="Distributor__c" variant="label-hidden"></lightning-output-field>
                                </div>
                            </td>
                            <td class="slds-col slds-size_2-of-12 slds-p-top_none">
                                <div class="slds-p-top_small">
                                    <lightning-output-field class="slds-truncate" field-name="Trader__c" variant="label-hidden"></lightning-output-field>
                                </div>
                            </td>
                        </template>
                        <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                            <div class="slds-shrink-none slds-p-top_small">
                                <lightning-button-icon disabled={disabled} if:false={autoSave} variant="border-filled" size="small" icon-name="utility:edit"  onclick={editOppServiceItem}></lightning-button-icon>
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small" icon-name="utility:delete"  onclick={deleteOppServiceItem}></lightning-button-icon>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </lightning-record-view-form>
        </div>
    </template>
    <template if:false={isRow}>
    <div class={cardClass}>
        <div class="slds-text-align_left slds-p-around_none box_border">
            <article class="slds-box slds-box_x-small slds-tile slds-media wr-tileView">
                <div class="slds-media__figure">
                    <span class="slds-icon_container" >
                        <template if:true={isGas}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLGas}></use>
                            </svg>
                        </template>
                        <template if:true={isElectric}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLEle}></use>
                            </svg>
                        </template>
                    </span>
                </div>
                <lightning-record-view-form class="slds-page-header__col-details" record-id={recordId} object-api-name="OpportunityServiceItem__c">
                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                        <a class="slds-truncate slds-text-heading_small" title={label.code}>
                            <lightning-output-field field-name="ServicePointCode__c" variant="label-hidden"></lightning-output-field>
                        </a>
                        <div class="slds-shrink-none">
                            <lightning-button-icon disabled={disabled} if:false={autoSave}  variant="border-filled" size="small" icon-name="utility:edit"  onclick={editOppServiceItem}></lightning-button-icon>
                            <lightning-button-icon disabled={disabled} variant="border-filled" size="small" icon-name="utility:delete" onclick={deleteOppServiceItem}></lightning-button-icon>
                        </div>
                    </div>

                    <div if:true={showOsiTileFields} class="slds-tile__detail slds-grid slds-wrap slds-text-body_small">
                        <template for:each={viewOsiTileFields} for:item="osiFields">
                            <div class="slds-col slds-size_1-of-2" key={osiFields}>
                                <div class="slds-p-top_small">
                                    <lightning-output-field field-name={osiFields} variant="label-stacked"></lightning-output-field>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div if:false={showOsiTileFields} class="slds-tile__detail">
                        <div class="slds-grid slds-wrap slds-text-body_small">
                            <template if:true={isGas}>
                                <lightning-output-field class="slds-col slds-size_1-of-2" field-name="Pressure__c" variant="label-stacked"></lightning-output-field>
                                <lightning-output-field class="slds-col slds-size_1-of-2" field-name="PressureLevel__c" variant="label-stacked"></lightning-output-field>
                            </template>
                            <template if:true={isElectric}>
                                <lightning-output-field class="slds-col slds-size_1-of-2" field-name="Voltage__c" variant="label-stacked"></lightning-output-field>
                                <lightning-output-field class="slds-col slds-size_1-of-2" field-name="VoltageLevel__c" variant="label-stacked"></lightning-output-field>
                            </template>
                            <lightning-output-field class="slds-col slds-size_1-of-1" field-name="EstimatedConsumption__c" variant="label-stacked"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="Distributor__c" variant="label-stacked"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="Trader__c" variant="label-stacked"></lightning-output-field>
                        </div>
                    </div>
                </lightning-record-view-form>
            </article>
        </div>
    </div>
    </template>
    <template if:true={isOpenDelete}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__header">
                    <h1 id="header99" class="slds-text-heading_medium">{label.confirmation}</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <center>{label.confirmationQuestion}</center>
                </div>
                <div class="slds-modal__footer">
                    <center>
                        <lightning-button variant="destructive" class="slds-p-horizontal_small" onclick={closeModal} icon-name="utility:close" label={label.no}></lightning-button>
                        <lightning-button variant="brand" onclick={deletedItem} icon-name="utility:delete" label={label.yes}></lightning-button>
                    </center>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={isOpenEdit}>
        <div class="slds-modal slds-modal_large slds-backdrop slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-modal__header slds-p-around_none">
                    <lightning-button-icon title={label.close} size="large" icon-name="utility:close" variant="bare-inverse" class="slds-modal__close" onclick={closeModalEdit}>
                    </lightning-button-icon>
                </div>
                <div class="slds-modal__content slds-p-around_none">
                    <c-opportunity-service-item-edit read-only-address={readOnlyAddress} title = {defaultTileTitle} account-id={accountId} record-id={recordId} oncancel={closeModalEdit} onsave={closeModalEdit}></c-opportunity-service-item-edit>
                </div>
            </div>
        </div>
    </template>
</template>