<template>
    <template if:true={isGroup}>
        <tr key={row.key} >
            <td colspan='1'>
                <template if:true={multiselection}>
                    <lightning-input id="groupSelect" type="checkbox" onchange={handleGroupSelection} checked={row.selected}></lightning-input>
                </template>
            </td>
            <td colspan={colspan} class="slds-text-title_bold">
                <template if:true={row.data}>
                    <p class="slds-p-left_medium">{row.data}</p>
                </template>
                <template if:false={row.data}>
                    <p class="slds-p-left_medium">N/A</p>
                </template>
            </td>
        </tr>
        <template for:each={row.children} for:item='item'>
            <c-grouped-table-item multiselection={multiselection} key={item.key} row={item} columns={columns} ontoggleitem={propagateEvent}></c-grouped-table-item>
        </template>
    </template>

    <template if:false={isGroup}>
        <tr key={row.key} class="slds-hint-parent">
            <td>
                <!-- empty td for nesting element -->
            </td>
            <td>
                <template if:true={multiselection}>
                    <lightning-input type="checkbox" checked={row.selected} onchange={handleItemSelection}></lightning-input>
                </template>
                <template if:false={multiselection}>
                    <lightning-input type="radio" name="rowRadio" checked={row.selected} onchange={handleItemSelection}></lightning-input>
                </template>
            </td>
            <template for:each={columns} for:item='col'>
                <c-grouped-table-item-column key={col.key} object={row.data} column-key={col.key}></c-grouped-table-item-column>
            </template>
        </tr>
    </template>
    
</template>