<!--
 - Created by a.maksimov (alexey.maksimov@truesalessoft.com) on 10.07.20.
 -->

<!-- mroSupplyTile -->
<template>
    <div if:true={supplyId} class={cardClass}>
        <div class="slds-m-around_none slds-box slds-box_x-small slds-media slds-text-align_left wr-tileView">
            <div class="slds-media__body slds-p-left_xxx-small slds-m-vertical_x-small">
                <lightning-record-view-form record-id={supplyId} object-api-name="Supply__c">
                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                        <a class="slds-truncate slds-text-heading_small" title="Supply Code">
                            <lightning-output-field field-name="Name"
                                                    variant="label-hidden"></lightning-output-field>
                        </a>
                        <div class="slds-shrink-none">
                            <lightning-button-icon disabled={disabled} variant="border-filled" size="small"
                                                   icon-name="utility:delete"
                                                   onclick={showDeleteConfirmation} alternative-text="">
                            </lightning-button-icon>
                        </div>
                    </div>
                    <div class="slds-grid slds-wrap">
                        <template for:each={supplyFields} for:item="supplyField">
                            <div class="slds-col slds-size_1-of-2" key={supplyField}>
                                <lightning-output-field field-name={supplyField}
                                                        variant="label-stacked"></lightning-output-field>
                            </div>
                        </template>
                    </div>
                </lightning-record-view-form>
            </div>
        </div>
    </div>

    <div if:true={openConfirmModal}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__header">
                    <h1 id="header99" class="slds-text-heading_medium">{labels.confirmation}</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-align_absolute-center">{labels.confirmationQuestion}</div>
                </div>
                <div class="slds-modal__footer">
                    <div class="slds-align_absolute-center">
                        <lightning-button variant="destructive" class="slds-p-horizontal_small" onclick={closeModal}
                                          icon-name="utility:close"
                                          label={labels.no}></lightning-button>
                        <lightning-button variant="brand" onclick={deleteSupply} icon-name="utility:delete"
                                          label={labels.yes}></lightning-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>