<!--
 - Created by Boubacar Sow on 16/10/2020.
 -->

<!-- [MRO] Consumption Places -->
<template>
    <lightning-card variant="narrow" icon-name="standard:account">
        <h1 slot="title">Consumption Places</h1>
        <template if:false= {hideRetrieveConsumptionPlaces}>
            <div slot="actions">
                <lightning-button label={labels.retrieveConsumptionPlaces} title={labels.retrieveConsumptionPlaces} variant="brand"
                                  onclick={handleRetreiveConsumptionPlaces}></lightning-button>
            </div>
        </template>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <template if:true={consumptionPlacesList}>
            <lightning-datatable class="slds-table slds-table_bordered slds-table_col-bordered" hide-checkbox-column={hideCheckBox} key-field="consumptionPlacesId" data={consumptionPlacesList} columns={consumptionPlacesColumns}></lightning-datatable>
        </template>
        <template if:true= {showIllustrationEmptyStat}>
            <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
        </template>
    </lightning-card>
</template>