<!--
 - Created by Octavian on 10/4/2019.
 -->

<!-- [MRO] Invoice Inquiry Period Selection -->
<template>
    <lightning-card title="Invoices   ">
        <ol class="slds-setup-assistant">
            <!-- STEP 0 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.periodSelection}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <fieldset class="slds-form-element slds-form-element_compound">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__row">
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryStartDate"
                                                                         label="Start Date"
                                                                         required
                                                                         value={invoiceStartDateDefault}
                                                                         onchange={onHandleInvoiceInquiryStartDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryEndDate"
                                                                         label="End Date"
                                                                         readonly
                                                                         value={invoiceEndDate}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP 1 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.invoices}</h3>
                                                    <p>{labels.invoicesInTimeFrame}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <c-mro-invoices-inquiry start-date={invoiceStartDate}
                                                            end-date={invoiceEndDate}
                                                            billing-account-number={recordId}
                                                            customer-code={recordId}
                                                            default-sort-column="invoiceIssueDate"
                                                            default-sort-order-asc="true"
                                                            hide-confirm-selection="true">
                                    </c-mro-invoices-inquiry>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ol>
    </lightning-card>
</template>