<template>
    <div class="slds-card slds-p-around_xx-small slds-theme_shade">
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <div class="slds-m-bottom_small slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:account" size="medium" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-p-top_xx-small">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1><span class="slds-page-header__title slds-truncate" title={labels.account}>
                                        {labels.account}
                                    </span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <lightning-button-group class="slds-page-header__control">
                            <lightning-button class="slds-theme_neutral" variant="neutral" type="button"
                                                label={labels.back} onclick={onBack}>
                            </lightning-button>
                        </lightning-button-group>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <lightning-record-edit-form object-api-name={accountObject} onsubmit={handleSaveAccount} record-id={recordId} record-type-id={recordTypeId}>
            <div if:false={isEdit}>
                <lightning-card title={labels.selectAccountType} class="slds-align_absolute-center slds-box slds-m-horizontal_medium">
                    <lightning-radio-group name="RecordType Selection" label="" options={recordTypeOptions}
                                            value={recordTypeId} onchange={selectedAccountType} type="radio">
                    </lightning-radio-group>
                </lightning-card>
            </div>
            <div if:false={isPerson}>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_medium">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Name" data-id="Name" value={acc.Name} required
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <div class="slds-grid slds-grid_vertical-stretch slds-wrap">
                            <div class="slds-col slds-size_3-of-4">
                        <lightning-input-field field-name="VATNumber__c" data-id="VATNumber__c" required
                                               value={acc.VATNumber__c} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                            </div>
                             <div class="slds-col slds-size_1-of-4">
                                <lightning-input-field data-id="ForeignCompany__c" variant="label-stacked"
                                                       field-name="ForeignCompany__c" value={acc.ForeignCompany__c} onchange={handleChangeInput}></lightning-input-field>
                            </div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field  field-name="Phone" value={acc.Phone}
                                                onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Email__c" value={acc.Email__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="NACEReference__c" value={acc.NACEReference__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="ONRCCode__c" value={acc.ONRCCode__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <!--FF Customer Creation - Pack1/2 - Interface Check-->
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Fax" value={acc.Fax}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Website" value={acc.Website}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="VIP__c" value={acc.VIP__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="VATExempted__c" value={acc.VATExempted__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="BusinessType__c" value={acc.BusinessType__c} required
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="NumberOfEmployees" value={acc.NumberOfEmployees}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="AnnualRevenue" value={acc.AnnualRevenue}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="AnnualRevenueYear__c" value={acc.AnnualRevenueYear__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="UniversalService__c" value={acc.UniversalService__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="InsolvencyBankruptcyStatus__c" value={acc.InsolvencyBankruptcyStatus__c}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={showInsolvencyStartDate} class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="InsolvencyStartDate__c" value={acc.InsolvencyStartDate__c} required
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={showInsolvencyEndDate} class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="InsolvencyEndDate__c" value={acc.InsolvencyEndDate__c} required
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={showBankruptcyDate} class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="BankruptcyDate__c" value={acc.BankruptcyDate__c} required
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <!--FF Customer Creation - Pack1/2 - Interface Check-->
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div if:true={rolesOptionList} class="slds-col slds-size_1-of-2">
                        <div if:false={isUpdate}>
                            <div if:true={showRole}>
                                <lightning-combobox name="roles" label={labels.roles} class="slds-p-horizontal_xx-small"
                                                    placeholder="Choose role" value={rolesOptionList} onchange={handleOptionRolesChange}
                                                    options={rolesOptionList}></lightning-combobox>
                                <template for:each={selectedRoles} for:item="role">
                                    <lightning-pill key={role.value} label={role.label} value={role.value}
                                                    onremove={clear} name={role.value}>
                                    </lightning-pill>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div if:true={isPerson}>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_medium">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="FirstName" data-id="FirstName" required
                                               value={acc.FirstName} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="LastName" data-id="LastName" required
                                               value={acc.LastName} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id="NationalIdentityNumber__pc" required
                                               field-name="NationalIdentityNumber__pc" value={acc.NationalIdentityNumber__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id="ForeignCitizen__pc"
                                               field-name="ForeignCitizen__pc" value={acc.ForeignCitizen__pc}
                                               onchange={handleChangeInput}></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="PersonEmail" value={acc.PersonEmail}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Phone" value={acc.Phone} onchange={handleChangeInput}
                                               variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="PersonMobilePhone" value={acc.PersonMobilePhone} onchange={handleChangeInput}
                                               variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Gender__pc" value={acc.Gender__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="PersonBirthdate" value={acc.PersonBirthdate}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="BirthCity__pc" value={acc.BirthCity__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="ContactChannel__pc" value={acc.ContactChannel__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={rolesOptionList} class="slds-col slds-size_1-of-2">
                        <div if:false={isUpdate}>
                            <div if:true={showRole}>
                                <lightning-combobox name="roles" class="slds-p-horizontal_xx-small" label={labels.roles}
                                                    placeholder="Choose role" value={rolesOptionList} onchange={handleOptionRolesChange}
                                                    options={rolesOptionList}></lightning-combobox>
                                <template for:each={selectedRoles} for:item="role">
                                    <lightning-pill key={role.value} label={role.label} value={role.value} onremove={clear} name={role.value}>
                                    </lightning-pill>
                                </template>
                            </div>
                        </div>
                    </div>
                    <!--FF Customer Creation - Pack1/2 - Interface Check-->
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocumentType__pc" value={acc.IDDocumentType__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocIssuer__pc" value={acc.IDDocIssuer__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocumentSeries__pc" value={acc.IDDocumentSeries__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocumentNr__pc" value={acc.IDDocumentNr__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocEmissionDate__pc" value={acc.IDDocEmissionDate__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="IDDocValidityDate__pc" value={acc.IDDocValidityDate__pc}
                                               onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-1">
                        <hr class="slds-m-vertical_x-small">
                    </div>
                </div>
            </div>
            <!--FF Customer Creation - Pack1/2 - Interface Check-->
            <div if:true={addressForm}>
                <div>
                    <span class="slds-text-heading_medium slds-m-left_large">{labels.addressInformations}</span>
                </div>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_small">
                    <c-mro-address-form address={address} read-only={readOnly} address-prefix="Residential" object-api-name="Account"
                                        available-addresses={availableAddresses}
                                        onupdateaddressnormalized={disabledSaveButtonResiAddress}>
                    </c-mro-address-form>
                </div>
            </div>
            <div class="slds-card__footer">
                <lightning-button-group class="slds-m-top_small">
                    <template if:true={showCancel}>
                        <lightning-button onclick={cancel} variant="neutral" name="cancel" label={labels.cancel}></lightning-button>
                    </template>
                    <template if:true={isCreation}>
                        <lightning-button type="submit" icon-name="utility:save" variant="brand" name="save" label={labels.save}></lightning-button>
                    </template>
                    <template if:true={isUpdate}>
                        <lightning-button type="submit" variant="brand" name="Update" label={labels.update} onclick={updateAccount}></lightning-button>
                    </template>
                </lightning-button-group>
            </div>
        </lightning-record-edit-form>
    </div>
</template>