<!--
 - Created by David Diop on 07.11.2019.
 -->

<!-- Tax Subsidy Edit -->
<template>

    <div class="slds-modal slds-modal_large slds-backdrop slds-fade-in-open">
        <div class="slds-modal__container">
            <div class="slds-modal__header slds-p-around_none">
                <lightning-button-icon
                        size="large" icon-name="utility:close" variant="bare-inverse"
                        class="slds-modal__close" onclick={handleCancel}
                        alternative-text=""></lightning-button-icon>
            </div>
            <div class="slds-modal__content slds-m-bottom_none slds-m-around_none mro-modal-small">
                <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small"
                     role="banner">

                    <div class="slds-text-heading_medium slds-p-top_xx-small" >
                        <lightning-icon icon-name="utility:money" class="slds-p-around--x-small" size="small"></lightning-icon>{labels.taxChangeEdit}
                    </div>
                </div>

                <lightning-record-edit-form record-id={taxSubsidyId} object-api-name="TaxSubsidy__c"
                                            onsubmit={handleSubmit} onload={handleLoad}
                                            onsuccess={handleSuccess}>
                    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                              class="slds-modal slds-fade-in-open slds-backdrop">
                        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
                    </template>
                    <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
                        <div class="slds-col slds-size_1-of-3 slds-col--bump-right slds-col--bump-left">
                            <label class="slds-form-element__label slds-no-flex">{labels.subventionType}
                            </label>
                            <select class="slds-select" onchange={handleSubvention} disabled={isDisabled}>
                                <template if:true={showOption}>
                                    <template if:true={taxSubsidyId}>
                                        <option value={recordType}>{recordTypeName}</option>
                                    </template>
                                </template>
                                <template for:each={recordTypeList} for:item="record">
                                    <option key={record.value} value={record.value}>{record.label}</option>
                                </template>
                            </select>
                        </div>
                    </div>

                    <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
                        <div class="slds-col slds-size_1-of-2 " if:true={currentSupply} >
                            <lightning-input type="text" class="wr-required" value={currentSupply.Name} label="Supply"
                                             disabled></lightning-input>
                        </div>
                         <div class="slds-col slds-size_1-of-2 ">
                             <!-- disabled={isDisabled}-->
                            <lightning-input-field class="wr-required" onchange={handleDate} required={requiredStartDate} data-id="startDate"
                                                    field-name="StartDate__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2 ">
                            <lightning-input-field class="wr-required" onchange={handleDate} required={requiredEndDate} data-id="endDate" field-name="EndDate__c"></lightning-input-field>
                        </div>
                        <template if:true={danubeDelta}>
                            <div class="slds-col slds-size_1-of-2 ">
                                <label class="slds-form-element__label slds-no-flex">{labels.institution}
                                </label>
                                <select class="slds-select" disabled>
                                        <option key={defaultInstitution.Id} value={defaultInstitution.Id}>{defaultInstitution.Name}</option>
                                </select>
                            </div>
                            <div class="slds-col slds-size_1-of-2 ">
                                <lightning-input-field class="wr-required" disabled={isDisabled}  field-name="Families__c"></lightning-input-field>
                            </div>
                        </template>
                        <template if:true={heatingSubvention}>
                            <div class="slds-col slds-size_1-of-2 ">
                                <label class="slds-text-title slds-text-color_weak">{labels.amountCurrency}</label>
                                <lightning-input-field class="wr-required" variant="label-hidden"
                                                       field-name="AmountCurrency__c" disabled={isDisabled}></lightning-input-field>
                            </div>
                        </template>
                        <template if:true={showAmountEnergy}>
                            <div class="slds-col slds-size_1-of-2 ">
                                <label class="slds-text-title slds-text-color_weak">{labels.amountkWh}</label>
                                <lightning-input-field class="wr-required" variant="label-hidden"
                                                       field-name="AmountEnergy__c" disabled={isDisabled}></lightning-input-field>
                            </div>
                        </template>
                        <template if:true={showAmountPercent}>
                            <div class="slds-col slds-size_1-of-2 ">
                                <label class="slds-text-title slds-text-color_weak">{labels.amountPercent}</label>
                                <lightning-input-field class="wr-required" variant="label-hidden"
                                                       field-name="AmountPercent__c"  ></lightning-input-field>
                            </div>
                            <!--disabled={isDisabled}-->
                        </template>
                        <template if:true={showInstitutionFields}>
                            <template if:true={heatingSubvention}>
                                <div class="slds-col slds-size_1-of-2 ">
                                    <!--<lightning-combobox options={provinceList} label="province"
                                                        value={provinceList.label}
                                                        onchange={handleChangeProvince}
                                                        variant="label-stacked">
                                    </lightning-combobox>-->
                                    <label class="slds-form-element__label slds-no-flex">{labels.province}
                                    </label>
                                    <select class="slds-select" onchange={handleChangeProvince} disabled={isDisabled} >
                                        <template if:false={showAgence}>
                                            <option  value={provinceSelected}>{provinceSelected}</option>
                                        </template>
                                        <template for:each={provinceList} for:item="record">
                                            <option key={record.value} value={record.value}>{record.label}</option>
                                        </template>
                                    </select>
                                </div>
                                <!--<template if:true={agenceSelected}>
                                    <div class="slds-col slds-size_1-of-2 ">
                                        <lightning-input type="text" class="wr-required" value={agenceSelected.Name}
                                                         label="Institution"
                                                         disabled></lightning-input>
                                    </div>
                                </template>-->
                                <template if:true={provinceSelected}>
                                    <div class="slds-col slds-size_1-of-2 ">
                                        <label class="slds-form-element__label slds-no-flex">{labels.institution}
                                        </label>
                                        <select class="slds-select" onchange={handleChangeInstitution} disabled={isDisabled}>

                                            <template if:true={taxSubsidyId}>
                                                <template if:true={showInstitutionDefault}>
                                                    <option value={communeSelected}>{communeSelected.Name}</option>
                                                </template>
                                            </template>
                                            <!--<template if:false={communeSelected}>-->
                                                <template if:true={showInstitutionNone}>
                                                    <option value=''></option>
                                                </template>
                                           <!-- </template>-->
                                            <template for:each={agenceSelectedList} for:item="record">
                                                <option key={record.Id} value={record.Id}>{record.Name}</option>
                                            </template>
                                        </select>
                                    </div>
                                </template>
                                <template if:true={isAgenceList}>
                                    <div class="slds-col slds-size_1-of-2 ">
                                       <!-- <lightning-combobox options={localityList}
                                                            label="Locality"
                                                            value={localityList.label}
                                                            variant="label-stacked">
                                        </lightning-combobox>-->
                                        <label class="slds-form-element__label slds-no-flex">{labels.agence}
                                        </label>
                                        <select class="slds-select" onchange={handleChangeLocality} disabled>
                                            <template for:each={agenceList} for:item="record">
                                                <option key={record.value} value={record.value}>{record.label}</option>
                                            </template>
                                        </select>
                                    </div>
                                </template>
                            </template>
                            <template if:false= {heatingSubvention}>
                            <div class="slds-col slds-size_1-of-2 ">
                                <label class="slds-form-element__label slds-no-flex">{labels.institution}
                                </label>
                                <select class="slds-select" onchange={handleChangeInstitution} disabled={isDisabled}>
                                    <template if:true={institutionSelected}>
                                        <template if:true={showInstitution}>
                                            <option value={institutionSelected}>{institutionSelected.Name}</option>
                                        </template>
                                    </template>
                                    <template if:false={institutionSelected}>
                                        <template if:true={showInstitution}>
                                            <option value=''></option>
                                        </template>
                                    </template>
                                    <template if:false={showInstitutionMiner}>
                                        <template if:true={showInstitutionEnergy}>
                                            <template for:each={defaultInstitutionListEnergy} for:item="record">
                                                <option key={record.Id} value={record.Id}>{record.Name}</option>
                                            </template>
                                        </template>
                                        <template if:false={showInstitutionEnergy}>
                                            <template for:each={institutionsList} for:item="record">
                                                <option key={record.Id} value={record.Id}>{record.Name}</option>
                                            </template>
                                        </template>
                                    </template>
                                    <template if:true={showInstitutionMiner}>
                                        <template for:each={defaultInstitutionListMiner} for:item="record">
                                            <option key={record.Id} value={record.Id}>{record.AccountNumber} - {record.Name}</option>
                                        </template>
                                    </template>
                                </select>
                                <!--<lightning-input-field class="wr-required"
                                                       field-name="Institution__c"></lightning-input-field>-->
                            </div>
                            </template>
                        </template>
                    </div>
                    <template if:false={isCreditManagement}>
                        <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
                            <div class="slds-col slds-size_1-of-6">
                                <label>Retro Active Date</label>
                                <lightning-input type="toggle"
                                                 data-id="inputToggle"
                                                 onchange={handleRetroActiveDate}
                                                 checked={retroActive}
                                                 message-toggle-active=""
                                                 message-toggle-inactive="">
                                </lightning-input>
                            </div>
                            <div class="slds-col slds-size_2-of-6">
                                <template if:true={retroActive}>
                                    <lightning-input type="date" data-id="retroDate" label="Date">
                                    </lightning-input>
                                </template>
                            </div>
                        </div>
                    </template>
                    <!--<template if:false={isUpdateRequestType}>
                    </template>-->
                    <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                        <lightning-button variant="neutral" name="cancel" label={labels.cancel}
                                          onclick={handleCancel}></lightning-button>
                        <lightning-button class="slds-m-left_xx-small" variant="brand" onclick={handleSubmit}
                                          name="save"
                                          label={labels.save}></lightning-button>
                        <!--<template if:true={isUpdateRequestType}>
                            <lightning-button class="slds-m-left_xx-small" variant="brand"
                                              name="update" onclick={handleSubmit}
                                              label={labels.update}></lightning-button>
                        </template>-->
                    </div>
                </lightning-record-edit-form>
            </div>
        </div>
    </div>
</template>