<template>
    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
              class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-card>
        <template if:true={templateItems}>
            <template for:each={templateItems} for:item='item'>
                <div key={item.Id}>
                    <c-script-element element={item} input-data={inputJson}></c-script-element>
                </div>
            </template>
        </template>
        <template if:true={error}>
            <div class="slds-p-around_medium">
                <lightning-icon icon-name="utility:error"></lightning-icon>
                <div class="slds-p-around_small">
                    <p>{friendlyErrorMessage}</p>
                    <template if:true={errorMessages.length}>
                        <div class="slds-p-vertical_x-small">
                            <lightning-input label="Show Details" type="checkbox"
                                             onchange={handleCheckboxChange}></lightning-input>
                        </div>
                        <template if:true={viewDetails}>
                            <template for:each={errorMessages} for:item="message">
                                <p key={message} class="error-message">{message}</p>
                            </template>
                        </template>
                    </template>
                </div>
            </div>
        </template>
    </lightning-card>
</template>