<!--
 - Created by ferhati on 16/02/2020.
 -->

<!--        FF Activation/SwitchIn - Interface Check - Pack2-->
<template>
    <lightning-record-edit-form  object-api-name={objectName} record-id={recordId} onload={handleLoad} onerror={handleError}>
        <lightning-messages></lightning-messages>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item class="slds-hide" size="12">
                <lightning-input-field  field-name="RequestType__c" class="slds-hidden" variant="label-hidden"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item class={addClass}  size="6">
                <lightning-input-field  disabled={disabled}  onchange={handleSubProcess} required={isRequiredSubProcess} field-name="SubProcess__c" data-id="subProcess" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <template if:true={showExpirationDate}>
                <lightning-layout-item  size="6">
                    <lightning-input-field disabled={disabled} onchange={handleExpirationDate} field-name="ExpirationDate__c"  data-id="ExpirationDate" required variant="label-stacked"></lightning-input-field>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </lightning-record-edit-form>
</template>
<!--        FF Activation/SwitchIn - Interface Check - Pack2-->