<!--
 - Created by BADJI on 17/03/2020.
 - Updated by Goudiaby on 23/03/2020
 -->

<!-- Mro Payment Plan -->
<template>
    <lightning-card variant="narrow" icon-name="utility:money" title="Plan">
        <div slot="actions">
            <lightning-button if:false={showPlan} label="Retrieve Plan" title="Retrieve Plan"  variant="brand"
                              onclick={handleRetrievePlan}></lightning-button>
        </div>
        <template if:true={showPlan}>
            <lightning-datatable if:true={dataObj} hide-checkbox-column="false" key-field="id" data={dataObj} columns={columns}></lightning-datatable>
        </template>
    </lightning-card>
</template>