<template>
    <lightning-record-edit-form object-api-name={objectApiName} onerror={handleError}>
        <template if:true={fields}>
            <div class="slds-grid slds-wrap slds-gutters slds-p-horizontal_small">
                <template for:each={fields} for:item="f">
                    <template if:true={f.required}>
                        <lightning-input-field key={f.fieldPath} class="wr-required slds-col slds-size_1-of-2"
                            field-name={f.fieldPath} onchange={removeError} value={f.value} variant="label-stacked"></lightning-input-field>
                    </template>

                    <template if:false={f.required}>
                        <lightning-input-field key={f.fieldPath} class="slds-col slds-size_1-of-2"
                            field-name={f.fieldPath} onchange={removeError} value={f.value} variant="label-stacked">
                        </lightning-input-field>
                    </template>
                </template>
            </div>
        </template>
    </lightning-record-edit-form>
    <template if:true={error}>
        <lightning-card>
            <div class="slds-m-around_medium">
                <c-error-panel errors={error}></c-error-panel>
            </div>
        </lightning-card>
    </template>
</template>