<template>
    <div class="slds-card slds-p-around_xx-small slds-theme_shade">
        <div class="slds-m-bottom_small slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:search" size="medium" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <template if:true={individual}>
                                <div class="slds-text-body_small">{labels.relatedAccountList}</div>
                                <div class="slds-page-header__title slds-text-heading_small">{individual.Name}</div>
                            </template>
                            <template if:true={account}>
                                <div class="slds-text-body_small">{labels.relatedContactList}</div>
                                <div class="slds-page-header__title slds-text-heading_small">{account.Name}</div>
                            </template>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <lightning-button-group class="slds-page-header__control">
                            <lightning-button class="slds-theme_neutral" variant="neutral" type="button" label={labels.back}
                                              onclick={onBack}></lightning-button>
                        </lightning-button-group>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <ul>
            <template if:true={accountContactRelations} for:each={accountContactRelations} for:item="rel">
                <li key={rel.id} class="slds-item">
                    <c-mro-account-contact-relations-list-item account-contact-relation={rel} onselect={getSelectedAccountContactRelation} from={from}>
                    </c-mro-account-contact-relations-list-item>
                </li>
            </template>
            <li class="slds-item">
                <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
                    <div class="slds-media w-100">
                        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                            <lightning-icon icon-name="utility:add"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small h-4rem">
                            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small lh-4rem"
                                                      value={labels.createNewRelation}></lightning-formatted-text>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse slds-clearfix">
                            <div class="slds-align_absolute-center min-w-4rem h-4rem">
                                <lightning-button label={labels.New} title={labels.New} variant="brand" onclick={onNew}>
                                </lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>