<template>
    <template if:true={isRow}>
        <div if:true={caseId} class={cardClass}>
            <lightning-record-view-form record-id={caseId} object-api-name="Case">
                <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_striped">
                    <tbody>
                    <tr data-type="container" data-row-index="" class="slds-grid slds-hint-parent">
                        <td class="slds-col slds-size_1-of-12 slds-grid slds-p-around_none">
                            <div class="slds-media__figure slds-col slds-size_12-of-12">
                                <span class="slds-icon_container">
                                    <template if:true={isGas}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLGas}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isElectric}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLEle}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isService}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLService}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isBillingProfile}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLBPChange}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isContractMerge}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLContractMerge}></use>
                                        </svg>
                                    </template>
                                </span>
                            </div>
                            <!--  <div class=" slds-col slds-size_5-of-12 slds-p-top_small"><lightning-output-field field-name="Supply__c" variant="label-hidden"></lightning-output-field></div> -->

                        </td>
                        <template for:each={selectCaseTileFields} for:item="caseFields">
                            <td class="slds-col slds-size_2-of-12 slds-p-top_none" key={caseFields}>
                                <div class="slds-p-top_small">
                                    <lightning-output-field field-name={caseFields}
                                                            variant="label-hidden"></lightning-output-field>
                                </div>
                            </td>
                        </template>
                        <td class="slds-col slds-size_3-of-12 slds-p-top_none slds-p-left_x-large">
                            <div class="slds-shrink-none slds-p-top_small ">
                                <lightning-button-icon class={addClassHideEditIcon} disabled={disabled}
                                                       variant="border-filled" size="small" icon-name="utility:edit"
                                                       onclick={editCaseIcon} alternative-text="">
                                </lightning-button-icon>
                                <template if:true={enableClone}>
                                    <lightning-button-icon class={addClassHideEditIcon} disabled={disabled}
                                                           variant="border-filled" size="small" icon-name="utility:copy"
                                                           onclick={editCopyIcon} alternative-text="">
                                    </lightning-button-icon>
                                </template>
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small"
                                                       icon-name="utility:delete"
                                                       onclick={deleteCaseIcon} alternative-text="">
                                </lightning-button-icon>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </lightning-record-view-form>
        </div>
    </template>
    <template if:false={isRow}>
        <div if:true={caseId} class={cardClass}>
            <div class="slds-m-around_none slds-box slds-box_x-small slds-media slds-text-align_left wr-tileView">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                    <span class="slds-icon_container">
                        <template if:true={isGas}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLGas}></use>
                            </svg>
                        </template>
                        <template if:true={isElectric}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLEle}></use>
                            </svg>
                        </template>
                        <template if:true={isService}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLService}></use>
                            </svg>
                        </template>
                        <template if:true={isBillingProfile}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLBPChange}></use>
                            </svg>
                        </template>
                        <template if:true={isContractMerge}>
                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                <use xlink:href={svgURLContractMerge}></use>
                            </svg>
                        </template>
                    </span>
                </div>
                <div class="slds-media__body slds-p-left_xxx-small slds-m-vertical_x-small">
                    <lightning-record-view-form record-id={caseId} object-api-name="Case">
                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                            <a class="slds-truncate slds-text-heading_small" title={labels.caseNumber}>
                                <lightning-output-field field-name="Supply__c"
                                                        variant="label-hidden"></lightning-output-field>
                            </a>
                            <div class="slds-shrink-none">
                                <lightning-button-icon class={addClassHideEditIcon} disabled={disabled}
                                                       variant="border-filled" size="small" icon-name="utility:edit"
                                                       onclick={editCaseIcon} alternative-text="">
                                </lightning-button-icon>
                                <template if:true={enableClone}>
                                    <lightning-button-icon class={addClassHideEditIcon} disabled={disabled}
                                                           variant="border-filled" size="small" icon-name="utility:copy"
                                                           onclick={editCopyIcon} alternative-text="">
                                    </lightning-button-icon>
                                </template>
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small"
                                                       icon-name="utility:delete"
                                                       onclick={deleteCaseIcon} alternative-text="">
                                </lightning-button-icon>
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap">
                            <template for:each={selectCaseTileFields} for:item="caseFields">
                                <div class="slds-col slds-size_1-of-2" key={caseFields}>
                                    <lightning-output-field field-name={caseFields}
                                                            variant="label-stacked"></lightning-output-field>
                                </div>
                            </template>
                        </div>
                    </lightning-record-view-form>
                </div>
            </div>
        </div>
    </template>
    <div if:true={openConfirmModal}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__header">
                    <h1 id="header99" class="slds-text-heading_medium">{labels.confirmation}</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-align_absolute-center">{labels.confirmationQuestion}</div>
                </div>
                <div class="slds-modal__footer">
                    <div class="slds-align_absolute-center">
                        <lightning-button variant="destructive" class="slds-p-horizontal_small" onclick={closeModal}
                                          icon-name="utility:close"
                                          label={labels.no}></lightning-button>
                        <lightning-button variant="brand" onclick={deleteCaseFromTile} icon-name="utility:delete"
                                          label={labels.yes}></lightning-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <div if:true={openEditModal}>
        <div if:true={isConnectionWizard}>
            <div class="slds-modal slds-modal_large slds-backdrop slds-fade-in-open">
                <div class="slds-modal__container">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close}
                                               size="large" icon-name="utility:close" variant="bare-inverse"
                                               class="slds-modal__close" onclick={closeModal}
                                               alternative-text=""></lightning-button-icon>
                    </div>
                    <div class="slds-modal__content slds-m-bottom_none slds-m-around_none">
                        <c-mro-case-edit select-case-fields={caseFields} case-id={caseId} account-id={accountId} is-connection-wizard="true"
                                         is-clone-case = {isClone} dossier-id= {dossierId} oncasesuccess={handleSuccessCase}
                                         title = {defaultTileTitle} is-case-modal-by-address-form={isCaseModalByAddressForm}
                                         hide-commodity-button="true" case-address={caseAddress} onclose={handleClose}
                                         read-only-address={readOnlyAddress} show-header="true" origin-selected={originSelected}
                                         channel-selected={channelSelected}></c-mro-case-edit>
                    </div>
                </div>
            </div>
        </div>
        <div if:false={isConnectionWizard}>
            <div class="slds-modal slds-modal_small slds-backdrop slds-fade-in-open">
                <div class="slds-modal__container">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close}
                                               size="large" icon-name="utility:close" variant="bare-inverse"
                                               class="slds-modal__close" onclick={closeModal}
                                               alternative-text=""></lightning-button-icon>
                    </div>
                    <div class="slds-modal__content slds-m-bottom_none slds-m-around_none wr-modal-small ">
                        <c-mro-case-edit select-case-fields={caseFields}
                                         record-type-id={recordTypeId}
                                         case-id={caseId}
                                         case-list={caseList}
                                         onclose={handleClose}
                                         oncasesuccess={handleSuccess}
                                         is-non-disconnectable-wizard={isNonDisconnectableWizard}
                                         is-switch-out={isSwitchOut}
                                         is-deco-reco={isDecoReco}
                                         is-termination-wizard={isTerminationWizard}
                                         is-power-voltage={isPowerVoltage}
                                         is-meter-change={isMeterChange}
                                         is-authority-compensation={isAuthorityCompensation}
                                         max-date={maxDate}
                                         show-header="true"
                                         default-eff-date={defaultEffDate}
                                         connection-type ={connectionType}
                                         is-connection-wizard={isConnectionWizard}>
                        </c-mro-case-edit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>