<template>
    <div if:false={companyDivisionEnforced} class="slds-hide">
        <div if:false={companyDivisionId} >
            <c-company-division-selection onchanged={handleCompanyDivisionChanged}
            wizard-company-division-id={companyDivisionId}>
            </c-company-division-selection>
        </div>
    </div>
    <lightning-card>
        <div if:false={companyDivisionEnforced}>
            <div if:true={showCompanyDivisionAsFilter}>
                <div if:false={disabled}>
                    <div if:true={servicePointRecordTypeVal}>
                        <c-company-division-selection wizard-company-division-id={companyDivisionId} show-title="true"
                            onchanged={handleCompanyDivisionChanged}>
                        </c-company-division-selection>
                    </div>
                </div>
            </div>
        </div>
        <div if:true={emptySuppliesList}>
            <div if:true={showHeader}>
                <div class="slds-card__header slds-theme_shade slds-m-bottom--none slds-p-bottom_small slds-grid"
                    role="banner">
                    <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.supplySelectionLabel}</div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-p-around_none">
                <lightning-radio-group disabled={disabled} label="" options={recordTypeOptions}
                    value={servicePointRecordTypeVal} onchange={selectedSearchType} type="radio">
                </lightning-radio-group>
            </div>
            <div if:true={isServicePoint}>
                <div role="banner">
                    <lightning-input disabled={disabled} max-length="14" type="text" data-id="searchBoxServicePoint"
                        onchange={handleChangeServicePoint}></lightning-input>
                    <div class="slds-m-vertical_medium slds-align_absolute-center">
                        <lightning-button disabled={disabled} data-name="findSupplyByPointCode" type="submit"
                            label={labels.find} icon-name="utility:search" variant="brand"
                            onclick={findSupplyByServicePointSearch}></lightning-button>
                    </div>
                </div>
            </div>
            <div if:true={isContract}>
                <div class="slds-m-vertical_medium" role="banner">
                    <lightning-input class={addClass} type="text" data-name="ContractCode" label={labels.contractName}
                        onchange={handleChangeContractCode} disabled={disableContractCode}></lightning-input>
                    <lightning-input class={addClass} type="text" data-name="ContractNumber" label={labels.customerCode}
                        onchange={handleChangeContractCustomerCode} disabled={disableContractCustomerCode}>
                    </lightning-input>
                    <div class="slds-m-vertical_medium slds-align_absolute-center">
                        <lightning-button disabled={disabled} data-name="findSupplyByContract" type="submit"
                            label={labels.find} icon-name="utility:search" variant="brand"
                            onclick={findSupplyByContract}></lightning-button>
                    </div>
                </div>
            </div>
        </div>
        <div if:true={showSuppliesList}>
            <div class="slds-text-heading_medium slds-p-bottom_small">{labels.selectSupply}</div>
            <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-2 slds-p-top_large slds-p-left_none">
                    <div if:true={isContract}>
                        <div if:true={disableContractCode}>
                            <outputText class="slds-text-heading_small slds-text-color_success">{contractCustomerCode}
                            </outputText>
                        </div>
                        <div if:true={disableContractCustomerCode}>
                            <outputText class="slds-text-heading_small slds-text-color_success">{contractCode}
                            </outputText>
                        </div>
                    </div>
                    <div if:true={isServicePoint}>
                        <outputText class="slds-text-heading_small slds-text-color_success">{servicePointCode}
                        </outputText>
                    </div>
                    <div if:true={isBlank}>
                        <outputText class="slds-text-heading_x-medium slds-text-color_success">{labels.allSupplies}</outputText>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-2 slds-p-around_none">
                    <lightning-input class={addClass} type="text" data-name="supplySearch" label={labels.filter}
                        onchange={filterSearchResults}></lightning-input>
                </div>
            </div>
            <div class="slds-m-top_x-small slds-scrollable_y listView">
                <template for:each={supplyFieldsList} for:item="supplyCT">
                    <lightning-layout-item key={supplyCT.Id}>
                        <div class="slds-visual-picker slds-visual-picker_medium slds-size_1-of-1">
                            <input type="checkbox" id={supplyCT.Id} value={supplyCT.Id} onclick={filteredSupplyList} />
                            <label for={supplyCT.Id} class="slds-text-link_reset">
                                <span
                                    class="slds-box slds-p-around_none slds-visual-picker__text slds-align_absolute-center slds-m-bottom_small">
                                    <div
                                        class="slds-grid slds-wrap slds-text-body_small slds-truncate slds-text-align_left">
                                        <template for:each={viewFields} for:item="fields">
                                            <lightning-record-view-form class="slds-col slds-size_1-of-2" key={fields}
                                                record-id={supplyCT.Id} object-api-name="Supply__c">
                                                <lightning-output-field class="slds-truncate" field-name={fields} variant="label-stacked"></lightning-output-field>
                                            </lightning-record-view-form>
                                        </template>
                                    </div>
                                </span>
                                <span class="slds-icon_container slds-visual-picker__text-check">
                                    <lightning-icon variant="inverse" aria-hidden="true" class="slds-icon-text-check"
                                        icon-name="utility:check" size="x-small"></lightning-icon>
                                </span>
                            </label>
                        </div>
                    </lightning-layout-item>
                </template>
            </div>
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <template if:false={checkOnlyOneSupply}>
                    <lightning-button class="slds-p-horizontal_small" data-name="Select" label={labels.select}
                        icon-name="utility:multi_select_checkbox" variant="brand" disabled={disableSelectButton}
                        onclick={saveToSupplyListEvent}></lightning-button>
                </template>
                <lightning-button data-name="NewSearch" label={labels.newSearch} icon-name="utility:search"
                    variant="neutral" onclick={newSearch}></lightning-button>
            </div>
        </div>
    </lightning-card>
</template>