<!--
  @Component Name     : wizardHeader.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 25/07/2019 à 14:41:12
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    24/07/2019 à 16:23:07   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    <div class="slds-page-header slds-page-header_record-home">
        <div class="slds-page-header__row">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media">
                    <template if:true={dossierId}>
                        <div class="slds-media__figure slds-var-m-top_xx-small">
                            <lightning-icon icon-name="standard:connected_apps"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div>
                                    <p> {wizardLabel} </p>
                                    <h1
                                        class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                        {dossierName} </h1>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template if:false={dossierId}>
                        <div class="slds-media__figure slds-var-m-top_xx-small">
                            <lightning-icon icon-name="standard:opportunity" size="medium"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <template if:true={opportunityId}>
                                    <div>
                                        <p> {wizardLabel} </p>
                                        <h1
                                            class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                            {opportunityName} </h1>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <template if:false={hideCompanyDivision}>
                    <template if:true={companyDivisionName}>
                        <div>
                            <p> {label.companyDivision} </p>
                            <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                {companyDivisionName} </h1>
                        </div>
                    </template>
                </template>
            </div>
        </div>
        <div class="slds-page-header__row slds-page-header__row_gutters">
            <template if:true={accountId}>
                <lightning-record-view-form class="slds-page-header__col-details" record-id={accountId}
                    object-api-name="Account">
                    <ul class="slds-page-header__detail-row">
                        <li class="slds-page-header__detail-block" style="padding-left: 1rem;">
                            <div class="slds-form-element__label">{label.account}</div>
                            <div class="slds-text-link slds-form-element__control" onclick={navigateToAccount}
                                 title="Navigate to Customer">
                                <lightning-formatted-text value={accountName}></lightning-formatted-text>
                            </div>
                        </li>
                        <template if:true={isPerson}>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="PersonEmail" variant="label-stacked"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="NationalIdentityNumber__pc" variant="label-stacked">
                                </lightning-output-field>
                            </li>
                        </template>
                        <template if:false={isPerson}>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="Email__c" variant="label-stacked"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="VATNumber__c" variant="label-stacked"></lightning-output-field>
                            </li>
                        </template>
                    </ul>
                </lightning-record-view-form>
            </template>
        </div>
    </div>
</template>