<!--
 - Created by pes on 06/05/2020.
 -->

<!-- [MRO] Dynamic Form Section -->
<template>
    <lightning-card key={section.recordId}>
        <lightning-record-edit-form object-api-name={section.objectType} record-id={section.recordId}>
            <template if:true={title}>
                <div class="slds-box slds-box_xx-small slds-theme_shade slds-m-top_small slds-m-bottom_xx-small wr-border_none">
                    <h2 class="slds-text-heading_small slds-m-horizontal_x-small"><b>{title}</b></h2>
                </div>
            </template>
            <lightning-layout horizontal-align="spread" pull-to-boundary="small" multiple-rows="true">
                <template for:each={fields} for:item="field">
                    <template if:true={field.rendered}>
                        <lightning-layout-item key={field.fieldName} padding="horizontal-small" size={section.colSize}>
                            <template if:true={field.isReadOnly}>
                                <lightning-output-field field-name={field.fieldName}></lightning-output-field>
                            </template>
                            <template if:false={field.isReadOnly}>
                                <label class="slds-form-element__label">
                                    <template if:true={field.isRequired}>
                                        <abbr class="slds-required" title="required">* </abbr>
                                    </template>
                                    {field.label}
                                </label>
                                <lightning-input-field field-name={field.fieldName} required={field.isRequired} disabled={field.isDisabled} variant="label-hidden"></lightning-input-field>
                            </template>
                        </lightning-layout-item>
                    </template>
                </template>
            </lightning-layout>
        </lightning-record-edit-form>
    </lightning-card>
</template>