<!--
 - Created by tommasobolis on 04/06/2020.
 -->

<!-- Mro Connection Buttons -->
<template>
    <template if:true= {recordId}>
        <template if:true= {showLoadTarget}>
            <lightning-button label="Load Target"
                              title="Load Target"
                              variant="neutral"
                              class="slds-p-right--small"
                              onclick={loadTarget}></lightning-button>
        </template>
    </template>
</template>