/**
 * Created by ferhati on 11/06/2019.
 */
.wr-tileView {
   height: 9rem;
}

.wr-required {
    font-weight: 400;
}

.wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}