<template>
    <article class="slds-grid slds-wrap slds-gutters slds-p-around_small">

        <lightning-record-edit-form data-id={accountFormId} class="slds-col slds-size_4-of-4" object-api-name="Account" record-id={accountId} density="comfy" onsuccess={handleSuccess} onerror={handleError}>
            <template if:true={showAccountName}>
                <div class="slds-col slds-size_1-of-4">
                    <lightning-output-field  field-name="Name" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showFirstName}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field  field-name="FirstName" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showLastName}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field  field-name="LastName" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showCNP}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field field-name="NationalIdentityNumber__pc" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>

            <template if:true={showCompanyName}>
                <div class="slds-col slds-size_1-of-4">
                    <lightning-output-field  field-name="Company__c" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showVatNumber}>
                <lightning-output-field field-name="VATNumber__c" class="slds-col  slds-size_1-of-4 slds-float--left" variant="label-stacked">
                </lightning-output-field>

            </template>
            <template if:true={showVATExempted} >
                <lightning-output-field field-name="VATExempted__c" class="slds-col  slds-size_1-of-4 slds-float--left" variant="label-stacked">

                </lightning-output-field>

            </template>
            <template if:true={showOnrcCode}>
                <div class="slds-col slds-size_2-of-4 slds-clear">
                    <lightning-output-field field-name="ONRCCode__c" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showForeignCitizen}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field field-name="ForeignCitizen__pc" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showForeignCompany}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field field-name="ForeignCompany__c" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showResidentialAddress}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field field-name="ResidentialAddress__c" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>
            <template if:true={showNaceCode}>
                <div class="slds-col slds-size_2-of-4">
                    <lightning-output-field field-name="NACECode__c" variant="label-stacked">

                    </lightning-output-field>
                </div>
            </template>

            <template if:true={isChangeContactData}>
                <template if:true={isPersonAccount}>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field data-id={dataIdOldContactMobile} field-name="PersonMobilePhone" variant="label-stacked">

                        </lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field data-id={dataIdOldContactPhone} field-name="Phone" variant="label-stacked">

                        </lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field data-id={dataIdOldContactMail} field-name="PersonEmail"  variant="label-stacked">

                        </lightning-output-field>
                    </div>


                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactMobile} field-name="PersonMobilePhone" variant="label-stacked"  onchange={removeError}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactPhone} field-name="Phone" variant="label-stacked"  onchange={removeError}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactMail} field-name="PersonEmail"  variant="label-stacked" onchange={removeError}>

                        </lightning-input-field>
                    </div>
                </template>
                <template if:false={isPersonAccount}>
                    <template if:true={isBusinessAccountToEdit}>
                        <div class="slds-col slds-size_1-of-2 slds-hide">
                            <lightning-output-field data-id={dataIdOldContactMobile} field-name="MobilePhone" variant="label-stacked">

                            </lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-output-field data-id={dataIdOldContactPhone} field-name="Phone" variant="label-stacked">

                            </lightning-output-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-output-field data-id={dataIdOldContactMail} field-name="Email__c"  variant="label-stacked">

                            </lightning-output-field>
                        </div>

                        <div class="slds-col slds-size_1-of-2 slds-hide">
                            <lightning-input-field data-id={dataIdContactMobile}  field-name="MobilePhone" variant="label-stacked"  onchange={removeError}>

                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field data-id={dataIdContactPhone}  field-name="Phone" variant="label-stacked"  onchange={removeError}>

                            </lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field data-id={dataIdContactMail} field-name="Email__c"  variant="label-stacked" onchange={removeError}>

                            </lightning-input-field>
                        </div>
                    </template>
                </template>

            </template>
            <template if:true={isChangeOtherFields}>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_1-of-3">
                    <lightning-output-field   field-name="AnnualRevenueYear__c" variant="label-stacked" >

                    </lightning-output-field>
                </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-output-field   field-name="NumberOfEmployees" variant="label-stacked" >

                        </lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-output-field   field-name="Website" variant="label-stacked" >

                        </lightning-output-field>
                    </div>
                </div>
                <div class="slds-grid slds-wrap">
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-input-field  data-id="newAnnualRevenue" field-name="AnnualRevenueYear__c" variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-input-field data-id="newNumbOfEmployees" field-name="NumberOfEmployees" variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-input-field data-id="newWebsite" field-name="Website" variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                </div>
            </template>
        </lightning-record-edit-form>
        <lightning-record-edit-form data-id={contactFormId} class="slds-col slds-size_4-of-4" object-api-name="Contact" record-id={contactId} density="comfy" onsuccess={handleSuccess} onerror={handleError}>
            <template if:true={isChangeContactData}>
                <template if:true={contact}>
                <template if:false={isPersonAccount}>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field  data-id={dataIdOldContactMobile} field-name="MobilePhone" variant="label-stacked" >

                        </lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field data-id={dataIdOldContactPhone} field-name="Phone" variant="label-stacked">

                        </lightning-output-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-output-field data-id={dataIdOldContactMail} field-name="Email"  variant="label-stacked">

                        </lightning-output-field>
                    </div>

                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactMobile} field-name="MobilePhone" variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactPhone} field-name="Phone" variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field data-id={dataIdContactMail} field-name="Email"  variant="label-stacked" onchange={removeError} disabled={disabled}>

                        </lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input  type="checkbox" checked={isPrimaryContact} disabled={disabled} label={labels.setPrimary} variant="label-stacked" onchange={handleChangePrimaryContact}>
                        </lightning-input>
                    </div>

                </template>
                </template>
            </template>

        </lightning-record-edit-form>

    </article>
    <article class="slds-grid slds-wrap slds-gutters slds-p-around_small">
        <lightning-record-edit-form data-id={caseFormId} object-api-name="Case" record-id={caseId}  class="slds-col slds-size_4-of-4" onsubmit={handleSubmit}  onsuccess={handleSuccess} onload={handleLoad} onerror={handleError}>

            <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                      class="slds-modal slds-fade-in-open slds-backdrop">
                <lightning-spinner variant="brand" size="large" alternative-text="Loading">

                </lightning-spinner>
            </template>
            <template if:true={isChangeAccountName}>

                <div class="slds-col slds-size_1-of-2 slds-p-bottom--small">

                    <lightning-input-field  class=" wr-required"  data-id="firstName" field-name="AccountFirstName__c" value={accountFirstName} onchange={removeError}
                                            variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>


                <div class="slds-col slds-size_1-of-2 slds-p-bottom--small">
                    <lightning-input-field class="wr-required" data-id="lastName" field-name="AccountLastName__c" value={accountLastName} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>

            </template>
            <template if:true={isChangeCompanyName}>

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" data-id="accountName" field-name="AccountName__c" value={accountName} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>
            </template>
            <!--<template if:true={isChangeContactData}>

                <div class="slds-col slds-size_1-of-2" >

                    <lightning-input-field  data-id="contactMobile" field-name="AccountMobilePhone__c" value={contactMobile} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>

                <div class="slds-col slds-size_1-of-2 slds-clear" >

                    <lightning-input-field  data-id="contactPhone"  field-name="AccountPhone__c" value={contactPhone} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2 slds-clear" >

                    <lightning-input-field data-id="contactMail" field-name="AccountEmail__c" value={contactEmail} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}  >

                    </lightning-input-field>
                </div>
            </template>-->

            <template if:true={isChangeCNP}>

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" data-id="CNP" field-name="AccountNationalIdentityNumber__c" value={accountNationalIdentityNumber} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>
            </template>
            <template if:true={isChangeCUI}>
                    <lightning-input-field class="wr-required slds-col slds-size_1-of-4 slds-float--left" data-id="CUI" field-name="AccountVATNumber__c" value={accountVATNumber} onchange={removeError}
                                           variant="label-stacked"  >

                    </lightning-input-field>
                    <lightning-input-field class="slds-col slds-size_1-of-4 slds-float--left"  field-name="VATExempted__c"  value={accountVATExempted} onchange={handleChangeVatNumber}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
            </template>
            <template if:true={isChangeONRC}>

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" data-id="ONRC" field-name="AccountONRCCode__c" value={accountOnrcCode} onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>
            </template>
            <template if:true={isChangeCAEN}>

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" data-id="CAEN" field-name="AccountNACEReference__c" value={accountNaceCodeRef}  onchange={removeError}
                                           variant="label-stacked" disabled={disabled}>

                    </lightning-input-field>
                </div>
            </template>
        </lightning-record-edit-form>
        <template if:true={showAddressForm}>
            <div>
                <c-mro-address-form address={address}  address-prefix="Address" object-api-name="Case" onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonCaseAddress} readonly={readOnlyAddress}></c-mro-address-form>
            </div>
        </template>
    </article>
</template>