<!--
 - Created by Octavian on 1/29/2020.
 - Updated by Goudiaby on 15/04/2020
 -->

<!-- [MRO] Connection Type Selection -->
<template>
    <lightning-card variant="Narrow" title={title} icon-name={icon}>
        <lightning-record-edit-form object-api-name="Dossier__c" record-type-id={recordTypeId} record-id={dossierId}
                                    onerror={handleError}>
            <lightning-messages></lightning-messages>
            <div class="slds-hide">
                <lightning-input-field field-name="RequestType__c" disabled></lightning-input-field>
            </div>
            <lightning-input-field field-name="SubProcess__c" variant="label-hidden" onchange={handleChange}
                                   disabled={disabled}>
            </lightning-input-field>
        </lightning-record-edit-form>
        <!--<div class="slds-form-element  slds-p-top_none slds-p-around_x-small slds-p-left_small" >
            <lightning-combobox options={listConnectionType}
                                disabled={isReadonly} value={connectionTypeId} onchange={handleChange}
                                placeholder="Connection Type" variant="label-hidden" dropdown-alignment="auto" label="">
            </lightning-combobox>
        </div>-->
    </lightning-card>
</template>