/**
 * Created by goudiaby on 12/03/2019.
 */
.wr-required {
    font-weight: 400; 
}

.wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}

.wr-required > .slds-form-element .slds-dropdown-trigger {
    display : block;
}

.wr-required.none:before {
    content: "";
}