<!--
 - Created by Boubacar Sow on 03/04/2020.
 -->

<!-- [MRO] Meter Details Query Period Selection -->
<template>
    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
              class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-card title="Meter Details">
        <ol class="slds-setup-assistant">
            <!-- STEP of Selection Array Content-->
            <template if:true={showSelect}>
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">

                            <div class="slds-summary-detail__content">
                                <div class="slds-summary-detail__content">
                                    <div class="slds-container--medium slds-p-around--medium">
                                        <lightning-combobox
                                                name="progress"
                                                label={labels.checkSAPInterrogation}
                                                value={value}
                                                options={options}
                                                onchange={handleChange}></lightning-combobox>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            </template>
            <!-- STEP OF SUPPLY SELECTION -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        Supply Selection</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <template if:true={supplyList}>
                                        <lightning-datatable key-field="Id"
                                                             data={supplyList}
                                                             columns={supplyTableColumns}
                                                             max-row-selection="1"
                                                             selected-rows={selectedRows}
                                                             onrowselection={handleSupplySelection}>
                                        </lightning-datatable>
                                    </template>
                                    <template if:false={supplyList}>
                                        <p>No supplies found</p>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP OF PERIOD SELECTION -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.periodSelection}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <fieldset class="slds-form-element slds-form-element_compound">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__row">
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryStartDate"
                                                                         label="Start Date"
                                                                         required
                                                                         value={invoiceStartDateDefault}
                                                                         onchange={onHandleInvoiceInquiryStartDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryEndDate"
                                                                         label="End Date"
                                                                         readonly
                                                                         value={invoiceEndDate}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP OF METER DETAILS QUERY -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.meterDetails} </h3>
                                                    <p>{labels.meterDetailsQuery}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <c-mro-meter-details-query
                                            start-date={invoiceStartDate}
                                            type-index={value}
                                            end-date={invoiceEndDate}
                                            service-site-id={recordId}
                                            hide-confirm-selection="true"
                                            service-point-id={servicePointId}
                                            selected-supply-id={selectedSupplyId}
                                            selected-supply-record-type={selectedSupplyRecordType}
                                            disabled={disabled}>
                                    </c-mro-meter-details-query>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>

        </ol>
    </lightning-card>
</template>