<!-- Contract Account Selection -->
<template>
    <lightning-card>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom--none slds-p-bottom_small slds-grid"
                 role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">Contract Account</div>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-p-horizontal_none">
            <fieldset disabled={disabled} class={addClass} style="max-height:10rem">
                <div class="slds-form-element__control slds-m-vertical_x-small">
                    <div if:true={recordList}>
                        <template for:each={recordList} for:item="contractAccount" for:index="i">
                            <lightning-layout-item key={contractAccount.Id}>
                                <div if:true={i}>
                                    <hr class="slds-m-vertical_x-small">
                                </div>
                                <span class="slds-radio slds-m-left_x-small">
                                <input type="radio" id={contractAccount.Id} name="radioGroup" value={contractAccount.Id}
                                       onchange={handleStatusRadio} checked={contractAccount.selected} />
                                <label class="slds-radio__label" for={contractAccount.Id}>
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">{contractAccount.value}</span>
                                </label>
                            </span>
                            </lightning-layout-item>
                        </template>
                    </div>
                </div>
            </fieldset>
            <fieldset if:false={hideButtons} disabled={disabled}
                      class="slds-size_1-of-12 slds-grid slds-cell-wrap slds-grid_vertical slds-align_absolute-center">
                <div class="slds-align_absolute-center slds-p-bottom_small">
                    <button class="slds-button slds-button_brand wr-button-width" name="New"
                            onclick={newContractAccount}>{labels.New}
                    </button>
                </div>
                <div class={addButtonClass}>
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableEditButtonCA}
                            name="Edit" onclick={editContractAccount}>{labels.edit}
                    </button>
                </div>
                <div class="slds-align_absolute-center">
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableButtons}
                            name="Clone"
                            onclick={cloneContractAccount}>{labels.clone}
                    </button>
                </div>
            </fieldset>
        </div>
        <div if:true={showModalContract}>
            <div class="slds-modal slds-fade-in-open slds-modal_large slds-backdrop">
                <div class="slds-modal__container slds-p-horizontal_xx-large">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close} size="large" icon-name="utility:close"
                                               variant="bare-inverse" class="slds-modal__close" onclick={closeModal}>
                        </lightning-button-icon>
                    </div>
                    <div class="slds-modal__content slds-m-around_none">
                        <c-contract-account-edit account-id={accountId}
                                                 contract-account-record-id={contractAccountRecordId}
                                                 button-type={buttonType}
                                                 oncontractaccounteditclose={closeHandle}
                                                 oncontractaccounteditsave={saveContractAccountEdit}
                                                 show-header="true" company-division-id={companyDivisionId}>
                        </c-contract-account-edit>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>