<!--
 - Created by David diop on 18.11.2019.
 -->

<!-- Mro Tax Subsidy Tile -->
<template>

    <template if:true={isRow}>
        <div if:true={taxSubsidyId} >
            <lightning-record-view-form record-id={taxSubsidyId} object-api-name="TaxSubsidy__c">
                <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_striped">
                    <tbody>
                    <tr data-type="container" data-row-index="" class="slds-grid slds-hint-parent">
                        <td class="slds-col slds-size_1-of-12 slds-grid slds-p-around_none">
                            <div class="slds-media__figure slds-col slds-size_12-of-12">
                                <span class="slds-icon_container">
                                    <lightning-icon icon-name="utility:money" title="TaxSubsidy" ></lightning-icon>
                                </span>
                            </div>
                        </td>
                        <template for:each={selectCaseTileFields} for:item="caseFields">
                            <td class="slds-col slds-size_2-of-12 slds-p-top_none" key={caseFields}>
                                <div class="slds-p-top_small">
                                    <lightning-output-field field-name={caseFields}
                                                            variant="label-hidden"></lightning-output-field>
                                </div>
                            </td>
                        </template>
                        <td class="slds-col slds-size_3-of-12 slds-p-top_none slds-p-left_x-large">
                            <div class="slds-shrink-none slds-p-top_small ">
                                <template if:true={showDesactive}>
                                    <lightning-button-icon variant="border-filled" size="small"
                                                           icon-name="utility:close"
                                                           onclick={deleteTaxSubsidyIcon}
                                                           alternative-text=""></lightning-button-icon>
                                </template>
                                <template if:false={showDesactive}>
                                <lightning-button-icon   disabled={disabledButton}
                                                       variant="border-filled" size="small" icon-name="utility:edit"
                                                       onclick={editTaxSubsidyIcon} alternative-text="">
                                </lightning-button-icon>
                                <template if:false={isUpdateRequestType}>
                                    <lightning-button-icon variant="border-filled" size="small" disabled={disabledButton}
                                                           icon-name="utility:delete"
                                                           onclick={deleteTaxSubsidyIcon} alternative-text="" >
                                    </lightning-button-icon>
                                </template>
                                </template>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </lightning-record-view-form>
        </div>
    </template>
    <template if:false={isRow}>
        <div class={cardClass}>
            <div class="slds-m-around_none slds-box slds-box_x-small slds-media slds-text-align_left wr-tileView">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                    <span class="slds-icon_container">
                            <lightning-icon icon-name="utility:money" title="TaxSubsidy" ></lightning-icon>
                    </span>
                </div>
                <div class="slds-media__body slds-p-left_xxx-small slds-m-vertical_x-small">
                    <template if:true={taxSubsidyId}>
                        <lightning-record-view-form record-id={taxSubsidyId} object-api-name="TaxSubsidy__c">
                            <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                                <a class="slds-truncate slds-text-heading_small" title={labels.caseNumber}>
                                    <lightning-output-field field-name="Supply__c" variant="label-hidden"></lightning-output-field>
                                </a>
                                <div class="slds-shrink-none">
                                    <template if:true={showDesactive}>
                                        <lightning-button-icon variant="border-filled" size="small"
                                                               icon-name="utility:close"
                                                               onclick={deleteTaxSubsidyIcon}
                                                               alternative-text=""></lightning-button-icon>
                                    </template>
                                    <template if:false={showDesactive}>
                                    <lightning-button-icon variant="border-filled" size="small" icon-name="utility:edit"
                                                           onclick={editTaxSubsidyIcon} disabled={disabledButton} alternative-text=""></lightning-button-icon>
                                    <template if:false={isUpdateRequestType}>
                                        <lightning-button-icon variant="border-filled" size="small"
                                                               icon-name="utility:delete"
                                                               onclick={deleteTaxSubsidyIcon} disabled={disabledButton}
                                                               alternative-text=""></lightning-button-icon>
                                    </template>
                                    </template>
                                </div>
                            </div>
                            <div class="slds-grid slds-wrap">
                                <template for:each={selectCaseTileFields}  for:item="caseFields">
                                    <div class="slds-col slds-size_1-of-2" key={caseFields}>
                                        <lightning-output-field  field-name={caseFields} ></lightning-output-field>
                                    </div>
                                </template>
                            </div>
                        </lightning-record-view-form>
                    </template>
                </div>
            </div>
        </div>
    </template>
    <div if:true={openConfirmModal}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__header">
                    <h1 id="header99" class="slds-text-heading_medium">{labels.confirmation}</h1>
                </div>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-align_absolute-center">{labels.confirmationQuestion}</div>
                </div>
                <div class="slds-modal__footer">
                    <div class="slds-align_absolute-center">
                        <lightning-button variant="destructive" class="slds-p-horizontal_small"  onclick={closeModal} icon-name="utility:close"
                                          label={labels.no}></lightning-button>
                        <lightning-button variant="brand" onclick={deleteTaxFromTile}   icon-name="utility:delete"
                                          label={labels.yes}></lightning-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>