<template>
    <div if:true={showHeader}>
        <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small"
             role="banner">
            <div class="slds-text-heading_medium slds-p-top_xx-small">{defaultTitle}</div>
        </div>
    </div>

    <lightning-record-edit-form record-id={caseId} object-api-name="Case" onsubmit={handleSubmit}
                                onsuccess={handleSuccess} onload={handleLoad} onerror={handleError}>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
            <lightning-input-field data-name="AccountId" class="slds-hide" field-name="AccountId" variant="label-stacked"></lightning-input-field>
            <template for:each={caseFields} for:item="fields">
                <div class="slds-col slds-size_1-of-2" key={fields}>
                    <lightning-input-field class="wr-required" field-name={fields} onchange={removeError} variant="label-stacked"></lightning-input-field>
                </div>
            </template>
            <div if:true={isCaseModalByAddressForm} class="slds-col slds-size_1-of-2" >
                    <lightning-combobox  if:false={hideCommodity} class="wr-required" options={recordTypePicklist} value={selectedOption} label={labels.commodity} onchange={handleSelectOption} dropdown-alignment="auto"></lightning-combobox>
            </div>
            <div if:true={isCaseModalByAddressForm}>
                <div>
                    <c-address-form address={caseAddress} address-prefix="" object-api-name="Case" onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonCaseAddress} readonly={readOnlyAddress}></c-address-form>
                </div>
             </div>
        </div>
        <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
            <lightning-button variant="destructive" name="cancel" label={labels.cancel}
                              icon-name="utility:cancel_file_request"
                              onclick={handleCancel}></lightning-button>
            <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" name="save"
                              icon-name="utility:save"
                              label={labels.save}></lightning-button>
        </div>
    </lightning-record-edit-form>
</template>