<template>
    <div class="slds-card slds-p-around_xx-small">
        <lightning-layout horizontal-align="spread" class="slds-page-header">
            <lightning-layout-item>
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:search" size="medium" variant="inverse"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-p-top_xx-small">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1><span class="slds-page-header__title slds-truncate" title={labels.interlocutorSearchResults}>
                                    {labels.interlocutorSearchResults}
                                </span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <lightning-button-group class="slds-page-header__control">
                        <lightning-button label={labels.back} title={labels.back} onclick={onBack}></lightning-button>
                    </lightning-button-group>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <ul>
            <template for:each={interlocutorList} for:item="interlocutor">
                <li class="slds-item"  key={interlocutor.Id}>
                    <c-individual-list-item interlocutor={interlocutor} interaction-id={interactionId} onselect={onSelect}></c-individual-list-item>
                </li>
            </template>
            <li class="slds-item">
                <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
                    <div class="slds-media w-100">
                        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                            <lightning-icon icon-name="utility:add"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small h-4rem">
                            <lightning-formatted-text class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small lh-4rem"
                                                        value={labels.notInterlocutorInTheList}></lightning-formatted-text>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse slds-clearfix">
                            <div class="slds-align_absolute-center min-w-5rem h-4rem">
                                <lightning-button label={labels.New} title={labels.New} variant="brand" onclick={onNew}></lightning-button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>