<template >
    <template if:true={showSpinner}>
        <lightning-spinner data-id="spinner" variant="brand" size="large"></lightning-spinner>
    </template>
    <article if:true={filemetadataDTO} class="slds-card slds-card_boundary">
        <div class="slds-page-header slds-page-header_record-home">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="action:share_file" ></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <div>
                                        <span>{labels.fileMetadata}</span>
                                        <h1 class="slds-welcome-mat__tile-title slds-text-heading_small">
                                            {filemetadataDTO.name}
                                        </h1>
                                        <span>{labels.documentChecking}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__row slds-page-header__row_gutters">
                <div if:true={filemetadataDTO} class="slds-page-header__col-details">
                    <lightning-record-view-form object-api-name="FileMetadata__c" record-id={recordId}>
                        <ul class="slds-page-header__detail-row">
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="Title__c"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="Dossier__c"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="Case__c"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="CreatedDate"></lightning-output-field>
                            </li>
                        </ul>
                    </lightning-record-view-form>
                </div>
            </div>
        </div>
    </article>
    <article if:true={documentTypes} class="slds-card slds-card_boundary">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate slds-size_1-of-1">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:file"
                            variant="inverse" size="small">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h3 class="slds-page-header__title">
                            <span>{labels.validatableDocuments}</span>
                        </h3>
                    </div>
                </div>
            </header>
        </div>

        <div class="content">
            <ul class="slds-has-dividers_top-space">
                <template for:each={documentTypes} for:item="docType">
                    <li key={docType.id} class="slds-item">
                        <c-mro-validatable-document-check file-metadata-id={filemetadataDTO.id} document-type={docType}
                                                          disable-check-button={disableCheckButtons}
                                                          section-opened={oneSectionOpened} onchangesection={handleChangeSection}>
                        </c-mro-validatable-document-check>
                    </li>
                </template>
                <li  class="slds-item">
                    <div class="slds-clearfix">
                        <div class="slds-float_right">
                            <lightning-button  class="slds-m-top_small slds-m-right_small"
                                variant="neutral" name="notDone" label={labels.notDone} onclick={handleNotDoneClick}>
                            </lightning-button>
                            <lightning-button class="slds-m-top_small" disabled={disableDoneButton}
                                variant="brand" name="done" label={labels.done} onclick={handleDoneClick}>
                            </lightning-button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
    </article>
</template>