<!--
 - Created by giupastore on 31/08/2020.
 -->

<!-- Mro Deco Reco Notification -->

<template>
    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">Disconnection Notifications</h1>
        <div slot="actions">
            <lightning-button label="Retrieve Notifications" title="Retrieve Notifications" variant="brand"
                              onclick={handleRetrieveNotifications}></lightning-button>
        </div>
        <template if:true={notificationList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                   role="grid">
                <thead>
                <tr class="slds-line-height_reset">
                    <template if:false={hideSelectionColumn}>
                        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
                            <span class="slds-assistive-text">Choose a row</span>
                            <div class="slds-th__action slds-th__action_form">
                                <lightning-input type="checkbox" label="Select All" name="selectAllNotifications"
                                                 variant="label-hidden"
                                                 checked={selectAll} onchange={onSelectAll}></lightning-input>
                            </div>
                        </th>
                    </template>
                    <th aria-label="Notification Number" scope="col">
                        <div class="slds-truncate" title="Notification Number">Notification Number</div>
                    </th>
                    <th aria-label="Date" scope="col">
                        <div class="slds-truncate" title="Date">Date</div>
                    </th>
                    <th aria-label="Type" scope="col">
                        <div class="slds-truncate" title="Type">Type</div>
                    </th>
                    <th aria-label="Status" scope="col">
                        <div class="slds-truncate" title="Status">Status</div>
                    </th>
                    <th aria-label="Service Site" scope="col">
                        <div class="slds-truncate" title="Service Site">Service Site</div>
                    </th>
                    <th aria-label="Mail Bounce Reason" scope="col">
                        <div class="slds-truncate" title="Mail Bounce Reason">Mail Bounce Reason</div>
                    </th>
                    <th aria-label="Notification" scope="col">
                        <div class="slds-truncate" title="Notification">Notification</div>
                    </th>
                    <th aria-label="Notification Status" scope="col">
                        <div class="slds-truncate" title="Notification Status">Notification Status</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template for:each={notificationList} for:item="notification">
                    <tr key={notification.notificationId} aria-selected="false" class="slds-hint-parent">
                        <template if:false={hideSelectionColumn}>
                            <td class="slds-text-align_right" role="gridcell">
                                <lightning-input type="checkbox" label="Select" name="selectNotification" variant="label-hidden"
                                                 data-id={notification.notificationId}
                                                 checked={notification.selected} onchange={onSelect}></lightning-input>
                            </td>
                        </template>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.notificationNumber}>{notification.notificationNumber}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.notificationDate}>{notification.notificationDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.notificationType}>{notification.notificationType}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.sapStatus}>{notification.sapStatus}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.consumptionPlaceId}>{notification.consumptionPlaceId}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.returnReason}>{notification.returnReason}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.notificationId}>{notification.notificationId}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={notification.notificationStatus}>{notification.notificationStatus}</div>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
        <div slot="footer">
            <template if:false={hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </template>
        </div>
    </lightning-card>
</template>