<!--
 - Created by David Diop on 26.02.2020.
 -->

<!-- Mro Sending Channel Selection -->
<template>
    <lightning-record-edit-form record-id={dossierId} onsuccess={handleSuccess} object-api-name="Dossier__c"
                                onsubmit={handleSubmit} onload={handleLoad}>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <lightning-input-field required={isRequired} field-name="SendingChannel__c"
                                       disabled={disableSendingChannel}
                                       onchange={handleChangeChannel}>
                </lightning-input-field>
            </div>
            <template if:true={isEmail}>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field required={isRequired} field-name="Email__c"
                                           disabled={disabledInput}
                                           value={emailDefaultValue}>
                    </lightning-input-field>
                </div>
            </template>
            <template if:true={isSMS}>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field required={isRequired} field-name="Phone__c"
                                           disabled={disabledInput}
                                           value={phoneDefaultValue}>
                    </lightning-input-field>
                </div>
            </template>
            <template if:true={ismail}>
            <div class="slds-col slds-size_1-of-2">
                <lightning-combobox label={labels.address} options={addressDefaultValue}
                                    value={mailChannelTypeValue} onchange={handleSelectAddress}
                                    disabled={disabledInput} required data-id="comboBoxAddress">
                </lightning-combobox>
            </div>
                <lightning-layout-item class="slds-hide" size="12">
                    <lightning-input-field class ="slds-hidden" field-name="MailChannelType__c"></lightning-input-field>
                </lightning-layout-item>
            </template>
        </div>
        <div class=" slds-m-top_medium  slds-grid slds-align_absolute-center">
            <template if:true={showEditButton}>
                <lightning-button class="slds-m-left_xx-small" variant="brand"
                                  label={labels.edit} disabled={editFields} onclick={edit}></lightning-button>
            </template>
            <template if:true={showConfirmButton}>
                <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" name="save"
                                  label={labels.confirm} disabled={disabledInput}></lightning-button>
            </template>
        </div>
    </lightning-record-edit-form>
</template>