<template>
    <label if:false={hidden} class="slds-form-element__label" for="input">
        <template if:true={required}>
            <abbr class="slds-required" title="required">* </abbr>
        </template>
        {label}
    </label>
    <div class="slds-form-element__control">
        <input  id="input" name="input" list="valueList" disabled={readOnly} placeholder={placeholder} class="slds-input" type={inputType} value={_value} onchange={handleChange} oninput={handleChange}/>
        <datalist id="valueList" class="">
            <template if:true={hasValues} >
                <template for:each={values} for:item='item'>
                <option key={item.key} value={item.value}>{item.value}</option>
                </template>
            </template>
        </datalist>
    </div>
</template>