<!--
 - Created by vincenzo.scolavino on 26/03/2020.
 -->

<!-- Mro Nlcclc Case Tile -->
<template>
    <div class="spinner">
        <template if:true={spinner} role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
    </div>
    <template if:true={isRow}>
        <div class={cardClass}>
            <lightning-record-view-form record-id={recordId} object-api-name="Case">
                <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_striped">
                    <tbody>
                    <tr data-type="container" data-row-index="" class="slds-grid slds-hint-parent">
                        <td class="slds-col slds-size_3-of-12 slds-grid slds-p-around_none">
                            <div class="slds-media__figure slds-col slds-size_1-of-12">
                                <span class="slds-icon_container">
                                    <template if:true={isGas}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLGas}></use>
                                        </svg>
                                    </template>
                                    <template if:true={isElectric}>
                                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                            <use xlink:href={svgURLEle}></use>
                                        </svg>
                                    </template>
                                </span>
                            </div>
                            <div class="slds-col slds-size_4-of-12 slds-p-top_small">
                                <lightning-output-field field-name="Supply__c" variant="label-stacked"></lightning-output-field>
                            </div>
                        </td>
                        <td class="slds-col slds-size_2-of-12 slds-p-top_none">
                            <div class="slds-p-top_small">
                                <lightning-output-field field-name="CaseNumber" variant="label-stacked"></lightning-output-field>
                            </div>
                        </td>
                        <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                            <div class="slds-p-top_small">
                                <lightning-output-field field-name="Status" variant="label-stacked"></lightning-output-field>
                            </div>
                        </td>
                        <td class="slds-col slds-size_2-of-12 slds-p-top_none">
                            <div class="slds-p-top_small">
                                <lightning-output-field field-name="CompanyDivision__c" variant="label-stacked"></lightning-output-field>
                            </div>
                        </td>
                        <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                            <div class="slds-shrink-none slds-p-top_small">
                                <lightning-button-icon disabled={disabled} if:false={autoSave} variant="border-filled" size="small" icon-name="utility:edit"
                                                       onclick={editCase}></lightning-button-icon>
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small" icon-name="utility:delete" onclick={deleteCase}></lightning-button-icon>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </lightning-record-view-form>
        </div>
    </template>
    <template if:false={isRow}>
        <div class={cardClass}>
            <div class="slds-text-align_left slds-p-around_none box_border">
                <article class="slds-box slds-box_x-small slds-tile slds-media wr-tileView">
                    <div class="slds-media__figure">
                        <span class="slds-icon_container">
                            <template if:true={isGas}>
                                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href={svgURLGas}></use>
                                </svg>
                            </template>
                            <template if:true={isElectric}>
                                <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                    <use xlink:href={svgURLEle}></use>
                                </svg>
                            </template>
                        </span>
                    </div>
                    <lightning-record-edit-form data-id={editForm} class="slds-page-header__col-details" record-id={recordId} object-api-name="Case">
                        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                            <a class="slds-truncate slds-text-heading_small" title={label.code}>
                                <lightning-output-field field-name="Supply__c" variant="label-hidden"></lightning-output-field>
                            </a>
                            <div class="slds-shrink-none">
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small" icon-name="utility:edit"
                                                       onclick={editCase}></lightning-button-icon>
                                <lightning-button-icon disabled={disabled} variant="border-filled" size="small" icon-name="utility:delete" onclick={deleteCase}></lightning-button-icon>
                            </div>
                        </div>
                        <div class="slds-grid slds-wrap slds-text-body_small">
                            <lightning-output-field class="slds-col slds-size_1-of-2" field-name="CaseNumber" variant="label-stacked"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2" field-name="Status" variant="label-stacked"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2" field-name="CompanyDivision__c" variant="label-stacked"></lightning-output-field>
                            <!--<lightning-output-field class="slds-col slds-size_1-of-2" field-name="NLCCLC__c" variant="label-stacked" ></lightning-output-field>-->
                        </div>
                    </lightning-record-edit-form>
                </article>
            </div>
        </div>
    </template>
    <template if:true={isOpenEdit}>
        <div class="slds-modal slds-modal_large slds-backdrop slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-modal__header slds-p-around_none">
                    <lightning-button-icon title={label.close} size="large" icon-name="utility:close" variant="bare-inverse" class="slds-modal__close" onclick={closeModalEdit}>
                    </lightning-button-icon>
                </div>
                <div class="slds-modal__content slds-p-around_none">
                    <c-mro-n-l-c-c-l-c-case-edit title="Case Edit"
                                         case-id={recordId}
                                         account-id={accountId}
                                         dossier-id={dossierId}
                                         supply-id ={supplyId}
                                         company-division-id={companyDivisionId}
                                         edit-mode="true"
                                         incoming-nlc-clc-code={nlcClcCode}
                                         incoming-customer-notes ={customerNotes}
                                         incoming-service-point-code={servicePointCode}
                                         show-notes ="true"
                                         onnlcclcedited={handleNlcClcUpdated}
                                         show-modal={isOpenEdit}>
                    </c-mro-n-l-c-c-l-c-case-edit>
                </div>
            </div>
        </div>
    </template>

</template>