.THIS .w-100 {
    width: 100%;
}
.THIS .h-4rem {
    height: 4rem;
}
.THIS .l-h-4rem {
    line-height: 4rem;
}
.THIS .min-w-5rem {
    min-width: 5rem;
}
.THIS .h-5rem {
    height: 5rem;
}
.THIS .lh-5rem {
    line-height: 5rem;
}
.THIS .min-h-5rem {
    min-height: 5rem;
}

.THIS .mro-modal-small {
    overflow-y: scroll;
    overflow: initial;
}