<template>
    <template if:true={fileMetadataList}> 
        <div class="slds-card slds-theme_shade">
            <div class="slds-page-header">
                <lightning-layout horizontal-align="spread">
                    <lightning-layout-item>
                        <div class="slds-media">
                            <div class="slds-media__figure">
                                <lightning-icon icon-name="standard:search" size="medium" variant="slds-icon-inverse"></lightning-icon>
                            </div>
                            <div class="slds-media__body">
                                <div class="slds-page-header__title slds-text-heading_medium">{labels.recentUploadedDocuments}</div>
                            </div>
                            <div class="slds-media__figure slds-media__figure_reverse"></div>
                        </div>
                    </lightning-layout-item>
                </lightning-layout>
            </div>
            <div class="content">
                <ul>
                    <template for:each={fileMetadataList} for:item="fileMetadata">
                        <li key={fileMetadata} class="slds-item">
                            <c-file-metadata-list-item file-metadata-id={fileMetadata}>
                            </c-file-metadata-list-item>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
    </template>
</template>