<template>
    <div class="slds-card slds-p-around_xx-small slds-theme_shade">
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <div class="slds-m-bottom_small slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:account" size="medium" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-p-top_xx-small">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1><span class="slds-page-header__title slds-truncate" title={labels.account}>
                                        {labels.account}
                                    </span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <lightning-button-group class="slds-page-header__control">
                            <lightning-button class="slds-theme_neutral" variant="neutral" type="button"
                                                label={labels.back} onclick={onBack}>
                            </lightning-button>
                        </lightning-button-group>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <lightning-record-edit-form object-api-name={accountObject} onsubmit={handleSaveAccount} onerror={handleError} record-id={recordId}>
            <div if:false={isEdit}>
                <lightning-card title={labels.selectAccountType} class="slds-align_absolute-center slds-box slds-m-horizontal_medium">
                    <lightning-radio-group name="RecordType Selection" label="" options={recordTypeOptions}
                                            value={recordTypeId} onchange={selectedAccountType} type="radio">
                    </lightning-radio-group>
                </lightning-card>
            </div>
            <div if:false={isPerson}>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_medium">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="Name" data-id="Name" value={acc.Name}
                                                onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="VATNumber__c"  data-id="VATNumber__c"
                                                value={acc.VATNumber__c} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field  field-name="Phone" value={acc.Phone}
                                                onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="Email__c" value={acc.Email__c}
                                                onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={rolesOptionList} class="slds-col slds-size_1-of-2">
                        <div if:false={isUpdate}>
                            <div if:true={showRole}>
                                <lightning-combobox name="roles" label={labels.roles} class="slds-p-horizontal_xx-small"
                                                    placeholder="Choose role" value={rolesOptionList} onchange={handleOptionRolesChange}
                                                    options={rolesOptionList}></lightning-combobox>
                                <template for:each={selectedRoles} for:item="role">
                                    <lightning-pill key={role.value} label={role.label} value={role.value}
                                                    onremove={clear} name={role.value}>
                                    </lightning-pill>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div if:true={isPerson}>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_medium">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="FirstName" data-id="FirstName"
                                                value={acc.FirstName} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="LastName" data-id="LastName"
                                                value={acc.LastName} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field class="wr-required" field-name="NationalIdentityNumber__pc" data-id="NationalIdentityNumber__pc"
                                               value={acc.NationalIdentityNumber__pc} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="PersonEmail" value={acc.PersonEmail}
                                                onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field field-name="PersonMobilePhone" 
                                                value={acc.PersonMobilePhone} onchange={handleChangeInput} variant="label-stacked"></lightning-input-field>
                    </div>
                    <div if:true={rolesOptionList} class="slds-col slds-size_1-of-2">
                        <div if:false={isUpdate}>
                            <div if:true={showRole}>
                                <lightning-combobox name="roles" class="slds-p-horizontal_xx-small" label={labels.roles}
                                                    placeholder="Choose role" value={rolesOptionList} onchange={handleOptionRolesChange}
                                                    options={rolesOptionList}></lightning-combobox>
                                <template for:each={selectedRoles} for:item="role">
                                    <lightning-pill key={role.value} label={role.label} value={role.value} onremove={clear} name={role.value}>
                                    </lightning-pill>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div if:true={addressForm}>
                <div>
                    <span class="slds-text-heading_medium slds-m-left_large">{labels.addressInformations}</span>
                </div>
                <div class="slds-grid slds-grid_vertical-stretch slds-wrap slds-m-around_small">
                    <c-address-form address={address}  read-only={readOnly} address-prefix="Residential" object-api-name="Account"
                                    onupdateaddressnormalized={disabledSaveButtonResiAddress}
                                    >
                    </c-address-form>
                </div>
            </div>
            <div class="slds-card__footer">
                <lightning-button-group class="slds-m-top_small">
                    <template if:true={showCancel}>
                        <lightning-button onclick={cancel} variant="neutral" name="cancel" label={labels.cancel}></lightning-button>
                    </template>
                    <template if:true={isCreation}>
                        <lightning-button type="submit" icon-name="utility:save" variant="brand" name="save" label={labels.save}></lightning-button>
                    </template>
                    <template if:true={isUpdate}>
                        <lightning-button type="submit" variant="brand" name="Update" label={labels.update} onclick={updateAccount}></lightning-button>
                    </template>
                </lightning-button-group>
            </div>
        </lightning-record-edit-form>
    </div>
</template>