<template>
    <div class="spinner">
        <template if:true={spinner}>
            <lightning-spinner></lightning-spinner>
        </template>
    </div>
    <article class="slds-card">
        <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small" role="banner">
            <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.productOptionConfiguration}</div>
        </div>
        <!--Edit Record Form-->

        <lightning-record-edit-form record-id={productId} id="productOptionForm" object-api-name="ProductOption__c"
                                    onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={handleError}
                                    onload={handleLoad}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_none slds-p-around_small" role="list">
                <div class="slds-col slds-size_1-of-1">
                    <article class="slds-card slds-card_boundary slds-align_absolute-center slds-m-bottom_x-small">
                        <header class="slds-card__header slds-grid">
                            <div class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__body slds-truncate"><h2><span class="slds-text-heading_small">{labels.selectProductOptionType}</span>
                                </h2></div>
                            </div>
                        </header>
                        <div class="slds-card__body">
                            <lightning-radio-group name="RecordTypeSelection" label="" options={recordTypeOptions}
                                                   onchange={selectedRecordTypeId} value={recordTypeIdValue}
                                                   type="radio">
                            </lightning-radio-group>
                        </div>
                    </article>
                </div>
                <!--Fields-->
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="Label__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="Key__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="Name" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2"></div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name="Description__c" variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name="HelpText__c" variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <fieldset class="slds-form-element slds-form-element_stacked">
                        <lightning-input-field field-name="Required__c">
                        </lightning-input-field>
                        <lightning-input-field field-name="Selected__c">
                        </lightning-input-field>
                    </fieldset>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="Accessibility__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-1">
                    <hr class="style-one">
                </div>
                <!-- Record type Value -->
                <!-- Handle change Type value-->
                <div if:true={recordValue} class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="Type__c" onchange={handleChangeType} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div if:true={typeText} class="slds-col slds-size_1-of-2">
                    <lightning-input type="text" label={labels.defaultValue} placeholder={labels.typeText}
                                     onchange={handleChangeDefaultValue} value={dfValue}>
                    </lightning-input>
                </div>
                <div if:true={typeInt} class="slds-col slds-size_1-of-2">
                    <!--step="0.01"-->
                    <lightning-input-field field-name="DefaultValue__c" class="slds-hide">
                    </lightning-input-field>
                    <lightning-input label={labels.defaultValue} placeholder={labels.typeDouble} value={dfValue}
                                     onchange={handleChangeDefaultValue}>
                    </lightning-input>
                </div>
                <div if:true={typeCheckbox}>
                    <label class="slds-form-element__label" for="form-element-01">{labels.defaultValue}</label>
                    <div class="slds-form-element__control">
                        <lightning-input type="checkbox" checked={dfValue} label="">
                        </lightning-input>
                    </div>
                </div>
                <div if:true={typeDate} class="slds-col slds-size_1-of-2">
                    <lightning-input type="date" label={labels.defaultValue} placeholder={labels.typeHere}
                                     value={dfValue}>
                    </lightning-input>
                </div>
                <div if:true={typeInt} class="slds-col slds-size_1-of-2">
                    <lightning-input type="number" label={labels.min} onchange={handleChangeInputMin} value={minValue}
                                     min="0" class="minNumber" onblur={handleMinMaxChange}>
                    </lightning-input>
                    <lightning-input-field field-name="Min__c" class="slds-hide">
                    </lightning-input-field>
                </div>
                <div if:true={typeInt} class="slds-col slds-size_1-of-2">
                    <lightning-input type="number" label={labels.max} onchange={handleChangeInputMax} value={maxValue}
                                     max="9999" class="maxNumber" onblur={handleMinMaxChange}>
                    </lightning-input>
                    <lightning-input-field field-name="Max__c" class="slds-hide">
                    </lightning-input-field>
                </div>
                <div if:true={typeCollection} class="slds-col slds-size_1-of-1">
                    <hr class="style-two">
                </div>
                <div if:true={typeList} class="slds-col slds-size_1-of-2">
                    <lightning-combobox name="defaulValueList" data-id="defaultValueList" options={defaultOptionList}
                                        label={labels.defaultValue}
                                        value={dfValueList} onchange={handleChangeDefaultValue}>
                    </lightning-combobox>
                </div>
                <div if:true={typeKeyValue} class="slds-col slds-size_1-of-2">
                    <lightning-combobox name="defaulValueKey" data-id="defaultValueKey" options={defaultOptionKey}
                                        label={labels.defaultValue}
                                        value={dfValueKey} onchange={handleChangeDefaultValue}>
                    </lightning-combobox>
                </div>
                <div if:true={typeCollection} class="slds-grid slds-size_1-of-1">
                    <div if:true={typeKeyValue} class="slds-col slds-size_1-of-2}">
                        <lightning-input value={keyRow} label={labels.key} type="text" onchange={handleChangeInputKey}>
                        </lightning-input>
                    </div>
                    <div if:true={typeKeyValue} class="slds-col slds-size_1-of-2}">
                        <lightning-input value={valueRow} label={labels.value} type="text"
                                         onchange={handleChangeInputValue}>
                        </lightning-input>
                    </div>
                    <div if:true={typeList} class="slds-col slds-size_10-of-12">
                        <lightning-input type="text" value={valueRow} label={labels.value}
                                         onchange={handleChangeInputValue}>
                        </lightning-input>
                    </div>
                    <div class="slds-col slds-size_2-of-12 slds-align-bottom">
                        <lightning-button name={Add} icon-name="action:new" variant="brand" label={labels.add}
                                          title="Add"
                                          onclick={handleClickAddColumn}>
                        </lightning-button>
                    </div>
                </div>
                <!--{!(or(and(typeLisNotEmpty),and(typeKeyValue,myRowsKeyValues.length)) ? 'slds-col slds-size_1-of-1 slds-show' : 'slds-col slds-size_1-of-1 slds-hide')}-->
                <div class="slds-col slds-size_1-of-1">
                    <div if:true={typeKeyValue}>
                        <lightning-datatable data-id="dataTableKeyValue" columns={columnsKeyValue}
                                             data={myRowsKeyValues} key-field="id"
                                             hide-checkbox-column="true" resize-column-disabled="true"
                                             onrowaction={handleRowAction}>
                        </lightning-datatable>
                    </div>

                    <div if:true={typeList}>
                        <lightning-datatable data-id="dataTableValueList" columns={columnsList} data={myRowsList}
                                             key-field="id"
                                             hide-checkbox-column="true"
                                             onrowaction={handleRowAction}></lightning-datatable>
                    </div>
                </div>
                <!-- End Record type Value -->
                <!-- Record type Product -->
                <div if:true={recordProduct} class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="BundleProduct__c" value={bundleProductId}
                                           onchange={handleChangeBundle}>
                    </lightning-input-field>
                </div>
                <!-- End Record type Product -->
                <!-- Record type Family -->
                <div if:true={recordFamily} class="slds-col slds-size_1-of-2">
                    <lightning-combobox name={families} class="family" label={labels.selectFamilyProduct}
                                        value={familiesValue} required options={familiesOptionList}
                                        onchange={handleChange}>
                    </lightning-combobox>
                    <lightning-input-field field-name="Family__c" class="slds-hide">
                    </lightning-input-field>
                </div>
                <div if:true={recordFamily} class="slds-col slds-size_1-of-2">
                    <lightning-input type="number" label={labels.min} onchange={handleChangeInputMin} value={minValue}
                                     min="0" class="minNumber" onblur={handleMinMaxChange}>
                    </lightning-input>
                    <lightning-input-field field-name="Min__c" class="slds-hide">
                    </lightning-input-field>
                </div>
                <div if:true={recordFamily} class="slds-col slds-size_1-of-2">
                    <lightning-input type="number" label={labels.max} onchange={handleChangeInputMax} value={maxValue}
                                     max="9999" class="maxNumber" onblur={handleMinMaxChange}>
                    </lightning-input>
                    <lightning-input-field field-name="Max__c" class="slds-hide">
                    </lightning-input-field>
                </div>
            </div>
            <!-- End Record type Family -->
            <!--Footer to do check-->
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" name="cancel" label={labels.cancel}
                                  onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" name="save"
                                  label={labels.save}></lightning-button>
            </div>
        </lightning-record-edit-form>
    </article>
</template>