/**
 * Created by goudiaby on 18/02/2019.
 */
 .wr-required {
    font-weight: 400;
}

.wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}

.wr-required > .slds-form-element .slds-dropdown-trigger {
      display : block;
}

hr.style-one {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   margin-bottom: 16px;
   margin-top: 16px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
hr.style-two {
   border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   margin-bottom: 16px;
   margin-top: 32px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

button.button-right {
   margin-right: 16px;
}

button.slds-button.slds-button_icon-border-filled {
   background-color: #e6717c !important;
   margin-right: 16px;
   color: #fff !important;
}

.slds-th__action-button.slds-dropdown-trigger.slds-dropdown-trigger_click{
   display: none !important;
}