<template>
    <div if:true={recordId} class={cardClass}>
        <div class="slds-m-around_none slds-box slds-box_x-small slds-media slds-text-align_left wr-tileView">
            <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                <lightning-icon icon-name="standard:contract" alternative-text={labels.ContractAccount}></lightning-icon>
            </div>
            <div class="slds-media__body slds-p-left_xxx-small slds-m-vertical_x-small">
                <lightning-record-view-form record-id={recordId} object-api-name="ContractAccount__c" >
                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                        <a class="slds-truncate slds-text-heading_small" title={labels.ContractAccount}>
                            <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                        </a>
                        <div class="slds-shrink-none">
                            <lightning-button-icon disabled={disabled} value ={recordId} variant="border-filled" size="small" icon-name="utility:delete"
                                                   onclick={onDelete}></lightning-button-icon>
                        </div>
                    </div>
                    <div class="slds-tile__detail">
                        <div class="slds-grid slds-wrap slds-text-body_small">
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="BillingAccountNumber__c"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="BillingProfile__c"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="BillingFrequency__c"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="PaymentTerms__c"></lightning-output-field>
                        </div>
                    </div>
                </lightning-record-view-form>
            </div>
        </div>
    </div>
</template>