<template>
    <div class="slds-theme_default">
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-card slds-box_border slds-card__body slds-card__body_inner ">
                    <lightning-record-edit-form object-api-name="Consumption__c" onsubmit={handleSubmit}>
                        <div class="slds-hide">
                            <template if:true={consumption.hasOsi}>
                                <lightning-input-field required field-name="OpportunityServiceItem__c" value={consumption.OpportunityServiceItem__c}></lightning-input-field>
                            </template>
                            <template if:true={consumption.hasSupply}>
                                <lightning-input-field required field-name="Supply__c" value={consumption.Supply__c}></lightning-input-field>
                            </template>
                        </div>
                        <div class="slds-box_small slds-theme_shade">
                            {servicePointCode} - {consumption.Type__c}
                        </div>
                        <div class="slds-p-around--medium">
                            <div class="slds-grid">
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityJanuary__c" value={consumption.QuantityJanuary__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityFebruary__c" value={consumption.QuantityFebruary__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityMarch__c" value={consumption.QuantityMarch__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityApril__c" value={consumption.QuantityApril__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityMay__c" value={consumption.QuantityMay__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityJune__c" value={consumption.QuantityJune__c}></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-grid">
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityJuly__c" value={consumption.QuantityJuly__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityAugust__c" value={consumption.QuantityAugust__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantitySeptember__c" value={consumption.QuantitySeptember__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityOctober__c" value={consumption.QuantityOctober__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityNovember__c" value={consumption.QuantityNovember__c}></lightning-input-field>
                                </div>
                                <div class="slds-size--1-of-6">
                                    <lightning-input-field required field-name="QuantityDecember__c" value={consumption.QuantityDecember__c}></lightning-input-field>
                                </div>
                            </div>
                            <div class="slds-clearfix slds-p-top--small">
                                <lightning-button class="slds-float--right" variant="brand" type="submit" name={labels.save} label={labels.save}>
                                </lightning-button>
                                <lightning-button class="slds-float--right slds-p-right--x-small" variant="neutral" name={labels.cancel}
                                                  label={labels.cancel} onclick={handleCancel}></lightning-button>
                            </div>
                        </div>
                    </lightning-record-edit-form>
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>