/**
 * Created by David DIOP on 30.03.2020.
 */

.THIS {
}
.THIS .mro-modal-small {
    overflow-y: scroll;
    overflow: initial;
}
.THIS .w-100 {
    width: 100%;
}

.THIS .addClass {
    overflow-y: auto;
    max-height: 20em;
}
.THIS .addClass table {
    border-collapse: collapse;
    width: 100%;
}
.THIS .addClass thead tr th {
    position: sticky;
}
.THIS .addClass th{
    padding: 8px;
}
.THIS .addClass td {
    padding: 16px;
}
