<!--
  @Component Name     : billingProfileEdit.html
  @Description        : 
  @Author             : ChangeMeIn@UserSettingsUnder.SFDoc
  @Group              : 
  @Last Modified By   : ChangeMeIn@UserSettingsUnder.SFDoc
  @Last Modified On   : 18/06/2019 à 17:11:43
  @Modification Log   : 
  ==============================================================================
  Ver         Date                     Author      		      Modification
  ==============================================================================
  1.0    17/06/2019 à 16:06:11   ChangeMeIn@UserSettingsUnder.SFDoc     Initial Version
-->
<template>
    <div if:true={show}>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.billingProfileEdit}</div>
            </div>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <lightning-record-edit-form record-id={billingProfileRecordId} id="billingProfileEditForm"
                                    object-api-name="BillingProfile__c" onsubmit={handleSubmitBP} onerror={handleErrorBP}
                                    onsuccess={handleSuccessBP} onload={handleLoadBP} >

            <lightning-messages></lightning-messages>

            <div class="slds-grid slds-gutters slds-wrap slds-p-horizontal_small">
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required"  onchange={paymentMethodChange} data-id="paymentMethodVal" field-name="PaymentMethod__c" variant="label-stacked">
                    </lightning-input-field>
                </div>

                <div class="slds-col slds-size_1-of-2 slds-hide">
                    <lightning-input-field disabled={disabled} field-name="Account__c" value={accountId} variant="label-stacked">
                    </lightning-input-field>
                </div>

                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" data-id="myDeliveryChannel"
                                           onchange={deliveryChannelChange} field-name="DeliveryChannel__c" variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class={isIban} field-name="IBAN__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class={isFax} field-name="Fax__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class={isEmail} field-name="Email__c" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-grid slds-wrap  slds-m-top_small">
                    <div if:false={isNewView} class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium">
                        {labels.billingAddress}
                    </div>
                    <c-address-form address={address} read-only={readOnly} is-facultative={isRequiredAddressField} address-prefix="Billing" disable-normalize = {disableNormalize} is-normalize ={isNormalize} object-api-name="BillingProfile__c"
                                    onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonBillingAddress}>
                    </c-address-form>
                </div>
            </div>
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" data-name="cancel" label={labels.cancel}
                                  icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" variant="brand" type="submit" data-name="save"
                                  icon-name="utility:save" label={labels.save}></lightning-button>
            </div>
        </lightning-record-edit-form>
    </div>
</template>