<!--
 - Created by tommasobolis on 16/06/2020.
 -->

<!-- fileRelatedList -->
<template>
    <div class="forceRelatedListCardHeader slds-card_boundary">
        <lightning-card title="" icon-name={icon} >

            <b slot="title">{title} ({numOfRecords})</b>
            <lightning-button-icon
                    icon-name="utility:refresh"
                    alternative-text="Refresh"
                    title="Refresh"
                    slot="actions"
                    onclick={init}>
            </lightning-button-icon>

            <!-- BEGIN: Show spinner -->
            <template if:true={showSpinner}>
                <lightning-spinner title="Loading..." size="medium"></lightning-spinner>
            </template>
            <!-- END: Show spinner -->

            <!-- BEGIN: Table -->
            <div class="slds-border_top slds-text-body_regular slds-text-color_default">
                <template if:true={relatedList.records}>
                    <table class="slds-table slds-table_cell-buffer slds-table--fixed-layout">
                        <thead>
                        <tr class="slds-line-height_reset">
                            <template for:each={relatedList.columns} for:item="column" for:index="i">
                                <th scope="col" class="" style="cursor: pointer;" key={column.id}>
                                    <span title={column.fieldName} data-index={i} onclick={sortRelatedList}>
                                        <div class="slds-truncate" title={column.label}>
                                            {column.label}
                                            <div style="opacity:1;">
                                                <template if:true={IsSortDirectionEqualsASC}>
                                                    <lightning-icon data-name="sortRow" data-index={i} class="slds-hide slds-m-left_xxx-small" icon-name="utility:arrowup" alternative-text="arrowup" size="xx-small"></lightning-icon>
                                                </template>
                                                <template if:true={IsSortDirectionEqualsDESC}>
                                                    <lightning-icon data-name="sortRow" data-index={i} class="slds-hide slds-m-left_xxx-small" icon-name="utility:arrowdown" alternative-text="arrowdown" size="xx-small"></lightning-icon>
                                                </template>
                                            </div>
                                        </div>
                                    </span>
                                </th>
                            </template>
                            <!-- BEGIN: Preview/Sync Column -->
                            <th scope="col" class="" style="cursor: pointer;">
                                <span title="Action" data-index="99" >
                                    <div class="slds-truncate" title={labels.action}>

                                    </div>
                                </span>
                            </th>
                            <!-- END: Preview/Sync Column -->
                        </tr>
                        </thead>
                        <tbody class="slds-border--bottom">
                        <template for:each={shownPageRecordsList} for:item="record" for:index="i">
                            <tr class="slds-p-vertical--xxx-large" key={record.id}>
                                <template iterator:it={record.values}>

                                    <template if:true={it.first}>
                                        <td scope="row" class="slds-border--top slds-truncate" key={it.value.key}>
                                            <template if:true={enableNavigateToSObject}>
                                                <!-- <lightning-button name={record.id} variant="base" label={it.value} title={it.value} onclick={navigateToViewRecordPage} class="slds-m-left_x-small slds-truncate"></lightning-button> -->
                                                <a title={it.value.text} name={record.id} onclick={navigateToViewRecordPage} class="slds-truncate">{it.value.text}</a>
                                            </template>
                                            <template if:false={enableNavigateToSObject}>
                                                <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                            </template>
                                        </td>
                                    </template>

                                    <template if:false={it.first}>
                                        <td scope="row" class="slds-border--top slds-truncate" key={it.value.key}>
                                        <template if:true={enableNavigateToSObject}>
                                            <template if:true={it.value.id}>
                                                <a title={it.value.text} name={it.value.id} onclick={navigateToViewRecordPage} class="slds-truncate">{it.value.text}</a>
                                            </template>
                                            <template if:false={it.value.id}>
                                                <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                            </template>
                                        </template>
                                        <template if:false={enableNavigateToSObject}>
                                            <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                        </template>
                                        </td>
                                    </template>

                                </template>
                                <td scope="row" class="slds-border--top slds-align_absolute-center" style="min-height: 1.5rem;" key={record.id}>
                                    <template if:true={record.showDownload}>
										<a class="textUnderline" target="_blank" href={record.previewhref}>
                                            <lightning-icon icon-name="utility:preview" size="x-small"  alternative-text="Preview" title="Preview"></lightning-icon>
                                        </a>
										<template if:true={record.downloadhref}>
											<a class="textUnderline slds-m-left_xx-small" target="_blank" href={record.downloadhref}>
												<lightning-icon icon-name="utility:download" size="x-small"  alternative-text="Download" title="Download"></lightning-icon>
											</a>
										</template>
                                    </template>
                                    <template if:true={record.showSync}>
                                        <lightning-button-icon
                                                icon-name="utility:sync"
                                                variant="bare"
                                                onclick={handleSync}
                                                alternative-text="Sync"
                                                size="medium"
                                                id={record.id}>
                                        </lightning-button-icon>
                                    </template>
                                    <template if:true={record.showLink}>
                                        <a class="textUnderline" target="_blank" href={record.documentUrl}>
                                            <lightning-icon icon-name="utility:download" size="x-small"  alternative-text="Link" title="Link"></lightning-icon>
                                        </a>
                                    </template>
                                    <template if:true={record.showSpinner}>
                                        <div class="slds-spinner_container">
                                            <div role="status" class="slds-spinner slds-spinner_x-small">
                                                <span class="slds-assistive-text">Loading</span>
                                                <div class="slds-spinner__dot-a"></div>
                                                <div class="slds-spinner__dot-b"></div>
                                            </div>
                                        </div>
                                    </template>
                                    <template if:true={record.noAction}>
                                        <p title={record.id} class="slds-truncate"></p>
                                    </template>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <!-- END: TABLE -->

                    <!-- BEGIN: PAGINATION -->
                    <template if:true={showPagination}>
                        <div class="slds-p-top--medium slds-p-bottom--medium">
                            <c-mro-pagination-control onbuttonpageclick={buttonPageClickHandler}
                                                  current-page-number={currentPageNumber}
                                                  total-page-number={numOfPages}
                                                  total-record-number={numOfRecords}>
                            </c-mro-pagination-control>
                        </div>
                    </template>
                    <!-- END: PAGINATION -->
                </template>
            </div>
        </lightning-card>
    </div>
</template>