<!--
 - Created by Octavian on 6/16/2020.
 -->

<!-- [MRO] Billing Adjustment Information -->
<template>
    <div class="slds-grid slds-wrap slds-gutters slds-p-around_small" role="list">
        <div class="slds-col slds-size_1-of-1">
            <template if:true={isDiscoEnel}>
                <lightning-icon icon-name="utility:success" alternative-text="Valid" variant="Success" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
            </template>
            <template if:false={isDiscoEnel}>
                <lightning-icon icon-name="utility:warning" alternative-text="Valid" variant="Warning" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
            </template>
            <h2>{enelDistributorText}</h2>
        </div>
        <template for:each={checkBillReturnCodes} for:item="returnCode">
            <div key={returnCode} class="slds-col slds-size_1-of-1">
                <c-mro-check-bill-code-info return-code={returnCode} billing-adjustment-type={billingAdjustmentType}></c-mro-check-bill-code-info>
            </div>
        </template>
        <template if:true={showIndexValidity}>
            <div class="slds-col slds-size_1-of-1">
                <template if:true={isIndexValid}>
                    <lightning-icon icon-name="utility:success" alternative-text="Valid" variant="Success" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
                </template>
                <template if:false={isIndexValid}>
                    <lightning-icon icon-name="utility:warning" alternative-text="Valid" variant="Warning" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
                </template>
                <h2>{indexValidityText}</h2>
            </div>
        </template>
    </div>
</template>