/* .test {
    color: red;
}
.test [div].slds-file-selector_files {
    display: block !important;
}

.test .slds-file-selector_files .slds-file-selector__dropzone {
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    align-items: center !important;
    margin: auto !important;
    padding: 1rem !important;
}

.test .slds-file-selector_files .slds-file-selector__body {
    text-align: center !important;
}

.test .slds-file-selector_files .slds-file-selector__text {
    margin-top: .75rem !important;
} */