<!--
 - Created by a.maksimov (alexey.maksimov@truesalessoft.com) on 23.09.20.
 -->

<!-- mroTheftList -->
<template>
    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
              class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>

    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">Documents</h1>
        <div slot="actions">
            <lightning-button label={retrieveName} title={retrieveName} variant="brand" disabled={disabled}
                              onclick={handleRetrieveTheft}></lightning-button>
        </div>
        <template if:true={documentList}>
            <lightning-datatable key-field="processId"
                                 data={documentList}
                                 columns={documentTableColumns}
                                 hide-checkbox-column="true"
                                 onrowaction={handleDocumentRowAction}>
            </lightning-datatable>
        </template>
    </lightning-card>

    <div class="slds-p-around_medium"></div>

    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">Processes</h1>
        <div slot="actions">
        </div>
        <template if:true={processList}>
            <lightning-datatable key-field="processId"
                                 data={processList}
                                 columns={processTableColumns}
                                 hide-checkbox-column="true"
                                 onrowaction={handleProcessRowAction}>
            </lightning-datatable>
        </template>
    </lightning-card>

    <template if:true={showDetails}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeDetailList}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={detailsList}>
                        <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                               role="grid">
                            <thead>
                            <tr class="slds-line-height_reset">
                                <template for:each={detailColumns} for:item="detailColumn" for:index="index">
                                    <th aria-label="Invoice Id" scope="col" key={detailColumn.fieldName}>
                                        <div class="slds-truncate" title={detailColumn.label}>{detailColumn.label}</div>
                                    </th>
                                </template>
                                <template if:true={isDocumentDetail}>
                                    <th aria-label="Actions" scope="col" style="width:6rem">
                                        <div class="slds-truncate" title="Actions">Actions</div>
                                    </th>
                                </template>
                            </tr>
                            </thead>
                            <tbody>
                            <template for:each={detailsList} for:item="detailRecord" for:index="index">
                                <tr key={detailRecord} aria-selected="false" class="slds-hint-parent">
                                    <template for:each={detailRecord.columns} for:item="detailRecordColumn" for:index="index2">
                                        <td role="gridcell" key={detailRecordColumn}>
                                            <div class="slds-truncate" title={detailRecordColumn}>{detailRecordColumn}</div>
                                        </td>
                                    </template>
                                    <template if:true={isDocumentDetail}>
                                        <td role="gridcell">
                                            <div class="slds-truncate">
                                                <template if:true={detailRecord.showDownload}>
                                                    <a class="slds-m-left_xx-small" onclick={handleFilePreviewClick}
                                                       name={detailRecord.contentDocumentId}>
                                                        <lightning-icon icon-name="utility:preview" size="x-small"
                                                                        alternative-text="Preview"
                                                                        title="Preview"></lightning-icon>

                                                    </a>
                                                    <template if:true={detailRecord.downloadhref}>
                                                        <a class="textUnderline slds-m-left_x-small" target="_blank"
                                                           href={detailRecord.downloadhref}>
                                                            <lightning-icon icon-name="utility:download" size="x-small"
                                                                            alternative-text="Download"
                                                                            title="Download"></lightning-icon>
                                                        </a>
                                                    </template>
                                                </template>
                                                <template if:true={detailRecord.showSync}>
                                                    <lightning-button-icon
                                                            icon-name="utility:sync"
                                                            class="slds-m-left_xx-small"
                                                            variant="bare"
                                                            onclick={handleSync}
                                                            alternative-text="Sync"
                                                            size="medium"
                                                            data-id={detailRecord.documentId}
                                                            data-value={detailRecord.objectKey}
                                                            name={index}>
                                                    </lightning-button-icon>
                                                </template>
                                                <template if:true={detailRecord.showSpinner}>
                                                    <div class="slds-spinner_container">
                                                        <div role="status" class="slds-spinner slds-spinner_x-small">
                                                            <span class="slds-assistive-text">Loading</span>
                                                            <div class="slds-spinner__dot-a"></div>
                                                            <div class="slds-spinner__dot-b"></div>
                                                        </div>
                                                    </div>
                                                </template>
                                            </div>
                                        </td>
                                    </template>
                                </tr>
                            </template>
                            </tbody>
                        </table>
                        <!--<lightning-datatable key-field="processId"
                                             data={detailsList}
                                             columns={detailColumns}
                                             hide-checkbox-column="true"
                                             show-row-number-column="false">
                        </lightning-datatable>-->
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeDetailList}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>