<template>
    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">Invoice Inquiry</h1>
        <div slot="actions">
            <lightning-button label="Retrieve Invoices" title="Retrieve Invoices" variant="brand"
                              onclick={handleRetrieveInvoices}></lightning-button>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <template if:true={invoiceList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                   role="grid">
                <thead>
                <tr class="slds-line-height_reset">
                    <template if:false={hideSelectionColumn}>
                        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
                            <span class="slds-assistive-text">Choose a row</span>
                            <div class="slds-th__action slds-th__action_form">
                                <lightning-input type="checkbox" label="Select All" name="selectAllInvoices"
                                                 variant="label-hidden" disabled={disableSelectionColumn}
                                                 checked={selectAll} onchange={onSelectAll}></lightning-input>
                            </div>
                        </th>
                    </template>
                    <th aria-label="Invoice Id" scope="col">
                        <div class="slds-truncate" title="Invoice Id">Invoice Id</div>
                    </th>
                    <th aria-label="Invoice Serial Number" scope="col">
                        <div class="slds-truncate" title="Invoice Serial Number">Invoice Serial Number</div>
                    </th>
                    <th aria-label="Invoice Number" scope="col">
                        <div class="slds-truncate" title="Invoice Number">Invoice Number</div>
                    </th>
                    <th aria-label="Type" scope="col">
                        <div class="slds-truncate" title="Type">Type</div>
                    </th>
                    <th aria-label={labels.invoiceIssueDate} scope="col">
                        <div class="slds-truncate" title={labels.invoiceIssueDate}>{labels.invoiceIssueDate}</div>
                    </th>
                    <th aria-label={labels.invoiceDueDate} scope="col">
                        <div class="slds-truncate" title={labels.invoiceDueDate}>{labels.invoiceDueDate}</div>
                    </th>
                    <th aria-label="Value Without VAT" scope="col">
                        <div class="slds-truncate" title="Value Without VAT">Value Without VAT</div>
                    </th>
                    <template if:false={hideTVAColumn}>
                        <th aria-label={labels.totalAmount} scope="col" style="width:4rem">
                            <div class="slds-truncate" title="TVA">TVA %</div>
                        </th>
                    </template>
                    <th aria-label={labels.totalAmount} scope="col">
                        <div class="slds-truncate" title={labels.totalAmount}>{labels.totalAmount}</div>
                    </th>
                    <th aria-label="Balance" scope="col">
                        <div class="slds-truncate" title="Balance">Balance</div>
                    </th>
                    <th aria-label="Claimed" scope="col" style="width:4rem">
                        <div class="slds-truncate" title="Claimed">Claimed</div>
                    </th>
                    <th aria-label="Rescheduling" scope="col" style="width:4rem">
                        <div class="slds-truncate" title="Rescheduling">Rescheduling</div>
                    </th>
                    <th aria-label="Actions" scope="col" style="width:6rem">
                        <div class="slds-truncate" title="Actions">Actions</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template for:each={invoiceList} for:item="invoice" for:index="index">
                    <tr key={invoice.invoiceId} aria-selected="false" class="slds-hint-parent">
                        <template if:false={hideSelectionColumn}>
                            <td class="slds-text-align_right" role="gridcell">
                                <lightning-input type="checkbox" label="Select" disabled={invoice.disabled} name="selectInvoice" variant="label-hidden"
                                                 data-id={invoice.invoiceId}
                                                 checked={invoice.selected} onchange={onSelect}></lightning-input>
                            </td>
                        </template>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.invoiceId}>{invoice.invoiceId}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.invoiceId}>{invoice.invoiceSerialNumber}</div>
                        </td>
                        <th scope="row">
                            <div class="slds-truncate" title={invoice.invoiceNumber}>
                                <a href="javascript:void(0);" tabindex="0" data-id={invoice.invoiceId}
                                   onclick={showPayments}>{invoice.invoiceNumber}</a>
                            </div>
                        </th>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.invoiceType}>{invoice.invoiceType}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.invoiceIssueDate}>{invoice.invoiceIssueDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.invoiceDate}>{invoice.invoiceDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.valueWithoutVAT}>{invoice.valueWithoutVAT}</div>
                        </td>
                        <template if:false={hideTVAColumn}>
                            <td role="gridcell">
                                <div class="slds-truncate" title={invoice.tva}>{invoice.tva}</div>
                            </td>
                        </template>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.total}>{invoice.total}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.balance}>{invoice.balance}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.claimed}>{invoice.claimed}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={invoice.rescheduling}>{invoice.rescheduling}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate">
                                <lightning-button icon-name="utility:info" variant="base"
                                                  class="slds-m-left_xx-small"
                                                  data-id={invoice.invoiceId}
                                                  onclick={showInvoiceDetails}></lightning-button>
<!--                                <lightning-button label="Download" title="Downloads" variant="neutral"></lightning-button>-->
                                <template if:true={invoice.showDownload}>
                                    <a class="slds-m-left_xx-small" onclick={handleFilePreviewClick} name={invoice.contentDocumentId}>
                                        <lightning-icon icon-name="utility:preview" size="x-small"
                                                        alternative-text="Preview" title="Preview"></lightning-icon>

                                    </a>
                                    <template if:true={invoice.downloadhref}>
                                        <a class="textUnderline slds-m-left_x-small" target="_blank" href={invoice.downloadhref}>
                                            <lightning-icon icon-name="utility:download" size="x-small"  alternative-text="Download" title="Download"></lightning-icon>
                                        </a>
                                    </template>
                                </template>
                                <template if:true={invoice.showSync}>
                                    <lightning-button-icon
                                            icon-name="utility:sync"
                                            class="slds-m-left_xx-small"
                                            variant="bare"
                                            onclick={handleSync}
                                            alternative-text="Sync"
                                            size="medium"
                                            id={invoice.invoiceId}
                                            value={invoice.fileNetId}
                                            name={index}>
                                    </lightning-button-icon>
                                </template>
                                <template if:true={invoice.showSpinner}>
                                    <div class="slds-spinner_container">
                                        <div role="status" class="slds-spinner slds-spinner_x-small">
                                            <span class="slds-assistive-text">Loading</span>
                                            <div class="slds-spinner__dot-a"></div>
                                            <div class="slds-spinner__dot-b"></div>
                                        </div>
                                    </div>
                                </template>
                            </div>
                        </td>
                    </tr>
                    <template if:true={invoice.showPayments}>
                        <tr key={invoice.invoiceId}>
                            <td colspan="9">
                                <lightning-formatted-text value="Payment Details:"
                                                          class="slds-text-heading_medium slds-align_absolute-center">
                                </lightning-formatted-text>
                                <lightning-datatable key={invoice.invoiceId} key-field="invoiceId"
                                                     data={invoice.paymentList} columns={paymentColumns}
                                                     hide-checkbox-column="true">
                                </lightning-datatable>
                            </td>
                        </tr>
                    </template>
                </template>
                </tbody>
            </table>
        </template>
        <template if:true= {showIllustrationEmptyStat}>
            <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
        </template>

        <div slot="footer">
            <template if:false={hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </template>
        </div>
    </lightning-card>

    <template if:true={detailListRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeDetailList}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
                </header>
                <template if:true={showLoadingSpinnerDetail} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                          class="slds-modal slds-fade-in-open slds-backdrop">
                    <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
                </template>

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={invoiceDetailList}>
                        <table aria-multiselectable="true" class="slds-table slds-table_bordered" role="grid">
                            <thead>
                            <tr class="slds-line-height_reset">
                                <th aria-label="Invoice Number" scope="col">
                                    <div class="slds-truncate" title="Invoice Number">Current</div>
                                </th>
                                <th aria-label="Type" scope="col">
                                    <div class="slds-truncate" title="Type">{labels.totalAmount}</div>
                                </th>
                                <th aria-label={labels.invoiceDueDate} scope="col">
                                    <div class="slds-truncate" title={labels.invoiceDueDate}>Overdue</div>
                                </th>
                                <th aria-label={labels.penalties} scope="col">
                                    <div class="slds-truncate" title={labels.penalties}>{labels.penalties}</div>
                                </th>
                                <th aria-label={labels.ACTRecup} scope="col">
                                    <div class="slds-truncate" title={labels.ACTRecup}>{labels.ACTRecup}</div>
                                </th>
                                <th aria-label="Actions" scope="col">
                                    <div class="slds-truncate" title="Actions">Actions</div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <template for:each={invoiceDetailList} for:item="invoiceDetail">
                                <tr key={invoiceDetail.invoiceDetailId} aria-selected="false" class="slds-hint-parent">
                                    <th scope="row">
                                        <div class="slds-truncate" title={invoiceDetail.invoiceNumber}>
                                            {invoiceDetail.current}
                                        </div>
                                    </th>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title={invoiceDetail.total}>{invoiceDetail.total}
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title={invoiceDetail.overdue}>
                                            {invoiceDetail.overdue}
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title={invoiceDetail.penalties}>
                                            {invoiceDetail.penalties}
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate" title={invoiceDetail.ACTRecup}>
                                            {invoiceDetail.ACTRecup}
                                        </div>
                                    </td>
                                    <td role="gridcell">
                                        <div class="slds-truncate">
                                            <lightning-button label="Bill Details" title="Bill Details" variant="brand"
                                                              class="slds-p-right--small"
                                                              data-id={invoiceDetail.invoiceDetailId}
                                                              onclick={showBillDetails}></lightning-button>
                                            <lightning-button label="Meter Details" title="Meter Details"
                                                              variant="brand"
                                                              data-id={invoiceDetail.invoiceDetailId}
                                                              onclick={showMeterDetails}></lightning-button>
                                        </div>
                                    </td>
                                </tr>
                                <template if:true={invoiceDetail.showBillDetails}>
                                    <tr key={invoiceDetail.invoiceDetailId}>
                                        <td colspan="6">
                                            <lightning-formatted-text value="Bill Details:"
                                                                      class="slds-text-heading_medium slds-align_absolute-center">
                                            </lightning-formatted-text>
                                            <lightning-datatable key={invoiceDetail.invoiceDetailId}
                                                                 key-field="invoiceDetailId"
                                                                 data={invoiceDetail.billDetailList}
                                                                 columns={billDetailColumns}
                                                                 hide-checkbox-column="true">
                                            </lightning-datatable>
                                        </td>
                                    </tr>
                                </template>
                                <template if:true={invoiceDetail.showMeterDetails}>
                                    <tr key={invoiceDetail.invoiceDetailId}>
                                        <td colspan="6">
                                            <lightning-formatted-text value="Meter Details:"
                                                                      class="slds-text-heading_medium slds-align_absolute-center">
                                            </lightning-formatted-text>
                                            <lightning-datatable key={invoiceDetail.invoiceDetailId}
                                                                 key-field="invoiceDetailId"
                                                                 data={invoiceDetail.meterDetailList}
                                                                 columns={meterDetailColumns}
                                                                 hide-checkbox-column="true">
                                            </lightning-datatable>
                                        </td>
                                    </tr>
                                </template>
                            </template>

                            </tbody>
                        </table>
                    </template>
                    <template if:true= {showIllustrationEmptyStatDetail}>
                        <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeDetailList}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>