<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate slds-size_1-of-1">
                <div class="slds-media ">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:contract_line_item"
                            size="medium" variant="slds-icon-inverse">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-card__header-title">
                            <h3 class="slds-m-bottom_xxx-small">{documentType.name}</h3>
                            <div class="slds-col">
                                <span if:true={documentType.isMandatory} class="slds-badge slds-badge-warning">
                                    <span class="slds-badge__icon slds-badge__icon_left">
                                        <lightning-icon icon-name="utility:warning" 
                                            size="xx-small">
                                        </lightning-icon>
                                    </span>{labels.mandatory}
                                </span>
                                <span if:true={isValidated} class="slds-badge slds-badge-success">
                                    {labels.validated}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-panel slds-align_absolute-center slds-hide" style="margin-bottom: 12px;">
                    <div class="slds-popover slds-nubbin_bottom slds-popover_small slds-theme_error">
                        <div class="slds-popover__body slds-text-longform">
                            <div class="slds-media slds-media_center slds-has-flexi-truncate ">
                                <div class="slds-media__figure">
                                    <lightning-icon class="slds-m-right_x-small" icon-name="utility:warning"
                                        size="xx-small" variant="inverse">
                                    </lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <div class="slds-text-title slds-text-color_inverse" title={labels.requiredFields}>{labels.requiredFields}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-col_bump-left">
                    <lightning-button if:false={isOpen} disabled={sectionOpened} class="slds-m-top_small check-button"
                        variant="brand" name="check" label={labels.check} onclick={handleCheckClick}>
                    </lightning-button>
                    <lightning-button-group if:true={isOpen}>
                        <lightning-button if:true={documentType.documentItems} class="slds-m-top_small" variant="brand"
                            name="validate" label={labels.validate} onclick={handleValidateClick}>
                        </lightning-button>
                        <lightning-button class="slds-m-top_small" variant="neutral" name={labels.cancel} label={labels.cancel}
                            onclick={handleCancelClick}>
                        </lightning-button>
                    </lightning-button-group>
                </div>
            </header>
        </div>

        <div if:true={documentType.documentItems}
            class="slds-card__body slds-card__body_inner section-document slds-hide">
            <div if:true={validatableDocId} class="slds-grid slds-grid_vertical slds-m-bottom_none" role="list">
                <lightning-record-edit-form record-id={validatableDocId} object-api-name="ValidatableDocument__c"
                    onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={handleError}>
                    <lightning-messages></lightning-messages>
                    <lightning-input-field class="slds-hide" field-name="FileMetadata__c" data-id="FileMetadata" variant="label-stacked">
                    </lightning-input-field>
                    <template for:each={documentType.documentItems} for:item="docItem">
                        <div class="slds-col slds-m-around_x-small" key={docItem.id}>
                            <div if:true={docItem.validatableDocumentField} class="slds-size_1-of-2">
                                <div if:true={docItem.isMandatory}>
                                    <lightning-input-field class="wr-required"
                                        field-name={docItem.validatableDocumentField} onchange={removeError} variant="label-stacked">
                                    </lightning-input-field>
                                </div>
                                <div if:false={docItem.isMandatory}>
                                    <lightning-input-field field-name={docItem.validatableDocumentField} variant="label-stacked">
                                    </lightning-input-field>
                                </div>
                            </div>

                            <div if:false={docItem.validatableDocumentField} class="slds-form-element_stacked">
                                <lightning-input type="checkbox" label={docItem.name} data-id="allCheckboxes"
                                    onchange={removeError}>
                                </lightning-input>
                            </div>
                        </div>
                    </template>
                </lightning-record-edit-form>
            </div>
        </div>
        <div if:false={documentType.documentItems}
            class="slds-card__body slds-card__body_inner section-document slds-hide">
            <!--<p class="slds-align_absolute-center">{labels.noDocument}</p>-->
            <lightning-record-edit-form record-id={validatableDocId} object-api-name="ValidatableDocument__c"
                                        onsubmit={handleSubmit} onsuccess={handleSuccess} onerror={handleError}>
                <lightning-messages></lightning-messages>
                <lightning-input-field class="slds-hide" field-name="FileMetadata__c" data-id="FileMetadata" variant="label-stacked">
                </lightning-input-field>
            </lightning-record-edit-form>
        </div>
    </article>
</template>