.slds-badge-success {
    background-color:#027e46;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    color: hsl(0, 0%, 100%);
}

.slds-badge-warning {
    background-color:#ffb75d;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    color: hsl(0, 0%, 0%);
}

.fill-white svg {
    fill: hsl(0, 0%, 100%);
}

:host .wr-required {
    font-weight: 400; 
}

:host .wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem; 
    color: rgb(194, 57, 52);
    float: left;
}