<template>
    <div if:true={rendered}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1"
                 class="slds-modal slds-fade-in-open slds-modal_medium">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse" class="slds-modal__close" onclick={close}>
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{labels.productOptionConfiguration}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template for:each={productList} for:item="product">
                        <div class="slds-box slds-m-around_small" key={product.id} >
                            <lightning-formatted-text  value={product.name} class="slds-text-heading_medium" ></lightning-formatted-text>
                            <lightning-layout multiple-rows="true">
                                <template if:true={product.productOptions.length}>
                                    <template for:each={product.productOptions} for:item="option">
                                        <lightning-layout-item size="6" padding="around-small" key={option.key}>
                                            <c-product-option-applied-edit product-option-edit={option}></c-product-option-applied-edit>
                                        </lightning-layout-item>
                                    </template>
                                </template>
                                <template if:false={product.productOptions.length}>
                                    <span class="slds-text-color_weak">{labels.noProductConfigurator}</span>
                                </template>
                            </lightning-layout>
                        </div>
                    </template>
                    <template if:true={productFamilyList.length}>
                        <template for:each= {productFamilyList} for:item="productFamily" for:index="index">
                            <div class="slds-box slds-m-around_small" key={productFamily.max}>
                                <lightning-formatted-text value={nameProductFamily} class="slds-text-heading_medium"></lightning-formatted-text>
                                <span onclick={confirmSelection} data-row-index= {index}>
                                    <lightning-button variant="brand" label={labels.confirmation} title={labels.confirmation} class="slds-float_right">
                                    </lightning-button>
                                </span>
                                <div class="slds-scrollable_x table-container">
                                    <div class="table">
                                        <div class="tr">
                                            <template if:true={productFamily.productList.length} >
                                                <template for:each={productFamily.productList} for:item="product">
                                                    <div class="td" key={product.id} >
                                                        <c-product-tile product={product} button="toggle" ></c-product-tile>
                                                    </div>
                                                </template>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </template>
                </div>
                <footer class="slds-modal__footer slds-modal__footer_directional">
                    <lightning-button variant="neutral" label={labels.cancel} title={labels.cancel} onclick={close}></lightning-button>
                    <lightning-button variant="brand" label={labels.addDetails} title={labels.addDetails} onclick={addToCart}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>