<template>
    <lightning-card variant="Narrow">
        <div slot="title">
            <a class="" onclick={onDetailClick}>{product.name}</a>
        </div>
        <div class="slds-p-horizontal_small content">
            <div id="product-img">
                <template if:true={product.imageUrl}>
                    <img src={product.imageUrl} alt={labels.productImage} class="product-img slds-float_left slds-m-right_small" />
                </template>
                <template if:false={product.imageUrl}>
                    <template if:true={isUtility}>
                        <lightning-icon size="large" icon-name="standard:connected_apps" class="slds-float_left slds-m-right_small"></lightning-icon>
                    </template>
                    <template if:true={isGood}>
                        <lightning-icon size="large" icon-name="standard:canvas" class="slds-float_left slds-m-right_small"></lightning-icon>
                    </template>
                    <template if:true={isService}>
                        <lightning-icon size="large" icon-name="standard:bot_training" class="slds-float_left slds-m-right_small"></lightning-icon>
                    </template>
                </template>
            </div>
            <div>
                <template if:true={product.description}>
                    <lightning-formatted-text class="description" value={product.description}></lightning-formatted-text>
                </template>
                <template if:false={product.description}>
                    <div class="slds-align_absolute-center content">{labels.noDescriptionProvided}</div>
                </template>
            </div>
        </div>
        <div slot="footer">
            <template if:true={isAddDetails}>
                <lightning-button variant="neutral" label={labels.details} title={labels.details}  onclick={onDetailClick}></lightning-button>
                <lightning-button variant="brand" label={labels.add} title={labels.details} onclick={onAddClick}></lightning-button>
            </template>
            <template if:true={isToggle}>
                <lightning-input type="toggle" label="" name="productToggle" checked={product.selected} message-toggle-active="Selected" message-toggle-inactive="Click to select"></lightning-input>
            </template>
        </div>
    </lightning-card>
</template>