.product-img {
    width: 5rem;
    height: 5rem;
}

.content {
    min-height: 5rem;
}

.product-img svg {
    width: 5rem;
    height: 5rem;
}

.description {
    text-align: justify;
    text-justify: inter-word;
}