<template>
    <div class="spinner">
        <template if:true={spinner}>
            <lightning-spinner ></lightning-spinner>
        </template>
    </div>
    <!-- <template if:true={residentialAddress}>
        <span class="slds-col slds-align-middle slds-text-color_success slds-p-left_small">
            <a onclick={copyResidential}>
                {labels.CopyFromResidentialAddress}
            </a>
        </span>
    </template> -->
    <template if:true={addressesToCopy.length}>
        <span class="slds-col slds-align-middle slds-text-color_success slds-p-left_small">
            <a onclick={copyFromOther}>
                {labels.CopyFromOtherAddresses}
            </a>
        </span>
    </template>
    <slot onprivateitemregister={handleChildRegister}></slot>
    <div  class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
        <div if:true={isReadOnly}>
            <template if:true={isValidated}>
                <div class="slds-float_left slds-inline_icon_text slds-grid">
                    <lightning-icon icon-name="action:approval"  size="x-small"></lightning-icon>
                    <div class="slds-col slds-align-middle slds-text-color_success slds-p-left_x-small">
                        <p>
                            {label.addressValidated}
                        </p>
                    </div>
                </div>
            </template>
            <template if:true={isForced}>
                <div class="slds-float_left slds-inline_icon_text slds-grid">
                    <lightning-icon icon-name="utility:warning"  variant="warning" size="small"></lightning-icon>
                    <div class="slds-col slds-align-middle slds-text-color_success slds-p-left_x-small">
                        <p>
                            {labels.addressForced}
                        </p>
                    </div>
                </div>
            </template>
        </div>
        <slot name="buttons"></slot>
    </div>

    <template if:true={showAddressPicker}>
        <section role="dialog" tabindex="-1" aria-labelledby="addressSelectionHeader" aria-modal="true" aria-describedby="addressDetail" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon onclick={closeModal} icon-name="utility:close" class="slds-modal__close" variant="bare-inverse" ></lightning-button-icon>
                    <h2 id="addressSelectionHeader" class="slds-text-heading_medium slds-hyphenate">{labels.selectAddress}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="addressDetail">
                    <template for:each={addressesToCopy} for:item="wrapper">
                        <p key={wrapper.key} class="slds-text-heading_small">{wrapper.key}</p>
                        <template for:each={wrapper.values} for:item="addr">
                            <c-address-list-item key={addr.key} address={addr} onselect={handleSelection}></c-address-list-item>
                        </template>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" onclick={closeModal} label={labels.cancel}></lightning-button>
                    <lightning-button variant="brand" onclick={confirmAddress} label={labels.save}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>