<!--
 - Created by goudiaby on 11/09/2019.
 -->

<!-- Contract Selection -->
<template>
    <article class="slds-card">
        <div class="slds-grid slds-grid slds-wrap slds-p-horizontal_none">
            <div class={classGridNewContract}>
                <div data-id="selectedContractBox" class={classSelectedContractBox}>
                    <div class="slds-visual-picker slds-visual-picker_vertical slds-visual-picker_medium slds-size_1-of-1">
                        <input data-id="newContract" type="checkbox" id="newCntr" onclick={handleContractSelection}>
                        <label for="newCntr" class="slds-text-link_reset">
                            <span data-id="selectedContractIconBox"
                                  class="slds-box slds-visual-picker__text slds-align_absolute-center">
                                <span class="slds-icon_container">
                                    <lightning-icon icon-name="action:follow"
                                                    size="medium">
                                    </lightning-icon>
                                </span>
                            </span>
                            <span class="slds-text-title slds-text-title_bold slds-m-horizontal--xx-small">{newContractTitle}</span>
                            <span class="slds-icon_container slds-visual-picker__text-check">
                                <lightning-icon variant="inverse" class="slds-icon-text-check"
                                                icon-name="utility:check" size="x-small"></lightning-icon>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <template if:true={contracts} >
                <div class={classContractList} data-id="contractList" style="max-height:10rem;padding:0.5rem;">
                    <template for:each={contracts} for:item="con">
                        <fieldset disabled={disabled} key={con.Id}>
                            <div class="slds-grid slds-wrap slds-m-vertical_xxx-small slds-align_absolute-center">
                                <div class="slds-visual-picker slds-visual-picker_vertical slds-visual-picker_medium slds-size_1-of-1">
                                    <input type="checkbox" data-id="checkBoxContract" id={con.Id} value={con.Id}
                                           onclick={handleContractSelection}>
                                    <label for={con.Id} class="slds-text-link_reset" >
                                        <span class="slds-box slds-box_x-small slds-visual-picker__text slds-align_absolute-center">
                                            <div class="slds-size_1-of-1 slds-m-around_none slds-media slds-text-align_left slds-is-relative" title={con.Id}>
                                                <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                                                        <span class="slds-icon_container">
                                                            <lightning-icon icon-name="standard:contract"
                                                                            class="slds-icon_small slds-m-right_small"
                                                                            size="small">
                                                            </lightning-icon>
                                                        </span>
                                                    <span data-id="spanContractNumber" data-name={con.Id} class="slds-text-heading_small slds-m-bottom_x-small" onmouseover= {openHoverPanel} onmouseout= {closeHoverPanel}>{con.ContractNumber}</span>
                                                    <input data-id="inputContractNumber" type="hidden" value={con.Id}/>
                                                </div>
                                                <div class="slds-media__body slds-p-left_small slds-p-right--x-small">
                                                    <lightning-layout>
                                                         <lightning-layout-item padding="horizontal-large"
                                                                                flexibility="auto">
                                                             <div>
                                                                    <div class="slds-text-title_bold">{labels.Status} </div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.Status}</div>
                                                            </div>
                                                         </lightning-layout-item>
                                                        <lightning-layout-item padding="horizontal-large"
                                                                               flexibility="auto">
                                                             <div>
                                                                    <div class="slds-text-title_bold"> {labels.contractEndDate} </div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.EndDate}</div>
                                                            </div>
                                                         </lightning-layout-item>
                                                    </lightning-layout>
                                                </div>
                                            </div>
                                        </span>
                                        <span class="slds-icon_container slds-visual-picker__text-check">
                                            <lightning-icon variant="inverse" class="slds-icon-text-check"
                                                            icon-name="utility:check" size="x-small"></lightning-icon>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </template>
                </div>
            </template>
            <div class="slds-size_1-of-12 slds-m-horizontal_xx-small slds-align_absolute-center">
            </div>
        </div>

        <div class={classBoxCustomerSignDate}>
            <div class="slds-p-around_medium  slds-p-horizontal_none">
                <div class="slds-text-title_bold">{labels.customerSignedDate}</div>
                <div class="slds-size_6-of-12">
                    <lightning-input disabled={disableInput} type="date" variant="label-hidden"  data-id="signedDateField" onchange={handleSignedContract}
                                     value={customerSignedDate} label="" date-style="short" required>
                    </lightning-input>
                </div>
            </div>
        </div>
    </article>
</template>