<!--
 - Created by Boubacar Sow on 01/04/2020.
 -->

<!-- [MRO] Meter Details Query -->
<template>
    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
              class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">{labels.meterDetailsQuery}</h1>
        <div slot="actions">
            <lightning-button label="Retrieve Meter Details" title="Retrieve Meter Details" variant="brand"
                              onclick={handleRetrieveMeterDetails}  disabled={disabled}></lightning-button>
        </div>
        <template if:true={meterDetailsList}>
            <template if:true={isQueryIndex}>
                <div class="slds-scrollable">
                    <table aria-multiselectable="true" class="slds-table slds-table_bordered"
                           role="grid">
                        <thead>
                        <tr class="slds-line-height_reset">
                            <th class="slds-text-align_right" scope="col" style="width:3.25rem">
                                <span class="slds-assistive-text">Choose a row</span>
                                <div class="slds-th__action slds-th__action_form">
                                    <lightning-input type="checkbox" label={labels.selectAll} name="selectAllMeterDetails"
                                                     variant="label-hidden"
                                                     checked={selectAll} onchange={onSelectAll}></lightning-input>
                                </div>
                            </th>
                            <th aria-label={labels.servicePointCode} scope="col">
                                <div class="slds-truncate" title={labels.servicePointCode}>{labels.servicePointCode}</div>
                            </th>
                            <th aria-label={labels.enelTel} scope="col">
                                <div class="slds-truncate" title={labels.enelTel}>{labels.enelTel}</div>
                            </th>
                            <th aria-label={labels.readingRoute} scope="col">
                                <div class="slds-truncate" title={labels.readingRoute}>{labels.readingRoute}</div>
                            </th>
                            <th aria-label={labels.Status} scope="col">
                                <div class="slds-truncate" title={labels.Status}>{labels.Status}</div>
                            </th>
                            <th aria-label={labels.meterSerialNumber} scope="col">
                                <div class="slds-truncate" title={labels.meterSerialNumber}>{labels.meterSerialNumber}</div>
                            </th>
                            <th aria-label={labels.meterType} scope="col">
                                <div class="slds-truncate" title={labels.meterType}>{labels.meterType}</div>
                            </th>
                            <th aria-label={labels.smartMeter} scope="col">
                                <div class="slds-truncate" title={labels.smartMeter}>{labels.smartMeter}</div>
                            </th>
                            <th aria-label={labels.lastInvoiceDate} scope="col">
                                <div class="slds-truncate" title={labels.lastInvoiceDate}>{labels.lastInvoiceDate}</div>
                            </th>
                            <th aria-label={labels.lastInvoiceStatus} scope="col">
                                <div class="slds-truncate" title={labels.lastInvoiceStatus}>{labels.lastInvoiceStatus}</div>
                            </th>
                            <th aria-label={labels.lastInvoiceReading} scope="col">
                                <div class="slds-truncate" title={labels.lastInvoiceReading}>{labels.lastInvoiceReading}</div>
                            </th>
                            <th aria-label={labels.lastInvoiceReadingDate} scope="col">
                                <div class="slds-truncate" title={labels.lastInvoiceReadingDate}>{labels.lastInvoiceReadingDate}</div>
                            </th>
                            <th aria-label={labels.actions} scope="col">
                                <div class="slds-truncate" title={labels.actions}>{labels.actions}</div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <template for:each={meterDetailsList} for:item="meterDetails">
                            <tr key={meterDetails.meterDetailsId} aria-selected="false" class="slds-hint-parent">
                                <td class="slds-text-align_right" role="gridcell">
                                    <lightning-input type="checkbox" label="Select" name="selectMeterDetails" variant="label-hidden"
                                                     data-id={meterDetails.meterDetailsId}
                                                     checked={meterDetails.selected} onchange={onSelect}></lightning-input>
                                </td>
                                <th scope="row">
                                    <div class="slds-truncate" title={meterDetails.servicePointCode}>
                                        <a href="javascript:void(0);" tabindex="0" data-id={meterDetails.meterDetailsId}
                                           onclick={navigateToServiceSite}>{meterDetails.servicePointCode}</a>
                                    </div>
                                </th>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.enelTel}>{meterDetails.enelTel}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.readingRoute}>{meterDetails.readingRoute}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.status}>{meterDetails.status}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.meterDetailsId}>{meterDetails.meterDetailsId}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.meterType}>{meterDetails.meterType}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.smartMeter}>{meterDetails.smartMeter}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.lastInvoiceDate}>{meterDetails.lastInvoiceDate}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.lastInvoiceStatus}>{meterDetails.lastInvoiceStatus}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.lastInvoicedReading}>{meterDetails.lastInvoicedReading}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={meterDetails.lastInvoicedReadingDate}>{meterDetails.lastInvoicedReadingDate}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate">
                                        <lightning-button label="Details" title="Details" variant="neutral"
                                                          class="slds-p-right--small"
                                                          data-id={meterDetails.meterDetailsId}
                                                          onclick={showDetails}></lightning-button>
                                    </div>
                                </td>
                            </tr>
                        </template>

                        </tbody>
                    </table>
                </div>
            </template>
            <template if:false={isQueryIndex}>
                <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                       role="grid">
                    <thead>
                    <tr class="slds-line-height_reset">
                        <!--<th class="slds-text-align_right" scope="col" style="width:3.25rem">
                            <span class="slds-assistive-text">Choose a row</span>
                            <div class="slds-th__action slds-th__action_form">
                                <lightning-input type="checkbox" label={labels.selectAll} name="selectAllMeterDetails"
                                                 variant="label-hidden"
                                                 checked={selectAll} onchange={onSelectAll}></lightning-input>
                            </div>
                        </th>-->
                        <th aria-label={labels.serialNumber} scope="col">
                            <div class="slds-truncate" title={labels.serialNumber}>{labels.serialNumber}</div>
                        </th>
                        <th aria-label={labels.readingDate} scope="col">
                            <div class="slds-truncate" title={labels.readingDate}>{labels.readingDate}</div>
                        </th>
                        <th aria-label={labels.index} scope="col">
                            <div class="slds-truncate" title={labels.index}>{labels.index}</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <template for:each={meterDetailsList} for:item="meterDetails">
                        <tr key={meterDetails.meterSerialNumber} aria-selected="false" class="slds-hint-parent">
                            <!--<td class="slds-text-align_right" role="gridcell">
                                <lightning-input type="checkbox" label="Select" name="selectMeterDetails" variant="label-hidden"
                                                 data-id={meterDetails.meterDetailsId}
                                                 checked={meterDetails.selected} onchange={onSelect}></lightning-input>
                            </td>
                            <th scope="row">
                                <div class="slds-truncate" title={meterDetails.servicePointCode}>
                                    <a href="javascript:void(0);" tabindex="0" data-id={meterDetails.meterDetailsId}
                                       onclick={navigateToServiceSite}>{meterDetails.servicePointCode}</a>
                                </div>
                            </th>-->
                            <td role="gridcell">
                                <div class="slds-truncate" title={meterDetails.meterSerialNumber}>{meterDetails.meterSerialNumber}</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title={meterDetails.readingDate}>{meterDetails.readingDate}</div>
                            </td>
                            <td role="gridcell">
                                <div class="slds-truncate" title={meterDetails.index}>{meterDetails.index}</div>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </template>
        </template>

        <div slot="footer">
            <template if:false= {hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </template>
        </div>



    </lightning-card>

    <template if:true={detailListRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeDetailList}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="slds-scrollable">
                        <template if:true={detailList}>
                            <table aria-multiselectable="true" class="slds-table slds-table_bordered" role="grid">
                                <template if:true={isQueryIndex}>
                                    <thead>
                                    <tr class="slds-line-height_reset">
                                        <th aria-label={labels.dial} scope="col">
                                            <div class="slds-truncate" title={labels.dial}>{labels.dial}</div>
                                        </th>
                                        <th aria-label={labels.readingDate} scope="col">
                                            <div class="slds-truncate" title={labels.readingDate}>{labels.readingDate}</div>
                                        </th>
                                        <th aria-label={labels.readingType} scope="col">
                                            <div class="slds-truncate" title={labels.readingType}>{labels.readingType}</div>
                                        </th>
                                        <th aria-label={labels.nrIntreg} scope="col">
                                            <div class="slds-truncate" title={labels.nrIntreg}>{labels.nrIntreg}</div>
                                        </th>
                                        <th aria-label={labels.index} scope="col">
                                            <div class="slds-truncate" title={labels.index}>{labels.index}</div>
                                        </th>
                                        <th aria-label={labels.invoiced} scope="col">
                                            <div class="slds-truncate" title={labels.invoiced}>{labels.invoiced}</div>
                                        </th>
                                        <th aria-label={labels.quantity} scope="col">
                                            <div class="slds-truncate" title={labels.quantity}>{labels.quantity}</div>
                                        </th>
                                        <th aria-label={labels.linkToImages} scope="col">
                                            <div class="slds-truncate" title={labels.linkToImages}>{labels.linkToImages}</div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <template for:each={detailList} for:item="details">
                                        <tr key={details.dial} aria-selected="false" class="slds-hint-parent">
                                            <th scope="row">
                                                <div class="slds-truncate" title={details.dial}>{details.dial}
                                                </div>
                                            </th>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.readingDate}>{details.readingDate}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.readingType}>{details.readingType}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.indexIntegerPart}>{details.indexIntegerPart}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.index}>{details.index}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.invoiced}>{details.invoiced}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.amount}>{details.amount}
                                                </div>
                                            </td>
                                            <td role="gridcell">
                                                <div class="slds-truncate" title={details.imageLink}>{details.imageLink}
                                                </div>
                                            </td>
                                        </tr>
                                        <!--<template if:true={details.showReadings}>
                                            <tr key={details.detailsId}>
                                                <td colspan="6">
                                                    <lightning-formatted-text value="Readings: "
                                                                              class="slds-text-heading_medium slds-align_absolute-center">
                                                    </lightning-formatted-text>
                                                    <lightning-datatable key={details.detailsId}
                                                                         key-field="detailsId"
                                                                         data={details.readingsList}
                                                                         columns={readingsColumns}
                                                                         hide-checkbox-column="true">
                                                    </lightning-datatable>
                                                </td>
                                            </tr>
                                        </template>-->
                                    </template>
                                    </tbody>
                                </template>
                            </table>
                        </template>
                    </div>

                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeDetailList}></lightning-button>
                </footer>

            </div>

        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>