.THIS .wr-required {
    font-weight: 400;
 }

.THIS .wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}

.THIS .wr-scrollerSize {
     height:27.75rem;
}

.THIS .wr-rowViewServicePoint {
    height:13.6rem;
}

.THIS .wr-rowViewContract {
    height:18.4rem;
}

.THIS .wr-rowViewFind {
    height:29rem;
}

.THIS .wr-modal-small {
   /*height: 150px;
   max-height: 150px;*/
   overflow-y: scroll;
   overflow: initial;
}