<template>
    <lightning-record-edit-form  object-api-name="PrivacyChange__c" record-id={recordId} onsuccess={handleSuccess} onerror={handleError}>
        <lightning-messages></lightning-messages>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item padding="horizontal-small" size="3" class="wr-checkBox">
                <lightning-input-field  disabled={disabled}  field-name="HasOptedOutSolicit__c" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field disabled={disabled} field-name="HasOptedOutProcessing__c" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item  padding="horizontal-small" size="3">
                <lightning-input-field  disabled={disabled} field-name="HasOptedOutProfiling__c" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field  disabled={disabled} field-name="HasOptedOutTracking__c" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field  disabled={disabled} field-name="CanStorePiiElsewhere__c" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-record-edit-form>
</template>