.THIS .wr-required {
    font-weight: 400;
 }

.THIS .wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}

.THIS .wr-scrollerSize {
     height:27.75rem;
}

.THIS .wr-boldFieldName {
     font-size: 1.125rem;
     font-weight: 700;
     line-height: 1.25;
     display: block;
}

.THIS .wr-rowViewServicePoint {
    height:13.6rem;
}

.THIS .wr-rowViewContract {
    height:18.4rem;
}

.THIS .wr-rowViewFind {
    height:29rem;
}