<!--
 - Created by Boubacar Sow on 15/10/2020.
 -->

<!-- [MRO] Associated Accounts -->
<template>
    <lightning-card variant="narrow" icon-name="standard:person_account">
        <h1 slot="title">Associated Account</h1>
        <div slot="actions">
            <lightning-button label={labels.retrieveAssociatedAccount} title={labels.retrieveAssociatedAccount} variant="brand"
                              onclick={handleRetreiveAssociatedAccount}></lightning-button>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>

        <template if:true={associatedAccountList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout slds-table_col-bordered"
                   role="grid">
                <thead>
                    <tr class="slds-line-height_reset">
                    <!--<th class="slds-text-align_right" scope="col" style="width:3.25rem">
                        <span class="slds-assistive-text">Choose a row</span>
                        <div class="slds-th__action slds-th__action_form">
                            <lightning-input type="checkbox" label={labels.selectAll} name="selectAllMeterDetails"
                                             variant="label-hidden"
                                             checked={selectAll} onchange={onSelectAll}></lightning-input>
                        </div>
                    </th>-->
                    <th aria-label={labels.username} scope="col">
                        <div class="slds-truncate" title={labels.username}>{labels.username}</div>
                    </th>
                    <th aria-label={labels.email} scope="col">
                        <div class="slds-truncate" title={labels.email}>{labels.email}</div>
                    </th>
                    <th aria-label={labels.phone} scope="col">
                        <div class="slds-truncate" title={labels.phone}>{labels.phone}</div>
                    </th>
                    <th aria-label={labels.firstName} scope="col">
                        <div class="slds-truncate" title={labels.firstName}>{labels.firstName}</div>
                    </th>
                    <th aria-label={labels.lastName} scope="col">
                        <div class="slds-truncate" title={labels.lastName}>{labels.lastName}</div>
                    </th>
                        <th aria-label={labels.Status} scope="col" style="width: 60px;">
                            <div class="slds-truncate" title={labels.Status}>{labels.Status}</div>
                        </th>
                            <th aria-label={labels.type} scope="col" style="width: 60px;">
                                <div class="slds-truncate" title={labels.type}>{labels.type}</div>
                            </th>
                        <!--<th aria-label={labels.unique} scope="col" style="width: 70px;">
                            <div class="slds-truncate" title={labels.unique}>{labels.unique}</div>
                        </th>
                            <th aria-label={labels.master} scope="col" style="width: 70px;">
                                <div class="slds-truncate" title={labels.master}>{labels.master}</div>
                            </th>
                            <th aria-label={labels.actions} scope="col">
                                <div class="slds-truncate" title={labels.actions}>{labels.actions}</div>
                            </th>-->
                </tr>
                </thead>
                <tbody>
                    <template for:each={associatedAccountList} for:item="associatedAccount">
                    <tr key={associatedAccount.username} aria-selected="false" class="slds-hint-parent">
                        <!--<td class="slds-text-align_right" role="gridcell">
                            <lightning-input type="checkbox" label="Select" name="selectMeterDetails" variant="label-hidden"
                                             data-id={zpftFilnet.zpftFilnetId}
                                             checked={zpftFilnet.selected} onchange={onSelect}></lightning-input>
                        </td>
                        <th scope="row">
                            <div class="slds-truncate" title={zpftFilnet.contractAccountId}>
                                <a href="javascript:void(0);" tabindex="0" data-id={zpftFilnet.contractAccountId}
                                   onclick={navigateToContractAccount}>{zpftFilnet.contractAccountId}</a>
                            </div>
                        </th>-->
                        <th scope="row">
                            <div class="slds-truncate" title={associatedAccount.username}>
                                <a href="javascript:void(0);" tabindex="0" data-id={associatedAccount.username}
                                   onclick={navigateToAccount}>{associatedAccount.username}</a>
                            </div>
                        </th>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.email}>{associatedAccount.email}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.phone}>{associatedAccount.phone}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.firstName}>{associatedAccount.firstName}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.lastName}>{associatedAccount.lastName}</div>
                        </td>
                        <td role="gridcell" style="width: 60px;">
                            <div class="slds-truncate" title={associatedAccount.status}>{associatedAccount.status}</div>
                        </td>
                        <td role="gridcell" style="width: 60px;">
                            <div class="slds-truncate" title={associatedAccount.type}>{associatedAccount.type}</div>
                        </td>
                        <!--<td role="gridcell" style="width: 40px;">
                            <template if:true={associatedAccount.unique}>
                                <div class="slds-truncate" title={associatedAccount.unique}>
                                    <lightning-icon size="x-small" icon-name="utility:check" alternative-text="True" title="Unique"></lightning-icon>
                                </div>
                            </template>
                        </td>
                        <td role="gridcell" style="width: 40px;">
                            <template if:true={associatedAccount.master}>
                                <div class="slds-truncate" title={associatedAccount.master}>
                                    <lightning-icon size="x-small" icon-name="utility:check" alternative-text="True" title="Master"></lightning-icon>
                                </div>
                            </template>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.createdDate}>{associatedAccount.createdDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={associatedAccount.lastLogin}>{associatedAccount.lastLogin}</div>
                        </td>-->
                        <td role="gridcell" class="slds-align_absolute-center">
                                <lightning-button label="More" title="More" variant="base"
                                                  class="slds-m-left_x-small"
                                                  data-id={associatedAccount.username}
                                                  onclick={moreDetails}></lightning-button>&nbsp;&nbsp;
                                <lightning-button-icon title="Notification" variant="brand"
                                                  class="slds-m-left_xxx-small" icon-name="utility:notification"
                                                  data-id={associatedAccount.username} alternative-text="Notification"
                                                  onclick={notification}></lightning-button-icon>&nbsp;&nbsp;
                                <lightning-button-icon title="Consumption Places" variant="brand"
                                                  class="slds-m-left_xxx-small" icon-name="utility:checkin"
                                                  data-id={associatedAccount.username} alternative-text="Consumption Places"
                                                  onclick={consumptionPlaces}></lightning-button-icon>
                            <div class="slds-truncate">

                            </div>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>

        <template if:true= {showIllustrationEmptyStat}>
            <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
        </template>
        <div slot="footer">
            <template if:false= {hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  onclick={onConfirmSelection}></lightning-button>
            </template>
        </div>
    </lightning-card>

    <template if:true={detailRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeMoreDetails}></lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Details</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <template if:true={associatedAccount}>
                        <table aria-multiselectable="true" class="slds-table slds-table_bordered" role="grid">
                            <thead>
                                <tr class="slds-line-height_reset">
                                <!--<th class="slds-text-align_right" scope="col" style="width:3.25rem">
                                    <span class="slds-assistive-text">Choose a row</span>
                                    <div class="slds-th__action slds-th__action_form">
                                        <lightning-input type="checkbox" label={labels.selectAll} name="selectAllMeterDetails"
                                                         variant="label-hidden"
                                                         checked={selectAll} onchange={onSelectAll}></lightning-input>
                                    </div>
                                </th>-->
                                <th aria-label={labels.username} scope="col">
                                    <div class="slds-truncate" title={labels.username}>{labels.username}</div>
                                </th>
                                <th aria-label={labels.email} scope="col">
                                    <div class="slds-truncate" title={labels.email}>{labels.email}</div>
                                </th>
                                <th aria-label={labels.phone} scope="col">
                                    <div class="slds-truncate" title={labels.phone}>{labels.phone}</div>
                                </th>
                                <th aria-label={labels.firstName} scope="col">
                                    <div class="slds-truncate" title={labels.firstName}>{labels.firstName}</div>
                                </th>
                                <th aria-label={labels.lastName} scope="col">
                                    <div class="slds-truncate" title={labels.lastName}>{labels.lastName}</div>
                                </th>
                                <th aria-label={labels.Status} scope="col">
                                    <div class="slds-truncate" title={labels.Status}>{labels.Status}</div>
                                </th>
                                <th aria-label={labels.type} scope="col">
                                    <div class="slds-truncate" title={labels.type}>{labels.type}</div>
                                </th>
                                <th aria-label={labels.unique} scope="col" style="width: 70px;">
                                    <div class="slds-truncate" title={labels.unique}>{labels.unique}</div>
                                </th>
                                <th aria-label={labels.master} scope="col" style="width: 70px;">
                                    <div class="slds-truncate" title={labels.master}>{labels.master}</div>
                                </th>
                                <th aria-label={labels.createdDate} scope="col">
                                    <div class="slds-truncate" title={labels.createdDate}>{labels.createdDate}</div>
                                </th>
                                <th aria-label={labels.lastLogin} scope="col">
                                    <div class="slds-truncate" title={labels.lastLogin}>{labels.lastLogin}</div>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr key={associatedAccount.username} aria-selected="false" class="slds-hint-parent">
                                <th scope="row">
                                    <div class="slds-truncate" title={associatedAccount.username}>
                                        <a href="javascript:void(0);" tabindex="0" data-id={associatedAccount.username}
                                           onclick={navigateToAccount}>{associatedAccount.username}</a>
                                    </div>
                                </th>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.email}>{associatedAccount.email}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.phone}>{associatedAccount.phone}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.firstName}>{associatedAccount.firstName}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.lastName}>{associatedAccount.lastName}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.status}>{associatedAccount.status}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.type}>{associatedAccount.type}</div>
                                </td>
                                <td role="gridcell" style="width: 40px;">
                                    <template if:true={associatedAccount.unique}>
                                        <div class="slds-truncate" title={associatedAccount.unique}>
                                            <lightning-icon size="x-small" icon-name="utility:check" alternative-text="True" title="Unique"></lightning-icon>
                                        </div>
                                    </template>
                                </td>
                                <td role="gridcell" style="width: 40px;">
                                    <template if:true={associatedAccount.master}>
                                        <div class="slds-truncate" title={associatedAccount.master}>
                                            <lightning-icon size="x-small" icon-name="utility:check" alternative-text="True" title="Master"></lightning-icon>
                                        </div>
                                    </template>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.createdDate}>{associatedAccount.createdDate}</div>
                                </td>
                                <td role="gridcell">
                                    <div class="slds-truncate" title={associatedAccount.lastLogin}>{associatedAccount.lastLogin}</div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </template>

                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeMoreDetails}></lightning-button>
                </footer>

            </div>

        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={notificationRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <div class="slds-modal__header slds-p-around_none">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeNotificatiions}></lightning-button-icon>
                </div>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                    <template if:true={associatedAccount}>
                        <c-mro-notifications username={associatedAccount.username} hide-check-box="true" hide-retrieve-notification="true"></c-mro-notifications>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeNotificatiions}></lightning-button>
                </footer>

            </div>

        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={consumptionPlacesRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                 aria-labelledby="modal-heading-03"
                 aria-modal="true" aria-describedby="modal-content-id-3">
            <div class="slds-modal__container">
                <div class="slds-modal__header slds-p-around_none">
                    <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse"
                                           class="slds-modal__close"
                                           onclick={closeConsumptionPlaces}></lightning-button-icon>
                </div>
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-3">
                    <template if:true={associatedAccount}>
                        <c-mro-consumption-places username={associatedAccount.username} hide-check-box="true" hide-retrieve-consumption-places="true"></c-mro-consumption-places>
                    </template>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label={labels.close} title={labels.close} variant="brand"
                                      onclick={closeConsumptionPlaces}></lightning-button>
                </footer>

            </div>

        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>