<!--
 - Created by a.maksimov (alexey.maksimov@truesalessoft.com) on 07.05.20.
 -->

<!-- mroMassiveHelper -->
<template>
    <lightning-card title="Massive Helper" icon-name="standard:document">
        <div class="slds-m-horizontal_medium">
            <template if:true={showProgress}>
                <p>Status: {status}</p>
                <lightning-progress-bar value={progress} size="medium"></lightning-progress-bar>
            </template>
            <template if:true={templateId}>
                <lightning-file-upload label="Upload CSV" name="docUpload" record-id={templateId} disabled={controlDisabled}
                                       accept=".csv"
                                       onuploadfinished={handleUploadFinished}></lightning-file-upload>
                <p>
                    <template if:true={sampleLinkHref}>
                        <a download={downloadParameter} href={sampleLinkHref}>Download</a>
                    </template>
                    <template if:false={sampleLinkHref}>
                        <a onclick={getSample}>Get CSV Example</a>
                    </template>
                </p>
            </template>
            <template if:false={templateId}>
                <p>File Template not found</p>
            </template>
        </div>
    </lightning-card>
</template>