.THIS .wr-pill_large {
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}
.THIS .small-icon .slds-form-element__icon {
    padding-top: 0 !important;
}
.THIS .small-icon svg {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1;
}
.THIS .w-100 {
    width: 100%;
}
.THIS .h-4rem {
    height: 4rem;
}
.THIS .l-h-4rem {
    line-height: 4rem;
}
.THIS .customer-list {
    display: block;
    height: 500px;
    overflow-y: scroll;
}
.THIS .brand-icon {
    background-color: rgba(27, 82, 151, 1);
    border-color: rgba(27, 82, 151, 1);
    width: 2rem;
    height: 2rem;
}
.THIS .z-index-10 {
    z-index: 10;
}