<!--
 - Created by goudiaby on 23/08/2019.
 -->

<!-- Cancellation Request -->
<template>
    <article class="slds-card">
        <div class=" slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
            <div class="slds-text-heading_medium slds-p-top_xx-small">
                {labels.cancellationRequest}
            </div>
        </div>
        <template if:true={objectId}>
            <lightning-record-view-form record-id={objectId} object-api-name={objectName}>
                <div class="slds-grid slds-wrap slds-gutters slds-m-around_small">
                    <template if:true={fields}>
                        <div class="slds-section__title  slds-col slds-size_1-of-1  slds-m-bottom--small">
                        <span class="slds-theme_base slds-section__title-action">
                                <lightning-icon size="small" icon-name="utility:info">
                                </lightning-icon>
                                    {labels.details} </span>
                        </div>
                        <template for:each={fields} for:item="f">
                            <div key={f.fieldPath} class="slds-col slds-size_1-of-2">
                                <lightning-output-field field-name={f.fieldPath} variant="label-stacked">
                                </lightning-output-field>
                            </div>
                        </template>
                    </template>
                    <div class="slds-col slds-size_1-of-1 slds-p-top_x-small">
                        <lightning-combobox class='slds-text-title_bold' label={labels.cancellationReason} options={listCancellationReasons}
                                            value={selectedCancellationReason} onchange={handleSelectReason}
                                            required>
                        </lightning-combobox>
                    </div>
                </div>
            </lightning-record-view-form>
        </template>
        <!--<div class="slds-grid slds-grid_vertical slds-wrap slds-grid_vertical-stretch slds-m-around_small">
            <div class="slds-col slds-p-bottom_x-small">
                <lightning-input label="Object" name="objectField" value={objectName}
                                 disabled></lightning-input>
            </div>
            <div class="slds-col slds-p-bottom_x-small">
                <lightning-input label="Record Type" name="recordTypeField" value={recordType}
                                 disabled></lightning-input>
            </div>
            <div class="slds-col slds-p-bottom_x-small">
                <lightning-input label="Origin Stage" name="phaseField" value={originPhase}
                                 disabled></lightning-input>
            </div>
            <div class="slds-col slds-p-bottom_x-small">
                <lightning-combobox label="Cancellation Reason" options={listCancellationReasons}
                                    value={selectedCancellationReason} onchange={handleSelectReason}
                                    required>
                </lightning-combobox>
            </div>
        </div>-->
        <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
            <lightning-button variant="destructive" name="cancel" label={labels.cancel}
                              icon-name="utility:cancel_file_request"
                              onclick={handleCancel}>
            </lightning-button>
            <lightning-button class="slds-m-left_xx-small" label={labels.confirm} variant="brand" name="save"
                              icon-name="utility:save" disabled={disabledConfirmButton} onclick={handleConfirm}>
            </lightning-button>
        </div>
    </article>
</template>