<template>
     <c-product-detail data-id="productDetails" product={selectedProduct} onselectproduct={onProductSelect}></c-product-detail>
    <c-product-configurator data-id="productConfig" onselectproduct={onProductSelect}></c-product-configurator>
    <c-product-selection-cart  data-id="productCart" product-list={productListInCart} oncheckout={handleCheckout} onselectproduct={onProductSelect}></c-product-selection-cart>
    <!-- IN PROGRESS -->
    <div if:true={FALSE}>
        <section role="dialog" tabindex="-1" aria-labelledby="pricebook-modal-header" aria-modal="true" aria-describedby="pricebook-modal-content" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h2 id="pricebook-modal-header" class="slds-text-heading_medium slds-hyphenate">{LABELS.priceBook}
                    </h2>
                </header>
                <div id="pricebook-modal-content" class="slds-modal__content slds-p-around_medium">
                    <!--<lightning-select data-id="pb-select" name="pb-select" label={LABELS.select} value={selectedPricebookId}>
                        <template for:each={pricebookList} for:item="pricebook">
                            <option key={pricebook.key} value={pricebook.id}>{pricebook.name}</option>
                        </template>
                    </lightning-select>-->
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label={LABELS.next} title={LABELS.next} onclick={close}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>

    <div class="slds-p-around_small main">
    <!-- HEADER -->
        <div class="slds-page-header slds-page-header_record-home">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:opportunity"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div if:true={hasOpportunityId}>
                                    <lightning-record-view-form class="slds-page-header__name-title" record-id={opportunityId} object-api-name="Opportunity">
                                        <h1>
                                            <span>
                                                <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                                            </span>
                                            <span class="slds-page-header__title slds-truncate">
                                                <lightning-output-field field-name="RequestType__c" variant="label-hidden"></lightning-output-field>
                                            </span>
                                        </h1>
                                    </lightning-record-view-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-page-header__col-actions">
                    <div class="slds-page-header__controls">
                        <div class="slds-page-header__control">
                            <!-- <div class="slds-box slds-m-around_small"> -->
                            <lightning-button-icon  icon-name="utility:cart" variant="neutral" size="medium" class="slds-float_right" onclick={onCartClick}></lightning-button-icon>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__row slds-page-header__row_gutters">
                <lightning-record-view-form class="slds-page-header__col-details" record-id={opportunityId} object-api-name="Opportunity">
                    <ul class="slds-page-header__detail-row">
                        <li class="slds-page-header__detail-block">
                            <lightning-output-field field-name="CompanyDivision__c" variant="label-stacked"></lightning-output-field>
                        </li>
                        <li class="slds-page-header__detail-block">
                            <lightning-output-field field-name="StageName" variant="label-stacked"></lightning-output-field>
                        </li>
                        <li class="slds-page-header__detail-block">
                            <lightning-output-field field-name="CloseDate" variant="label-stacked"></lightning-output-field>
                        </li>
                    </ul>
                </lightning-record-view-form>
            </div>
        </div>
    <!-- BODY -->
        <div>
            <lightning-layout>
                <lightning-layout-item size="2" padding="around-small">
                    <div class="slds-p-top_small">
                        <div class="slds-box">
                            <div class="slds-text-heading_medium slds-p-bottom_small">{LABELS.filters}</div>
                            <div if:true={productFamilyList.length}>
                                <lightning-tree data-id="productFamilyTree" items={productFamilyList} header={LABELS.family} onselect={onProductFamilySelect}></lightning-tree>
                            </div>
                            <div if:true={productTypeList.length}>
                                <lightning-tree data-id="productTypeTree" items={productTypeList} header={LABELS.productType} onselect={onProductTypeSelect}></lightning-tree>
                            </div>
                            <div if:false={hasFilters}>
                                {LABELS.noFilters}
                            </div>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="10" padding="around-small">
                    <div class="custom-box">
                        <span onkeyup={onKeyUp}>
                            <lightning-input name="product-search-input" label={LABELS.product} type="search" variant="label-hidden" class="slds-p-around_small" onblur={onBlur} value={searchTerm} onchange={onSearchTermChange}></lightning-input>
                        </span>
                    </div>
                        <lightning-layout multiple-rows="true">
                            <template for:each={filteredProductList} for:item='product'>
                                <lightning-layout-item key={product.id} size="3" padding="around-small">
                                    <c-product-tile product={product} button={LABELS.addDetails} onselectproduct={onProductSelect}></c-product-tile>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    <div if:false={productList.length}>
                        {productList.length}
                    </div>

                </lightning-layout-item>
            </lightning-layout>
        </div>

    </div>
</template>