<!--
 - Created by Octavian on 6/16/2020.
 -->

<!-- [MRO] Check Bill Code Info -->
<template>
    <template if:true={isSuccess}>
        <lightning-icon icon-name="utility:success" alternative-text="Valid" variant="Success" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
    </template>
    <template if:true={isError}>
        <lightning-icon icon-name="utility:error" alternative-text="Valid" variant="Error" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
    </template>
    <template if:true={isWarning}>
        <lightning-icon icon-name="utility:warning" alternative-text="Valid" variant="Warning" size="small" title="small size" class="slds-float--left slds-p-right--xx-small"></lightning-icon>
    </template>
    <h2>{returnCode} - {returnCodeHelpText}</h2>
</template>