<template>
    <div class={addClassAutoSave}>
        <div class="spinner">
            <template if:true={spinner} role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-backdrop">
                <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
            </template>
        </div>
        <template if:true={show}>
            <article class="slds-card">
                <div class="slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                    <div class="slds-text-heading_medium slds-p-top_xx-small">{defaultTitle}</div>
                </div>
                <lightning-record-edit-form data-id="editForm" object-api-name="OpportunityServiceItem__c" record-id={recordId} record-type-id={recordTypeId}
                                            onload={handleLoad} onsuccess={handleSuccess} onsubmit={handleSubmit} onerror={handleError}>
                    <lightning-messages></lightning-messages>
                    <lightning-layout multiple-rows="true">
                        <lightning-layout-item padding="horizontal-small" size="4">
                            <label class="slds-form-element__label">{label.commodity}</label>
                            <lightning-input-field data-name="RecordTypeId" class="wr-required slds-p-left--xx-small" disabled field-name="RecordTypeId" variant="label-hidden"></lightning-input-field>
                        </lightning-layout-item>
                        <template if:false={isService}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field data-name="ServicePointCode__c" disabled class="wr-required" field-name="ServicePointCode__c" data-id="myServicePointCode"
                                                       variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <template if:true={autoSave}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field field-name="PointAddressNormalized__c" variant="label-hidden"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->
                        <template if:false={isService}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field data-name="Distributor__c" class="wr-required" field-name="Distributor__c" data-id="distributor" onchange={setDistributor}
                                                       variant="label-stacked" disabled={disabledFields.distributor}>

                                </lightning-input-field>
                            </lightning-layout-item>
                        </template>
                        <template if:true={hasTrader}>
                           <lightning-layout-item padding="horizontal-small" size="4">
                               <lightning-input-field data-name="Trader__c" class={addClassHasSubProcessNone} disabled={disableTrader} field-name="Trader__c" data-id="trader" onchange={setTrader} variant="label-stacked"></lightning-input-field>
                           </lightning-layout-item>
                        </template>
                        <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->
                            <!--FF Customer Creation - Pack1/2 - Interface Check-->
                        <template if:false={isService}>
                            <template if:true={isGas}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="Pressure__c" class="wr-required" disabled={disabledFields.pressure} onchange={removeError} variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="PressureLevel__c" disabled={disabledFields.pressureLevel} onchange={removeError} variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={isElectric}>
                                <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field data-name="AvailablePower__c" class={addClassDistributor} field-name="AvailablePower__c" onchange={removeError}
                                                           variant="label-stacked" disabled={disabledFields.availablePower}>

                                    </lightning-input-field>
                                </lightning-layout-item>

                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field data-name="ContractualPower__c" class={addClassDistributor} onchange={setSinglePhase} field-name="ContractualPower__c"
                                                           variant="label-stacked" disabled={disabledFields.contractualPower}>

                                    </lightning-input-field>
                                </lightning-layout-item>
                                <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->

                                <!--FF OSI Edit - Pack2 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <label class="slds-form-element__label">{label.estimatedConsumptionKWh}</label>
                                    <lightning-input-field data-name="EstimatedConsumption__c" class="wr-required" field-name="EstimatedConsumption__c" data-id="estimatedConsumptionEle" onchange={removeError}
                                                           variant="label-hidden">

                                    </lightning-input-field>
                                </lightning-layout-item>
                                <!--  FF OSI Edit - Pack2 - Interface Check-->
                            </template>
                            <!--FF Customer Creation - Pack1/2 - Interface Check-->
                            <template if:true={isElectric}>
                                <!--FF Customer Creation - Pack1/2 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field class={voltageLevelClass} disabled={disabledFields.voltageLevel} field-name="VoltageLevel__c" data-id="voltageLevel"  onchange={setVoltageSetting}  variant="label-stacked">

                                    </lightning-input-field>
                                </lightning-layout-item>
                                <!--FF Customer Creation - Pack1/2 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="Voltage__c" class="slds-hide"></lightning-input-field>
                                    <lightning-input-field class={voltageClass} disabled={disabledFields.voltageSetting} field-name="VoltageSetting__c" data-id="voltageSetting"  onchange={removeError} variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field class={addClassDistributor} field-name="PowerPhase__c" data-id="powerPhase" disabled={disabledFields.powerPhase}  onchange={removeError} variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                                <c-mro-dynamic-function onrendered={validateVoltageSettingValue}></c-mro-dynamic-function>
                            </template>
                            <template if:true={isGas}>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field field-name="FlowRate__c" onchange={removeError} variant="label-stacked" disabled={disabledFields.flatRate}>

                                    </lightning-input-field>
                                </lightning-layout-item>
                                <!--FF OSI Edit - Pack2 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <label class="slds-form-element__label">{label.estimatedConsumption}</label>
                                    <lightning-input-field data-name="EstimatedConsumption__c" field-name="EstimatedConsumption__c" class="wr-required" data-id="estimatedConsumption" onchange={setConsumptionCategory}   variant="label-hidden">
                                    </lightning-input-field>
                                </lightning-layout-item>
                                <lightning-layout-item padding="horizontal-small" size="4">
                                    <lightning-input-field class="wr-required" disabled={disabledFields.consumptionCategory} field-name="ConsumptionCategory__c" data-id="consumptionCategory" onchange={removeError} variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                                <!--FF OSI Edit - Pack2 - Interface Check-->
                            </template>
                            <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->
                            <template if:true={showEndDate}>
                                <lightning-layout-item padding="horizontal-small" size="4" if:false={isPlaceholder}>
                                    <lightning-input-field data-name="EndDate__c" field-name="EndDate__c" data-id="endDate" variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <lightning-layout-item padding="horizontal-small" size="4" if:false={isPlaceholder}>
                                <lightning-input-field class="wr-required" field-name="NACEReference__c"  data-id="naceReference" onchange={removeError} variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field class="wr-required" field-name="SupplyOperation__c" data-id="supplyOperation" onchange={removeError} variant="label-stacked" disabled={disabledFields.supplyOperation}></lightning-input-field>
                            </lightning-layout-item>
                            <template if:false={hiddenFields.isNewConnection}>
                                <lightning-layout-item padding="horizontal-small" size="2" if:false={isPlaceholder}>
                                    <lightning-input-field class="wr-checkBox" disabled={isNewConnectionFlagReadOnly} field-name="IsNewConnection__c" variant="label-stacked"></lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={hasApplicantNotHolder}>
                                <lightning-layout-item padding="horizontal-small" size="2">
                                    <lightning-input-field class="wr-checkBox" field-name="ApplicantNotHolder__c" variant="label-stacked" data-id="applicantNotHolder" disabled={disabledFields.applicantNotHolder}></lightning-input-field>
                                </lightning-layout-item>
                            </template>
                            <template if:true={isElectric}>
                                <!-- [ENLCRO-657] OSI Edit - Pack3 - Interface Check-->
                                <lightning-layout-item padding="horizontal-small" size="2">
                                    <lightning-input-field class="wr-checkBox" field-name="FlatRate__c" variant="label-stacked" disabled={disabledFields.flatRate}>

                                    </lightning-input-field>
                                </lightning-layout-item>

                                <lightning-layout-item padding="horizontal-small" size="2" if:true={showNonDisconnectable}>
                                    <lightning-input-field field-name="NonDisconnectable__c" data-name="NonDisconnectable__c" data-id="nonDisconnectable" class="wr-checkBox" onchange={checkNonDisconnectable} disabled={disabledFields.nonDisconnectable} variant="label-stacked">

                                    </lightning-input-field>
                                </lightning-layout-item>
                                <template if:true={showNonDisconnectableReason}>
                                    <lightning-layout-item padding="horizontal-small" size="4">
                                        <lightning-input-field field-name="NonDisconnectableReason__c" class="wr-required" onchange={removeError} variant="label-stacked"></lightning-input-field>
                                    </lightning-layout-item>
                                </template>
                            </template>
                        </template>

                        <template if:true={isService}>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field disabled data-name="BillingProfile__c" class="wr-required" field-name="BillingProfile__c"
                                                       variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <lightning-layout-item padding="horizontal-small" size="4">
                                <lightning-input-field disabled data-name="ContractAccount__c" class="wr-required" field-name="ContractAccount__c"
                                                       variant="label-stacked"></lightning-input-field>
                            </lightning-layout-item>
                            <!--TODO: Aff two formula fields to retrieve Start Date and Termination Date from supply and show them here -->
                        </template>
                        <template if:true={hasSameOpportunityServiceItems}>
                            <lightning-layout-item class="slds-hide" padding="horizontal-small" size="4">
                                <lightning-input-field data-name="Opportunity__c" class="slds-hidden" field-name="Opportunity__c" data-id="myOpportunity" variant="label-hidden"></lightning-input-field>
                            </lightning-layout-item>
                        </template>
                    </lightning-layout>

                    <template if:true={showServiceSiteSection}>
                        <div class="slds-box slds-m-around_medium">
                            <div class="slds-page-header slds-theme_default">
                                <div class="slds-page-header__row">
                                    <div class="slds-page-header__col-title">
                                        <div class="slds-media">
                                            <div class="slds-media__body">
                                                <div class="slds-page-header__name">
                                                    <div class="slds-page-header__name-title">
                                                        <h1 class="slds-text-heading_medium wr-requiredServiceSite">{label.serviceSite}</h1>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slds-page-header__col-actions">
                                        <div class="slds-page-header__controls">
                                            <div class="slds-page-header__control">
                                                <lightning-button-group if:false={disableServiceSite}>
                                                        <lightning-button label={label.New}
                                                                          onclick={handleNewServiceSite}
                                                                          icon-name="action:new"
                                                                          disabled={newServiceSiteDisabled}
                                                                          name="newServiceSiteMroOpportunityServiceItemEdit">
                                                        </lightning-button>
                                                    <lightning-button label={label.edit}
                                                                      onclick={handleEditServiceSite}
                                                                      icon-name="action:edit"
                                                                      disabled={editServiceSiteDisabled}
                                                                      name="editServiceSiteMroOpportunityServiceItemEdit">
                                                    </lightning-button>
                                                </lightning-button-group>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--//FF ServiceSite risolto-->
                            <div if:true = {isVisibleServiceSites} style="height: 12em;">
                                <lightning-datatable key-field="recordId" data={serviceSitesList} columns={serviceSiteTableColumns}
                                                     max-row-selection="1" selected-rows={selectedServiceSiteRows}
                                                     hide-checkbox-column={disableServiceSite} onrowselection={handleSelectOption}>
                                </lightning-datatable>
                            </div>
                            <!--//FF ServiceSite risolto-->
                        </div>
                    </template>

                    <div class="slds-grid slds-nowrap slds-p-horizontal_medium">
                        <div class="slds-col slds-size_1-of-1 slds-p-left_none">
                            <div class={addClassPA}>
                                <div class="slds-text-heading_medium slds-p-top_medium slds-p-left_medium">
                                    <template if:true={isVAS}>
                                        {label.deliveryAddress}
                                    </template>
                                    <template if:false={isVAS}>
                                        {label.pointAddress}
                                    </template>
                                </div>
                                <div class="pointAddressData">
                                    <template if:true={address}>
                                        <c-mro-address-form  address={address} address-prefix="Point" object-api-name="OpportunityServiceItem__c" read-only={disableNormalize}
                                                             read-only-fields={readOnlyFields} available-addresses={availableAddresses}
                                                             onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonPointAddress}
                                                             disable-normalize={disableNormalize} edit-disabled={isNewRecordPointAddress}>
                                        </c-mro-address-form>
                                    </template>
                                    <template if:false= {address}>
                                    <c-mro-address-form  address={address} address-prefix="Point" object-api-name="OpportunityServiceItem__c" read-only={disableNormalize}
                                                         read-only-fields={readOnlyFields} available-addresses={availableAddresses}
                                                         onchangesavebutton={disabledSaveButton} onupdateaddressnormalized={disabledSaveButtonPointAddress}
                                                         disable-normalize={disableNormalize} edit-disabled={isNewRecordPointAddress}>
                                    </c-mro-address-form>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">

                        <lightning-button class={showPreCheckButton} variant="success" title={label.preCheck}  disabled = {disablePreCheckButton} label={label.preCheck} icon-name="utility:sync" onclick={callOutPreCheckData} if:false={hidePreCheckButton}></lightning-button>

                        <lightning-button variant="destructive"  class="slds-p-left_small" title={label.cancel} label={label.cancel} icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>

                        <lightning-button variant="brand" class="slds-p-left_small" disabled = {disableSaveButton} type="submit" icon-name="utility:save" label={label.save}></lightning-button>
                    </div>
                    <template if:false={isVAS}>
                        <div if:true={showNewServiceSite}>
                            <div class="slds-modal slds-modal_small slds-backdrop slds-fade-in-open">
                                <div class="slds-modal__container">
                                    <div class="slds-modal__header slds-p-around_none">
                                        <lightning-button-icon title={label.close}
                                                               size="large" icon-name="utility:close" variant="bare-inverse"
                                                               class="slds-modal__close" onclick={closeModal} alternative-text=""></lightning-button-icon>
                                    </div>
                                    <article class="slds-card">
                                        <div class="slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                                            <div class="slds-text-heading_medium slds-p-top_xx-small">{label.serviceSite}</div>
                                        </div>
                                        <div class="slds-modal__content slds-m-bottom_none slds-m-around_none wr-modal-small">
                                            <lightning-layout multiple-rows="true">
                                                <lightning-layout-item padding="horizontal-small" size="6">
                                                    <lightning-input-field field-name="NLC__c" data-id="NLC" value={siteNLC} variant="label-stacked" required={isElectric} disabled={siteNLCEditDisabled}></lightning-input-field>
                                                </lightning-layout-item>
                                                <lightning-layout-item padding="horizontal-small" size="6">
                                                    <lightning-input-field field-name="CLC__c" data-id="CLC" value={siteCLC} variant="label-stacked" required={isGas} disabled={siteCLCEditDisabled}></lightning-input-field>
                                                </lightning-layout-item>
                                                <lightning-layout-item padding="horizontal-small" size="12">
                                                    <lightning-input-field field-name="SiteDescription__c" data-id="description" value={siteDescription} variant="label-stacked" disabled={siteDescriptionEditDisabled}></lightning-input-field>
                                                </lightning-layout-item>
                                            </lightning-layout>
                                            <div class="serviceSiteAddressData">
                                                <div class="slds-page-header slds-theme_default">
                                                    <div class="slds-page-header__name-title">
                                                        <h1 class="slds-text-heading_medium wr-requiredServiceSite">Site Address</h1>
                                                    </div>
                                                </div>
                                                <c-mro-address-form address={serviceSiteAddressChange} address-prefix="Site" object-api-name="OpportunityServiceItem__c" read-only-fields="['country']"
                                                                    available-addresses={availableAddresses} onchangesavebutton={disabledSaveButton}
                                                                    onupdateaddressnormalized={disabledSaveButtonSiteAddress} edit-disabled={siteAddressEditDisabled} read-only={readOnlySiteAddress}></c-mro-address-form>
                                            </div>
                                        </div>
                                        <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                                            <lightning-button variant="destructive" label={label.cancel}
                                                              icon-name="utility:cancel_file_request"
                                                              onclick={handleCancelServiceSite}
                                                              name="cancelMroOpportunityServiceItemEdit">
                                            </lightning-button>
                                            <lightning-button variant="brand"
                                                              icon-name="utility:save"
                                                              onclick={saveServiceSite}
                                                              label={label.save}
                                                              name="saveMroOpportunityServiceItemEdit">
                                            </lightning-button>
                                        </div>
                                    </article>
                                </div>
                            </div>

                        </div>
                    </template>
                </lightning-record-edit-form>
            </article>
        </template>
    </div>
</template>