/**
 * Created by Vlad Mocanu on 19/11/2019.
 */

.THIS .wr-rowView {
    height:13.6rem;
}

.THIS .wr-boxView {
    height: 13.5rem;
}

.THIS .automatedRequest {
    font-weight: 400;
    background-color: #027e46;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    text-align-last: center;
}

.THIS .manualRequest {
    font-weight: 400;
    background-color:#c23934;
    color: #ffffff;
    border-radius: 4px;
    text-align: center;
    text-align-last: center;
}