<!--
 - Created by giupastore on 02/03/2020.
 This is the DecoReco lwc component, consists in 4 fields,
 The field "Duration" is mandatory if the Request Type is "Reconnection"
 -->

<!-- Mro Deco Reco Edit -->
<template>

    <div class="slds-form slds-gutters slds-p-around_small" role="list">
            <div class="slds-form__row">
                <lightning-combobox name="selectRequestType"
                                    required
                                    disabled={disabled}
                                    label={labels.SelectRequestType}
                                    value={requestTypeValue}
                                    data-id="selectRequestTypeId"
                                    placeholder="Select Request Type"
                                    options={optionsRequestType}
                                    onchange={requestTypeChange}
                                    class="slds-size_2-of-6">
                </lightning-combobox>
        </div>

         <div class="slds-form__row" if:false={isDurationDisabled}>
       <!-- <div class="slds-form__row" > -->
                <lightning-input value={durationValue}
                                 type="number"
                                 required={isDurationRequired}
                                 disabled={disabled}
                                 max="12"
                                 min="1"
                                 message-when-bad-input={labels.TheNumberMustBeBetween1And12}
                                 onchange={durationChange}
                                 label="Duration"
                                 data-id="durationInputId"
                                 class="slds-size_2-of-6">
                </lightning-input>
        </div>

            <div class="slds-form__row ">
                <lightning-input value={startDateValue}
                                 type="Date"
                                 required
                                 disabled={disabled}
                                 onchange={startDateChange}
                                 data-id="startDateId"
                                 label="Start Date"
                                 class="slds-size_2-of-6">
                </lightning-input>
        </div>

            <div class="slds-form__row ">
                <lightning-textarea value={noteValue}
                                    label={labels.NotesOrOtherInformation}
                                    disabled={disabled}
                                    onchange={noteChange}
                                    class="slds-size_2-of-6"
                                    data-id="noteValueId">
                </lightning-textarea>
        </div>

    </div>



</template>