.slds-badge-success {
    background-color:#027e46;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    color: hsl(0, 0%, 100%);
}

.slds-badge-warning {
    background-color:#ffb75d;
    font-size: .75rem;
    text-transform: none;
    letter-spacing: normal;
    color: hsl(0, 0%, 0%);
}

.fill-white svg {
    fill: hsl(0, 0%, 100%);
}

lightning-input.input-check.slds-has-error > .slds-form-element__control > span.slds-checkbox > label.slds-checkbox__label > span.slds-form-element__label{
    color: #c23934;
}