<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate slds-size_1-of-1">
                <div class="slds-media ">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:contract_line_item"
                            size="medium" variant="slds-icon-inverse">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <div class="slds-card__header-title">
                            <h3>{documentType.name}</h3>
                            <div class="slds-col">
                                <span if:true={documentType.isMandatory} class="slds-badge slds-badge-warning">
                                    <span class="slds-badge__icon slds-badge__icon_left">
                                        <lightning-icon icon-name="utility:warning"
                                                size="xx-small">
                                        </lightning-icon>
                                    </span>{labels.mandatory}
                                </span>
                                <span if:true={isValidated} class="slds-badge slds-badge-success">
                                    {labels.validated}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="error-panel slds-align_absolute-center slds-hide">
                    <div class="slds-theme_error slds-notify slds-notify_alert" style="border-radius: 5px;">
                        <lightning-icon class="slds-m-right_x-small" icon-name="utility:warning" size="xx-small" variant="inverse">
                        </lightning-icon>
                        <div style="font-size: 0.8125rem;">
                            <h2>{labels.requiredCheckDocument}
                            </h2>
                            <div class="pointer" style="position: absolute; left: 114.349px; top: 62.3492px;"></div>
                        </div>
                    </div>
                </div>
                <div class="slds-col_bump-left">
                    <lightning-button if:false={isOpen} disabled={sectionOpened} class="slds-m-top_small check-button" variant="brand" name="check" label={labels.check}  onclick={handleCheckClick}>
                    </lightning-button>
                    <lightning-button-group if:true={isOpen}>
                        <lightning-button if:true={documentType.documentItems} class="slds-m-top_small" variant="brand" name="validate"
                            label={labels.validate} onclick={handleValidateClick}>
                        </lightning-button>
                        <lightning-button class="slds-m-top_small" variant="neutral" name="cancel"
                            label={labels.cancel} onclick={handleCancelClick}>
                        </lightning-button>
                    </lightning-button-group>
                </div>
            </header>
        </div>
        <div if:true={documentType.documentItems} class="slds-card__body slds-card__body_inner section-document slds-hide">
            <div class="slds-grid slds-grid_vertical slds-m-bottom_none" role="list">
                <template for:each={documentType.documentItems} for:item="docItem">
                    <div class="slds-col slds-border_top" key={docItem.Id}>
                        <lightning-input class="slds-m-around_x-small" type="checkbox" label={docItem.Name}
                            data-id="allCheckboxes" onchange={removeError}>
                        </lightning-input>
                    </div>
                </template>
            </div>
        </div>
        <div if:false={documentType.documentItems} class="slds-card__body slds-card__body_inner section-document slds-hide">
            <p class="slds-align_absolute-center">{labels.requiredCheckDocument}</p>
        </div>
    </article>
</template>