<!--
 - Created by David diop on 28.04.2020.
 -->

<!-- Mro Individual List Item -->
<template>
    <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
        <template if:false={isContact}>
            <lightning-record-view-form record-id={interlocutor.Id} object-api-name="Individual" class="w-100">
                <div class="slds-media">
                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                        <lightning-avatar src="" fallback-icon-name="standard:avatar" variant="circle"
                                          size="medium"></lightning-avatar>
                    </div>
                    <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <lightning-formatted-text
                                        class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small"
                                        value={interlocutor.Name}></lightning-formatted-text>
                            </div>
                        </div>
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <lightning-output-field class="slds-form-element__static"
                                                        field-name="NationalIdentityNumber__c"
                                                        variant="label-stacked"></lightning-output-field>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse slds-clearfix slds-m-top_xx-small">
                        <div class="slds-align_absolute-center min-w-5rem" style="height: 4rem;">
                            <lightning-button label={labels.select} title={labels.select} variant="brand"
                                              onclick={interlocutorClick}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </lightning-record-view-form>
        </template>
        <template if:true={isContact}>
            <lightning-record-view-form record-id={interlocutor.Id} object-api-name="Contact" class="w-100">
                <div class="slds-media">
                    <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                        <lightning-avatar src="" fallback-icon-name="standard:avatar" variant="circle"
                                          size="medium"></lightning-avatar>
                    </div>
                    <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small">
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <lightning-formatted-text
                                        class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small"
                                        value={interlocutor.Name} ></lightning-formatted-text>
                            </div>
                        </div>
                        <div class="slds-form__row">
                            <div class="slds-form__item" role="listitem">
                                <lightning-output-field class="slds-form-element__static"
                                                        field-name="NationalIdentityNumber__c"
                                                        variant="label-stacked"></lightning-output-field>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse slds-clearfix slds-m-top_xx-small">
                        <div class="slds-align_absolute-center min-w-5rem" style="height: 4rem;">
                            <lightning-button label={labels.select} title={labels.select} variant="brand"
                                              onclick={contactClick}>
                            </lightning-button>
                        </div>
                    </div>
                </div>
            </lightning-record-view-form>
        </template>

    </div>
</template>