<template>
    <div class="slds-form-element slds-form-element_horizontal slds-is-editing">
        <template if:true={isNotCheckedBox}>
            <label class="slds-form-element__label" >
                <lightning-input id="optionAvailable" label={label} name="optionAvailable" type="checkbox"
                                 class="p-left-0" checked={selectedOrRequired} disabled={isRequired}>
                </lightning-input>
            </label>
        </template>
        <template if:true={isHelpText}>
            <lightning-helptext content={helpText} ></lightning-helptext>
        </template>
        <div class="slds-form-element__control">
            <template if:true={isCheckedBox}>
                <lightning-input id="poValue" type="checkbox" label={label} name="checkboxValue" value={defaultValue} class="width-100"
                                 disabled={isRequired} checked={selectedOrRequired} readonly={isReadOnly} ></lightning-input>
            </template>
            <template if:true={isNumeric}>
                <lightning-input type="number"  step="0.01" label={labels.none} name="numericValue" variant="label-hidden" value={defaultValue} class="width-100"
                                 placeholder="type double" readonly={isReadOnly} ></lightning-input>
            </template>
            <template if:true={isDate}>
                <lightning-input type="text" label={labels.none} name="dateValue" variant="label-hidden" value={defaultValue} class="width-100 label-hide"
                                 placeholder="select date" readonly={isReadOnly} ></lightning-input>
            </template>
            <template if:true={isText}>
                <lightning-input type="text" label={labels.none} name="textValue" variant="label-hidden" value={defaultValue} class="width-100 label-hide"
                                 placeholder="type text" readonly={isReadOnly} ></lightning-input>
            </template>
            <template if:true={isList}>
                <label>{labels.none}</label>
                <template for:each={listValues} for:item="value" >
                    <option  key={value}>{value}</option>
                </template>
            </template>
            <template if:true={isKeyValue}>
                <label>{labels.none}</label>
                <template for:each={mapValues} for:item="value">
                    <option  key={value.value}>{value.label}</option>
                </template>
            </template>
        </div>
    </div>
</template>