<!--
 - Created by aspiga on 12/12/2019.
 -->
<!-- [MRO] Compact Phones Output -->
<template>
    <div class={blockDivClass}>
        <span class="slds-form-element__label">{title}</span>
        <div class={numbersDivClass}>
            <template if:true={phone}>
                <div class={firstNumberClass}>
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="utility:call" size="xx-small" alternative-text="phone"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-text-body_small">
                        <lightning-formatted-phone value={phone}></lightning-formatted-phone>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </template>
            <template if:true={mobilePhone}>
                <div class="slds-media slds-media_center slds-media_small">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="utility:phone_portrait" size="xx-small" alternative-text="mobile phone"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-text-body_small">
                        <lightning-formatted-phone value={mobilePhone}></lightning-formatted-phone>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </template>
        </div>
    </div>
</template>