<template >
    <article if:true={filemetadataDTO} class="slds-card slds-card_boundary">
        <div class="slds-page-header slds-page-header_record-home">
            <div class="slds-page-header__row">
                <div class="slds-page-header__col-title">
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="action:share_file" ></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <div>
                                        <span>{labels.fileMetadata}</span>
                                        <h1 class="slds-welcome-mat__tile-title slds-text-heading_small">
                                            {filemetadataDTO.name}
                                        </h1>
                                        <span>{labels.documentChecking}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-page-header__row slds-page-header__row_gutters">
                <div if:true={filemetadataDTO} class="slds-page-header__col-details">
                    <ul class="slds-page-header__detail-row">
                        <li class="slds-page-header__detail-block">
                            <div class="slds-text-title slds-truncate" title={labels.dossier}>{labels.dossier}</div>
                            <div class="slds-truncate">{filemetadataDTO.dossierName}</div>
                        </li>
                        <li class="slds-page-header__detail-block">
                            <div class="slds-text-title slds-truncate" title={labels.createdDate}>{labels.createdDate}</div>
                            <div class="slds-truncate">
                                <lightning-formatted-date-time year="numeric" month="numeric" day="numeric"
                                    value={filemetadataDTO.createdDate}>
                                </lightning-formatted-date-time>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
    <article if:true={documentTypes} class="slds-card slds-card_boundary">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate slds-size_1-of-1">
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:file"
                            variant="inverse" size="small">
                        </lightning-icon>
                    </div>
                    <div class="slds-media__body">
                        <h3 class="slds-page-header__title">
                            <span>{labels.validatableDocuments}</span>
                        </h3>
                    </div>
                </div>
            </header>
        </div>

        <div class="content">
            <ul class="slds-has-dividers_top-space">
                <template for:each={documentTypes} for:item="docType">
                    <li key={docType.Id} class="slds-item">
                        <c-validatable-document-check file-metadata-id={filemetadataDTO.id} document-type={docType}
                            section-opened={oneSectionOpened} onchangesection={handleChangeSection}>
                        </c-validatable-document-check>
                    </li>
                </template>
            </ul>
        </div>
    </article>
</template>