<!--
 - Created by giupastore on 01/09/2020.
 -->

<!-- Mro Deco Reco Notification Period Selection -->
<template>
    <lightning-card title="Notifications   ">
        <ol class="slds-setup-assistant">
            <!-- STEP 0 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.periodSelection}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <fieldset class="slds-form-element slds-form-element_compound">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__row">
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="notificationStartDate"
                                                                         label="Start Date"
                                                                         required
                                                                         value={notificationStartDateDefault}
                                                                         onchange={onHandleNotificationStartDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="notificationEndDateName"
                                                                         label="End Date"
                                                                         readonly
                                                                         value={notificationEndDate}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP 1 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        Notifications</h3>
                                                    <p>List of notifications in selected time frame</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <c-mro-deco-reco-notification start-date={notificationStartDate}
                                                                  end-date={notificationEndDate}
                                                                  customer-code={customerCode}
                                                                  supply-id={supplyId}
                                                                  hide-confirm-selection="true">
                                    </c-mro-deco-reco-notification>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ol>
    </lightning-card>
</template>