<!--
 - Created by pes on 16/12/2020.
 -->

<!-- [MRO] Confirm Dialog -->
<template>
    <lightning-card if:true={visible}>
        <div class="slds-container_small">
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{title}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <p>{message}</p>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button-group>
                            <lightning-button variant="neutral"
                                              name="cancel"
                                              label={cancelLabel}
                                              title={cancelLabel}
                                              onclick={handleClick} ></lightning-button>
                            <lightning-button variant="brand"
                                              name="confirm"
                                              label={confirmLabel}
                                              title={confirmLabel}
                                              onclick={handleClick} ></lightning-button>
                        </lightning-button-group>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </lightning-card>
</template>