<!-- IndividualConsentsEdit -->
<template>
    <lightning-record-edit-form object-api-name="Individual" onerror={handleError}>
        <lightning-messages></lightning-messages>
        <lightning-layout multiple-rows="true">
            <lightning-layout-item padding="horizontal-small" size="3" class="wr-checkBox">
                <lightning-input-field data-name="HasOptedOutSolicit" field-name="HasOptedOutSolicit" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field data-name="HasOptedOutProcessing" field-name="HasOptedOutProcessing" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field data-name="HasOptedOutProfiling" field-name="HasOptedOutProfiling" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field data-name="HasOptedOutTracking" field-name="HasOptedOutTracking" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item padding="horizontal-small" size="3">
                <lightning-input-field data-name="CanStorePiiElsewhere" field-name="CanStorePiiElsewhere" variant="label-stacked"></lightning-input-field>
                <lightning-input-field data-name="CanStorePiiElsewhere" field-name="CanStorePiiElsewhere" variant="label-stacked"></lightning-input-field>
            </lightning-layout-item>
        </lightning-layout>
    </lightning-record-edit-form>
</template>