<!--
 - Created by Vlad Mocanu on 04/02/2020.
 -->

<!-- MroWarrantiesInquiry -->
<template>
    <lightning-card variant="narrow" icon-name="doctype:gsheet">
        <h1 slot="title">{customTitle}<a onmouseout={closePop} onmouseover={showPop}
                                                                   onclick={onClickContractNumber}>{contractNumber} </a>
        </h1>
        <div slot="actions">
            <lightning-button label="Retrieve Warranties" title="Retrieve Warranties" variant="brand"
                              onclick={handleRetrieveWarranties}></lightning-button>
        </div>
        <template if:true={warrantyList}>
            <table aria-multiselectable="true" class="slds-table slds-table_bordered slds-table_fixed-layout"
                   role="grid">
                <thead>
                <tr class="slds-line-height_reset">

                    <template if:false={hideSelectionColumn}>
                        <th class="slds-text-align_right" scope="col" style="width:3.25rem">
                            <div class="slds-th__action slds-th__action_form">
                                <lightning-input type="checkbox" label="Select All" name="selectAllWarranties"
                                                 variant="label-hidden"
                                                 checked={selectAll} onchange={onSelectAll}></lightning-input>
                            </div>
                        </th>
                    </template>

                    <th aria-label="SAP Warranty ID" scope="col">
                        <div class="slds-truncate" title="SAP Warranty ID">SAP Warranty ID</div>
                    </th>
                    <th aria-label="Contract Reference" scope="col">
                        <div class="slds-truncate" title="Contract Reference">Contract Reference</div>
                    </th>
                    <th aria-label="Amount" scope="col">
                        <div class="slds-truncate" title=Amount>Amount</div>
                    </th>
                    <th aria-label="Start Date" scope="col">
                        <div class="slds-truncate" title="Start Date">Start Date</div>
                    </th>
                    <th aria-label="Reason" scope="col">
                        <div class="slds-truncate" title="Reason">Reason</div>
                    </th>
                    <th aria-label="Type" scope="col">
                        <div class="slds-truncate" title="Type">Type</div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <template for:each={warrantyList} for:item="warranty">
                    <tr class={assignClass} key={warranty.warrantyId} aria-selected="false">
                        <template if:false={hideSelectionColumn}>
                            <td class="slds-text-align_right" role="gridcell">
                                <lightning-input type="checkbox" label="Select" name="selectWarranty" variant="label-hidden"
                                                 data-id={warranty.warrantyId}
                                                 checked={warranty.selected} onchange={onSelect}></lightning-input>
                            </td>
                        </template>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.warrantyId}>{warranty.warrantyId}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.contractReference}>{warranty.contractReference}
                            </div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.amount}>{warranty.amount}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.startDate}>{warranty.startDate}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.reason}>{warranty.reason}</div>
                        </td>
                        <td role="gridcell">
                            <div class="slds-truncate" title={warranty.type}>{warranty.type}</div>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </template>
        <div slot="footer">
            <template if:false={hideConfirmSelection}>
                <lightning-button label="Confirm Selection" title="Confirm Selection" variant="brand"
                                  data-id="confirmSelection" disabled onclick={onConfirmSelection}>

                </lightning-button>
            </template>
        </div>
        <c-mro-compact-layout-popover record-id={contractId} position="right-center"
                                      custom-fields={contractCustomFields}></c-mro-compact-layout-popover>
    </lightning-card>
</template>