/**
 * Created by giupastore on 12/06/2020.
 */
.datatableToEdit{
    background-color: yellowgreen;
    position: relative;
    z-index: 1;
    top: -33px;
    clip-path: inset(0% 0% -30% 3%);
}

.datatableReadOnly{
    position:relative;
    z-index: 2;
    clip-path: inset(0% 0% -30% 3%);
}
