<!--
 - Created by Octavian on 11/20/2019.
 -->

<!-- [MRO] Meter Tile -->
<!--//FF Self Reading #WP3-P2-->
<template>
    <lightning-card icon-name="utility:connected_apps">
        <h1 slot = "title">Meter {meterNumber}</h1>
        <div class="datatableReadOnly">

            <lightning-datatable key-field="id"
                                 data-id={tabelId}
                                 data = {meterData}
                                 columns={columns}
                                 draft-values={draftValues}
                                 errors = {errors}
                                 hide-checkbox-column
                                 suppress-bottom-bar
                                 oncellchange= {handleSaveIndex}
                                 show-row-number-column
                                 oncancel={handleCancel}>
            </lightning-datatable>
        </div>
        <div class="datatableToEdit">

            <lightning-datatable key-field="id"
                                 data-id={tableIdToEdit}
                                 data = {meterDataToEdit}
                                 columns={columnsToEdit}
                                 draft-values={draftValuesToEdit}
                                 errors = {errors}
                                 hide-checkbox-column
                                 suppress-bottom-bar
                                 show-row-number-column
                                 oncellchange= {handleSaveIndex}
                                 oncancel={handleCancel}>
            </lightning-datatable>
        </div>
    </lightning-card>
</template>
<!--//FF Self Reading #WP3-P2-->