<template>
    <c-address-edit-form address={address} is-read-only={readOnly} address-prefix={addressPrefix} object-api-name={objectApiName} available-addresses={availableAddresses} disable-normalize={disableNormalize} show-message={showMessage} onisnormalize={handleIsReadOnly} >
        <lightning-layout horizontal-align="space" multiple-rows="true">
            <template for:each={addressParts} for:item="part">
                <template if:false={part.item.Hidden__c}>
                    <lightning-layout-item key={part.item.FieldName__c} padding="horizontal-small" class="slds-truncate" size={part.item.ColSize__c}>
                        <c-address-input address-prefix={addressPrefix} read-only={readOnly} element={part.item.FieldName__c} required ={part.item.Required__c} values={part.values} onvaluechange={handleChange}></c-address-input>
                    </lightning-layout-item>
                </template>
            </template>
        </lightning-layout>

        <span if:false={readOnly} slot="buttons">
            <lightning-button variant="neutral" label={label.forceAddressLabel} icon-name="standard:address"  title={label.forceAddressLabel} onclick={forceAddress} class="slds-m-left_x-small" disabled={disableNormalize}></lightning-button>
            <lightning-button variant="brand" label={label.normalizeLabel} icon-name="custom:custom96" title={label.normalizeLabel} onclick={normalize} class="slds-m-left_x-small" disabled={disableNormalize}></lightning-button>
		</span>
        <span if:true={readOnly} slot="buttons">
			<lightning-button variant="brand" label={labels.edit} icon-name="utility:edit" title={labels.edit}  class="slds-m-left_x-small" onclick={editAddress} disabled={isNewRecord}></lightning-button>
		</span>
    </c-address-edit-form>
</template>