<!--
  @Component Name     : mroWizardHeader.html
  1.0    24/07/2019   Boubacar Sow  Initial Version from EnergyApp2
  2.0    20/12/2019   Babos Goudiaby  Updated Version for ENEL MRO
-->
<template>
    <div class="slds-page-header slds-page-header_record-home slds-m-bottom--small">
        <div class="slds-page-header__row">
            <div class="slds-col slds-has-flexi-truncate">
                <div class="slds-media">
                    <template if:true={dossierId}>
                        <div class="slds-media__figure slds-var-m-top_xx-small">
                            <lightning-icon icon-name="standard:connected_apps"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <div>
                                    <p> {wizardLabel} </p>
                                    <h1
                                        class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                        {dossier.Name} </h1>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template if:false={dossierId}>
                        <div class="slds-media__figure slds-var-m-top_xx-small">
                            <lightning-icon icon-name="standard:opportunity" size="medium"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__name">
                                <template if:true={opportunityId}>
                                    <div>
                                        <p> {wizardLabel} </p>
                                        <h1
                                            class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                            {opportunity.Name} </h1>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                <template if:false={hideCompanyDivision}>
                    <template if:true={companyDivisionName}>
                        <div>
                            <p> {label.companyDivision} </p>
                            <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">
                                {companyDivisionName} </h1>
                        </div>
                    </template>
                </template>
            </div>
        </div>
        <div class="slds-page-header__row slds-page-header__row_gutters">
            <template if:true={accountId}>
                <lightning-record-edit-form class="slds-page-header__col-details" record-id={accountId}
                                            object-api-name="Account">
                    <ul class="slds-page-header__detail-row">
                        <li class="slds-page-header__detail-block" style="padding-left: 1rem;">
                            <div class="slds-form-element__label">{label.account}</div>
                            <div class="slds-text-link slds-form-element__control" onclick={navigateToAccount}
                                 title="">
                                <lightning-formatted-text value={account.Name}></lightning-formatted-text>
                            </div>
                        </li>
                        <template if:true={isPerson}>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="PersonEmail"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="NationalIdentityNumber__pc">
                                </lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="AccountNumber">
                                </lightning-output-field>
                            </li>
                        </template>
                        <template if:true={isBusiness}>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="Email__c"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="VATNumber__c"></lightning-output-field>
                            </li>
                            <li class="slds-page-header__detail-block">
                                <lightning-output-field field-name="AccountNumber">
                                </lightning-output-field>
                            </li>
                        </template>
                        <li class="slds-page-header__detail-block">
                            <template if:true={dossierId}>
                                <c-mro-origin-channel-selection object-api-name="Dossier__c"
                                                                disabled={_disableOriginChannel}
                                                                selected-origin={_selectedOrigin}
                                                                selected-channel={_selectedChannel}
                                                                onselectionoriginchannel={handleSelectionOriginChannel}></c-mro-origin-channel-selection>
                            </template>
                            <template if:false={dossierId}>
                                <c-mro-origin-channel-selection object-api-name="Opportunity"
                                                                disabled={_disableOriginChannel}
                                                                selected-origin={_selectedOrigin}
                                                                selected-channel={_selectedChannel}
                                                                onselectionoriginchannel={handleSelectionOriginChannel}></c-mro-origin-channel-selection>
                            </template>
                        </li>
                    </ul>
                </lightning-record-edit-form>
            </template>
        </div>
    </div>
</template>