<template>
    <template if:true={rendered}>
        <div>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon title={labels.close} icon-name="utility:close" variant="bare-inverse" class="slds-modal__close" onclick={close}></lightning-button-icon>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{labels.cart}</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="slds-p-around_small">
                            <template if:false={isEmpty}>
                                <lightning-datatable columns={columns} data={productList} key-field="id" onrowaction={handleRowAction} hide-checkbox-column="true"></lightning-datatable>
                            </template>
                            <template if:true={isEmpty}>
                                <div class="slds-align_absolute-center slds-text-heading_medium">{labels.noCart}</div>
                            </template>
                        </div>
                    </div>
                    <footer class="slds-modal__footer slds-modal__footer_directional">
                        <lightning-button variant="neutral" label={labels.cancel} title={labels.cancel} onclick={close}></lightning-button>
                        <lightning-button variant="brand" label={labels.checkout} title={labels.checkout} onclick={handleCheckout}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
    </template>
</template>