<!--
 - Created by tommasobolis on 22/10/2020.
 -->

<!-- Mro Address Normalization -->
<template>

    <template if:true={showModal}>
    <div>

        <section role="alertdialog"
                 tabindex="0"
                 aria-labelledby="prompt-heading-id"
                 aria-describedby="prompt-message-wrapper"
                 class="slds-modal slds-fade-in-open slds-modal_prompt slds-modal_large"
                 aria-modal="true">

            <div class="slds-modal__container">

                <header class="slds-modal__header">
                    <h2 class="slds-text-heading_medium">{activity.AddressTypeLabel} {labels.address}</h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium">

                    <template if:true={showSpinner}>
                        <lightning-spinner alternative-text="loading" size="large"></lightning-spinner>
                    </template>

                    <c-mro-address-form
                            hide-force-address=true
                            address={address}
                            read-only={readOnly}
                            is-facultative={isRequiredAddressField}
                            address-prefix="Sending"
                            disable-normalize = {disableNormalize}
                            is-normalize ={isNormalize}
                            object-api-name="wrts_prcgvr__Activity__c"
                            available-addresses={availableAddresses}
                            onupdateaddressnormalized={handleAddressNormalized}>
                    </c-mro-address-form>

                </div>

                <footer class="slds-modal__footer slds-theme_default">
                    <button class="slds-button slds-button_neutral"
                            onclick={handleCancel}>{labels.cancel}</button>
                    <button class="slds-button slds-button_brand"
                            onclick={handleSave} disabled={isSaveDisabled}>{labels.save}</button>
                </footer>

            </div>

        </section>

        <div class="slds-backdrop slds-backdrop_open"></div>

    </div>
    </template>

</template>