<template>
    <div class="slds-card slds-p-around_xx-small">
        <lightning-layout horizontal-align="spread" class="slds-page-header">
            <lightning-layout-item>
                <div class="slds-media">
                    <div class="slds-media__figure">
                        <lightning-icon icon-name="standard:individual" alternative-text="Individual"></lightning-icon>
                    </div>
                    <div class="slds-media__body slds-p-top_xx-small">
                        <div class="slds-page-header__name">
                            <div class="slds-page-header__name-title">
                                <h1><span class="slds-page-header__title slds-truncate" title={labels.individualEditForm}>
                                    {labels.individualEditForm}
                                </span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="slds-media__figure slds-media__figure_reverse"></div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item class="slds-page-header__col-actions">
                <div class="slds-page-header__controls">
                    <lightning-button-group class="slds-page-header__control" if:false={hideBack}>
                        <lightning-button label={labels.back} title={labels.back} onclick={handleBack}>
                        </lightning-button>
                    </lightning-button-group>
                </div>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-record-edit-form id="interlocutorForm" object-api-name={interlocutorObject} onerror={handleError} record-id={recordId}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid slds-wrap slds-gutters slds-m-bottom_none slds-p-around_small" role="list">
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="FirstName" data-id="FirstName"
                                            onchange={handleChangeInput} value={firstName} disabled={disabled.firstName} variant="label-stacked"></lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required none" field-name="LastName" data-id="LastName"
                                            onchange={handleChangeInput} value={lastName} disabled={disabled.lastName} variant="label-stacked" ></lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" field-name="NationalIdentityNumber__c" data-id="NationalIdentityNumber__c" 
                                            onchange={handleChangeInput} value={nationalId} disabled={disabled.nationalId} variant="label-stacked"></lightning-input-field>
                </div>
                <lightning-input-field class="slds-hide" field-name="TechnicalDetails__c" variant="label-stacked"></lightning-input-field>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input type="tel" class="slds-p-horizontal_xx-small" label={labels.phone} name="tel" value={phone} data-id="Phone"
                                     onchange={handleChangeInput} disabled={disabled.phone} ></lightning-input>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input type="email" class="slds-p-horizontal_xx-small" label={labels.email} name="email" value={email} data-id="Email"
                                     onchange={handleChangeInput} disabled={disabled.email}></lightning-input>
                </div>
            </div>
            <div class="slds-card__footer">
                <lightning-button-group class="slds-m-top_small">
                    <template if:true={cancelRendered}>
                        <lightning-button variant="neutral" name="cancel" label={labels.cancel} onclick={handleCancel}></lightning-button>
                    </template>
                    <template if:false={recordId}>
                        <lightning-button variant="brand" icon-name="utility:save" name="save" label={labels.save} onclick={handleSave}></lightning-button>
                    </template>
                    <template if:true={recordId}>
                        <lightning-button variant="brand" name="update" label={labels.update} onclick={handleUpdate}></lightning-button>
                    </template>
                </lightning-button-group>
            </div>
        </lightning-record-edit-form>
    </div>
</template>