<template>
    <div class="slds-card slds-theme_shade">
        <div class="slds-page-header">
            <lightning-layout horizontal-align="spread">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:search" size="medium" variant="slds-icon-inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <div class="slds-page-header__title slds-text-heading_medium">Recent Uploaded Documents</div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
        </div>
        <template if:true={documentList}> 
            <div class="content">
                <ul>
                    <template for:each={documentList} for:item="document">
                        <li key={document.Id} class="slds-item">
                            <c-document-list-item key={document.Id} document-id={document.Id} file-id={document.DocumentId__c}></c-document-list-item>
                        </li>
                    </template>
                </ul>
            </div>
        </template>
    </div>
</template>