<template>
    <div class="supply-info">
        <hr/>
        <h2><b>{labels.selectedSupplyInfo}:</b></h2>
        <br/>
        <p>
            <b>{labels.supplyCode}: {supply.Name}</b>
            <br/>
            <b>ID: {supply.Id}</b>
        </p>
        <br/>
        <div class="slds-grid">
            <div class="slds-col">
                <p>{labels.Status}: {supply.Status__c}</p>
                <template if:true={supply.Product__r}>
                    <p>{labels.productName}: {supply.Product__r.Name}</p>
                    <p>{labels.productType}: {productType}</p>
                </template>
                <br/>
            </div>
            <template if:true={supplyContract}>
                <div class="slds-col slds-float_right">
                    <template if:true={ContractEndDate}>
                        <p>{labels.activationDate}: {supplyContract.StartDate}</p>
                        <p>{labels.terminationDate}: {ContractEndDate}</p>
                        <p>{labels.monthsUntilExpiration}: {ExpiresIn} {labels.monthS}</p>
                    </template>
                </div>
            </template>
        </div>
    </div>
</template>
