<template>
    <lightning-card>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom--none slds-p-bottom_small slds-grid"
                 role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.billingProfile}</div>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-p-horizontal_none">
            <fieldset disabled={disabled} class={addClass} style="max-height:10rem">
                <div class="slds-form-element__control slds-m-vertical_x-small">
                    <template for:each={recordList} for:item="billingProfile" for:index="i">
                        <lightning-layout-item key={billingProfile.Id}>
                            <div if:true={i}>
                                <hr class="slds-m-vertical_x-small">
                            </div>
                            <span class="slds-radio slds-m-left_x-small">
                                <input type="radio" id={billingProfile.Id} name="radioGroup"
                                       value={billingProfile.Id} onchange={handleStatusRadio} checked={billingProfile.selected} />
                                <label class="slds-radio__label" for={billingProfile.Id}>
                                    <span class="slds-radio_faux"></span>
                                    <span class="slds-form-element__label">{billingProfile.value}</span>
                                </label>
                            </span>
                        </lightning-layout-item>
                    </template>
                </div>
            </fieldset>
            <fieldset disabled={disabled}
                      class="slds-size_1-of-12 slds-grid slds-cell-wrap slds-grid_vertical slds-align_absolute-center">
                <div class="slds-align_absolute-center slds-p-bottom_small">
                    <button class="slds-button slds-button_brand wr-button-width" name="New"
                            onclick={newBillingProfile}>{labels.New}
                    </button>
                </div>
                <div class={addButtonClass}>
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableEditButtonBP}
                            name="Edit" onclick={editBillingProfile}>{labels.edit}
                    </button>
                </div>
                <div class="slds-align_absolute-center">
                    <button class="slds-button slds-button_brand wr-button-width" disabled={enableButtons} name="Clone"
                            onclick={cloneBillingProfile}>{labels.clone}
                    </button>
                </div>
            </fieldset>
        </div>
        <div if:true={showModal}>
            <div class="slds-modal slds-backdrop slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container slds-p-horizontal_none">
                    <div class="slds-modal__header slds-p-around_none">
                        <lightning-button-icon title={labels.close}
                                               size="large" icon-name="utility:close" variant="bare-inverse"
                                               class="slds-modal__close" onclick={closeModal}>
                        </lightning-button-icon>
                    </div>
                    <div class="slds-modal__content slds-m-around_none">
                        <c-billing-profile-edit account-id={accountId}
                                                billing-profile-record-id={billingProfileRecordId}
                                                button-type={buttonType} onclose={closeHandle}
                                                onsave={saveBillingProfileEdit} show-header="true">
                        </c-billing-profile-edit>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>