<!--
 - Created by Octavian on 11/20/2019.
 -->

<!-- [MRO] Meter List -->
<template>
    <h1 slot = "title">{defaultTitle}  {titleCode}</h1>
    <template if:true={hasContent}>
    <template for:each={meterNumbers} for:item="meterNumber" for:index="index">
        <c-mro-meter-tile key={meterNumber} disabled={disabled} disallow-edit= {disallowEdit} meter-number={meterNumber}
                          validate-readings={validateReadings} record-type-name={recordTypeName} onedit={handleEditMeter}
                          is-used-self-reading-cmp={isUsedSelfReadingCmp}
                          skip-meters-validation={skipMetersValidation}
                          is-transfer-or-product-change={isTransferOrProductChange}
                          allow-edit-only-active-energy={allowEditOnlyActiveEnergy}
                          service-point-code={servicePointCode}
                          params={params}
                          process-name={processName}>

        </c-mro-meter-tile>
    </template>
    </template>
    <template if:false={hasContent}>
        <h2>There are no meters to display yet!</h2>
    </template>
    <!--//FF Self Reading #WP3-P2-->
    <template if:true={hasContent}>
    <div  class="slds-align_absolute-center" slot = "actions">
        <div if:false={hideValidateButton} >
            <lightning-button label="Validate" disabled={disabled} title="Validate Readings" variant="brand"
                              onclick={handleValidate}></lightning-button>
        </div>
    </div>
    </template>
    <!--//FF Self Reading #WP3-P2-->
</template>