<!--
 - Created by pes on 05/05/2020.
 -->

<!-- [MRO] Dynamic Form -->
<template>
    <template if:true={sections}>
        <template for:each={sections} for:item="section">
            <template if:true={section.isStandard}>
                <c-mro-dynamic-form-section key={section.sectionId} section={section} object-type={section.objectType}></c-mro-dynamic-form-section>
            </template>
            <template if:true={section.isAddress}>
                <c-mro-dynamic-form-address-section key={section.sectionId} section={section} object-type={section.objectType}></c-mro-dynamic-form-address-section>
            </template>
        </template>
    </template>
</template>