/**
 * Created by pes on 24/09/2019.
 */

/*.reset-this {*/
/*    animation : none;*/
/*    animation-delay : 0;*/
/*    animation-direction : normal;*/
/*    animation-duration : 0;*/
/*    animation-fill-mode : none;*/
/*    animation-iteration-count : 1;*/
/*    animation-name : none;*/
/*    animation-play-state : running;*/
/*    animation-timing-function : ease;*/
/*    backface-visibility : visible;*/
/*    background : 0;*/
/*    background-attachment : scroll;*/
/*    background-clip : border-box;*/
/*    background-color : transparent;*/
/*    background-image : none;*/
/*    background-origin : padding-box;*/
/*    background-position : 0 0;*/
/*    background-position-x : 0;*/
/*    background-position-y : 0;*/
/*    background-repeat : repeat;*/
/*    background-size : auto auto;*/
/*    border : 0;*/
/*    border-style : none;*/
/*    border-width : medium;*/
/*    border-color : inherit;*/
/*    border-bottom : 0;*/
/*    border-bottom-color : inherit;*/
/*    border-bottom-left-radius : 0;*/
/*    border-bottom-right-radius : 0;*/
/*    border-bottom-style : none;*/
/*    border-bottom-width : medium;*/
/*    border-collapse : separate;*/
/*    border-image : none;*/
/*    border-left : 0;*/
/*    border-left-color : inherit;*/
/*    border-left-style : none;*/
/*    border-left-width : medium;*/
/*    border-radius : 0;*/
/*    border-right : 0;*/
/*    border-right-color : inherit;*/
/*    border-right-style : none;*/
/*    border-right-width : medium;*/
/*    border-spacing : 0;*/
/*    border-top : 0;*/
/*    border-top-color : inherit;*/
/*    border-top-left-radius : 0;*/
/*    border-top-right-radius : 0;*/
/*    border-top-style : none;*/
/*    border-top-width : medium;*/
/*    bottom : auto;*/
/*    box-shadow : none;*/
/*    box-sizing : content-box;*/
/*    caption-side : top;*/
/*    clear : none;*/
/*    clip : auto;*/
/*    color : inherit;*/
/*    columns : auto;*/
/*    column-count : auto;*/
/*    column-fill : balance;*/
/*    column-gap : normal;*/
/*    column-rule : medium none currentColor;*/
/*    column-rule-color : currentColor;*/
/*    column-rule-style : none;*/
/*    column-rule-width : none;*/
/*    column-span : 1;*/
/*    column-width : auto;*/
/*    content : normal;*/
/*    counter-increment : none;*/
/*    counter-reset : none;*/
/*    cursor : auto;*/
/*    direction : ltr;*/
/*    display : inline;*/
/*    empty-cells : show;*/
/*    float : none;*/
/*    font : normal;*/
/*    font-family : inherit;*/
/*    font-size : medium;*/
/*    font-style : normal;*/
/*    font-variant : normal;*/
/*    font-weight : normal;*/
/*    height : auto;*/
/*    hyphens : none;*/
/*    left : auto;*/
/*    letter-spacing : normal;*/
/*    line-height : normal;*/
/*    list-style : none;*/
/*    list-style-image : none;*/
/*    list-style-position : outside;*/
/*    list-style-type : disc;*/
/*    margin : 0;*/
/*    margin-bottom : 0;*/
/*    margin-left : 0;*/
/*    margin-right : 0;*/
/*    margin-top : 0;*/
/*    max-height : none;*/
/*    max-width : none;*/
/*    min-height : 0;*/
/*    min-width : 0;*/
/*    opacity : 1;*/
/*    orphans : 0;*/
/*    outline : 0;*/
/*    outline-color : invert;*/
/*    outline-style : none;*/
/*    outline-width : medium;*/
/*    overflow : visible;*/
/*    overflow-x : visible;*/
/*    overflow-y : visible;*/
/*    padding : 0;*/
/*    padding-bottom : 0;*/
/*    padding-left : 0;*/
/*    padding-right : 0;*/
/*    padding-top : 0;*/
/*    page-break-after : auto;*/
/*    page-break-before : auto;*/
/*    page-break-inside : auto;*/
/*    perspective : none;*/
/*    perspective-origin : 50% 50%;*/
/*    position : static;*/
/*    !* May need to alter quotes for different locales (e.g fr) *!*/
/*    quotes : '\201C' '\201D' '\2018' '\2019';*/
/*    right : auto;*/
/*    tab-size : 8;*/
/*    table-layout : auto;*/
/*    text-align : inherit;*/
/*    text-align-last : auto;*/
/*    text-decoration : none;*/
/*    text-decoration-color : inherit;*/
/*    text-decoration-line : none;*/
/*    text-decoration-style : solid;*/
/*    text-indent : 0;*/
/*    text-shadow : none;*/
/*    text-transform : none;*/
/*    top : auto;*/
/*    transform : none;*/
/*    transform-style : flat;*/
/*    transition : none;*/
/*    transition-delay : 0s;*/
/*    transition-duration : 0s;*/
/*    transition-property : none;*/
/*    transition-timing-function : ease;*/
/*    unicode-bidi : normal;*/
/*    vertical-align : baseline;*/
/*    visibility : visible;*/
/*    white-space : normal;*/
/*    widows : 0;*/
/*    width : auto;*/
/*    word-spacing : normal;*/
/*    z-index : auto;*/
/*    !* basic modern patch *!*/
/*    all: initial;*/
/*    all: unset;*/
/*}*/

/*h1 {*/
/*    display: block !important;*/
/*    font-size: 2em !important;*/
/*    margin-top: 0.67em !important;*/
/*    margin-bottom: 0.67em !important;*/
/*    margin-left: 0 !important;*/
/*    margin-right: 0 !important;*/
/*    font-weight: bold !important;*/
/*}*/
/*h2 {*/
/*    display: block !important;*/
/*    font-size: 1.5em !important;*/
/*    margin-top: 0.83em !important;*/
/*    margin-bottom: 0.83em !important;*/
/*    margin-left: 0 !important;*/
/*    margin-right: 0 !important;*/
/*    font-weight: bold !important;*/
/*}*/
/*.reset-this > h3 {*/
/*    display: block;*/
/*    font-size: 1.17em;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 1em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    font-weight: bold;*/
/*}*/
/*.reset-this > h4 {*/
/*    display: block;*/
/*    font-size: 1em;*/
/*    margin-top: 1.33em;*/
/*    margin-bottom: 1.33em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    font-weight: bold;*/
/*}*/
/*.reset-this > h5 {*/
/*    display: block;*/
/*    font-size: .83em;*/
/*    margin-top: 1.67em;*/
/*    margin-bottom: 1.67em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    font-weight: bold;*/
/*}*/
/*.reset-this > h6 {*/
/*    display: block;*/
/*    font-size: .67em;*/
/*    margin-top: 2.33em;*/
/*    margin-bottom: 2.33em;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    font-weight: bold;*/
/*}*/
/*html, body, div, span, applet, object, iframe,*/
/*h1, h2, h3, h4, h5, h6, p, blockquote, pre,*/
/*a, abbr, acronym, address, big, cite, code,*/
/*del, dfn, em, font, img, ins, kbd, q, s, samp,*/
/*small, strike, strong, sub, sup, tt, var,*/
/*dl, dt, dd, ol, ul, li,*/
/*fieldset, form, label, legend,*/
/*table, caption, tbody, tfoot, thead, tr, th, td {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    border: 0;*/
/*    outline: 0;*/
/*    font-weight: inherit;*/
/*    font-style: inherit;*/
/*    font-size: 100%;*/
/*    font-family: inherit;*/
/*    vertical-align: baseline;*/
/*}*/
/*!* remember to define focus styles! *!*/
/*:focus {*/
/*    outline: 0;*/
/*}*/
/*body {*/
/*    line-height: 1;*/
/*    color: black;*/
/*    background: white;*/
/*}*/
/*ol, ul {*/
/*    list-style: none;*/
/*}*/
/*!* tables still need 'cellspacing="0"' in the markup *!*/
/*table {*/
/*    border-collapse: separate;*/
/*    border-spacing: 0;*/
/*}*/
/*caption, th, td {*/
/*    text-align: left;*/
/*    font-weight: normal;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
/*    content: "";*/
/*}*/
/*blockquote, q {*/
/*    quotes: "" "";*/
/*}*/

/* basic modern patch */
/*
#reset-this-root {
    all: initial;
    * {
        all: unset;
    }
}
 */

/* blocks */

html, div, map, dt, isindex, form {
    display: block;
}

body {
    display: block;
    margin: 8px;
}

div.reset-this {
    display: block;
    margin: 8px;
}

p, dl, multicol {
    display: block;
    margin: 1em 0;
}

dd {
    display: block;
    -moz-margin-start: 40px;
}

blockquote {
    display: block;
    margin: 1em 40px;
}

address {
    display: block;
    font-style: italic;
}

center {
    display: block;
    text-align: -moz-center;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: .67em 0;
    padding: 150px;
}

h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: .83em 0;
    padding: 100px;
}

h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
    padding: 50px;
}

h4 {
    display: block;
    font-weight: bold;
    margin: 1.33em 0;
}

h5 {
    display: block;
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.67em 0;
}

h6 {
    display: block;
    font-size: 0.67em;
    font-weight: bold;
    margin: 2.33em 0;
}

listing {
    display: block;
    font-family: -moz-fixed;
    font-size: medium;
    white-space: pre;
    margin: 1em 0;
}

xmp, pre, plaintext {
    display: block;
    font-family: -moz-fixed;
    white-space: pre;
    margin: 1em 0;
}

/* tables */

table {
    display: table;
    border-spacing: 2px;
    border-collapse: separate;
    margin-top: 0;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    text-indent: 0;
}

table[align="left"] {
    float: left;
}

table[align="right"] {
    float: right;
    text-align: start;
}

/* caption inherits from table not table-outer */
caption {
    display: table-caption;
    text-align: center;
    -moz-box-sizing: border-box;
}

table[align="center"] > caption {
    margin-left: auto;
    margin-right: auto;
}

table[align="center"] > caption[align="left"] {
    margin-right: 0;
}

table[align="center"] > caption[align="right"] {
    margin-left: 0;
}

tr {
    display: table-row;
    vertical-align: inherit;
}

col {
    display: table-column;
}

colgroup {
    display: table-column-group;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
}

thead {
    display: table-header-group;
    vertical-align: middle;
}

tfoot {
    display: table-footer-group;
    vertical-align: middle;
}

/* for XHTML tables without tbody */
table > tr {
    vertical-align: middle;
}

td {
    display: table-cell;
    vertical-align: inherit;
    text-align: inherit;
    padding: 1px;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    padding: 1px;
}

.table {
    display: table;
    border-spacing: 2px;
    border-collapse: separate;
    margin-top: 0;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    text-indent: 0;
    text-align: center;
}

.tr {
    display: table-row;
    vertical-align: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

.td {
    display: table-cell;
    vertical-align: inherit;
    text-align: inherit;
    padding: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

.th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    padding: 1px;
    border-width: 3px;
    border-style: solid;
    border-color: #000000;
}

tr > form:-moz-is-html, tbody > form:-moz-is-html,
thead > form:-moz-is-html, tfoot > form:-moz-is-html,
table > form:-moz-is-html {
    /* Important: don't show these forms in HTML */
    display: none !important;
}

/* inlines */

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

b, strong {
    font-weight: bolder;
}

i, cite, em, var, dfn {
    font-style: italic;
}

tt, code, kbd, samp {
    font-family: -moz-fixed;
}

u, ins {
    text-decoration: underline;
}

s, strike, del {
    text-decoration: line-through;
}

blink {
    text-decoration: blink;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
    line-height: normal;
}

sup {
    vertical-align: super;
    font-size: smaller;
    line-height: normal;
}

nobr {
    white-space: nowrap;
}

/* titles */
abbr[title], acronym[title] {
    border-bottom: dotted 1px;
}

/* lists */

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    -moz-padding-start: 40px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin: 1em 0;
    -moz-padding-start: 40px;
}

li {
    display: list-item;
    -moz-float-edge: margin-box;
}

/* nested lists have no top/bottom margins */
ul ul,   ul ol,   ul dir,   ul menu,   ul dl,
ol ul,   ol ol,   ol dir,   ol menu,   ol dl,
dir ul,  dir ol,  dir dir,  dir menu,  dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul,   dl ol,   dl dir,   dl menu,   dl dl {
    margin-top: 0;
    margin-bottom: 0;
}

/* 2 deep unordered lists use a circle */
ol ul,   ul ul,   menu ul,   dir ul,
ol menu, ul menu, menu menu, dir menu,
ol dir,  ul dir,  menu dir,  dir dir {
    list-style-type: circle;
}

/* 3 deep (or more) unordered lists use a square */
ol ol ul,     ol ul ul,     ol menu ul,     ol dir ul,
ol ol menu,   ol ul menu,   ol menu menu,   ol dir menu,
ol ol dir,    ol ul dir,    ol menu dir,    ol dir dir,
ul ol ul,     ul ul ul,     ul menu ul,     ul dir ul,
ul ol menu,   ul ul menu,   ul menu menu,   ul dir menu,
ul ol dir,    ul ul dir,    ul menu dir,    ul dir dir,
menu ol ul,   menu ul ul,   menu menu ul,   menu dir ul,
menu ol menu, menu ul menu, menu menu menu, menu dir menu,
menu ol dir,  menu ul dir,  menu menu dir,  menu dir dir,
dir ol ul,    dir ul ul,    dir menu ul,    dir dir ul,
dir ol menu,  dir ul menu,  dir menu menu,  dir dir menu,
dir ol dir,   dir ul dir,   dir menu dir,   dir dir dir {
    list-style-type: square;
}


/* leafs */

/* <hr> noshade and color attributes are handled completely by
 * the nsHTMLHRElement attribute mapping code
 */
hr {
    display: block;
    height: 2px;
    border: 1px -moz-bg-inset;
    margin: 0.5em auto 0.5em auto;
    -moz-float-edge: margin-box;
    -moz-box-sizing: border-box;
}

*|*:-moz-any-link img, img[usemap], object[usemap] {
    border: 2px solid;
}

img[usemap], object[usemap] {
    cursor: pointer;
    color: blue;
}

frameset {
    display: block ! important;
    overflow: -moz-hidden-unscrollable;
    position: static ! important;
    float: none ! important;
    border: none ! important;
}

frame {
    border: none ! important;
}

iframe {
    border: 2px inset;
}

noframes {
    display: none;
}

spacer {
    position: static ! important;
    float: none ! important;
}

canvas {
    -moz-user-select: none;
}

/* focusable content: anything w/ tabindex >=0 is focusable */
abbr:focus, acronym:focus, address:focus, applet:focus, b:focus,
base:focus, big:focus, blockquote:focus, br:focus, canvas:focus, caption:focus,
center:focus, cite:focus, code:focus, col:focus, colgroup:focus, dd:focus,
del:focus, dfn:focus, dir:focus, div:focus, dl:focus, dt:focus, em:focus,
fieldset:focus, font:focus, form:focus, h1:focus, h2:focus, h3:focus, h4:focus,
h5:focus, h6:focus, hr:focus, i:focus, img:focus, ins:focus,
kbd:focus, label:focus, legend:focus, li:focus, link:focus, menu:focus,
object:focus, ol:focus, p:focus, pre:focus, q:focus, s:focus, samp:focus,
small:focus, span:focus, strike:focus, strong:focus, sub:focus, sup:focus,
table:focus, tbody:focus, td:focus, tfoot:focus, th:focus, thead:focus,
tr:focus, tt:focus, u:focus, ul:focus, var:focus {
    outline: 1px dotted invert;
}

/* hidden elements */
area, base, basefont, head, meta, script, style, title,
noembed, param {
    display: none;
}

/* PRINT ONLY rules follow */
@media print {

    marquee { -moz-binding: none; }

    /* XXX this should not be necessary, we should be stopping blinking
       of any kind in print preview, not just the <blink> element */
    blink {
        text-decoration: none;
    }

}