<!--
 - Created by Boubacar Sow on 02/10/2020.
 -->

<!-- [MRO] Out Come Selection -->
<template>
    <lightning-card variant="Narrow" title={title} icon-name={icon}>
        <lightning-record-edit-form object-api-name="Case" record-type-id={recordTypeId} record-id={caseId}
                                    onerror={handleError}>
            <lightning-messages></lightning-messages>
            <lightning-input-field field-name="Outcome__c" value={defaultValue} variant="label-hidden" onchange={handleChange}
                                   disabled={disabled}>
            </lightning-input-field>
        </lightning-record-edit-form>
    </lightning-card>

</template>