<!--
 - Created by terangacloud on 29.04.2020.
 -->

<!-- Mro Representative Selection -->
<template>
    <template if:false={contactRecord}>
        <c-mro-individual-search onsearch={searchHandler}
                                 disabled-form={disabledForm}
                                 connection-representant="true"
                                 form-title={labels.searchForRepresentative}></c-mro-individual-search>
    </template>
    <template if:true={contactRecord}>
        <div class="slds-m-bottom--small">
            <lightning-card data-id="interlocutorSession"
                            variant="Narrow">

                <div class="slds-p-horizontal_small content">
                    <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
                        <div class="slds-media w-100">
                            <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center">
                                <lightning-avatar src="" fallback-icon-name="standard:avatar" variant="circle"
                                                  size="medium" alternative-text=""></lightning-avatar>
                            </div>
                            <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small h-4rem">
                                <div class="slds-form__row">
                                    <div class="slds-form__item" role="listitem">
                                        <lightning-formatted-text
                                                class="slds-welcome-mat__tile-title slds-text-heading_small slds-p-horizontal_xx-small"
                                                value={contactRecord.Name}></lightning-formatted-text>
                                    </div>
                                </div>

                                <lightning-record-view-form record-id={contactRecord.Id}
                                                            object-api-name="Contact" class="w-100">
                                    <div class="slds-form__row">
                                        <div class="slds-form__item" role="listitem">
                                            <lightning-output-field class="slds-form-element__static"
                                                                    field-name="Email"
                                                                    variant="label-stacked"></lightning-output-field>
                                            <template if:false={accountRecord.IsPersonAccount}>
                                                <lightning-output-field class="slds-form-element__static"
                                                                        field-name="Phone"
                                                                        variant="label-stacked"></lightning-output-field>
                                            </template>
                                            <template if:true={accountRecord.IsPersonAccount}>
                                                <lightning-output-field class="slds-form-element__static"
                                                                        field-name="MobilePhone"
                                                                        variant="label-stacked"></lightning-output-field>
                                            </template>
                                        </div>
                                    </div>
                                </lightning-record-view-form>

                            </div>

                            <div class="slds-media__figure slds-media__figure_reverse slds-clearfix">
                                <div class="slds-align_absolute-center min-w-5rem h-4rem l-h-4rem">
                                    <lightning-button-icon icon-name="utility:close" class="slds-p-horizontal_xx-small"
                                                           onclick={contactRemoveHandler} disabled={disabledForm}
                                    ></lightning-button-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </lightning-card>
        </div>
    </template>
    <div if:true={showBox}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__content slds-p-around_medium wr-modal-small">
                    <template if:true={showListBox}>
                        <c-mro-individual-list interlocutor-list={contactList}
                                               form-title={labels.contactSearchResults}
                                               not-interlocutor-or-contact={labels.noContactIntheList}
                                               connection-representant="true"
                                               onselect={onContactSelect} onredirect={redirectHandler}>
                        </c-mro-individual-list>
                    </template>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
    <template if:true={showEditBox}>
        <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container form-style-6">
                <div class="slds-modal__content slds-p-around_medium wr-modal-small">
                    <c-mro-individual-edit is-connection-representative={isConnectionRepresentant}
                                           onsavedconnection={handleSave}
                                           account-record={accountRecord}

                                           form-title={labels.contactEditForm}
                                           oncancel={handleCancel}>
                    </c-mro-individual-edit>
                </div>
            </div>
        </div>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>