<template>
    <template if:true={isRow}>
        <lightning-record-view-form record-id={supplyId} object-api-name="Supply__c">
            <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_striped">
                <tbody>
                <tr data-type="container" data-row-index="" class="slds-grid slds-hint-parent">
                    <td class="slds-col slds-size_3-of-12 slds-grid slds-p-around_none">
                        <div class="slds-media__figure slds-col slds-size_1-of-12">
                                    <span class="slds-icon_container" >
                                        <template if:true={isGas}>
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLGas}></use>
                                            </svg>
                                        </template>
                                        <template if:true={isElectric}>
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLEle}></use>
                                            </svg>
                                        </template>
                                        <template if:true={isService}>
                                            <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                                                <use xlink:href={svgURLService}></use>
                                            </svg>
                                        </template>
                                    </span>
                        </div>
                        <div class=" slds-col slds-size_11-of-12 slds-p-top_small"><lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field></div>

                    </td>
                    <td class="slds-col slds-size_2-of-12 slds-p-top_none">
                        <div class="slds-p-top_small">
                            <lightning-output-field field-name="Account__c" variant="label-hidden"></lightning-output-field>
                        </div>
                    </td>
                    <td class="slds-col slds-size_3-of-12 slds-p-top_none wr-billingProfileColor slds-truncate">
                        <div class="slds-p-top_small">
                            <span class="wr-billingProfileFont"> {billingProfileInformation}</span>
                        </div>
                    </td>
                    <td class="slds-col slds-size_3-of-12 slds-p-top_none">
                        <div class="slds-p-top_small">
                            <lightning-output-field field-name="Product__c" variant="label-hidden" ></lightning-output-field>
                        </div>
                    </td>
                    <td class="slds-col slds-size_1-of-12 slds-p-top_none">
                        <div class="slds-shrink-none slds-p-top_small">
                            <lightning-button-icon disabled={disabled} value ={supplyId} variant="border-filled" size="small" icon-name="utility:delete"
                                                   onclick={deleteCaseIcon}></lightning-button-icon>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </lightning-record-view-form>
    </template>
    <template if:false={isRow}>
        <div class="slds-m-around_none slds-box slds-box_x-small slds-media slds-text-align_left wr-tileView">
            <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                <span class="slds-icon_container">
                    <template if:true={isGas}>
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href={svgURLGas}></use>
                        </svg>
                    </template>
                    <template if:true={isElectric}>
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href={svgURLEle}></use>
                        </svg>
                    </template>
                    <template if:true={isService}>
                        <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                            <use xlink:href={svgURLService}></use>
                        </svg>
                    </template>
                </span>
            </div>
            <div class="slds-media__body slds-p-left_xxx-small slds-m-vertical_x-small">
                <lightning-record-view-form record-id={supplyId} object-api-name="Supply__c" disabled={disabled}>
                    <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
                        <a class="slds-truncate slds-text-heading_small" title={labels.supplyCode}>
                            <lightning-output-field field-name="Name" variant="label-hidden"></lightning-output-field>
                        </a>
                        <div class="slds-shrink-none">
                            <lightning-button-icon disabled={disabled} value ={supplyId} variant="border-filled" size="small" icon-name="utility:delete"
                                                   onclick={deleteCaseIcon}></lightning-button-icon>
                        </div>
                    </div>
                    <div class="slds-tile__detail">
                        <div class="slds-grid slds-wrap slds-text-body_small">
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="Account__c"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="Product__c"></lightning-output-field>
                            <lightning-output-field class="slds-col slds-size_1-of-2 slds-truncate" field-name="RecordTypeId"></lightning-output-field>
                            <div class="slds-col slds-size_1-of-1 wr-billingProfileColor slds-truncate">
                                <div> {labels.billingInformation}</div>
                                <span class="wr-billingProfileFont" title={billingProfileInformation}> {billingProfileInformation}</span>
                            </div>
                        </div>
                    </div>
                </lightning-record-view-form>
            </div>
        </div>
    </template>
        <div if:true={openConfirmModal}>
            <div role="dialog" tabindex="-1" aria-labelledby="header99" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container form-style-6">
                    <div class="slds-modal__header">
                        <h1 id="header99" class="slds-text-heading_medium">{labels.confirmation}</h1>
                    </div>
                    <div class="slds-modal__content slds-p-around_medium">
                        <center>{labels.confirmationQuestion}</center>
                    </div>
                    <div class="slds-modal__footer">
                        <center>
                            <lightning-button variant="destructive" class="slds-p-horizontal_small" onclick={closeModal} icon-name="utility:close"
                                              label={labels.no}></lightning-button>
                            <lightning-button variant="brand" onclick={deleteSupplyFromTile} icon-name="utility:delete"
                                              label={labels.yes}></lightning-button>
                        </center>
                    </div>
                </div>
            </div>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </div>
</template>