/**
 * Created by BADJI on 13/05/2019.
 */

.wr-billingProfileColor{
    color: rgb(62, 62, 60);
}

.wr-billingProfileFont{
    font-size: .875rem;
    font-weight: 400;
}

.wr-tileView {
   height: 13.6rem;
}