<!--
 - Created by tommasobolis on 20/10/2020.
 -->

<!-- Mro Preliminary Data Check -->
<template>

    <template if:true={showSpinner}>
        <div class="">
            <lightning-spinner class="slds-is-fixed" alternative-text="loading" size="large"></lightning-spinner>
        </div>
    </template>

    <template if:true={showPrompt}>

        <div>

            <section role="alertdialog"
                     tabindex="0"
                     aria-labelledby="prompt-heading-id"
                     aria-describedby="prompt-message-wrapper"
                     class="slds-modal slds-fade-in-open slds-modal_prompt"
                     aria-modal="true">

                <div class="slds-modal__container">

                    <header class="slds-modal__header">
                        <h2 class="slds-text-heading_medium">{title}</h2>
                    </header>

                    <div class="slds-modal__content slds-p-around_medium">

                        <template if:true={hasBlocking}>
                            <div class="slds-p-bottom_medium">
                                <header class="slds-modal__header slds-theme_error">
                                    <h2 class="slds-text-heading_small">{label.blocking}</h2>
                                </header>

                                <div class="slds-modal__content slds-p-around_medium">
                                    <ul class="slds-list_dotted">
                                        <template for:each={blocking} for:item="blockingItem">
                                            <li key={blockingItem}>{blockingItem}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </template>

                        <template if:true={hasWarning}>
                            <div class="">
                                <header class="slds-modal__header slds-theme_warning">
                                    <h2 class="slds-text-heading_small">{label.warning}</h2>
                                </header>

                                <div class="slds-modal__content slds-p-around_medium">
                                    <ul class="slds-list_dotted">
                                        <template for:each={warning} for:item="warningItem">
                                            <li key={warningItem}>{warningItem}</li>
                                        </template>
                                    </ul>
                                </div>
                            </div>
                        </template>

                    </div>

                    <footer class="slds-modal__footer slds-theme_default">
                        <button class="slds-button slds-button_neutral"
                                onclick={handleContinueClick}>{label.continueLabel}</button>
                    </footer>

                </div>

            </section>

            <div class="slds-backdrop slds-backdrop_open"></div>

        </div>

    </template>

</template>