<!--
 - Created by David on 03.02.2020.
 -->

<!-- Mro Location Approval Classification Edit -->
<template>
    <lightning-record-edit-form record-id={caseId}  onload={handleLoad} object-api-name="Case" record-type-id={recordTypeId}>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <label>
                    <!--<template if:true={required}>-->
                        <abbr class="slds-required" title="required">* </abbr>
                    <!--</template>-->
                    {labels.caseType}
                </label>
                <lightning-input-field required
                                       field-name="Type" onchange={handleType}
                                       disabled={disabledInput} variant="label-hidden">
                </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <label>
                    <abbr class="slds-required" title="required">* </abbr>
                    {labels.Distributor}
                </label>
                <template if:true={isLocationApprovalWizard}>
                    <lightning-input-field   onchange={handleremove}
                                            field-name="Distributor__c" value={distributor}
                                            disabled={disableDistributor} variant="label-hidden"></lightning-input-field>
                </template>
                <template if:false= {isLocationApprovalWizard}>
                    <lightning-input-field  required onchange={handleremove}
                                            field-name="Distributor__c"
                                            disabled={disabledInput} variant="label-hidden"></lightning-input-field>
                </template>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters">
            <template if:true={requiredSubType}>
                <div class="slds-col slds-size_1-of-2">

                    <label>

                        <abbr class="slds-required" title="required">* </abbr>

                        {labels.caseSubType}
                    </label>
                    <lightning-input-field required={requiredSubType}
                                           field-name="SubType__c" onchange={handleSubType}
                                           disabled={disabledInput} variant="label-hidden">

                    </lightning-input-field>

                </div>
            </template>
            <div class="slds-col slds-size_1-of-2">
                <label>
                    {labels.RequiredForConnection}
                </label>
                <lightning-input-field
                        field-name="RequiredForConnection__c"
                        onchange={handleConnection}
                        disabled={disabledInput} variant="label-hidden"></lightning-input-field>
            </div>
        </div>

        <div class="slds-grid slds-wrap slds-gutters">
            <template if:true={requiredDistance}>
                <div class="slds-col slds-size_1-of-2">

                    <label>
                        <template if:true={requiredDistance}>
                            <abbr class="slds-required" title="required">* </abbr>
                        </template>
                        {labels.distance}
                    </label>
                    <lightning-input-field  required={requiredDistance}
                                            field-name="Distance__c" onchange={handleremove}
                                            disabled={disabledInput} variant="label-hidden">

                </lightning-input-field>

            </div>
            </template>
            <template if:true={requiredExternal}>
            <div class="slds-col slds-size_1-of-2">
                    <label>
                        <abbr class="slds-required" title="required">* </abbr>
                        {labels.externalRequestId}
                    </label>
                    <lightning-input-field required={requiredExternal} onchange={handleremove}
                                           field-name="ExternalRequestID__c"
                                           disabled={disabledInput} variant="label-hidden">

                    </lightning-input-field>

            </div>
            </template>
        </div>
        <div class="slds-grid slds-wrap slds-gutters">
                <div class="slds-col slds-size_1-of-2">
                    <label>
                        <template if:true={isRequiredForConnection}>
                            <abbr class="slds-required" title="required">* </abbr>
                        </template>
                        {labels.AbsorbablePower}
                    </label>
                    <lightning-input-field  required={isRequiredForConnection}
                                            field-name="ContractualPower__c" onchange={handleremove}
                                            disabled={disabledInput} variant="label-hidden"></lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <label>
                        <template if:true={isRequiredForConnection}>
                            <abbr class="slds-required" title="required">* </abbr>
                        </template>
                        {labels.Voltage}
                    </label>
                    <lightning-input-field  required={isRequiredForConnection}
                                            field-name="Voltage__c" onchange={handleremove}
                                            disabled={disabledInput} variant="label-hidden"></lightning-input-field>
                </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-2">
                <label>
                        <abbr class="slds-required" title="required">* </abbr>
                    {labels.referenceDate}
                </label>
                <lightning-input-field  required onchange={handleremove}
                                       field-name="ReferenceDate__c" data-id="refDate"
                                       disabled={disabledInput} variant="label-hidden">
                </lightning-input-field>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <label>
                    <abbr class="slds-required" title="required">* </abbr>
                    {labels.subject}
                </label>
                <lightning-input-field  required onchange={handleremove}
                                       field-name="Subject"
                                       disabled={disabledInput} variant="label-hidden">

                </lightning-input-field>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters">
            <div class="slds-col slds-size_1-of-1">
                <label>{labels.description}</label>
                <lightning-input-field
                                       field-name="Description"
                                       disabled={disabledInput}
                                       variant="label-hidden">
                </lightning-input-field>
            </div>
        </div>
    </lightning-record-edit-form>
</template>