<template>
    <lightning-card title="">
        <ol class="slds-setup-assistant">
            <!-- STEP 0 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        Warranty
                                                    </h3>
                                                    <p></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <c-mro-warranties-inquiry record-id={recordId}
                                                              hide-confirm-selection="true"
                                                              custom-title="Warranties Inquiry"
                                                              hide-selection-column>
                                    </c-mro-warranties-inquiry>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ol>
    </lightning-card>
</template>