<template>
    <div class="slds-form-element">
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click" onfocusin={setFocusIn} aria-expanded={ariaExpanded} aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right">
                        <template if:false={selectedRecord}>
                            <!-- BEGIN: Show label -->
                            <template if:true={required}>
                                <label class="slds-form-element__label">
                                    <abbr class="slds-required" title="Required">*</abbr>
                                    {label}
                                </label>
                            </template>
                            <template if:false={required}>
                                <label class="slds-form-element__label">{label}</label>
                            </template>
                            <!-- END: Show label -->
                            <span class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default">
                                <lightning-icon icon-name="utility:search" class={iconClass} size="x-small"></lightning-icon>
                            </span>
                            <input  type="text"
                                    class="slds-input slds-input-has-icon slds-combobox__input slds-combobox__input-value"
                                    onkeyup={keyPressController}
                                    onblur={handleOnBlurInput}
                                    onclick={handleOnClickInput}
                                    aria-invalid={ariaInvalid}
                                    aria-describedby="error-message"
                                    value={searchKeyword}
                                    placeholder={searchLabel}
                                    required={required}
                                    autocomplete="off"
                                    aria-autocomplete="list"
                                    disabled={disabled}
                                    aria-controls="listbox-id-1"
                                    role="textbox"/>
                            <div class="slds-m-top_xx-small slds-input__icon-group slds-input__icon-group_right">
                                <div role="status" class="slds-spinner slds-hide slds-spinner_brand slds-spinner_x-small slds-input__spinner">
                                    <div class="slds-spinner__dot-a"></div>
                                    <div class="slds-spinner__dot-b"></div>
                                </div>
                            </div>
                            <!-- BEGIN: Input error message -->
                            <div class="slds-form-element__help slds-has-error" id="error-message">{errorMessage}</div>
                            <!-- END: Input error message -->
                        </template>
                        <template if:true={selectedRecord}>
                            <!-- BEGIN: Show label-->
                            <template if:true={required}>
                                <label class="slds-form-element__label">
                                    <abbr class="slds-required" title="required">*</abbr>
                                    {label}
                                </label>
                            </template>
                            <template if:false={required}>
                                <label class="slds-form-element__label">{label}</label>
                            </template>
                            <!-- END: Show label -->
                            <!-- BEGIN: Show selected record -->
                            <div class=" slds-pill_container">
                                <div class="slds-combobox">
                                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right" role="none">
                                        <span class="slds-icon_container slds-combobox__input-entity-icon">
                                            <lightning-icon icon-name={iconName} size="x-small"></lightning-icon>
                                            <span class="slds-assistive-text">Account</span>
                                        </span>
                                        <input type="text"
                                               disabled={disabled}
                                               class="slds-input slds-combobox__input slds-combobox__input-value"
                                               placeholder={searchLabel}
                                               value={selectedRecord.searchDisplayName} />
                                        <button disabled={disabled} class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" onclick={handleRemoveButton}>
                                            <lightning-icon icon-name="utility:close" size="x-small"></lightning-icon>
                                            <span class="slds-assistive-text">Remove selected option</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- END: Show selected record -->
                        </template>
                    </div>
                    <template if:true={showResultsList}>
                        <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-5 slds-dropdown_fluid slds-m-top_xxx-small slds-has-focus slds-is-focused" role="listbox"
                             onblur={handleOnBlur} onclick={handleOnClick} onfocus={handleOnFocus} tabindex="0" onmouseover={handleOnMouseOverResultsList} onmouseout={handleOnMouseOutResultsList} >
                            <!-- BEGIN: Search result list -->
                            <template if:false={selectedRecord}>
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown_fluid" role="presentation">
                                    <template for:each={listOfSearchRecords} for:item="result">
                                        <li key={result.Id}>
                                            <template if:true={showPrimaryDisplayField}>
                                                <c-mro-custom-lookup-result result={result}
                                                                            object-api-name={objectApiName}
                                                                            icon-name={iconName}
                                                                            text={result.searchDisplayName}
                                                                            onselectedrecord={handleSelectionEvent}
                                                                            primary-display-field={result.primaryDisplayField}
                                                                            secondary-display-field={result.secondaryDisplayField}>
                                                </c-mro-custom-lookup-result>
                                            </template>
                                            <template if:false={showPrimaryDisplayField}>
                                                <c-mro-custom-lookup-result result={result}
                                                                            object-api-name={objectApiName}
                                                                            icon-name={iconName}
                                                                            text={result.searchDisplayName}
                                                                            onselectedrecord={handleSelectionEvent}
                                                                            secondary-display-field={result.secondaryDisplayField}>
                                                </c-mro-custom-lookup-result>
                                            </template>
                                        </li>
                                    </template>
                                </ul>
                            </template>
                            <!-- END: Search result list -->
                            <!-- BEGIN: No record found error message -->
                            <template if:true={showMessage}>
                                <ul class="slds-listbox slds-listbox_vertical slds-dropdown_fluid" role="menu">
                                    <lightning-icon icon-name="utility:error" size="x-small"> </lightning-icon> {message}
                                </ul>
                            </template>
                            <!-- END: No record found error message -->
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>