<template>
    <lightning-record-edit-form  object-api-name="Asset" record-id={assetId} onsuccess={handleSuccess} onerror={handleError}>
        <lightning-messages></lightning-messages>
        <div class="slds-card">
            <lightning-layout-item padding="horizontal-small">
                <label for="ContactPerson__c">{labels.beneficiaryName}</label>
                <lightning-input-field id="ContactPerson__c" disabled={disabled} field-name="ContactPerson__c" data-id="ContactPerson__c" variant="label-hidden" required>
                </lightning-input-field>
            </lightning-layout-item>

            <br/>

            <lightning-layout-item padding="horizontal-small">
                <label for="ContactPhone__c">{labels.beneficiaryPhoneNumber}</label>
                <lightning-input-field id="ContactPhone__c" disabled={disabled} field-name="ContactPhone__c" data-id="ContactPhone__c" variant="label-hidden" required>
                </lightning-input-field>
            </lightning-layout-item>

            <br/>

            <lightning-layout-item padding="horizontal-small">
                <label for="ContactEmail__c">{labels.beneficiaryEmail}</label>
                <lightning-input-field id="ContactEmail__c" disabled={disabled} field-name="ContactEmail__c" data-id="ContactEmail__c" variant="label-hidden">
                </lightning-input-field>
            </lightning-layout-item>
        </div>
    </lightning-record-edit-form>
</template>