<template>
    <div class="slds-m-around_xxx-small slds-box slds-box_xx-small slds-media">
        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-horizontal_xx-small">
            <span class="slds-icon_container slds-icon-utility-knowledge_base">
                <template if:true={isGas}>
                    <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href={svgURLGas}></use>
                    </svg>
                </template>
                <template if:true={isVas}>
                    <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href={svgURLVas}></use>
                    </svg>
                </template>
                <template if:true={isElectric}>
                    <svg class="slds-icon slds-icon-text-default" aria-hidden="true">
                        <use xlink:href={svgURLEle}></use>
                    </svg>
                </template>
            </span>
        </div>
        <div class="slds-media__body slds-border_left slds-p-left_x-small slds-m-vertical_x-small">
            <a if:true={supply.ServicePoint__c} class="slds-truncate slds-text-heading_x-small" title={labels.servicePoint} name={supply.Id} onclick={navigateToRecordViewPage}>{supply.ServicePoint__r.Code__c}</a>
            <lightning-record-view-form record-id={supply.Id} object-api-name="Supply__c">
                <dl class="slds-grid slds-wrap">
                    <dt class="slds-col slds-size_1-of-2 slds-text-body_small slds-truncate">
                        <lightning-output-field field-name="Status__c" variant="label-stacked"></lightning-output-field>
                    </dt>
                    <dd class="slds-col slds-size_1-of-2 slds-text-body_small slds-truncate">
                        <lightning-output-field field-name="Product__c" variant="label-stacked"></lightning-output-field>
                    </dd>
                    <dt class="slds-col slds-size_1-of-2 slds-text-body_small slds-truncate">
                        <lightning-output-field field-name="ActivationDate__c" variant="label-stacked"></lightning-output-field>
                    </dt>
                    <dd class="slds-col slds-size_1-of-2 slds-text-body_small slds-truncate">
                        <lightning-output-field field-name="TerminationDate__c" variant="label-stacked"></lightning-output-field>
                    </dd>
                </dl>
            </lightning-record-view-form>
        </div>
    </div>
</template>