<!--
 - Created by tommasobolis on 16/06/2020.
 -->

<!-- paginationControl -->
<template>

    <template if:true={showPaginationButtons}>
        <div class="slds-align_absolute-center">
            <div class="slds-grid slds-grid_vertical slds-grid--align-center">

                <template if:true={showTopText}>
                    <div class="slds-col slds-text-align_center slds-p-bottom--small slds-p-top--small slds-text-color_weak">
                        {paginationLabelText}
                    </div>
                </template>

                <div class="slds-col slds-p-bottom--small slds-p-top--small">
                    <template if:true={showFirstLast}>
                        <template if:true={onFirstPage} >
                            <lightning-button label={firstLabel} onclick={handleButtonClick} name="first" disabled ></lightning-button>
                        </template>
                        <template if:false={onFirstPage} >
                            <lightning-button label={firstLabel} onclick={handleButtonClick} name="first"></lightning-button>
                        </template>
                    </template>

                    <template if:true={onFirstPage}>
                        <lightning-button label={previousLabel} onclick={handleButtonClick} name="previous" class="slds-p-horizontal--xxx-small" disabled></lightning-button>
                    </template>
                    <template if:false={onFirstPage}>
                        <lightning-button label={previousLabel} onclick={handleButtonClick} name="previous" class="slds-p-horizontal--xxx-small"></lightning-button>
                    </template>

                    <template if:true={showFirstThreeDots}>
                        <span class="slds-p-horizontal--x-small">...</span>
                    </template>

                    <template for:each={buttonList} for:item="btn">
                        <lightning-button key={btn.label} label={btn.label} class="slds-p-horizontal--xxx-small" onclick={handleButtonClick} name={btn.pageNumber} variant={btn.variant}></lightning-button>
                    </template>

                    <template if:true={showLastThreeDots}>
                        <span class="slds-p-horizontal--x-small">...</span>
                    </template>

                    <template if:true={onLastPage}>
                        <lightning-button label={nextLabel} onclick={handleButtonClick} name="next" class="slds-p-horizontal--xxx-small" disabled></lightning-button>
                    </template>
                    <template if:false={onLastPage}>
                        <lightning-button label={nextLabel} onclick={handleButtonClick} name="next" class="slds-p-horizontal--xxx-small"></lightning-button>
                    </template>

                    <template if:true={showFirstLast}>
                        <template if:true={onLastPage} >
                            <lightning-button label={lastLabel} onclick={handleButtonClick} name="last" disabled ></lightning-button>
                        </template>
                        <template if:false={onLastPage}>
                            <lightning-button label={lastLabel} onclick={handleButtonClick} name="last"></lightning-button>
                        </template>
                    </template>
                </div>

                <template if:true={showBottomText}>
                    <div class="slds-col slds-text-align_center slds-p-bottom--small slds-p-top--small slds-text-color_weak">
                        {paginationLabelText}
                    </div>
                </template>

                <template if:true={showTotalRecordNumberWarning}>
                    <div class="slds-col slds-text-align_center slds-p-top--large slds-text-color_weak">
                        {totalRecordNumberWarning}
                    </div>
                </template>

            </div>
        </div>
    </template>
</template>