<!--
 - Created by tomasoni on 08/08/2019.
 -->
<template>
    <div if:true={show}>
        <div if:true={showHeader}>
            <div class="slds-card__header slds-theme_shade slds-m-bottom_none slds-p-bottom_small" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{labels.contractAccountEdit}</div> 
            </div>
        </div>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <lightning-record-edit-form record-id={contractAccountRecordId} data-id="contractAccountEditForm"
                                    object-api-name="ContractAccount__c" onload={handleLoadCA} onsubmit={handleSubmitCA} onsuccess={handleSuccessCA} onerror={handleErrorCA}>
            <lightning-messages></lightning-messages>

            <div class="slds-grid slds-gutters slds-wrap slds-p-horizontal_small">

                <div class="slds-col slds-size_1-of-2 slds-hide">
                    <lightning-input-field disabled={disabled} field-name="Account__c" value={accountId} variant="label-stacked">
                    </lightning-input-field>
                </div>

                <lightning-input-field class="slds-hide" field-name="BillingProfile__c" data-id="myBillingProfileId" variant="label-stacked">
                </lightning-input-field>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name="Commodity__c"  disabled data-id="myCommodity" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <!--//FF  [ENLCRO-669] Contract Account Selection - Check Interface-->
				<div class="slds-col slds-size_1-of-2">
					<lightning-input-field class="wr-required" disabled={isContractTypeDisabled} field-name="ContractType__c" data-id="contractType" onchange={removeError} variant="label-stacked">
					</lightning-input-field>
				</div>
                <!--//FF  [ENLCRO-669] Contract Account Selection - Check Interface-->
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field disabled={isMarketDisabled} class="wr-required"  field-name="Market__c"  data-id="myMarket" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field disabled={isFieldDisabledFrequency} class="wr-required" field-name="BillingFrequency__c" data-id="billingFrequency" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" disabled={isPaymentTerms} field-name="PaymentTerms__c" data-id="paymentTerms" onchange={removeError} variant="label-stacked" value={_paymentTerms}>
                    </lightning-input-field>
                </div>
                <div  class={showSelfReadingField}>
                    <lightning-combobox required options={selfReadingPeriodEndList} class="slds-p-horizontal_xx-small" value={selfReadingPeriodEndVal} onchange={handleSelfReading}
                                        label="Self Reading Period End" dropdown-alignment="auto">
                    </lightning-combobox>
                </div>
                <div class={hideSelfReadingField}>
                    <lightning-input-field disabled={isFieldDisabled}  class={hideRequired} field-name="SelfReadingPeriodEnd__c" data-id="selfReadingPeriodEnd" onchange={removeError} variant="label-stacked">
                    </lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field class="wr-required" disabled={isLatePaymentPenalty} field-name="LatePaymentPenalty__c" data-id="latePaymentPenalty" onchange={removeError} variant="label-stacked" value={_latePaymentPenalty}>
                    </lightning-input-field>
                </div>

            </div>

            <div class="slds-m-top_small slds-m-left_medium">
                <h3 class="slds-text-heading_small">{labels.billingProfile}</h3>
                <template if:true={hasAccountId}>
                    <template if:true={hasBillingProfileIdLoaded}>
                        <!--Refund Method default with "Invoice"; Payment Method = "Bank Transfer" for Business Accounts-->
                        <c-mro-billing-profile-selection account-id={accountId}
                                                     billing-profile-record-id={billingProfileId}
                                                     disabled={isBillingProfileDisabled}
                                                     onselected={getBillingProfileRecordId}
                                                     onedit={getEditButton}
                                                     contract-type={contractType}
                                                     show-edit-button="true"
                                                     refund-filter={refundFilter}
                                                     has-direct-debit-in-billing-profile={hasDirectDebitInBillingProfile}>
                        </c-mro-billing-profile-selection>
                        <!--Refund Method default with "Invoice";  Payment Method = "Bank Transfer" for Business Accounts-->
                    </template>
                </template>
            </div>

            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" data-name="cancel" label={labels.cancel}
                                  icon-name="utility:cancel_file_request" onclick={handleCancel}></lightning-button>
                <lightning-button disabled={disableSaveButton} class="slds-m-left_xx-small" variant="brand" type="submit" data-name="save"
                                  icon-name="utility:save" label={labels.save} name="saveMroContractAccountEdit"></lightning-button>
            </div>

        </lightning-record-edit-form>
    </div>
</template>