<template>
    <div class="forceRelatedListCardHeader slds-card_boundary">
        <lightning-card title="" icon-name={icon} >
            <b slot="title">{title} ({numOfRecords})</b>
            <!-- BEGIN: Show spinner -->
            <template if:true={showSpinner}>
                <lightning-spinner title="Loading..." size="medium"></lightning-spinner>
            </template>
            <!-- END: Show spinner -->

            <!-- BEGIN: Table -->
            <div class="slds-border_top slds-text-body_regular slds-text-color_default">
                <template if:true={relatedList.records}>
                    <table class="slds-table slds-table_cell-buffer slds-table--fixed-layout">
                        <thead>
                        <tr class="slds-line-height_reset">
                            <template for:each={relatedList.columns} for:item="column" for:index="i">
                                <th scope="col" class="" style="cursor: pointer;" key={column.Id}>
                                        <span title={column.fieldName} data-index={i} onclick={sortRelatedList}>
                                            <div class="slds-truncate" title={column.label}>
                                                {column.label}
                                                <div style="opacity:1;">
                                                    <template if:true={IsSortDirectionEqualsASC}>
                                                        <lightning-icon data-name="sortRow" data-index={i} class="slds-hide slds-m-left_xxx-small" icon-name="utility:arrowup" alternative-text="arrowup" size="xx-small"></lightning-icon>
                                                    </template>
                                                    <template if:true={IsSortDirectionEqualsDESC}>
                                                        <lightning-icon data-name="sortRow" data-index={i} class="slds-hide slds-m-left_xxx-small" icon-name="utility:arrowdown" alternative-text="arrowdown" size="xx-small"></lightning-icon>
                                                    </template>
                                                </div>
                                            </div>
                                        </span>
                                </th>
                            </template>
                        </tr>
                        </thead>
                        <tbody class="slds-border--bottom">
                            <template for:each={shownPageRecordsList} for:item="record" for:index="i">
                                <tr class="slds-p-vertical--xxx-large" key={record.Id}>
                                    <template iterator:it={record.values}>

                                        <template if:true={it.first}>
                                            <td scope="row" class="slds-border--top slds-truncate" key={it.value.Id}>
                                                <template if:true={enableNavigateToSObject}>
                                                    <!-- <lightning-button name={record.id} variant="base" label={it.value} title={it.value} onclick={navigateToViewRecordPage} class="slds-m-left_x-small slds-truncate"></lightning-button> -->
                                                    <a href="#" title={it.value.text} name={record.id} onclick={navigateToViewRecordPage} class="slds-truncate">{it.value.text}</a>
                                                </template>
                                                <template if:false={enableNavigateToSObject}>
                                                    <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                                </template>
                                            </td>
                                        </template>

                                        <template if:false={it.first}>
                                            <td scope="row" class="slds-border--top slds-truncate" key={it.value.Id}>
                                                <template if:true={enableNavigateToSObject}>
                                                    <template if:true={it.value.id}>
                                                        <a href="#" title={it.value.text} name={it.value.id} onclick={navigateToViewRecordPage} class="slds-truncate">{it.value.text}</a>
                                                    </template>
                                                    <template if:false={it.value.id}>
                                                        <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                                    </template>
                                                </template>
                                                <template if:false={enableNavigateToSObject}>
                                                    <p title={it.value.text} class="slds-truncate">{it.value.text}</p>
                                                </template>
                                            </td>
                                        </template>
                                    </template>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                    <!-- END: TABLE -->

                    <!-- BEGIN: PAGINATION -->
                    <div if:true={showPagination} class="slds-p-top--medium slds-p-bottom--medium">
                        <c-mro-pagination-control onbuttonpageclick={buttonPageClickHandler}
                                              current-page-number={currentPageNumber}
                                              total-page-number={numOfPages}
                                              total-record-number={numOfRecords}>
                        </c-mro-pagination-control>
                    </div>
                    <!-- END: PAGINATION -->
                </template>
            </div>
        </lightning-card>
    </div>
</template>