<template>
    <template if:true={canCreatePrivacyChange}>
        <lightning-record-edit-form  object-api-name="PrivacyChange__c" record-id={recordId} onsuccess={handleSuccess} onerror={handleError}>
            <lightning-messages></lightning-messages>
            <lightning-card title={labels.privacyConsents}>
                <lightning-layout multiple-rows="true">
                    <lightning-layout-item padding="horizontal-small" size="3" class="wr-checkBox">
                        <lightning-input-field  disabled={disabled}  field-name="HasOptedOutSolicit__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <lightning-input-field disabled={disabled} field-name="HasOptedOutProcessing__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item  padding="horizontal-small" size="3">
                        <lightning-input-field  disabled={disabled} field-name="HasOptedOutProfiling__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <lightning-input-field  disabled={disabled} field-name="HasOptedOutTracking__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <lightning-input-field  disabled={disabled} field-name="CanStorePiiElsewhere__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                    <lightning-layout-item padding="horizontal-small" size="3">
                        <lightning-input-field  disabled={disabled} field-name="HasOptedOutPartners__c" variant="label-stacked"></lightning-input-field>
                    </lightning-layout-item>
                </lightning-layout>
            </lightning-card>
            <template if:false={hideMarketingContact}>
                <lightning-card title={labels.marketingContact}>
                    <lightning-layout multiple-rows="true">
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <lightning-input-field disabled={disabled} field-name="MarketingChannel__c"
                                                   variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                        <lightning-layout-item padding="horizontal-small" size="3">
                            <lightning-input-field disabled={disabled} field-name="MarketingPhone__c"
                                                   variant="label-stacked"></lightning-input-field>
                            <lightning-input-field disabled={disabled} field-name="MarketingMobilePhone__c"
                                                   variant="label-stacked"></lightning-input-field>
                            <lightning-input-field disabled={disabled} field-name="MarketingEmail__c"
                                                   variant="label-stacked"></lightning-input-field>
                        </lightning-layout-item>
                    </lightning-layout>
                </lightning-card>
            </template>
        </lightning-record-edit-form>
    </template>
    <template if:false={canCreatePrivacyChange}>
        <div class="slds-box slds-theme_shade slds-theme_alert-texture">
            <p>{labels.cannotCreatePrivacyChange}</p>
        </div>
    </template>
</template>