<!--
 - Created by Luca Ravicing on Mar 19, 2020.
 -->

<!-- Mro Contact Selection -->
<template>
    <template if:true={isRendered}>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
             aria-labelledby="modal-heading-01"
             aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <h1 class="slds-text-heading_medium slds-hyphenate">{labels.relatedContactList} {accountName}</h1>
            </header>
            <div class=" slds-modal__content slds-p-around_medium wr-modal-small">
                <div class="slds-grid slds-p-around_small header-p" align="center">
                    <div class="slds-col slds-size--1-of-12 "></div>
                    <div class="slds-col slds-size--2-of-12 slds-text-title_bold">{labels.name}</div>
                    <div class="slds-col slds-size--3-of-12 slds-text-title_bold">{labels.email}</div>
                    <div class="slds-col slds-size--2-of-12 slds-text-title_bold">{labels.phoneOnly}</div>
                    <div class="slds-col slds-size--2-of-12 slds-text-title_bold">{labels.mobile}</div>
                    <div class="slds-col slds-size--2-of-12 slds-text-title_bold">{labels.primary}</div>
                </div>
                <template for:each={contacts} for:item="contact" for:index="index" >
                    <div key={contact.Id} class="slds-grid  slds-clear  slds-p-around_small slds-box" align="center">
                        <input  class="slds-col slds-size--1-of-12 " name="radiogroup" id={contact.Id}   type="radio" value={contact.Id} onchange={handleChange}/>
                        <div  class="slds-col slds-size--2-of-12">{contact.Name}</div>
                        <div  class="slds-col slds-size--3-of-12">{contact.Email}</div>
                        <div class="slds-col slds-size--2-of-12">{contact.Phone}</div>
                        <div  class="slds-col slds-size--2-of-12">{contact.MobilePhone}</div>
                        <lightning-input type="checkbox" class="slds-col slds-size--2-of-12 " disabled checked={contact.isPrimary}>

                        </lightning-input>
                    </div>
                </template>
                <template if:true={account}>
                    <div key={account.Id} class="slds-grid slds-clear  slds-p-around_small slds-box" align="center">
                        <input  class="slds-col slds-size--1-of-12 " name="radiogroup" id={account.Id}   type="radio" value={account.Id} onchange={handleAccountChange}/>
                        <div  class="slds-col slds-size--2-of-12">{account.Name}</div>
                        <div  class="slds-col slds-size--3-of-12">{account.Email__c}</div>
                        <div class="slds-col slds-size--2-of-12">{account.Phone}</div>
                        <div  class="slds-col slds-size--2-of-12"></div>
                        <div  class="slds-col slds-size--2-of-12"></div>
                    </div>
                </template>
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" name="cancel" label={labels.cancel}
                                      onclick={handleCancel}></lightning-button>
                    <lightning-button class="slds-m-left_xx-small"  label={labels.confirm} variant="brand"
                                      name="confirm"  disabled={disabledConfirm} onclick={handleConfirm}>
                    </lightning-button>
                </footer>
            </div>
        </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>