/**
 * Created by Luca Ravicing on Mar 19, 2020.
 */
.contendHeight {
    height: 250px;
}
.wr-modal-small {
    overflow-y: scroll;
    overflow: initial;
}

.header-p {
    padding-left: 1rem;
    padding-right: 1rem;
}