<template>
    <template if:true={spinner}>
        <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </template>
    <lightning-card>
        <div class="slds-p-horizontal_small">
            <div class="slds-form-element">
                <lightning-input class="wr-required" disabled={disabled} type="search" label={label.search} data-id="searchBox" onchange={handleChange}></lightning-input>
            </div>
            <div class="slds-col slds-align_absolute-center slds-var-m-top_x-large">
                <lightning-button disabled={disabled} title={label.search} icon-name="utility:search" class="slds-m-left_x-small" name="searchBtn" type="submit" label={label.search} variant="brand" onclick={search}>
                </lightning-button>
            </div>
        </div>
    </lightning-card>
    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="Search Results" aria-modal="true" aria-describedby="result-modal-content" class="slds-modal slds-modal_large slds-backdrop slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header slds-grid slds-wrap">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title={label.close} onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">{label.close}</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-size_1-of-1 slds-text-heading_medium slds-hyphenate">{label.supplySearch}</h2>
                    <div class="slds-size_1-of-4 slds-grid">
                        <lightning-input class="slds-size_2-of-4" variant="label-hidden" value={value} disabled={disabled} type="search" label="Search" data-id="advancedSearchBox" onchange={handleChange}></lightning-input>
                        <lightning-button title={label.search} icon-name="utility:search" class="slds-m-left_x-small" name="advancedSearchBtn" type="submit" label={label.search} variant="brand" onclick={advancedSearch}>
                        </lightning-button>
                    </div>
                    <div class="slds-size_2-of-4 "></div>
                    <lightning-radio-group variant="label-inline" class="slds-text-align_left slds-size_1-of-6" name="radioGroup" label={label.groupBy} onchange={handleGroupByChange} options={groupByOptions} value={groupBy} type="radio"></lightning-radio-group>
                </header>
                <div class="slds-modal__content slds-p-around_x-small slds-grid slds-wrap" id="result-modal-content">
                    <div style="text-align: center;">
                        <c-grouped-table id="table" show-spinner={loading} rows={results} columns={columns} ontoggleitem={handleItemSelect}  ontogglegroup={handleGroupSelect} multiselection={multiSelection}></c-grouped-table>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" variant="neutral" onclick={closeModal}></lightning-button>
                    <lightning-button label="Confirm" class="slds-p-left_small" variant="brand" onclick={confirm}></lightning-button>
                </footer>
            </div>
        </section>
    </template>
</template>
