<!--
 - Created by aspiga on 24/03/2020.
 -->

<!-- [MRO] Account Situation Inquiry -->
<template>
    <lightning-card title="Account Situation">
        <ol class="slds-setup-assistant">
            <!-- STEP 0 - select company division -->
            <li class="slds-setup-assistant__item" id="step0">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-up-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.SelectDivision}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="false" class="slds-summary-detail__content">
                                <div>
                                    <c-mro-company-division-selection id="companyDivision" show-title="false"
                                                                      wizard-company-division-id={companyDivisionId}
                                                                      onchanged={companyDivisionChange}>
                                    </c-mro-company-division-selection>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.periodSelection}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <fieldset class="slds-form-element slds-form-element_compound">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__row">
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryStartDate"
                                                                         label="Start Date"
                                                                         required
                                                                         value={startDate}
                                                                         onchange={handleStartDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="invoiceInquiryEndDate"
                                                                         label="End Date"
                                                                         disabled
                                                                         value={endDate}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP 2 account situation inquiry -->
            <template if:true={hasCompanyCode}>
                <li class="slds-setup-assistant__item">
                    <article class="slds-setup-assistant__step">
                        <div class="slds-summary-detail slds-is-open">
                            <div class="slds-container_fluid">
                                <div class="slds-summary-detail__content" id="step-5-summary-action">
                                    <div class="slds-container--x-large slds-p-around--medium">
                                        <c-mro-fisa-inquiry cod-companie={companyDivisionCode}
                                                            retrieve-name="Retrieve Situation"
                                                            facturi-dela={startDate}
                                                            incasat-dela={startDate}
                                                            facturi-panala={endDate}
                                                            incasat-panala={endDate}
                                                            date-sold={endDate}
                                                            account-id={recordId}
                                                            start-date={startDate}
                                                            end-date={endDate}
                                                            onfisaselect={getFisaSelect}
                                                            hide-confirm-button=" true"
                                                            process-name = "Account Situation"
                                                            hide-check-box="true">
                                        </c-mro-fisa-inquiry>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </li>
            </template>
        </ol>
    </lightning-card>
</template>