<template>
    <template if:true={isRendered}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_small"
                 aria-labelledby="modal-heading-01"
                 aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h1 class="slds-text-heading_medium slds-hyphenate">{labels.cancelReasonTitle}</h1>
                </header>
                <div class="slds-modal__content slds-p-around_medium wr-modal-small">
                    <div class="slds-align_absolute-center"><b>{labels.cancellationConfirmation}</b>
                    </div>
                    <lightning-record-edit-form record-id={opportunityId} object-api-name="Opportunity"
                                                onsuccess={handleSuccess} onload={handleLoad} >
                        <template if:true={showLoadingSpinner}>
                            <lightning-spinner alternative-text="Saving" size="medium" variant="brand"></lightning-spinner>
                        </template>
                            <lightning-messages></lightning-messages>
                            <lightning-layout multiple-rows>
                                <lightning-layout-item class="slds-p-around_medium" size="12">
                                    <lightning-input-field required field-name="LostReason__c"
                                                           variant="label-stacked"
                                                           onchange={handleReasonChange}></lightning-input-field>
                                    <lightning-input-field if:true={showReasonDetails} class="slds-p-top--medium" required
                                                           field-name="ClosingDetails__c"
                                                           variant="label-stacked"
                                                           onchange={handleDetailsReasonChange}></lightning-input-field>
                                </lightning-layout-item>
                            </lightning-layout>
                    </lightning-record-edit-form>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="neutral" name="cancel" label={labels.back}
                                      onclick={handleCancel}></lightning-button>
                    <lightning-button class="slds-m-left_xx-small" label={labels.confirm} variant="brand"
                                      name="save"
                                      disabled={disabledConfirmButton} onclick={handleConfirm}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>