<!--
 - Created by goudiaby on 31/12/2019.
 -->

<!-- Cancellation Request -->
<template>
    <template if:true={isRendered}>
        <article class="slds-card">
            <div class=" slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">
                    {labels.cancellationRequest}
                </div>
            </div>
            <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" tabindex="-1"
                      class="slds-modal slds-fade-in-open slds-backdrop">
                <lightning-spinner variant="brand" size="medium" alternative-text="Loading"></lightning-spinner>
            </template>
            <template if:true={showFields}>
                <lightning-record-view-form record-id={_objectId} object-api-name={objectName}>
                    <div class="slds-grid slds-wrap slds-gutters slds-m-around_small">
                        <template if:false={isModal}>
                            <div class="slds-section__title  slds-col slds-size_1-of-1  slds-m-bottom--small">
                            <span class="slds-theme_base slds-section__title-action">
                                    <lightning-icon size="small" icon-name="utility:info">
                                    </lightning-icon>
                                        {labels.details}
                            </span>
                            </div>
                            <template for:each={fields} for:item="f">
                                <div key={f.fieldPath} class="slds-col slds-size_1-of-2">
                                    <lightning-output-field if:true={f.fieldPath} field-name={f.fieldPath}
                                                            variant="label-stacked">
                                    </lightning-output-field>
                                </div>
                            </template>
                        </template>
                        <div class="slds-col slds-size_1-of-1 slds-p-top_x-small">
                            <lightning-combobox class='slds-text-title_bold' label={labels.cancellationReason}
                                                options={listCancellationReasons}
                                                value={selectedCancellationReason} onchange={handleSelectReason}>
                            </lightning-combobox>
                        </div>
                        <div if:true={showCancellationDetails} class="slds-col slds-size_1-of-1 slds-p-top_x-small">
                            <lightning-input class="slds-text-title_bold slds-p-top--medium" type="text" label={labels.cancellationDetails} value={cancellationDetailsField} variant="label-stacked" onchange={handleCancellationDetails}></lightning-input>
                        </div>
                    </div>
                </lightning-record-view-form>
            </template>
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="neutral" name="cancel" label={labels.back}
                                  onclick={handleCancel}></lightning-button>
                <lightning-button class="slds-m-left_xx-small" label={labels.confirm} variant="brand" name="save"
                                  disabled={disabledConfirmButton} onclick={handleConfirm}>
                </lightning-button>
            </div>
        </article>
    </template>
</template>