<template>
     <td class="slds-truncate" title={value}> <!--onmouseover={showData} onmouseout={close}> -->
        {value}
    </td>

    <!-- <template if:true={show} >
        <template if:true={recordId} >
            <lightning-record-view-form record-id={recordId} object-api-name={objApiName}>
                <div class="potato slds-box" style={boxClass}>
                    <lightning-output-field field-name="Name">
                    </lightning-output-field>
                </div>
            </lightning-record-view-form>
        </template>
    </template> -->
</template>