<template>
    
    <div class="slds-p-bottom_small slds-clearfix">
        <div class="slds-float_right">
            <div onkeyup={handleKeyUp}>
                <lightning-input id="searchBox" name="enter-search" label="Press 'enter' to filter results" type="search"></lightning-input>
            </div>
            <p if:true={queryTerm}>
                Searched for {queryTerm}!
            </p>
        </div>
    </div>
    <div>
        <template if:true={showSpinner}>
            <div class="exampleHolder">
                <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
            </div>
        </template>
        <template if:false={showSpinner}>
            <table class="slds-table slds-table_cell-buffer slds-table_fixed-layout slds-table_bordered">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th colspan="2" style="width:4.25rem">
                        </th>
                        <template for:each={columns} for:item='col'>
                            <th scope="col" key={col.key}>{col.label}</th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template for:each={currentPageRows} for:item='row'>
                        <c-grouped-table-item multiselection={multiselection} key={row.key} row={row} columns={columns} ontoggleitem={handleItem} ontogglegroup={handleGroup}></c-grouped-table-item>
                    </template>
                </tbody>
            </table>
        </template>
    </div>
    <p>Page {showedPage} of {pagedItems.length}</p>
    <div dir="rtl" class="slds-align_absolute-center">
        <lightning-button-icon disabled={isLastPage} onclick={goToLastPage} variant="bare" alternative-text="Last" icon-name="utility:breadcrumbs" size="medium" ></lightning-button-icon>
        <lightning-button-icon disabled={isLastPage} onclick={nextPage} variant="bare" alternative-text="Next" icon-name="utility:right" size="medium" ></lightning-button-icon>
        <lightning-button-icon disabled={isFirstPage} onclick={previousPage} variant="bare" alternative-text="Previous" icon-name="utility:left" size="medium" ></lightning-button-icon>
        <lightning-button-icon disabled={isFirstPage} onclick={goToFirstPage} variant="bare" alternative-text="First" icon-name="utility:breadcrumbs" size="medium" class="slds-icon_flip"></lightning-button-icon>
    </div>
</template>