<!-- Contract Selection -->
<template>
    <article class="slds-card">
        <div class="slds-grid slds-wrap slds-p-horizontal_none">
            <div class={classGridNewContract}>
                <div data-id="selectedContractBox" class={classSelectedContractBox}>
                    <div class="slds-visual-picker slds-visual-picker_vertical slds-visual-picker_medium slds-size_1-of-1">
                        <input data-id="newContract" type="checkbox" checked={newContractChecked} id="newCntr" onclick={handleContractSelection}>
                        <label for="newCntr" class="slds-text-link_reset">
                            <span data-id="selectedContractIconBox"
                                  class="slds-box slds-visual-picker__text slds-align_absolute-center">
                                <span class="slds-icon_container">
                                    <lightning-icon icon-name="action:follow"
                                                    size="medium">
                                    </lightning-icon>
                                </span>
                            </span>
                            <span class="slds-text-title slds-text-title_bold slds-m-horizontal--xx-small">{newContractTitle}</span>
                            <span class="slds-icon_container slds-visual-picker__text-check">
                                <lightning-icon variant="inverse" class="slds-icon-text-check"
                                                icon-name="utility:check" size="x-small"></lightning-icon>
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <template if:true={showList} >
                <div class={classContractList} data-id="contractList" style="max-height:10rem;padding:0.5rem;">
                    <template for:each={contracts} for:item="con">
                        <fieldset disabled={disabled} key={con.Id}>
                            <div class="slds-grid slds-wrap slds-m-vertical_xxx-small slds-align_absolute-center">
                                <div class="slds-visual-picker slds-visual-picker_vertical slds-visual-picker_medium slds-size_1-of-1">
                                    <input type="checkbox" data-id="checkBoxContract" id={con.Id} value={con.Id}
                                           onclick={handleContractSelection}>
                                    <label for={con.Id} class="slds-text-link_reset" >
                                        <span class="slds-box slds-box_x-small slds-visual-picker__text slds-align_absolute-center">
                                            <div class="slds-size_1-of-1 slds-m-around_none slds-media slds-text-align_left slds-is-relative" title={con.Id}>
                                                <div class="slds-media__figure slds-media__figure_fixed-width slds-m-horizontal_xx-small">
                                                        <span class="slds-icon_container">
                                                            <lightning-icon icon-name="standard:contract"
                                                                            class="slds-icon_small slds-m-right_small"
                                                                            size="small">
                                                            </lightning-icon>
                                                        </span>
                                                    <span data-id="spanContractNumber" data-name={con.Id} class="slds-text-heading_small slds-m-bottom_x-small" onmouseover= {openHoverPanel} onmouseout= {closeHoverPanel}>{con.ContractNumber}</span>
                                                    <input data-id="inputContractNumber" type="hidden" value={con.Id}/>
                                                </div>
                                                <div class="slds-media__body slds-p-left_small slds-p-right--x-small">
                                                    <lightning-layout>
                                                        <template if:false={hideName}>
                                                            <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                                <div>
                                                                    <div class="slds-text-title_bold">{labels.contractName}</div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.Name}</div>
                                                                </div>
                                                            </lightning-layout-item>
                                                        </template>
                                                        <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                            <div>
                                                                <div class="slds-text-title_bold">{labels.contractType}</div>
                                                                <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.ContractType__c}</div>
                                                            </div>
                                                        </lightning-layout-item>
                                                        <template if:true={showContractTerm}>
                                                            <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                                <div>
                                                                    <div class="slds-text-title_bold">{labels.contractTerm}</div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.ContractTerm}</div>
                                                                </div>
                                                            </lightning-layout-item>
                                                        </template>
                                                        <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                            <div>
                                                                <div class="slds-text-title_bold">{labels.Status}</div>
                                                                <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.Status}</div>
                                                            </div>
                                                        </lightning-layout-item>
                                                        <!--Luca start: showing company division & market name-->
                                                        <template if:true={showCompanyDivision}>
                                                            <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                                <div>
                                                                    <div class="slds-text-title_bold">{labels.companyDivision}</div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.CompanyDivision__r.Name}</div>
                                                                </div>
                                                            </lightning-layout-item>
                                                        </template>
                                                        <template if:true={showMarket}>
                                                            <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                                <div>
                                                                    <div class="slds-text-title_bold">{labels.market}</div>
                                                                    <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.MarketName}</div>

                                                                </div>
                                                            </lightning-layout-item>
                                                        </template>
                                                        <!--Luca end: showing market name-->
                                                        <lightning-layout-item padding="horizontal-large" flexibility="auto">
                                                            <div>
                                                                <div class="slds-text-title_bold">{labels.contractEndDate}</div>
                                                                <div class="slds-form-element__static slds-p-vertical--xxx-small">{con.EndDate}</div>
                                                            </div>
                                                        </lightning-layout-item>
                                                    </lightning-layout>
                                                </div>
                                            </div>
                                        </span>
                                        <span class="slds-icon_container slds-visual-picker__text-check">
                                            <lightning-icon variant="inverse" class="slds-icon-text-check"
                                                            icon-name="utility:check" size="x-small"></lightning-icon>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </template>
                </div>
            </template>
            <div class="slds-size_1-of-12 slds-m-horizontal_xx-small slds-align_absolute-center">
            </div>
        </div>

        <template if:true={isNew}>
            <lightning-record-edit-form object-api-name="Contract">
                <div class="slds-grid slds-wrap slds-p-horizontal_none slds-m-top_medium">
                    <template if:false= {showDisabledContractType}>
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled={disableInput} field-name="ContractType__c" data-id="contractTypeField" onchange={handleContractDataChange}
                                                   value={contractType} required>
                            </lightning-input-field>
                        </div>
                    </template>
                    <template if:true={showDisabledContractType}>
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled field-name="ContractType__c" data-id="contractTypeField" onchange={handleContractDataChange}
                                                   value={contractType} required>
                            </lightning-input-field>
                        </div>
                    </template>
                    <template if:false={hideName}>
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled={disableContractNameInput} field-name="Name" data-id="contractNameField" onchange={handleContractDataChange} value={contractName}>
                            </lightning-input-field>
                        </div>
                    </template>
                    <div class="slds-size_6-of-12 slds-hide">
                        <lightning-input-field class="slds-hidden" disabled=true field-name="SalesSupportUser__c" data-id="salesSupportUserField"
                                               value={salesSupportUser}>
                        </lightning-input-field>
                    </div>
                    <template if:false= {showSalesUnitSearch}>
                        <template if:false= {showUserDepartment}>
                            <div class="slds-size_6-of-12">
                                <lightning-input-field disabled={disableSalesUnit} field-name="SalesUnit__c" data-id="salesUnitIdField" value={salesUnitId} onchange={handleSalesDataChange}>
                                </lightning-input-field>
                            </div>
                        </template>
                        <template if:true= {showUserDepartment}>
                            <div class="slds-size_6-of-12 slds-p-horizontal_xx-small">
                                <lightning-input type="text" disabled label="Sales Unit" value={salesUnitId}></lightning-input>
                            </div>
                        </template>
                    </template>
                    <template if:true={showSalesUnitSearch}>
                        <div class="slds-size_6-of-12 slds-p-horizontal_xx-small">
                            <c-mro-custom-lookup required
                                                 disabled={disableInput}
                                                 label="Sales Unit"
                                                 icon-name="standard:account"
                                                 object-api-name="Account"
                                                 query-fields="Name, SalesUnitID__c"
                                                 query-where={querySalesUnit}
                                                 filter-search-keyword-field="Name"
                                                 primary-display-field="Name"
                                                 onselect={handleSelectSuEvent}
                                                 onunselect={handleUnselectSuEvent}
                                                 record-number-limit="7">
                            </c-mro-custom-lookup>
                        </div>
                    </template>
                    <template if:true={showCompanySignedBy}>
                        <template if:false= {showCompanySignedBySearch}>
                            <template if:false= {showUserDepartment}>
                                <div class="slds-size_6-of-12"><!-- required--><!-- handleContractDataChange sostituito con handleCompanySignedIdChange -->
                                    <lightning-input-field disabled={disableCompanySignedBy} field-name="CompanySignedId" data-id="companySignedIdField" onchange={handleCompanySignedIdChange}
                                                           value={companySignedId}>
                                    </lightning-input-field>
                                </div>
                            </template>
                            <template if:true= {showUserDepartment}>
                                <div class="slds-size_6-of-12">
                                    <lightning-input-field disabled field-name="CompanySignedId" data-id="companySignedIdField"
                                                           value={companySignedId} required>
                                    </lightning-input-field>
                                </div>
                            </template>
                        </template>
                        <template if:true= {showCompanySignedBySearch}>
                            <!--<template if:true= {showUserDepartment}>-->
                            <div class="slds-size_6-of-12 slds-p-horizontal_xx-small" data-id="companySignedBy">
                                <c-mro-custom-lookup required
                                                     disabled={disableCompanySignedInput}
                                                     label="Company Signed By ID"
                                                     icon-name="standard:user"
                                                     object-api-name="User"
                                                     query-fields="Name, Department, SalesUnitID__c"
                                                     query-where={queryCompanySignedId}
                                                     filter-search-keyword-field="Name"
                                                     primary-display-field="Name"
                                                     onselect={handleSelectUserEvent}
                                                     onunselect={handleUnselectUserEvent}
                                                     record-number-limit="50">
                                </c-mro-custom-lookup>
                            </div>
                            <!--</template>-->
                        </template>
                        <!--<template if:true= {showCompanySignedBySearch}>
                            <template if:false= {showUserDepartment}>
                                <div class="slds-size_6-of-12 slds-p-horizontal_xx-small" data-id="companySignedBy">
                                    <c-mro-custom-lookup required
                                                         label="Company Signed By ID"
                                                         icon-name="standard:user"
                                                         object-api-name="User"
                                                         query-fields="Name"
                                                         query-where={queryGroupUser}
                                                         filter-search-keyword-field="Name"
                                                         primary-display-field="Name"
                                                         onselect={handleSelectUserEvent}
                                                         onunselect={handleUnselectUserEvent}
                                                         record-number-limit="50">
                                    </c-mro-custom-lookup>
                                </div>
                            </template>
                        </template>-->
                    </template>
                    <template if:true={showSalesMan}>
                        <template if:false= {showSalesmanSearch}>
                            <div class="slds-size_6-of-12">
                                <lightning-input-field disabled={disableInput} field-name="Salesman__c" data-id="salesmanField" onchange={handleContractDataChange}
                                                       value={salesman} required>
                                </lightning-input-field>
                            </div>
                        </template>
                        <template if:true={showSalesmanSearch}>
                            <div class="slds-size_6-of-12 slds-p-horizontal_xx-small" data-id="salesman">
                                <c-mro-custom-lookup required
                                                     disabled={disableSalesmanInput}
                                                     label={labels.salesman}
                                                     icon-name="standard:contact"
                                                     object-api-name="Contact"
                                                     query-fields="Name"
                                                     query-where={querySalesman}
                                                     filter-search-keyword-field="Name"
                                                     primary-display-field="Name"
                                                     onselect={handleSelectSalesmanEvent}
                                                     onunselect={handleUnselectSalesmanEvent}
                                                     record-number-limit="50">
                                </c-mro-custom-lookup>
                            </div>
                        </template>
                    </template>
                </div>
            </lightning-record-edit-form>

            <lightning-record-edit-form object-api-name="Contract">
                <div class="slds-grid slds-wrap slds-p-horizontal_none slds-m-top_medium">
                    <template if:true={showContractStartDate}>
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled={disableInput} field-name="StartDate"
                                                   data-id="ContractStartDateField" onchange={handleContractDataChange}
                                                   required={contractStartDateRequired} value={contractStartDate}>
                            </lightning-input-field>
                        </div>
                    </template>

                    <template if:true={showContractTerm}>
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled={disableInput} required field-name="ContractTerm" data-id="ContractTermField" onchange={handleContractDataChange}
                                                   value={contractTerm}>
                            </lightning-input-field>
                        </div>
                    </template>
                </div>
            </lightning-record-edit-form>
        </template>
        <template if:false={isNew}>
            <div class="slds-box slds-m-around_x-small slds-box_x-small slds-theme_default">
                <lightning-record-edit-form object-api-name="Contract">
                    <div class="slds-grid slds-wrap slds-p-horizontal_none slds-m-top_medium">
                        <div class="slds-size_6-of-12">
                            <lightning-input-field disabled field-name="ContractType__c" data-id="contractTypeField" value={contractType} required="true"></lightning-input-field>
                        </div>
                        <template if:false={editContractFields}>
                            <div class="slds-size_6-of-12">
                                <lightning-input-field disabled field-name="Name" data-id="contractNameField" value={contractNameOnContract}></lightning-input-field>
                            </div>
                            <div class="slds-size_6-of-12">
                                <lightning-input-field disabled field-name="SalesUnit__c" data-id="salesUnitIdField" value={salesUnitIdOnContract}></lightning-input-field>
                            </div>
                            <template if:true={showCompanySignedIdOnContract}>
                                <div class="slds-size_6-of-12">
                                    <lightning-input-field disabled field-name="CompanySignedId" data-id="companySignedIdField" value={companySignedIdOnContract}></lightning-input-field>
                                </div>
                            </template>
                            <template if:true={showSalesmanOnContract}>
                                <div class="slds-size_6-of-12">
                                    <lightning-input-field disabled field-name="Salesman__c" data-id="salesmanField" value={salesmanOnContract}></lightning-input-field>
                                </div>
                            </template>
                        </template>
                        <template if:true={editContractFields}>
                            <template if:false={hideName}>
                                <div class="slds-size_6-of-12">
                                    <lightning-input-field disabled={disableContractNameInput} field-name="Name" data-id="contractNameField" onchange={handleContractDataChange} value={contractName}>
                                    </lightning-input-field>
                                </div>
                            </template>
                            <template if:false= {showSalesUnitSearch}><!-- tutto uguale -->
                                <template if:false= {showUserDepartment}>
                                    <div class="slds-size_6-of-12">
                                        <lightning-input-field disabled={disableSalesUnit} field-name="SalesUnit__c" data-id="salesUnitIdField" value={salesUnitId} onchange={handleSalesDataChange}>
                                        </lightning-input-field>
                                    </div>
                                </template>
                                <template if:true= {showUserDepartment}>
                                    <div class="slds-size_6-of-12 slds-p-horizontal_xx-small">
                                        <lightning-input type="text" disabled label="Sales Unit" value={salesUnitId}></lightning-input>
                                    </div>
                                </template>
                            </template>
                            <template if:true={showSalesUnitSearch}>
                                <div class="slds-size_6-of-12 slds-p-horizontal_xx-small">
                                    <c-mro-custom-lookup data-id="salesUnitSearchField"
                                                         required
                                                         disabled={disableInput}
                                                         label="Sales Unit"
                                                         icon-name="standard:account"
                                                         object-api-name="Account"
                                                         query-fields="Name, SalesUnitID__c"
                                                         query-where={querySalesUnit}
                                                         filter-search-keyword-field="Name"
                                                         primary-display-field="Name"
                                                         onselect={handleSelectSuEvent}
                                                         onunselect={handleUnselectSuEvent}
                                                         record-number-limit="7">
                                    </c-mro-custom-lookup>
                                </div>
                            </template>
                            <template if:true={showCompanySignedBy}><!-- tutto uguale tranne handleContractDataChange sostituito con handleCompanySignedIdChange e required in più-->
                                <template if:false= {showCompanySignedBySearch}>
                                    <template if:false= {showUserDepartment}>
                                        <div class="slds-size_6-of-12">
                                            <lightning-input-field disabled={disableCompanySignedBy} field-name="CompanySignedId" data-id="companySignedIdField" onchange={handleCompanySignedIdChange}
                                                                   value={companySignedId} required>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                    <template if:true= {showUserDepartment}>
                                        <div class="slds-size_6-of-12">
                                            <lightning-input-field disabled field-name="CompanySignedId" data-id="companySignedIdField"
                                                                   value={companySignedId} required>
                                            </lightning-input-field>
                                        </div>
                                    </template>
                                </template>
                                <template if:true= {showCompanySignedBySearch}>
                                    <div class="slds-size_6-of-12 slds-p-horizontal_xx-small" data-id="companySignedBy">
                                        <c-mro-custom-lookup required
                                                             disabled = {disableCompanySignedInput}
                                                             label="Company Signed By ID"
                                                             icon-name="standard:user"
                                                             object-api-name="User"
                                                             query-fields="Name, Department, SalesUnitID__c"
                                                             query-where={queryCompanySignedId}
                                                             filter-search-keyword-field="Name"
                                                             primary-display-field="Name"
                                                             onselect={handleSelectUserEvent}
                                                             onunselect={handleUnselectUserEvent}
                                                             record-number-limit="50">
                                        </c-mro-custom-lookup>
                                    </div>
                                </template>
                            </template>
                            <template if:true={showSalesMan}><!-- tutto uguale tranne handleContractDataChange sostituito con handleSalesmanChange-->
                                <template if:false= {showSalesmanSearch}>
                                    <div class="slds-size_6-of-12">
                                        <lightning-input-field disabled={disableInput} field-name="Salesman__c" data-id="salesmanField" onchange={handleSalesmanChange}
                                                               value={salesman} required>
                                        </lightning-input-field>
                                    </div>
                                </template>
                                <template if:true={showSalesmanSearch}>
                                    <div class="slds-size_6-of-12 slds-p-horizontal_xx-small" data-id="salesman">
                                        <c-mro-custom-lookup required
                                                             disabled={disableSalesmanInput}
                                                             label={labels.salesman}
                                                             icon-name="standard:contact"
                                                             object-api-name="Contact"
                                                             query-fields="Name"
                                                             query-where={querySalesman}
                                                             filter-search-keyword-field="Name"
                                                             primary-display-field="Name"
                                                             onselect={handleSelectSalesmanEvent}
                                                             onunselect={handleUnselectSalesmanEvent}
                                                             record-number-limit="50">
                                        </c-mro-custom-lookup>
                                    </div>
                                </template>
                            </template>
                        </template>
                    </div>
                </lightning-record-edit-form>
                <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-top_small">
                    <lightning-button-group class="slds-p-left_medium lh-5rem">
                        <lightning-button-icon icon-name="utility:edit" alternative-text='Edit' onclick={onEditClick} disabled={isEditBoxDisabled}>
                        </lightning-button-icon>
                        <lightning-button-icon icon-name="utility:close" alternative-text='Close' onclick={onCloseClick} disabled={isEditBoxClosed}>
                        </lightning-button-icon>
                    </lightning-button-group>
                </div>
            </div>
        </template>
    </article>
</template>