:host .wr-pointer-event_none {
    pointer-events: none;
}

hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    margin-top: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}