<!--
 - Created by vincenzo.scolavino on 19/03/2020.
 -->

<!-- Mro Nlcclc Edit -->
<template>
    <div class="spinner">
        <template if:true={spinner} role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
    </div>
        <template if:true={show}>
        <article class="slds-card">
            <div class="slds-card__header slds-theme_shade slds-p-bottom_medium" role="banner">
                <div class="slds-text-heading_medium slds-p-top_xx-small">{defaultTitle}</div>
            </div>
            <div class="slds-card__body slds-card__body_inner">
                <lightning-card>
                    <h3 slot="title">
                        <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                        Existing Values
                    </h3>
                        <div class="slds-size_1-of-1 slds-grid">
                            <lightning-input class="slds-size_1-of-2 slds-col slds-m-right_medium" type="text" label={typeLabel} value={nlcClcCode} required disabled></lightning-input>
                            <lightning-input class="slds-size_1-of-2 slds-col" type="text" label="POD"  value={servicePointCode} required disabled></lightning-input>
                        </div>
                    <p slot="footer"></p>
                </lightning-card>
                <lightning-card>
                    <h3 slot="title">
                        <lightning-icon icon-name="utility:connected_apps" size="small"></lightning-icon>
                        New Values
                    </h3>
                        <div class="slds-size_1-of-1 slds-grid">
                            <lightning-input class="slds-size_1-of-2 slds-col slds-m-right_medium" type="text" label={typeLabel} value={newNlcClcCode} required onchange={handleNlcClcChange}></lightning-input>
                            <lightning-input class="slds-size_1-of-2 slds-col" type="text" label="POD" value={newServicePointCode} required onchange={handlePODChange}></lightning-input>
                        </div>
                    <p slot="footer"></p>
                </lightning-card>
                <template if:true={showNotes}>
                    <lightning-card>
                        <div class="slds-m-top_medium slds-m-bottom_x-large">
                            <lightning-textarea
                                    name="myTextArea"
                                    value={customerNotes}
                                    label="Customer Notes"
                                    max-length="300"
                                    onchange={handleNotesChange}>
                            </lightning-textarea>
                        </div>
                    </lightning-card>
                </template>
            </div>
            <div class="slds-card__footer slds-m-top_medium slds-align-right slds-grid slds-grid_align-end">
                <lightning-button variant="destructive" label={label.cancel} icon-name="utility:cancel_file_request" onclick={closeModal}></lightning-button>
                <lightning-button variant="brand" icon-name="utility:save" label={label.save} disabled={saveButtonDisabled} onclick={save}></lightning-button>
            </div>
        </article>
        </template>

</template>