<template>

    <div class="slds-visual-picker" style="display:block">
        <input type="radio" id="addressPicker" name="options" value="addressPicker" onclick={handleSelection} />
        <label for="addressPicker">
            <span class="slds-visual-picker__figure slds-visual-picker__text slds-align_absolute-center" style="height:2.5rem">
                <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
                    <template if:true={address.isNormalized}>
                        <lightning-icon aria-hidden="true" icon-name="action:approval" size="xx-small" title="Normalized"></lightning-icon>
                    </template>
                    <template if:false={address.isNormalized}>
                        <lightning-icon aria-hidden="true" icon-name="action:close" size="xx-small" title="Not normalized"></lightning-icon>
                    </template>
                </div>
                <div class="slds-media__body slds-border_left ">
                    <h2 class="slds-truncate slds-text-heading_small" title={address.formula}>{address.formula}</h2>
                </div>
            </span>
            <span class="slds-icon_container slds-visual-picker__text-check">
                <lightning-icon variant="inverse" aria-hidden="true" class="slds-icon-text-check" icon-name="utility:check" size="x-small"></lightning-icon>
            </span>
        </label>
    </div>
</template>