<!--
 - Created by tommasobolis on 02/12/2020.
 -->

<!-- Mro Dynamic Form Address Section -->
<template>
    <template if:true={showSpinner}>
        <lightning-spinner alternative-text="loading" size="large"></lightning-spinner>
    </template>
    <lightning-card key={section.recordId}>
        <lightning-record-edit-form object-api-name={section.objectType} record-id={section.recordId}>
            <template if:true={title}>
                <div class="slds-box slds-box_xx-small slds-theme_shade slds-m-top_small slds-m-bottom_xx-small wr-border_none">
                    <h2 class="slds-text-heading_small slds-m-horizontal_x-small"><b>{title}</b></h2>
                </div>
            </template>
            <lightning-layout horizontal-align="spread" pull-to-boundary="small" multiple-rows="true">
                <lightning-layout-item size="12">
                    <template if:true={address}>
                        <c-mro-address-form
                                hide-force-address=true
                                address={address}
                                read-only={readOnly}
                                is-facultative={isRequiredAddressField}
                                address-prefix={_section.fieldsPrefix}
                                address-normalized={address.addressNormalized}
                                disable-normalize = {disableNormalize}
                                is-normalize ={isNormalize}
                                object-api-name="wrts_prcgvr__Activity__c"
                                available-addresses={availableAddresses}
                                onupdateaddressnormalized={handleAddressNormalized}>
                        </c-mro-address-form>
                    </template>
                </lightning-layout-item>
            </lightning-layout>
        </lightning-record-edit-form>
    </lightning-card>
</template>