<template>
    <lightning-record-edit-form object-api-name="Interaction__c" onsubmit={handleSubmit} onload={onLoad} onerror={handleError} record-id={interactionId}>
        <lightning-messages></lightning-messages>
        <div class="slds-card slds-p-around_xx-small">
            <lightning-layout horizontal-align="spread" class="slds-page-header">
                <lightning-layout-item>
                    <div class="slds-media">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="standard:individual" size="medium" variant="inverse"></lightning-icon>
                        </div>
                        <div class="slds-media__body slds-p-top_xx-small">
                            <div class="slds-page-header__name">
                                <div class="slds-page-header__name-title">
                                    <h1><span class="slds-page-header__title slds-truncate" title={labels.searchForInterlocutor}>
                                        {labels.searchForInterlocutor}
                                    </span></h1>
                                </div>
                            </div>
                        </div>
                        <div class="slds-media__figure slds-media__figure_reverse"></div>
                    </div>
                </lightning-layout-item>
            </lightning-layout>
            <div class="slds-p-horizontal_small content">
                <div class="slds-grid slds-wrap slds-gutters">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field id="firstName" field-name="InterlocutorFirstName__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field id="lastName" field-name="InterlocutorLastName__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field id="nationalId"  field-name="InterlocutorNationalIdentityNumber__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field id="email" field-name="InterlocutorEmail__c" variant="label-stacked"></lightning-input-field>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-input-field id="phone" field-name="InterlocutorPhone__c" variant="label-stacked"></lightning-input-field>
                    </div>
                </div>
                <div>
                    <template if:true={spinner}>
                        <lightning-spinner variant="brand" size="medium"></lightning-spinner>
                    </template>
                </div>
            </div>
            <footer class="slds-card__footer">
                <lightning-button variant="brand" type="submit" icon-name="standard:search" label={labels.search} title={labels.search}>
                </lightning-button>
            </footer>
        </div>
    </lightning-record-edit-form>
</template>