<template>
    <div class="slds-box slds-box_x-small slds-media slds-m-around_xxx-small slds-theme_default">
        <div class="slds-media__figure slds-media__figure_fixed-width slds-align_absolute-center slds-m-left_xx-small">
            <template if:false={isPersonAccount}>
                <lightning-icon icon-name="standard:account" alternative-text="Business Account"></lightning-icon>
            </template>
            <template if:true={isPersonAccount}>
                <lightning-icon icon-name="standard:person_account" alternative-text="Person Account"></lightning-icon>
            </template>
        </div>
        <div class="slds-media__body slds-clearfix slds-border_left slds-border_right slds-p-left_small">
            <div>
                <template if:true={fromAccount}>
                    <lightning-record-view-form record-id={accountContactRelation.contactId} object-api-name="Contact">
                        <lightning-output-field field-name="Name" field-class="slds-welcome-mat__tile-title slds-text-heading_small" variant="label-hidden">
                        </lightning-output-field>
                    </lightning-record-view-form>
                </template>
                <template if:false={fromAccount}>
                    <lightning-record-view-form record-id={accountContactRelation.accountId} object-api-name="Account">
                        <lightning-output-field field-name="Name" field-class="slds-welcome-mat__tile-title slds-text-heading_small" variant="label-hidden">
                        </lightning-output-field>
                    </lightning-record-view-form>
                </template>
            </div>
            <div>
                <div class="slds-grid">
                    <div class="slds-col slds-size_1-of-2">
                        <lightning-record-view-form record-id={accountContactRelation.accountId} object-api-name="Account">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-3">
                                    <lightning-output-field field-name="RecordTypeId" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                </div>
                                <template if:false={isPersonAccount}>
                                    <div class="slds-col slds-size_1-of-3">
                                        <lightning-output-field field-name="BusinessType__c" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                    </div>
                                </template>
                                <div class="slds-col slds-size_1-of-3">
                                    <template if:false={isPersonAccount}>
                                        <lightning-output-field field-name="VATNumber__c" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                    </template>
                                    <template if:true={isPersonAccount}>
                                        <lightning-output-field field-name="NationalIdentityNumber__pc" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                    </template>
                                </div>
                            </div>
                        </lightning-record-view-form>
                    </div>

                    <!-- AccountContactRelation is not supported by lightning-record-view-form -->
                    <div class="slds-col slds-size_1-of-6">
                        <div class="slds-form-element">
                            <span class="slds-form-element__label">{labels.roles}</span>
                            <div class="slds-form-element__control"><span class="slds-form-element__static">{accountContactRelation.role}</span></div>
                        </div>
                    </div>
                    <div class="slds-col slds-size_1-of-3">
                        <lightning-record-view-form record-id={accountContactRelation.contactId} object-api-name="Contact">
                            <div class="slds-grid">
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-output-field field-name="Email" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                </div>
                                <div class="slds-col slds-size_1-of-2">
                                    <lightning-output-field field-name="Phone" field-class="slds-form-element__static" variant="label-stacked"></lightning-output-field>
                                </div>
                            </div>
                        </lightning-record-view-form>
                    </div>
                </div>
            </div>
        </div>
        <div class="slds-media__figure slds-media__figure_reverse slds-clearfix">
            <div class="slds-align_absolute-center" style="height: 5rem; min-width:5rem;">
                <lightning-button label={labels.select} title={labels.select} variant="brand" onclick={selectContact}>
                </lightning-button>
            </div>
        </div>
    </div>
</template>