<!--
 - Created by BADJI on 06/02/2020.
 -->

<!-- Mro Period Selections -->
<template>
    <template if:true={hideLabel}>
        <div class="slds-setup-assistant__step-summary-title slds-text-heading_small">
            <label>{labels.periodSelection}</label>
        </div>

    </template>
    <div class="slds-grid slds-wrap slds-gutters ">
        <div class="slds-col slds-size_1-of-2">
            <lightning-input  data-id="startDate"  disabled={isDisabledStart} type="date" value={startDate} max={maxDateOfStart} min={minDateOfStart} label={labels.startDate} title={labels.startDate} class=""></lightning-input>
        </div>
        <div class="slds-col slds-size_1-of-2 ">
            <lightning-input data-id="endDate" disabled={isDisabledEnd} type="date" value={endDate} max={maxDateOfEnd} min={minDateOfEnd} label={labels.endDate} title={labels.endDate} class=""></lightning-input>
        </div>

    </div>
    <div class="slds-grid slds-align--absolute-center  slds-p-top_medium">
        <template if:true={showConfirmButton}>
            <lightning-button label={labels.confirm} title={labels.confirm} disabled={disabledConfirmButton} variant="brand" onclick={onConfirmSelection}></lightning-button>
        </template>
        <template if:true={showEditButton}>
            <lightning-button class="slds-m-left_xx-small" label={labels.edit} disabled={disabledEditButton} title={labels.edit} variant="brand" onclick={onEdit}></lightning-button>
        </template>
    </div>

</template>