<!--
 - Created by a.maksimov (alexey.maksimov@truesalessoft.com) on 23.09.20.
 -->

<!-- mroTheftPeriodSelection -->
<template>
    <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
              class="slds-modal slds-fade-in-open slds-backdrop slds-hide">
        <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
    </template>
    <lightning-card>
        <ol class="slds-setup-assistant">
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        Supply Selection</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <template if:true={supplyList}>
                                        <lightning-datatable key-field="Id"
                                                             data={supplyList}
                                                             columns={supplyTableColumns}
                                                             max-row-selection="1"
                                                             selected-rows={selectedRows}
                                                             onrowselection={handleSupplySelection}>
                                        </lightning-datatable>
                                    </template>
                                    <template if:false={supplyList}>
                                        <p>No supplies found</p>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>

            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.periodSelection}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <fieldset class="slds-form-element slds-form-element_compound">
                                    <div class="slds-form-element__control">
                                        <div class="slds-form-element__row">
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="theftStartDate"
                                                                         label="Start Date"
                                                                         required
                                                                         value={theftStartDate}
                                                                         onchange={handleTheftStartDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slds-container_fluid">
                                                <div class="slds-form-element">
                                                    <div class="slds-form-element__control">
                                                        <lightning-input type="date"
                                                                         name="theftEndDate"
                                                                         label="End Date"
                                                                         required
                                                                         value={theftEndDate}
                                                                         onchange={handleTheftEndDateChange}>
                                                        </lightning-input>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
            <!-- STEP 1 -->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        Theft</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-container--x-large slds-p-around--medium">
                                    <c-mro-theft-list start-date={theftStartDate}
                                                      end-date={theftEndDate}
                                                      service-point-id={servicePointId}
                                                      disabled={disabled}>
                                    </c-mro-theft-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </li>
        </ol>
    </lightning-card>
</template>