<template>
    <div class={cardClass}>
        <template if:true={recordId}>
            <article class="slds-tile slds-tile_board slds-box">
                <lightning-record-view-form record-id={recordId} object-api-name="OpportunityLineItem">
                    <div class="slds-media__body">
                        <h3 class="slds-tile__title slds-truncate">
                            <lightning-output-field field-name="Product2Id" variant="label-hidden"></lightning-output-field>
                        </h3>
                        <div class="slds-tile__detail">
                            <dl class="slds-list_horizontal slds-wrap">
                                <dt class="slds-item_label slds-text-color_weak slds-truncate">
                                    <lightning-output-field field-name="Quantity" variant="label-stacked"></lightning-output-field>
                                </dt>
                                <dt class="slds-item_detail slds-truncate">
                                    <lightning-output-field field-name="TotalPrice" variant="label-stacked"></lightning-output-field>
                                </dt>
                                <dt class="slds-item_label slds-text-color_weak slds-truncate">
                                    <lightning-output-field field-name="UnitPrice" variant="label-stacked"></lightning-output-field>
                                </dt>
                                <dt class="slds-item_label slds-text-color_weak slds-truncate">
                                    <lightning-output-field field-name="ProductCode" variant="label-stacked"></lightning-output-field>
                                </dt>
                            </dl>
                        </div>
                    </div>
                </lightning-record-view-form>
            </article>
        </template>
    </div>
</template>