<!--
 - Created by BADJI on 14/05/2020.
 -->

<!-- Mro Sap Interrogation Index -->
<template>
    <lightning-card >
        <lo>
            <!-- STEP of Selection Array Content-->
            <li class="slds-setup-assistant__item">
                <article class="slds-setup-assistant__step">
                    <div class="slds-summary-detail slds-is-open">
                        <div class="slds-container_fluid">
                            <div class="slds-summary-detail__title">
                                <div class="slds-setup-assistant__step-summary">
                                    <div class="slds-media">
                                        <div class="slds-media__body slds-m-top_x-small">
                                            <div class="slds-media">
                                                <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                    <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                        {labels.checkSAPInterrogation}</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slds-summary-detail__content">
                                <div class="slds-summary-detail__content">
                                    <div class="slds-container--medium slds-p-around--medium">
                                        <lightning-combobox
                                                name="progress"
                                                label="Select Index"
                                                value={value}
                                                placeholder="Select Progress"
                                                options={options}
                                                onchange={handleChange}></lightning-combobox>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <li class="slds-setup-assistant__item">
            <article class="slds-setup-assistant__step">
                <div class="slds-summary-detail slds-is-open">
                    <div class="slds-container_fluid">
                        <div class="slds-summary-detail__title">
                            <div class="slds-setup-assistant__step-summary">
                                <div class="slds-media">
                                    <div class="slds-media__body slds-m-top_x-small">
                                        <div class="slds-media">
                                            <div class="slds-setup-assistant__step-summary-content slds-media__body">
                                                <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                                    Meter Details </h3>
                                                <p>Meter Details Query</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-summary-detail__content">
                            <div class="slds-container--x-large slds-p-around--medium">
                                <c-mro-meter-details-query-period-selection
                                        data-id="meterDetails"
                                        index-interogate={value}>
                                </c-mro-meter-details-query-period-selection>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </li>

            </article>
            </li>

        </lo>
    </lightning-card>
</template>