<!--
 - Created by Boubacar Sow on 15/10/2020.
 -->

<!-- [MRO] Notifications -->
<template>
    <lightning-card variant="narrow" icon-name="utility:notification">
        <h1 slot="title">Notification</h1>
        <template if:false= {hideRetrieveNotification}>
            <div slot="actions">
                <lightning-button label={labels.retrieveNotification} title={labels.retrieveNotification} variant="brand"
                                  onclick={handleRetreiveNotification}></lightning-button>
            </div>
        </template>
        <template if:true={showLoadingSpinner} data-id="spinnerSectionModal" role="dialog" tabindex="-1"
                  class="slds-modal slds-fade-in-open slds-backdrop">
            <lightning-spinner variant="brand" size="large" alternative-text="Loading"></lightning-spinner>
        </template>
        <template if:true={notificationList}>
            <lightning-datatable class="slds-table slds-table_bordered slds-table_col-bordered" hide-checkbox-column={hideCheckBox} key-field="notificationId" data={notificationList} columns={notificationColumns}></lightning-datatable>
        </template>
        <template if:true= {showIllustrationEmptyStat}>
            <c-mro-illustration-empty-state></c-mro-illustration-empty-state>
        </template>
    </lightning-card>
</template>