<template>
    <li role="presentation" class="slds-listbox__item" onclick={selectRecord}>
        <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
            <span class="slds-media__figure slds-listbox__option-icon">
                <span class="slds-icon_container">
                    <lightning-icon icon-name={iconName} class="slds-icon slds-icon_small" size="small" alternative-text=" "></lightning-icon>
                </span>
            </span>
            <span class="slds-media__body">
                <template if:false={showPrimaryDisplayField}>
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{text}</span>
                </template>
                <template if:true={showPrimaryDisplayField}>
                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{primaryDisplayField}</span>
                </template>
                <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{secondaryDisplayField}</span>
            </span>
        </div>
    </li>
</template>