/**
 * Created by ferhati on 20/05/2019.
 */
.THIS .wr-rowView {
    height:13.6rem;
}

.THIS .wr-boxView {
    height: 13.5rem;
}

.THIS .wr-required {
    font-weight: 400;
}

.THIS .wr-required:before {
    content: "*";
    margin: 0.225rem 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left;
}