<!--
 - Created by Stefano Porcari on Feb 18, 2020.
 -->


<template>
    <div class="slds-summary-detail__title">
        <div class="slds-setup-assistant__step-summary">
            <div class="slds-media">
                <div class="slds-media__body slds-m-top_x-small">
                    <div class="slds-media">
                        <div class="slds-setup-assistant__step-summary-content slds-media__body">
                            <h3 class="slds-setup-assistant__step-summary-title slds-text-heading_small">
                                {title}
                            </h3>
                            <p>{subtitle}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>